body{
    background-color: #f5f4f9;
}

li{
    list-style: none;
}

i{
    font-style: normal;
}

.scro-container{
    overflow: auto;
}
.edit-tit{
    font-weight: normal;
}

.sce-large{
    width: 100%;
    height: auto;
}

.sce-score-wrap{
    display: -moz-box;  /* Firefox */
    display: -ms-flexbox;    /* IE10 */
    display: -webkit-box;    /* Safari */
    display: -webkit-flex;    /* Chrome, WebKit */
    display: box;
    display: flexbox;
    display: flex;
    border-bottom: 1px solid #dedede;
    background-color: #fff;
    padding-top: 15px;
}

.sce-score{
    color: #fe6a03;
    font-size: 1.8rem;
    font-weight: bold;
}

.sce-score-tot-star{
    width: 4em;
    height: 0.8em;
    background-color: #ddd;
    margin: 0 auto;
}
.sce-score-tot{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1.0;
    text-align: center;
}

.sce-score-tot h3{
    font-size:1.4rem;
    font-weight: normal;
}

.sce-score-per{
    -webkit-box-flex: 1.5;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1.5;         /* OLD - Firefox 19- */
    -webkit-flex: 1.5;          /* Chrome */
    -ms-flex: 1.5;              /* IE 10 */
    flex: 1.5;
}

.sce-score-per li{
    line-height: 0.6em;
    text-align: right;
    margin-right: 20px;
}
.sce-score-per li .percent-num{
    display: inline-block;
    font-size: 1.4rem;
    width: 3rem;
}

.evaluate-list ul li{
    border-bottom: 1px solid #dedede;
}

.percent-80{
    display: inline-block;
    width: 5em;
    height: 0.6em;
    margin-right: 0.5em;
    background-color: #ddd;
}

.evaluate-list-tab{
    padding:0 20px;

}

.evaluate-list-tab li{
    padding: 10px 0;
}

.tour-name{
    font-size: 1.4rem;
    -webkit-box-flex: 2;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 2;         /* OLD - Firefox 19- */
    -webkit-flex: 2;          /* Chrome */
    -ms-flex: 2;              /* IE 10 */
    flex: 2.0;
}

.tour-comment{
    font-size: 1.5rem;
    line-height: 3rem;
    margin-bottom: 0;
}

.tour-comment-time{
    text-align: right;
    margin-bottom: 0;
}

.comment-respond{
    font-size: 1.5rem;
    color: #ffb413;
    margin-bottom: 0;
}

.tour-comment-wrap{
    display: -moz-box;  /* Firefox */
    display: -ms-flexbox;    /* IE10 */
    display: -webkit-box;    /* Safari */
    display: -webkit-flex;    /* Chrome, WebKit */
    display: box;
    display: flexbox;
    display: flex;
}

.tour-name-star{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1.0;
    text-align: right;
}

.tour-name-und{
    display: inline-block;
    width: 4em;
    height: 0.6em;
    background-color: #ddd;
    text-align: center;
}