/*body{}*/

.calendar_Wrap {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  top: 0;
  bottom: 0;
}
.calendar_comfirm .btn {
  display: block;
  width: 94%;
  margin: 3%;
  height: .9rem;
  line-height: .9rem;
  background-color: #7bc300;
  border-radius: 8px;
  font-size: .36rem;
  text-align: center;
  color: #fff;
}
/*通用_content*/
.content{
  padding:.88rem 0 .9rem;
  background-color: #ffffff;
}
.content_detail{
  background-color: #ffffff;
}
.content_booking{
  padding:.88rem 0 .9rem;
  background-color: #F7F7F7;
}
/*通用_content*/
/*通用_头部*/
.header_more {
  font-size: .28rem;
  color: #333333;
  position: absolute;
  top: 0;
  right: 0;
  height: .88rem;
  line-height: .88rem;
}

.header_more .header_more_title {
  font-size: .32rem;
  position: relative;
  right: 0.5rem;
}

.header_more .header_more_icon {
  position: absolute;
  margin-top: -0.16rem;
  top: 50%;
  right: .2rem;
  height: 0.32rem;
  width: .29rem;
  overflow: hidden;
  display: inline-block;
  background: url(/images/ui/icon_common.png) no-repeat;
  background-size: 7.90rem 5.13rem;
  background-position: -1.08rem -0.59rem;
}
/*通用_头部*/

/*首页_国外热游地*/
.t_city{
  margin: 0.4rem 0 0 0.28rem;
  font-size: 0.28rem;
  color: #333333;
  overflow: hidden
}

.t_city .t_city_title{
  margin: 0 0 0.34rem 0;
  font-size: 0.32rem;
}

.t_city_list{

}

.t_city_content{

}

.t_city_content_item{
  box-sizing: border-box;
  width: 33.3%;
  float: left;
  padding-bottom: 0.4rem;
  padding-right: 0.28rem;
}

.t_city_content_item.active .t_city_content_itemtitle{
  border: 1px solid #ffb413;
  color: #FFB413;
}

.t_city_content_itemtitle{
  position: relative;
  line-height: 0.68rem;
  padding-left: 0.03rem;
  padding-right: 0.03rem;
  border-radius: 0.34rem;
  font-size: 0.28rem;
  color: #333;
  text-align: center;
  border: 1px solid #d1d1d1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*首页_国外热游地*/

/*首页_国外热门景点*/
.t_product{
  margin: .18rem 0.28rem 0 0.28rem;
  font-size: .28rem;
  color: #333;
  overflow: hidden;
}

.t_product_title{
  font-size: .32rem;
}

.t_product_list{

}

.t_product_item{
  margin: 0.4rem 0 0 0;
  position: relative;
}

.t_product_item a{
  color: #333;
  text-decoration: none;
}

.t_product_itemtop{
  position: relative;
}

.t_product_image{
  height: 4.3rem;
  position: relative;
  overflow: hidden;
}

.t_product_image img{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}


.t_product_price{
  position: absolute;
  top: 3rem;
  left: 0;
  color: #fff;
  font-size: .28rem;
  background:rgba(0,0,0,0.8);
  height: .72rem;
  line-height: .72rem;
  padding: 0 0.2rem 0 0.1rem;
}
.t_product_price span{
  font-size: .4rem;
}

.t_product_price i{
  font-size: .28rem;
}

.t_product_itembottom{
  padding: .4rem .15rem .2rem .15rem;
}

.t_product_title{
  font-size: .32rem;
  color: #333;
  margin-bottom: .2rem;
  line-height: .4rem;
}

.t_product_describe{
  font-size: .28rem;
  color: #666;
  line-height: .3rem;
}
/*首页_国外热门景点*/

/*列表页*/
.scenic-detile{
  background: white;
  padding:0 .26rem ;
  position: relative;
  top: 0rem;
  left:0;
}
.scenic-detile_list_matter{
  height: 1.4rem;
  width: 100%;
}
.scenic_detile_img{
  width: 1.88rem;
  height: 1.40rem;
  float:left;
  position: relative;
}
.scenic_detile_img img{
  width: 100%;
  height: 100%;
}
.scenic_detile_content{
  height: 1.4rem;
  margin-left: .2rem;
  padding-top:0.18rem;
  float:left;
}
.scenic-detile_list{
  border-bottom: 1px solid #E6E6E6;
  padding:0.1rem  0;
}
.scenic-detile_list_theme{
  opacity: 0.8;
  height: .32rem;
  width: 1.88rem;
  background: black;
  position: absolute;
  top: 1.08rem;
  color: white;
  text-align: center;
  font-size: .2rem;
  line-height: .32rem;

}
.scenic_detile_content_name{
  width: 4.9rem;
  height: .44rem;
  line-height: .44rem;
  display: block;
  font-size: .26rem;
  /*white-space: nowrap;*/
  /*text-overflow: ellipsis;*/
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.scenic_detile_content_price{
  height: .36rem;
  width: 5rem;
  display: inline-block;
}
.scenic_detile_content_after{
  font-size: .3rem;
  color:#FF5A00;
  display: block;
  margin-top: 0.22rem;
}
.scenic_detile_project{

  line-height: .6rem;
  font-size: .2rem;
}
.scenic_detile_project li{
  height: .6rem;
  display: inline-block;
  color:#A9A9A9;
  padding:0 0 0 .14rem;
  position: relative;
  margin-left: .26rem;
}
.scenic_detile_project i{
  width: .05rem;
  height: .05rem;
  background: #999999;
  border-radius:.05rem;
  position: absolute;
  top:.3rem;
  left:.02rem;
}
li.scenic_detile_project_first{
  margin-left: 0;
}
.scenic_detile_project p{
  line-height: .6rem;
}
.scenic-detile_privilege{
  font: 700 .2rem/.6rem "FZLTXHK";
  color:#FFBF4B
}
/*列表页*/
/*景点详情页开始*/
.header_scenic{
  height: .66rem;
  position: absolute;
  z-index: 1;
}
.icon_go_back{
  width: .65rem;
  height: .65rem;
  position: absolute;
  left: .28rem;
  top: .28rem;
  display: inline-block;
  background-image: url(../../images/ui/icon_common.png);
  background-size: 7.9rem 5.13rem;
  background-position: -3.15rem -0.45rem;
}
.bar_img{
  width: 100%;
  height: 4.88rem;
  overflow: hidden;
  position: relative;
}
.bar_img_word{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.7rem;
  background:url(../../images/ui/detail_banner_bg.png);
  background-size:7.5rem 0.76rem;
  background-position:left bottom;
}
.bar_img_num{
  font-size: .2rem;
  color:#fff;
  position: absolute;
  left: .28rem;
  bottom: .20rem;
}
/*.bar_img_theme{*/
  /*display: block;*/
  /*text-align: center;*/
  /*font-size: .36rem;*/
  /*color:#fff;*/
  /*position: absolute;*/
  /*left:40%;*/
  /*top:.28rem;*/
  /*opacity: 0.8;*/
/*}*/
.bar_img_page{
  font-size: .2rem;
  color:#fff;
  position: absolute;
  right: .28rem;
  bottom: .20rem;
}
.bar_content{
  line-height: .44rem;
  padding:0 .3rem 0 .28rem;
  border-bottom: 1px solid #E6E6E6;
}
.bar_content_title{
  font-size: .32rem;
  margin:.4rem 0 .06rem ;
  padding-bottom: .24rem;
  /*border-bottom: 1px solid #EDECEB;*/
  line-height: .44rem;
  color: #333;
}
.bar_content_time{
  display: block;
  margin:0 0 .4rem 0 ;
  font-size: .28rem;
  line-height: .44rem;
  position: relative;
  color:#666;
}
/*.bar_content i{*/
  /*width: .32rem;*/
  /*height: .32rem;*/
  /*position: absolute;*/
  /*left: 0;*/
  /*display: inline-block;*/
  /*background-image: url(../../images/hotel_flight_tour/icon_tour.png);*/
  /*background-size: 7.9rem 1.95rem;*/
/*}*/
/*.bar_content_time_schedule{*/
  /*background-position:  -0.6rem -0.8rem;*/
  /*top: .06rem;*/
/*}*/
/*.bar_content_time_travel{*/
  /*background-position:  -1.05rem -0.8rem;*/
  /*top: .5rem;*/
/*}*/
/*特色亮点区*/
.scenic_content_feature{
  margin:.4rem 0 .28rem  .28rem;
  position: relative;
  font-size: .28rem;
  border-bottom: 1px solid #E6E6E6;
  padding:0 0 .2rem .6rem;
}
.scenic_content i{
  width: .36rem;
  height: .35rem;
  position: absolute;
  left: 0;
  display: inline-block;
  background-image: url(../../images/hotel_flight_tour/icon_tour.png);
  background-size: 7.95rem 1.95rem;
}
.scenic_content_feature_start{
  background-position:  -1.87rem -0.8rem;
  top: .06rem;
}
.scenic_content_feature h3{
  margin-bottom: .32rem;
  color:#333;
}
.scenic_content_feature li{
  margin-bottom: .2rem;
  color:#666;
  padding-left: 0;
  position: relative;
}
.scenic_content_notes li ol{
  padding: 0;
}
.feature{
  margin-bottom: .2rem;
  color: #666;
  padding-left: .26rem;
  position: relative;
}
.scenic_content_feature li i{
  position: absolute;
  top:.14rem;
  width : .06rem;
  height: .06rem;
  border-radius: 50%;
  background-color: #666;
}
/*/!*营业时间开始*!/营业地址开始*/
.scenic_content_time,.scenic_content_address,.scenic_content_package,.scenic_content_booking,.scenic_content_scheduling,.scenic_content_notes,.scenic_content_TOS,.scenic_content_detail{
  margin: .4rem 0 0 .28rem;
  padding:0 .28rem .4rem 0;
  font-size: .28rem;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  color:#333;
}
.scenic_content_time h3,.scenic_content_address h3,.scenic_content_package h3,.scenic_content_scheduling h3,.scenic_content_booking h3,.scenic_content_notes h3,.scenic_content_TOS h3,.scenic_content_detail h3{
  padding-left: .6rem;
  display: inline-block;
  color:#333;
}
.scenic_content_time i{
  background-position:  -2.45rem -0.8rem;
  top: .06rem;
}
.scenic_content_time span ,.scenic_content_address span{
  display: block;
  float: right;
  color:#7bc300;
}
.scenic_content_address i{
  background-position:  -3.02rem -0.8rem;
  top: .06rem;
}
/*景点套餐开始*/
.scenic_content_package i{
  background-position:  -3.6rem -0.8rem;
  top: .06rem;
}
.scenic_content_package ul li:last-child{
  border-bottom: 0 solid #EDECEB;
  padding-bottom: 0;
}
.scenic_content_package_list{
  margin: .24rem 0 0 .6rem;
  padding-bottom: .4rem;
  height: 1.44rem;
  border-bottom: 1px solid #EDECEB;
}
.scenic_content_package_list div{
  float: left;
  width: 3.96rem;
  font-size: .28rem;
}
.scenic_content_package_list p{
  line-height: .44rem;
  margin-bottom: .32rem;
}
.scenic_content_package_list_sprice{
  font:400 .32rem/.32rem "宋体";
  margin-right:.32rem;
  color:#FF5B13;
  /*display: inline-block;*/
}
.scenic_content_package_list_num{
  font-size:.2rem;
  color:#333;
}
.scenic_content_package_list button{
  float: right;
  width: 1.44rem;
  height: .56rem;
  color:white;
  background-color: #7bc300;
  font:400 .32rem/.56rem "宋体";
  border-radius: .1rem;
  margin-top: .44rem;
}

/*行程安排开始*/
.scenic_content_scheduling i{
  background-position:  -4.18rem -0.8rem;
  top: .06rem;
}
.scenic_content_scheduling ul, .scenic_content_notes ul ,.scenic_content_TOS ul{
  margin-left: .16rem;
  position: relative;
  margin-bottom: .1rem;

}

.scenic_content_scheduling li, .scenic_content_notes li, .scenic_content_TOS li{
  margin:.1rem 0 .1rem 0;
  line-height: .48rem;
}
.scenic_content_scheduling ul li:last-child, .scenic_content_notes ol li:last-child, .scenic_content_TOS ul li:last-child{
  margin-bottom: 0;
}
.scenic_content_scheduling .scenic_content_scheduling_down, .scenic_content_notes .scenic_content_scheduling_down, .scenic_content_TOS .scenic_content_scheduling_down{
  width: .32rem;
  height: .32rem;
  position: relative;
  left: 50%;
  bottom:0;
  display: inline-block;
  background-image: url(../../images/ui/icon-hft.png);
  background-size: 7.5rem 4.54rem;
  background-position:  -3.71rem -2.26rem;
}
li.scenic_height1, li.scenic_height2, li.scenic_height3{
  height: 2.4rem;
  overflow: hidden;
  margin-top: .4rem;
}
.scenic_content_notes i{
  background-position:  -3.02rem -0.8rem;
  top: .06rem;
}
.scenic_content_TOS i{
  background-position:  -4.76rem -0.8rem;
  top: .06rem;
}
.scenic_content_detail i{
  background-position:  -5.34rem -0.8rem;
  top: .06rem;
}
.scenic_content_detail p{
  margin: .32rem 0 0 .6rem;
  line-height: .44rem;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  position: relative;
}
.scenic_content_detail .scenic_content_scheduling_down{
  width: .32rem;
  height: .32rem;
  position: relative;
  left: 50%;
  bottom:0;
  display: inline-block;
  background-image: url(../../images/ui/icon-hft.png);
  background-size: 7.5rem 4.54rem;
  background-position:  -3.71rem -2.26rem;
}

/*预订*/
.scenic_content_booking{
  margin: .4rem 0 0 0.28rem;
  padding: 0 0 0.28rem 0;
  font-size: .28rem;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  color: #333333;
}
.scenic_content_booking i{
  background-position: -3.6rem -0.8rem;
  top: .06rem;
}

.scenic_content_booking_li{
  position: relative;
  padding: 0.32rem 0 0 0.6rem;
}

.scenic_content_booking_li:last-child div{
  border:0;
}

.scenic_content_booking_div{
  border-bottom: 1px solid #EDECEB;
  padding: 0 0 0.32rem 0;
}

.scenic_content_booking_p{
  margin: 0.32rem 0 0.08rem 0;
}

.scenic_content_booking_title{
  width: 3.8rem;
  line-height: 0.35rem;
  padding: 0 0 0 0;
  font-size: 0.28rem;
}

.scenic_content_booking_btn{
  position: absolute;
  width: 1.44rem;
  height: 0.56rem;
  font-size: 0.32rem;
  color: #ffffff;
  background:#7bc300;
  line-height: 0.56rem;
  text-align: center;
  border-radius: 0.03rem;
  right: 0.4rem;
  top: 50%;
  margin-top: -0.28rem;
}

.scenic_content_booking_pre{
  font-size: 0.2rem;
  margin: 0 0 0 0.32rem;
}

.scenic_content_booking_dollar{
  font-size: 0.32rem;
  font-weight: bold;
  color: #fb7530;
}

.scenic_content_booking_price{
  font-size: 0.32rem;
  font-weight: bold;
  color: #fb7530;
}



/*预订页面*/
.gray-block {
  height: .15rem;
  background-color: #f5f4f9;
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.booking_wrap{
  background: #FFFFFF;
  margin: 0 0 .32rem 0;
}

.booking_package{
  padding: .4rem .28rem .4rem .28rem;
  font-size: .28rem;
  color: #333333;
  border-bottom: 1px #e6e6e6 solid;
}

.booking_package_h3{
  font-size: .32rem;
  color: #333333;
  line-height: .48rem;
}

.booking_package_span{
  font-size: .24rem;
  color: #999999;
}

.booking_package_preprice{
  margin: .2rem 0 0 0;
}

.booking_package_preprice_span{
  margin: .2rem 0 0 0;
  font-size: .28rem;
  color: #FF5B13;
}


.booking_package_tours{

}

.booking_package{
  padding: .4rem .28rem .4rem .28rem;
  font-size: .28rem;
  color: #333333;
  border-bottom: 1px #e6e6e6 solid;
  position: relative;
}

.booking_package_tourtitle .booking_package_i{
  position: relative;
  top: 0.05rem;
}

.booking_package_i{
  height: .26rem;
  width: 3px;
  background: #7bc300;
  display: inline-block;
}

.booking_package_h3{
  margin: 0 0 0 .16rem;
  font-size: .32rem;
  color: #333333;
  line-height: .48rem;
  display: inline-block;
}

.booking_package_tourtitle .booking_package_h3{
  position: absolute;
}

.booking_package_date{
  margin: .4rem 0 0 0;
  position: relative;
}

.booking_package_date_p{
  font-size: 0.32rem;
  font-weight: bold;
}

.booking_package_date_i{
  position: absolute;
  top: 0;
  right: 0rem;
  height: .42rem;
  width: .45rem;
  background: url(/images/ui/icon_common.png) no-repeat;
  background-size: 7.90rem 5.13rem;
  background-position: -6.8rem -2.36rem;
}


.booking_package_fullday{
  padding: .4rem 0 0 0;
}

.booking_package_fullday_ul{
  display: inline-block;
}


.booking_package_fullday_li{
  float: left;
  width: 2.12rem;
  height: .69rem;
  color: #d1d1d1;
  border: 1px #d1d1d1 solid;
  border-radius: .05rem;
  text-align: center;
  line-height: .69rem;
  margin: 0 .29rem 0 0;
}

.booking_package_fullday_li:last-child{
  margin: 0;
}

.booking_package_fullday_li.current{
  position: relative;
  color: #7bc300;
  border: 1px #7bc300 solid;
  border-radius: .05rem;
}

.booking_package_fullday_li.current:after{
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  right:-0.01rem;
  height: .36rem;
  width: .5rem;
  background: url(/images/ui/icon_common.png) no-repeat;
  background-size: 7.90rem 5.13rem;
  background-position: -6.99rem -1.4rem;
}


.booking_package_pre{
  padding: 0 .28rem 0 .28rem;
  font-size: .28rem;
  color: #333333;
  border-bottom: 1px #e6e6e6 solid;
  height: .96rem;
  line-height: .96rem;
}

.booking_package_pre_title{
  font-size: .28rem;
  color: #333333;
  display: inline-block;
}

.booking_package_pre_group{
  height: 0.6rem;
  display: inline-block;
  float: right;
  position: relative;
  top: .2rem;
}

.booking_package_pre_minbtn{
  float: left;
  height: .6rem;
  width: .6rem;
  background: url(/images/ui/icon_common.png) no-repeat;
  background-size: 7.90rem 5.13rem;
  background-position: -0.5rem -3.14rem;
}

.booking_package_pre_minbtn.current{
  float: left;
  height: .6rem;
  width: .6rem;
  background: url(/images/ui/icon_common.png) no-repeat;
  background-size: 7.90rem 5.13rem;
  background-position: -1.23rem -3.14rem;
}

.booking_package_pre_maxbtn{
  float: left;
  height: .6rem;
  width: .6rem;
  background: url(/images/ui/icon_common.png) no-repeat;
  background-size: 7.90rem 5.13rem;
  background-position: -1.24rem -3.14rem;
}

.booking_package_pre_maxbtn.current{
  float: left;
  height: .6rem;
  width: .6rem;
  background: url(/images/ui/icon_common.png) no-repeat;
  background-size: 7.90rem 5.13rem;
  background-position: -3.05rem -3.14rem;
}

.booking_package_pre_num{
  font-size: .28rem;
  color: #333333;
  display: inline-block;
  float: left;
  height: 0.6rem;
  line-height: 0.6rem;
  margin: 0 .16rem 0 .16rem;
}

.booking_package_pre_child{
  padding: 0 0 0 .28rem;
  position: relative;
  border-bottom: 1px #e6e6e6 solid;
}

.booking_package_pre_childlist{

}

.booking_package_pre_childitem{
  font-size: .28rem;
  color: #333333;
  border-bottom: 1px #e6e6e6 solid;
  height: .96rem;
  line-height: .96rem;
}

.booking_package_pre_childitem:last-child{
  font-size: .28rem;
  color: #333333;
  height: .96rem;
  line-height: .96rem;
  border-bottom: 0;
}

.booking_package_pre_childitemtitle{
  display: inline-block;
  font-size: .28rem;
}

.booking_package_pre_childitemnum{
  display: inline-block;
  margin: .01rem 0 0 .1rem;
}

.booking_package_pre_childitemright{
  display: inline-block;
  float: right;
  margin: 0 .3rem 0 0;
  font-size: .28rem;
}

.booking_package_pre_childiteminput{
  width: .9rem;
  height: .9rem;
  font-size: .28rem;
}

.booking_package_addpackage{
  font-size: .32rem;
  color: #7bc300;
  border-bottom: 1px #e6e6e6 solid;
  height: .96rem;
  line-height: 0.96rem;
  text-align: center;
}

.booking_package_addpackage_i{
  display: inline-block;
  position: relative;
  top: 0.18rem;
  height: .6rem;
  width: .6rem;
  background: url(/images/ui/icon_common.png) no-repeat;
  background-size: 7.90rem 5.13rem;
  background-position: -3.03rem -3.11rem;
}

.booking_package_addpackage_p{
  display: inline-block;
}

.booking_package_linkman{
  padding: .4rem 0 0 .28rem;
  font-size: .28rem;
  color: #333333;
  border-bottom: 1px #e6e6e6 solid;
  position: relative;
}

.booking_package_linkman_title{
  border-bottom: 1px #e6e6e6 solid;
  padding: 0 0 .32rem 0;
}

.booking_package_addpre_i{
  display: inline-block;
  position: relative;
  float: right;
  right: .28rem;
  top: .02rem;
  height: .9rem;
  width: .5rem;
  background: url(/images/ui/icon_common.png) no-repeat;
  background-size: 7.90rem 5.13rem;
  background-position: -1rem -0.3rem;
}

.booking_package_linkman_input{
  font-size: .28rem;
  width: 3rem;
  height: .8rem;
}

.booking_package_linkman_contact{
  height: .96rem;
  line-height: .96rem;
  border-bottom: 1px #e6e6e6 solid;
  font-size: .28rem;
}

.booking_package_linkman_contact:last-child{
  height: .96rem;
  line-height: .96rem;
  border-bottom: 0;
  font-size: .28rem;
}

.booking_package_linkman_i{
  display: inline-block;
  position: relative;
  float: right;
  right: .28rem;
  top: .02rem;
  height: .9rem;
  width: .5rem;
  background: url(/images/ui/icon_common.png) no-repeat;
  background-size: 7.90rem 5.13rem;
  background-position: -1rem -0.3rem;
}

.booking_package_addpre_i{
  display: inline-block;
  position: relative;
  float: right;
  right: .28rem;
  top: 0;
  height: .4rem;
  width: .35rem;
  background: url(/images/ui.1.0/icon_pay.png) no-repeat;
  background-size: 7.90rem 1.58rem;
  background-position: -5.6rem -0.5rem;
}

.booking_package_linkman_inputemail{
  font-size: .28rem;
  width: 5rem;
  height: .7rem;
  margin-left: .6rem;
}

.booking_package_linkman_max375{
  width: 3.5rem;
  position: relative;
  display: inline-block;
}

.booking_package_linkman_portraitline{
  border-right: 1px solid #E6E6E6;
}


.booking_package_linkman_inputphone{
  font-size: .28rem;
  width: 3.2rem;
  height: .7rem;
}

.booking_package_linkman_phonetitle{
  display: inline-block;
}

#booking_package_linkman_phoneselect{
  width: 30%;
  text-align: center;
  float: right;
  line-height: 1rem;
  height: .96rem;
}

.booking_package_linkman_phone_i{
  display: inline-block;
  position: relative;
  float: right;
  top: .02rem;
  right: 0.2rem;
  height: .9rem;
  width: .5rem;
  background: url(/images/ui/icon_common.png) no-repeat;
  background-size: 7.90rem 5.13rem;
  background-position: -1rem -0.3rem;
}

.booking_package_pickup{
  position: relative;
  display: inline-block;
  height: .96rem;
  line-height: .96rem;
  width: 100%;
  padding: 0 .28rem 0 .28rem;
}

.booking_package_pickup_i{
  display: inline-block;
  position: relative;
  float: right;
  height: .9rem;
  width: .5rem;
  background: url(/images/ui/icon_common.png) no-repeat;
  background-size: 7.90rem 5.13rem;
  background-position: -1rem -0.3rem;
}

.booking_package_pickup_title{
  display: inline-block;
}

.booking_package_pickup_select{
  display: inline-block;
  float: right;
  text-align: right;
  color: #999999;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  width: 5rem;
}


.booking_footer{
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  background: #FCFCFC;
  height: .96rem;
}

.booking_footer_bookingbtn{
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: .96rem;
  background: #7bc300;
  color: #fff;
  text-align: center;
  line-height: .96rem;
  font-size: .32rem;
}

.booking_footer_p{
  font-size: .28rem;
  line-height: .96rem;
  display: inline-block;
  float: right;
  margin: 0 .24rem 0 0;
}

.booking_package_price{
  font-size: .32rem;
  color: #FF5B13;
}

.booking_package_price.layout{
  display: inline-block;
  margin: 0 0 0 .28rem;
}

.booking_footer_i{
  display: inline-block;
  position: relative;
  float: right;
  height: .5rem;
  width: .5rem;
  margin-top: .23rem;
  background: url(/images/ui/icon_common.png) no-repeat;
  background-size: 7.90rem 5.13rem;
  background-position: -2.65rem -0.5rem;
}

.booking_footer_i.current{
  background-position: -2.1rem -0.5rem;
}

.booking_footer_pop{
  background: #FFFFFF;
  height: 7.8rem;
  position: fixed;
  bottom: -7.8rem;
  left: 0;
  right: 0;
  z-index: 1010;
  pointer-events: visible;
}

.booking_footer_pop_tool{
  height: .96rem;
  line-height: .96rem;
  font-size: .28rem;
  background: #F7F7F7;
  padding: 0 .28rem 0 .28rem;
}

.booking_footer_pop_tool_l{
  display: inline-block;
  float: left;
  color: #999999;
  /*pointer-events: auto;*/
}

.booking_footer_pop_tool_r{
  display: inline-block;
  float: right;
  color: #7bc300;
  /*pointer-events: auto;*/
}

.booking_footer_pop_content{

}

.booking_footer_pop_list{

}

.booking_footer_pop_item{
  border-bottom: 1px solid #e6e6e6;
  padding: .4rem .28rem .4rem .28rem;
  font-size: .32rem;
  position: relative;
}

.booking_footer_pop_item_l{

}

.booking_footer_pop_item_r{
  pointer-events:auto;
}

.booking_footer_pop_item_title{
  display: block;
  width: 5.8rem;
  margin: 0 0 .36rem 0;
}

.booking_footer_pop_item_category{
  color:#999999;
  font-size: .24rem;
}

.booking_footer_pop_item_i{
  position: absolute;
  height: .5rem;
  width: .5rem;
  right: .28rem;
  top: 50%;
  margin-top: -0.25rem;
  background: url(/images/ui/icon_common.png) no-repeat;
  background-size: 7.90rem 5.13rem;
  background-position: -4.38rem -0.5rem;
}

.booking_footer_pop_item_i.current{
  background-position: -5.05rem -0.5rem;
}

.mask_pop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.7;
  filter: alpha(opacity:70);
  z-index: 999;
  pointer-events:auto;
  display: none;
}

::-webkit-scrollbar{
  display: none;
}

.stopgray {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  pointer-events: none;
}

.booking_footer_popprice{
  background: #FFFFFF;
  height: 7.8rem;
  position: fixed;
  bottom: -7.8rem;
  left: 0;
  right: 0;
  z-index: 110;
  pointer-events: visible;
}

.booking_footer_popprice_list{
  padding: .4rem .28rem .4rem .28rem;
  font-size: .32rem;
  position: relative;
}

.booking_footer_popprice_item{
  height: .96rem;
  line-height: .96rem;
}

.booking_footer_popprice_item_l{
  display: inline-block;
  float: left;
}

.booking_footer_popprice_item_r{
  display: inline-block;
  float: right;
}

.booking_footer_popprice_itemr_price{

}

.booking_footer_popprice_itemr_perprice{

}

.booking_footer_popprice_tips{
  display: inline-block;
  position: absolute;
  bottom: 1.2rem;
  text-align: center;
  font-size: .28rem;
  line-height: .3rem;
  height: .3rem;
  color: #999999;
  width: 100%;
}

.mask_tips {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.7;
  filter: alpha(opacity:70);
  z-index: 99;
  pointer-events:auto;
  display: none;
}
/*预订页面*/
/*接送页面*/
.pickup_pop {
  background: #fcfcfc;
  position: absolute;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
}

.pickup_pop_header {
  background-color: #fcfcfc;
  height: 0.88rem;
  border-bottom: #d1d1d1 0.01rem solid;
  line-height: 0.88rem;
}

.pickup_pop_header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
}

.pickup_pop_header_left {
  position: absolute;
  left: 0;
  top: 0;
  height: 0.88rem;
}

.pickup_pop_header_btn {
  height: 0.88rem;
  line-height: 0.88rem;
  display: block;
  margin-left: 0.3rem;
}

.pickup_pop_header_return {
  height: 0.88rem;
  width: 0.8rem;
  overflow: hidden;
  display: inline-block;
  background: url(/images/ui/icon_common.png) no-repeat;
  background-size: 7.90rem 5.13rem;
  background-position: -0.35rem -0.3rem;
}
.pickup_pop_search_input {
  background: #eeeeee;
  box-sizing: border-box;
  width: 6.2rem;
  height: 0.6rem;
  padding: 0.06rem 0.28rem 0.06rem 2.5rem;
  outline: none;
  font-size: 0.28rem;
  color: #333;
  -webkit-appearance: none;
  border-radius: 0.32rem;
  display: inline-block;
  border: 0;
}

.pickup_pop_search_suggest{
  background: #fcfcfc;
  padding: .9rem .28rem 0 .28rem;
  overflow-y: scroll;
}
.pickup_pop_search_icon {
  position: absolute;
  left: 2rem;
  height: 0.88rem;
  width: 0.8rem;
  overflow: hidden;
  display: inline-block;
  background: url(/images/ui/icon_common.png) no-repeat;
  background-size: 7.9rem 5.13rem;
  background-position: -2.3rem -2.12rem;
}
.pickup_pop_search_relative {
  position: relative;
  left: 1.04rem;
}

.pickup_pop_search_suggestbg{
  position: fixed;
  top: 0;
  bottom: 0;
  background: #fcfcfc;
  height: 100%;
  width: 100%;
  z-index: -1;
  pointer-events: visible;
}

.pickup_pop_suggest_item{
  height: .96rem;
  line-height: .96rem;
  list-style: none;
  font-size: .28rem;
  color: #333333;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6;
}

.pickup_pop_search_suggest_list{

}

.booking_package_countries_title{
  display: inline-block;
  margin-right: 0.28rem;
}
/*接送页面*/

/*国籍选择开始*/

#country_index_wrap{
  display: none;
}
.country_header {
  opacity: 1;
}

.gj_header {
  z-index: 9999;
  visibility: hidden;
}

.country-cho-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
  background-color: #fff;
}

.country-cho-wrap-order {
  position: absolute;
  z-index: 1000;
}

.cl_search {
  height: .6rem;
  width: 100%;
  padding-left: 1.04rem;
  padding-right: .28rem;
  margin-top: .16rem;
  position: relative;
  left: 0;
  top: 0;
  overflow: visible;
}

.cl_search input {
  width: 5.5rem;
  height: 100%;
  border-radius: .3rem;
  padding-left: .48rem;
  background-color: #e6e6e6;
}

.cl_search i {
  position: absolute;
  left: 1.2rem;
  top: .13rem;
  background-position: -2.28rem -1.64rem;
  background-size: 5.8rem 3.6rem;
  width: .34rem;
  height: .34rem;
}

.country-hidden {
  z-index: 100;
}

/*国籍模糊搜索*/
.country-list-searched {
  width: 100%;
  height: auto;
  position: fixed;
  top: .88rem;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  background: #fff;
  overflow-y: scroll;
}

.country_index {
  position: fixed;
  top: 2.18rem;
  right: .06rem;
  width: 0.6rem;
  color: #7bc300;
  font-size: 0.2rem;
  text-align: center;
  z-index: 1000;
}

.country_index li {
  margin-bottom: .04rem;
}

.country_index li a {
  color: #7bc300;
  text-underline: none
}

.country-cho-wrap h4 {
  line-height: 0.68rem;
  height: 0.68rem;
  padding-left: 0.28rem;
  background-color: #F7F7F7;
  color: #333;
  font-size: 0.28rem;
}

.country_hot li, .country-wrap li, .country-list-searched li {
  line-height: 0.88rem;
  height: .88rem;
  padding-left: 0.28rem;
  border-bottom: 1px solid #e6e6e6;
  color: #333;
}

.target {
  position: relative;
  top: -.88rem;
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
}

/*国籍选择结束*/
