*{margin:0;padding:0;}
a{
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
.top{
    width:100%;height:45px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding:1px;
    background-color:#19415e;}
.icons{
    background-image: url(../images/ui/icons.png);
    background-repeat: no-repeat;
    background-size: 243px 160px;
    display:inline-block;
}
.d-icon{
    background-image: url(../images/ui/icons.png);
    background-repeat: no-repeat;
    background-size: 243px 160px;
    display: inline-block;
}
.d-icons{
    width:12px;
    height:22px;
    position: absolute;
    left:15px;
    top:10px;
    background-image: url(../images/ui/icons.png);
    background-repeat: no-repeat;
    background-size: 243px 160px;
    display: inline-block;
}
.d1{
    position: absolute;
    width: 21px;
    height: 22px;
    right: 15px;
    top: 10px;
    background-position:59% 77%;
}
.d-p1{
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
    color: #ffffff;
    line-height: 22px;
    text-align: center;
}
.d-div1{
    width:100%;
}
.hotelPic{
    width:100%;height:62.5%;
}
.hotelPic2{
    width:100%;height:160px;
}
.d-div2{
    width:100%;height: 50px;
    position: absolute;
    margin-top: -52px;
    background:rgba(0,0,0,0.5) ;
}
.d-p4{
    float: right;
    margin-right:3% ;
    margin-top: 12px;
    color: white;
    font-size: 2em;
}
.d-ul1{
    width: 94%;
    list-style-type: none;
    margin-left: 3%;
    margin-right: 3%;
}
.d-li1{
    min-height: 50px;
    border-bottom:1px solid #dfdfdd;
    position: relative;
}
.d-score{
    float: left;
    width: 75%;
    margin-top: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#484848;
    font-size:0.8em;
}
.d-score2{
    float: left;
    margin-top: 20px;
    color:#484848;
    font-size:0.8em;
}
.d-icon1{
    position:absolute;
    right:0;
    margin-top:20px;
    display: block;
    width:8px;height:14px;
    background-image:url(../images/ui/icons.png);
    background-position:65% 3%;
    background-size: 243px 160px;
}
.d-icon2{
    display: inline-block;
    width:15px;
    height:10px;
    float: left;
    margin-left: 10px;
    margin-top:20px;
    background-image: url(../images/ui/icon-h.png);
    background-size: 402px 174px;
    background-position:20% 9%;
}
.d-p2{
    float: right;
    margin-top: 20px;
    margin-right: 15px;
    color:#ffbf4b;
    font-size:0.8em;
}
.d-p3{
    float: left;
    margin-top: 20px;
    color:#484848;
    font-size:1.3em;
}
.d-div3{
    float: left;
    margin-top: 10px;
    width:60%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.d-p5{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width:75% ;
    min-width:5% ;
    color:#484848;
    font-size:1.3em;
}
.d-icon3{
    display: inline-block;
    width:15px;
    height:15px;
    margin-left: 5px;
    background-image:url(../images/ui/icons1.png);
    background-position:27% 33.5%;
    background-size: 400px 120px;
}
.d-p6{
    margin-top: 4px;
    max-width: 90%;
    color:#a1a1a1;
    font-size:1em;
}
.d-icon4{
    display: block;
    float: right;
    width:18px;
    height:18px;
    margin-top:20px;
    background-image:url(../images/ui/icons1.png);
    background-position:12.6% 33%;
    background-size: 400px 120px;
}
.price{
    float: right;
    margin-right: 25px;
    margin-top:15px;
}
.price2{
    float: right;
    margin-right: 10px;
    margin-top:15px;
    position: absolute;
    right:73px;
    top:-2px
}
.roomUl{
    width: 106%;
    list-style-type: none;
    position: relative;
    clear: both;
    display: none;
    margin-left: -3%;
    top:7px;
    padding-left: 3%;
    background: rgb(223, 223, 221);
    overflow: hidden;
}
.d-p7{
    margin-top: 4px;
    max-width: 80%;
    color:#484848;
    font-size:1em;
}
.d-but{
    width:79px;
    height:33px;
    float: right;
    border-radius: 5px;
    margin-top: 8px;
    text-align: center;
    line-height: 35px;
    background-color:#ffb412 ;
    color: white;
    font-size: 1.5em;
}
.d-icon5{
    display: block;
    position:absolute;
    right:0;
    width:18px;
    height:18px;
    margin-top:20px;
    background-image:url(../images/ui/icons1.png);
    background-position:19% 33%;
    background-size: 400px 120px;
}
/*
    房间信息块
*/
.roomAll{
    position:absolute;
    overflow-x:hidden!important;
    width:100%;
    height:100%;
    min-height:100%;
    max-height:100%;
    top:50px;
    display: none;
    z-index: 11;
}
.r-div{
    width: 100%;
    height:100%;
    top:0;
    left:0;
    position:fixed;
    background:rgba(0,0,0,0.5) ;
    display: none;
    z-index: 7;
}
.room{
    width: 94%;
    height: 675px;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    position: absolute;
    left:3%;
    right:3%;
    z-index: 50;
    color: #484848;
    display: block;
}
.r-top{
    width: 100%;height:40px;
    padding: 1px;
    background-color: #ffb412;
}
.r-p1{
    float: left;
    margin-top: 12px;
    margin-left: 15px;
    color:white;
    font-size: 1.4em;
}
.r-icon1{
    width: 22px;height: 22px;
    float: right;
    margin-right: 12px;
    margin-top: 10px;
    background-image:url(../images/ui/icon.png);
    background-position:22% 33%;
    background-size: 397px 118px;
}
.r-div1{
    width: 100%;
}
.r-ar{
    margin-top: 10px;
    margin-left: 15px;margin-right: 20px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
.r-p2{
    margin-left: 15px;
    font-size: 1.4em;
    color:#484848;
    margin-top: 10px
}
.r-ul{
    width: 94%;
    height: 110px;

    margin-top: 10px;
    margin-left: 20px;
}
.r-li{
    display:-moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    float: left;
    list-style-type: none;
    width: 50%;
    margin-bottom: 10px;
}
.r-icon2{
    width: 14px;height:14px;
    display: block;
    background-image: url(../images/ui/icon-h.png);
    background-size: 402px 174px;
    background-position:84% 10% ;
}
.r-p3{
    margin-left: 8px;
    font-size: 10px;
    color: #484848;
}

.roomMore{
    width:106%;
    height:100px;
    background: #dfdfdd;
    position: absolute;
    bottom:-200%;
    opacity: 0;
    display: none;
    margin:0px  -3%;
}
.roomMore .first,.roomMore .second{
    width:100%;
    height:50%;
}


.endStyle{
    display: block;
    position: absolute;
    z-index: 21;
    bottom:-200%;
    opacity: 0;
    animation:myMove 0.8s 1;
    -moz-animation:myMove 0.8s 1; /* Firefox */
    -webkit-animation:myMove 0.8s 1; /* Safari and Chrome */
    -o-animation:myMove 0.8s 1; /* Opera */
    animation-fill-mode : forwards;
}

@keyframes myMove
{
    from {bottom:-200%;
         opacity: 0;
    }
    to {bottom:100%;
        opacity: 1;
    }
}

@-moz-keyframes myMove /* Firefox */
{
    from {bottom:-200%;
        opacity: 0;
    }
    to {bottom:100%;
        opacity: 1;
    }
}

@-webkit-keyframes myMove /* Safari and Chrome */
{
    from {bottom:-200%;
        opacity: 0;
    }
    to {bottom:100%;
        opacity: 1;
    }
}

@-o-keyframes myMove /* Opera */
{
    from {bottom:-200%;
        opacity: 0;
    }
    to {bottom:100%;
        opacity: 1;
    }
}


.roomMore .first .left,.roomMore .second .left{
     display: inline-block;
     float: left;
     margin-top: 8px;


}

.roomMore .first .left .title,.roomMore .second .left .title{
    display: inline-block;
    color: #484848;
    font-size: 1.3em;
}



.roomMore .first .left .more span,.roomMore .second .left .more span{
    margin-top: 4px;
    color: #484848;
    font-size: 0.8em;
}


.roomMore .first .left .more span.lastRoom,.roomMore .second .left .more span.lastRoom{
    color: #fe4716;
}



.roomMore .first .middle{
    position: absolute;
    right: 86px;
    top: 15%;
}


.roomMore .second .middle{
    position: absolute;
    right: 86px;
    bottom: 8%;
}


/*

.roomMore .first .middle span.mTag,.roomMore .second .middle span.mTag,{
    font-size: 0.8em; !important;
    color: #fe4716; !important;
}
*/

.roomMore .first .middle .num,.roomMore .second .middle .num{
    font-size: 2em;
    font-weight: 600;
    color: #fe4716;
}


.roomMore .first .right,.roomMore .second .right{
    width: 79px;
    height: 33px;
    float: right;
    border-radius: 5px;
    margin-top: 8px;
    text-align: center;
    line-height: 33px;
    background-color: #ffb412;
    color: white;
    font-size: 1.5em;
}

.roomMore .first,.roomMore .second{
    width:100%;
    height:50%;
}

.d-div1 .image{
    width:100%;
    height:62.5%;
    max-height: 50px;
}


/*hotelImage*/

.all-elements .imageContainer{
    display: none;
    z-index: 999;
    width:100%;
    height:100%;
    background-color:#000;
    position: fixed;
    bottom:0%;
    left:0%;
}

.all-elements .imageContainer h5{
    width:100%;
    position: absolute;
    top:20%;
    font-size: 1.2em;
    color: #FFF;
    text-align: center;
}
.all-elements .imageContainer .showZone{
    width: 100%;
    height: 33%;
    position: absolute;
    top: 28%;
    left: 0%;
    background: white;
}

.all-elements .imageContainer .showZone .innerContainer{
    height: 100%;
    position: absolute;
    top: 0;
    background: #000;
    -webkit-transition: 1s ease-in-out;
}

.all-elements .imageContainer .showZone .innerContainer img{
    float: left;
}

/*.all-elements .imageContainer figure{
    width: 100%;
    height: 38%;
    position: absolute;
    top: 28%;
    left: 0%;
    background: white;
}

.all-elements .imageContainer figure figcaption{
    width:100%;
    position: absolute;
    top:-28%;
    font-size: 1.2em;
    color: #FFF;
    text-align: center;
}*/


.to-none{
    display: block;
    opacity: 1;
    height:100px;
    animation:myMoveA 0.8s 1;
    -moz-animation:myMoveA 0.8s 1; /* Firefox */
    -webkit-animation:myMoveA 0.8s 1; /* Safari and Chrome */
    -o-animation:myMoveA 0.8s 1; /* Opera */
    animation-fill-mode : forwards;
}

@keyframes myMoveA
{
    from { height:100px;
        opacity: 1;
    }
    to { height:0px;
        opacity: 0;
    }
}

@-moz-keyframes myMoveA /* Firefox */
{
    from { height:100px;
        opacity: 1;
    }
    to { height:0px;
        opacity: 0;
    }
}

@-webkit-keyframes myMoveA /* Safari and Chrome */
{
    from { height:100px;
        opacity: 1;
    }
    to { height:0px;
        opacity: 0;
    }
}

@-o-keyframes myMoveA /* Opera */
{
    from { height:100px;
        opacity: 1;
    }
    to { height:0px;
        opacity: 0;
    }
}

.to-block{
    display: block;
    opacity: 0;
    height:0px;
    animation:myMoveB 0.8s 1;
    -moz-animation:myMoveB 0.8s 1; /* Firefox */
    -webkit-animation:myMoveB 0.8s 1; /* Safari and Chrome */
    -o-animation:myMoveB 0.8s 1; /* Opera */
    animation-fill-mode : forwards;
}

@keyframes myMoveB
{
    from { height:0px;
        opacity: 0;
    }
    to { height:100px;
        opacity: 1;
    }
}

@-moz-keyframes myMoveB /* Firefox */
{
    from { height:0px;
        opacity: 0;
    }
    to { height:100px;
        opacity: 1;
    }
}

@-webkit-keyframes myMoveB /* Safari and Chrome */
{
    from { height:0px;
        opacity: 0;
    }
    to { height:100px;
        opacity: 1;
    }
}

@-o-keyframes myMoveB /* Opera */
{
    from { height:0px;
        opacity: 0;
    }
    to { height:100px;
        opacity: 1;
    }
}


.hide{
    display: block;
    height:103px;
    -webkit-animation: myMoveHide 0.6s ease-in-out 1;
    -webkit-animation-fill-mode : forwards;
}

@-webkit-keyframes myMoveHide {
    from{
        height:103px;
    }
    to{
        height:0;
    }
}

.show{
    display: block;
    height:0px;
    -webkit-animation: myMoveShow 0.6s ease-in-out 1;
    -webkit-animation-fill-mode :forwards;
}

@-webkit-keyframes myMoveShow {
    from{
        height:0px;
    }
    to{
        height:103px;
    }
}
