* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
    background-color: #f5f4f9;
}

li{
    list-style: none;
}

.clearFix:after{
    content:'';
    clear: both;
    display: block;
}
i{
    font-style: normal;
}
.top {
    width: 100%;
    height: 45px;
    padding: 1px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: fixed;
    z-index: 100;
    background: linear-gradient(#16364f, #194361);
}
.top span.title{
    font-size: 18px;
    color: #fff;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 100%;
}
.sc-content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    padding-top: 45px;
    padding-bottom: 20px;
    z-index: 2;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: #F5F4F9;
}
.icons {
    background-image: url(../images/ui/icons.png);
    background-repeat: no-repeat;
    background-size: 243px 160px;
    display: inline-block;
}

.order_type{
    height:32px;line-height:32px;background:#fff;text-align:center;
}
b.orange,i.orange{color:#f64906;font-weight:normal;}

.all_info{
    display:block;padding:10px 40px 10px 10px;overflow:hidden;position:relative;
    font-size:13px;
}
.all_info:after{
    content:'';position:absolute;display:block;width:12px;height:12px;
    background:url(../images/icons.png) no-repeat -159px -7px;
    background-size:254px auto;right:10px;top:50%;margin-top:-6px;
}

.all_info p.sce-introduce-txt{padding:0;margin:0;display:block;font-size:14px;}
.all_info p.sce-introduce-txt span.sce-introduce-span{font-size:12px;color:#999;}



.all_title{
    height:36px;line-height:36px;position:relative;border:1px solid #ededef;
    border-left:none;border-right:none;
}
.all_title h3{
    font-size:14px;color:#555;font-weight:normal;height:36px;padding-left:39px;overflow:hidden;
}
.all_title h3:before{
    content:'';background:url(../images/icon1.png) no-repeat -31px -94px;
    background-size:215px auto;display:block;height:23px;width:23px;
    position:absolute;left:12px;top:6px;
}
.all_title h3.flight:before{
    background-position:-1px -94px;
}
.all_title h3.hotel:before{
    background-position:-60px -94px;
}
.all_title h3 i{color:#fdb330;padding-right:3px;}
.all_title span.editBtn{
    position:absolute;right:0;top:0;height:36px;width:83px;line-height:36px;font-size:13px;
}
.all_title span.editBtn a{color:#fdb330;display:block;}
.all_title span.editBtn a:after{
    content:'';background:url(../images/icon1.png) no-repeat -88px -34px;
    background-size:224px auto;padding:6px 10px;
}




.hotel_box{background:#fff;padding:10px 12px;overflow:hidden;}
.hotel_box span.conlist{
    display:block;font-size:13px;font-weight:normal;height:18px;line-height:18px;overflow:hidden;
}
.hotel_box div.conlist{
    display:block;font-size:13px;font-weight:normal;overflow:hidden;
}
.hotel_box span.conlist:first-child{
    color: #484848;font-size: 15px;
}


.trip_box{background:#fff;padding:10px 12px;overflow:hidden;}
.trip_box span.conlist{
    display:block;font-size:13px;font-weight:normal;height:18px;line-height:18px;overflow:hidden;
    color:#999;
}

.order_total{
    background:#fff;padding:10px 12px;margin:10px 0;overflow:hidden;position:relative;
    line-height:22px;
}
.order_total:after{
    content:'';position:absolute;display:block;width:12px;height:12px;
    background:url(../images/icons.png) no-repeat -159px -7px;
    background-size:254px auto;right:10px;top:50%;margin-top:-6px;
    -webkit-transform:scale(0.7,0.7);
    transform:scale(0.7,0.7);
}
.order_total i{font-size:16px;}
.order_total b{font-size:12px;}
.order_total a{
    color:#ffb948;position:absolute;right:10px;top:10px;font-size:12px;
    display:block;width:66px;height:22px;line-height:22px;
}

.order_information{
    background:#fff;padding:0 12px 10px;margin:10px 0;overflow:hidden;position:relative;
}
.order_information span.title{
    display:block;height:28px;line-height:28px;border-bottom:1px solid #eee;
}
.order_information .conBox ul{padding:0;margin:0;}
.order_information .conBox ul li{
    height:26px;line-height:26px;padding:3px 0;margin:0;color:#555;font-size:13px;
}
.order_information .conBox ul li i{
    display:inline-block;width:63px;color:#aaa;
}

.order_pay_btnBox{
    padding:18px;
}
.order_pay_btnBox a{
    color:#fff;background:#fdb330;border-radius: 3px;text-align:center;
    height:36px;line-height:36px;font-size:16px;
}
/* ·ÑÓÃÃ÷Ï¸¿é */
.od-mb{
    width: 100%;height:100%;
    position: fixed;
    background-color:rgba(0,0,0,0.5);
    display: none;
    z-index: 2000;
}
.pd-block{
    width: 100%;
    background-color: white;
    position: fixed;
    bottom:-400px;
    color: #fb4927;
    z-index: 2000000;
}
.pd-list{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 0;
}
.pd-list li{
    height: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
}
.pd-list li div:nth-child(1){
    float: left;
}
.pd-list li div:nth-child(2){
    float: right;
}
.pd-list li div:nth-child(3){
    float: right;
    margin-right: 12px;
}
.pd-list li:first-child{
    border-bottom: 1px solid #d6d6d6;
    color:#484848;
}

.hspd-block{
    width: 100%;
    background-color: white;
    position: fixed;
    bottom:-300px;
    color: #484848;
    z-index: 2000000;
}
.hspd-list{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 0;
}
.hspd-list li{
    padding:15px 15px;
    margin-bottom: 5px;
}
.hspd-list li div:nth-child(1){
    float: left;
}
.hspd-list li div:nth-child(2){
    float: right;
}
.hspd-list li:last-child{
    border-top: 1px solid #d6d6d6;
    color:#fb763b;
    height: 44px;
}