* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background-color: #f5f4f9;
}

li{
    list-style: none;
}

.clearFix:after{
    content:'';
    clear: both;
    display: block;
}
i{
    font-style: normal;
}
.top {
    width: 100%;
    height: 45px;
    padding: 1px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: fixed;
    z-index: 100;
    background: linear-gradient(#16364f, #194361);
}
.top span.title{
    font-size: 18px;
    color: #fff;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 100%;
}

.icons {
    background-image: url(../images/ui/icons.png);
    background-repeat: no-repeat;
    background-size: 243px 160px;
    display: inline-block;
}

/*头图*/
.picBox{overflow:hidden;position:relative;}
.picBox img{width:100%;height:auto;}
/*.picBox span.text_number{*/
    /*position:absolute;bottom:15px;left:13px;background:rgba(0,0,0,0.8);*/
    /*display:block;height:22px;line-height:22px;padding:0 10px;color:#999;font-size:13px;*/
/*}*/
.pd-mb{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.4);
    padding: 0 15px;
    color: white;
}
.pd-mb div:nth-child(1){
    font-size: 1.6rem;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.pd-mb div:nth-child(2){
    font-size: 1rem;
}
.jd-icon {
    background-image: url(../images/ui/jd-icon.png);
    background-repeat: no-repeat;
    background-size: 256px 71px;
    display: inline-block;
}
.s-you {
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    margin-right: 20px;
    background-position: -52px -23px;
}
.pd-contitle{
    padding:5px 0;
    color:#555;
}
/*page tag*/
.pageTag{
    height:33px;line-height:33px;overflow:hidden;
}
.pageTag span{float:left;width:33%;height:32px;text-align:center;}
.pageTag span.current{color:#fdb330;border-bottom:1px solid #fdb330;}

.page_title{background:#fff;}
.page_title h3,.page_title h4{
    font-weight:normal;font-size:13px;
    border-bottom:1px solid #ddd;color:#888;padding:0 10px;margin:0;
}
.page_title h4{margin:0 10px;padding:0;}
.page_title h4 i{float:right;}

.conBox{
    background:#fff;overflow:hidden;padding:0 10px;line-height:22px;padding-bottom:10px;
}
.conBox p{
    text-indent: 0;
    margin-bottom: 0;
    font-size: 13px;line-height:22px;color: #aaa;
}
.conBox ul{margin:0;}
.conBox ul li{
    line-height: 18px;
    color: #aaa;
    list-style: disc inside;
    font-size: 13px;
}
.detailBox{
    background:#fff;overflow:hidden;padding:0 10px;line-height:22px;padding-bottom:10px;
}
.detailBox strong{
    text-indent: 0;
    margin-bottom: 10px;
    font-size: 1.6rem;line-height:22px;color: #000;
}
.detailBox p{
    text-indent: 0;
    margin-bottom: 0;
    font-size: 13px;line-height:22px;color: #000;
}
.detailBox ul{margin:0;}
.detailBox ul li{
    line-height: 18px;
    color: #000;
    list-style: disc inside;
    font-size: 13px;
}
/*µ×²¿Ô¤¶¨*/
.package_reserve{
    position:fixed;left:0;bottom:0;z-index:999;width:100%;background:#fff;height:42px;
}
.package_reserve span{padding-left:10px;display:block;overflow:hidden;font-size:13px;}
.package_reserve span.all_num{
    line-height:36px;
}
.package_reserve span.all_num i{color:#fb6014;font-size:16px;}
.package_reserve span.all_num i:before{
    content:'\00A5';font-size:13px;
}
.package_reserve span.separate_num{
    height:21px;line-height:18px;font-size:12px;color:#aaa;text-decoration:line-through;
}
.package_reserve span.separate_num i{color:#555;}
.package_reserve span.separate_num i:before{
    content:'\00A5';
}

.package_reserve a.reserve{
    position:absolute;right:0;top:0;width:24%;height:42px;background:#fdb330;
    color:#fff;text-align:center;line-height:42px;font-size:16px;
}
.package_reserve i.itemized,
.package_reserve i.itemized_d{
    position:absolute;right:96px;top:10px;width:38px;height:22px;
    color:#fdb330;line-height:22px;font-size:12px;
}
.package_reserve i.itemized:after,
.package_reserve i.itemized_d:after{
    content:'';width:10px;height:7px;float:right;
    background:url(../images/icons1.png) no-repeat -44px -34px;
    background-size:348px auto;margin-top:8px;
}
.package_reserve i.itemized_d:after{background-position:-66px -34px;}
/*ÏÔÊ¾Òþ²Ø Ã÷Ï¸*/
.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.6;
    filter: alpha(opacity:60);
    z-index: 99;
    display: none;

}

.detail_expenses{
    width: 100%;
    padding: 1px;
    background-color: white;
    position: fixed;
    bottom:-100%;
    border-bottom:1px solid #ddd;
    transition: all 350ms;
    z-index: 998;
}
.detail_expenses ul{padding:0 10px;margin:0;}
.detail_expenses ul li{
    height:32px;line-height:32px;padding:0;margin:0;
    border-bottom:1px solid #ddd;color:#fb6014;position:relative;
}
.detail_expenses ul li i{
    position:absolute;right:0;top:0;height:32px;
}
.detail_expenses ul li i:before{
    content:'\00A5';
}
.detail_expenses ul li:first-child{color:#333;}
.detail_expenses ul li:last-child{border:none;}