*{margin:0;padding:0;}
.p-price{
    width: 100%;
    height:61px;
    padding: 1px;
    background-color: #55bfb7;
    color:white;
    font-weight: 500;
}
.p-p1{
    margin-top: 20px;
    margin-left: 15px;
    font-size:21px;
}
.p-hotelinfo{
    margin-top: 20px;
    margin-left: 15px;
}
.p-hotelinfo li{
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 15px;
}
.p-hotelinfo li:first-child{
     font-weight: 600;
 }
.p-hotelinfo li:last-child{
    font-size: 13px;
}
.p-pay{
    width: 100%;height: 100px;
    border-top: 1px solid #dddddd;
    background-color: #f0eeee;
}
.p-ul1{
    width: 100%;
    margin-top: 15px;
}
.p-p2{
    width:25%;
    float: left;
    font-size: 15px;
    margin-left: 20px;
}
.p-ul1 li{
    list-style-type: none;
    width: 25%;
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
}
.p-icon1{
    display: inline-block;
    width: 11px;height:11px;
    position: relative;
    top: -12px;
    background-image: url(../images/ui/icon-h.png);
    background-size: 402px 174px;
    background-position:10% 38% ;
}
.p-icon2{
    display: inline-block;
    width: 11px;height:11px;
    position: relative;
    top: -12px;
    background-image: url(../images/ui/icon-h.png);
    background-size: 402px 174px;
    background-position:4.8% 38% ;
}
.p-icon3{
    display: inline-block;
    width: 42px;height:30px;
    background-image: url(../images/ui/icon-h.png);
    background-size: 402px 174px;
    background-position:17% 38% ;
}
.p-ul2{
    width: 100%;
    border-bottom: 1px solid #dddddd;
    background:#fff;
}
.p-ul2 li{
    list-style-type: none;
    width: 90%;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: 1px solid #dddddd;
}
.p-ul2 li:last-child{
    border:none;
}
.p-ul2 li div:first-child{
    -webkit-box-felx:1;
    -moz-box-flex:1;
    -ms-flex:1;
    -webkit-flex:1;
    flex:1;
}
.p-ul2 li div:last-child{
    -webkit-box-felx:2;
    -moz-box-flex:2;
    -ms-flex:2;
    -webkit-flex:2;
    flex:2;
}
.second-div{
    -webkit-box-felx:2;
    -moz-box-flex:2;
    -ms-flex:2;
    -webkit-flex:2;
    flex:2;
}
.p-ul2 li input{
    -webkit-box-felx:2;
    -moz-box-flex:2;
    -ms-flex:2;
    -webkit-flex:2;
    flex:2;
}
.p-icon4{
    position: absolute;
    right:4%;
    margin-top:12px;
    display: block;
    width:8px;height:14px;
    background-image:url(../images/ui/icons1.png);
    background-position:65% 3%;
    background-size: 243px 160px;
}
.open-pho{
    position: absolute;
    width: 10px;
    height: 20px;
    right: 5%;
    background-position: 65% 3%;
}
.p-but{
    width: 94%;height:45px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 25px;
    background-color: #fdb330;
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 45px;
}
