* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
}

li{
    list-style: none;
}

i{
    font-style: normal;
}
.sce-detail-wrap .sce-detail-exhi p.text{
    color:#fff;position:absolute;left:0;bottom:6px;
    line-height:18px;
    margin:0 12px;
    font-size:14px;height:36px;overflow:hidden;
}

.icons {
    background-image: url(../images/ui/icons.png);
    background-repeat: no-repeat;
    background-size: 243px 160px;
    display: inline-block;
}

.header-back {
    width: 12px;
    height: 22px;
    margin-left:0;
    z-index: 150;
}

.city-tit {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.location-msg {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: #fff;

}

.ellip-tip {
    display: inline-block;
    position: absolute;
    left: 86%;
    top: 1.7rem;
    width: 32px;
    height: 20px;
    background-image: url(../images/ui/icons.png);
    background-position: 10% 6%;
    background-size: 300px 200px;
}

.sce-detail-exhi img{
    width: 100%;
    height:auto;
}

.sce-spot-tot{padding-bottom:50px;background:#f5f4f9;}

.limit-time-fav{
    background-color: #fff;
    height:40px;
    line-height:40px;
    font-size:12px;
    padding-left:14px;
    color: #777;
}
.limit-time-fav:before{
    content:'';float:left;width:16px;height:16px;margin-top:12px;
    background:url('../images/icon.png') no-repeat left -41px;
    background-size:271px auto;
}
.limit-time-fav span{color:#555;}
.limit-time-fav span i{color:#333;padding:0 2px;}




.business-wrap{
    padding: 10px 10px 0 20px;
    margin-bottom: 0;
}
.business-wrap > li{
    border-bottom: 1px solid #eee;
    padding-right: 10px;
}
.busi-time{
    display: -moz-box;  /* Firefox */
    display: -ms-flexbox;    /* IE10 */
    display: -webkit-box;    /* Safari */
    display: -webkit-flex;    /* Chrome, WebKit */
    display: box;
    display: flexbox;
    display: flex;
    height: 30px;
    line-height: 30px;
    font-size: 1.3rem;
}

.busi-time a{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;
}

.busi-period{
    text-align: right;
}

.sce-detail-box{
    background-color: #fff;
}

.feature-tit{
    display:block;background:#f5f4f9;
    padding:8px 12px;overflow:hidden;
}
.feature-tit img.imgs{
    width:52px;height:52px;float:left;
}
.feature-tit p.imgText,.feature-tit p.text{
    height:52px;line-height:52px;margin:0;font-size:14px;font-weight: normal;color:#777;
}
.feature-tit p.text{
    height:22px;line-height:22px;
}
.feature-tit p.imgText i{color:#fdb439;padding:0 6px 0 10px;}
.xcTextCon{padding:0 12px;}
.xcTextCon ul li{
    line-height:18px;color:#aaa;list-style:disc inside;font-size:13px;
}

.feature-list{
    margin-bottom: 10px;
}
.feature-list li{
    font-size: 1.4rem;
}

.location-busi{
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 22px;
    background: url(../images/ui/icons.png) no-repeat;
    background-position: 60% 76%;
    background-size: 200px 110px;
}

.package-wrap li p{
    margin-bottom: 5px;
}

.pack-price{
    font-size: 1.4rem;
    color: #fe6a03;
}

.pack-price-str{
    font-size: 1.9rem;
}

.pack-price-line{
    text-decoration: line-through;
    color: #999;
}

.pack-price-col{
    color: #333;
}
.order-button{
    width: 6rem;
    height: 2.2rem;
    line-height: 2.4rem;
    border-radius: 4px;
    font-size: 1.3rem;
    background-color: #ffb413;
    color: #fff;
    text-align: center;
}

.order-button:hover{
    background-color: #ff9313;
}

.price-order-wrap{
    overflow: hidden;
}

.travel-arrange li{
    font-size: 1.4rem;
}

.travel-arrange ul, .travel-arrange ol{
    margin-bottom: 10px;
}

.sce-introduce-wrap{
    padding: 0 10px 0 20px;
}

.spot-down-img{
    margin-bottom: 10px;
}
.spot-down-img img{
    width: 100%;
    height: auto;
}

.watch-more{
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 0;

}

.feature-his{
    padding-bottom: 5px;font-size:13px;line-height:22px;color:#aaa;
}

.feature-his p{
    text-indent:0;
    margin-bottom: 0;
    font-size:13px;
}

.package_reserve{
    position:fixed;left:0;bottom:0;z-index:999;width:100%;
}
.package_reserve span{
    display:block;background:#fff;height:42px;line-height:42px;
    padding:0 100px 0 12px;font-size:13px;
}
.package_reserve span i{color:#fb6419;font-size:16px;padding:0 3px;}
.package_reserve a.reserve{
    position:absolute;right:0;top:0;width:88px;height:42px;background:#fdb330;
    color:#fff;text-align:center;line-height:42px;font-size:16px;
}