<div class="tour_section">
  <div class="fht_hd clearfix">
    <span class="fht_hd_tit tour fl"><i></i>景点</span>
  </div>
  <ul class="tour_wrap">
    <% if(tours.length>0){ %>
      <% tours.forEach(function(info){%>
      <li>
        <p class="mb_ten"><%=info.tourName%></p>
        <p><%=vlm.Utils.format_date(info.travelDate,"md")%> 上午</p>
      </li>
    <%})%>
    <% } %>
  </ul>
</div>
