<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
  <link rel="stylesheet" href="./reset.css"/>
    <link rel="stylesheet" href="./index.css"/>
    <title>限时专享</title>
</head>
<body>
<div id="preloader">
  <div id="status"></div>
</div>

<div class="all_elements" id="app">
    <!--top start-->
    <div class = "topDiv">
        <a href="javascript:window.history.go(-1);">
            <i class="icon_back"></i>
        </a>
        <h3>限时专享</h3>
    </div>
    <!--banner start-->
    <section class="bannerDiv" v-on:click="goLinkHotHotel(topBar)">
      <div class = "banner_imgDiv">
        <img :src="topBar.leGeneralMessage.imageUrl" alt=""/>
      </div>
      <div class = "banner_content">
        <p class = "banner_sale"><span class = "banner_sale_lowest">全网最低价</span><span class = "banner_sale_timer">距结束 <span>{{time.day}}</span>天 <span>{{time.hours}}</span><span>{{time.minutes}}</span><span>{{time.seconds}}</span></span></p>
        <p class = "banner_information">{{topBar.leGeneralMessage.title}}</p>
      </div>
      <div class = "banner_price clearfix" >
        <div class = "fl">
          <p class = "banner_price_left">
            <span class = "price_num">￥<strong>{{topBar.leGeneralMessage.price }}</strong>起</span>
            <span class = "price_sum">仅限 <em>{{topBar.leGeneralMessage.totalNumber}}</em>份</span>
            <span class = "price_buy">已抢购 <em>50%</em></span>
          </p>
          <p class ="progress_bar"><span class = "bar_bg"></span><span class = "bar_show"></span></p>
        </div>
        <div class="fr"><span class = "limit_buy">立即抢购</span></div>
      </div>
    </section>
  <!--banner end-->
  <!--special start-->
    <section class = "specialDiv">
      <div class="special_title"><span></span><h3>限时优惠</h3><span></span></div>
      <ul class="special_link clearfix">
        <li @click="toggle(index ,tab.view)" v-for="(tab,index) in tabs" :class="{cur:active==index}" >
          {{tab.text}}
        </li>
      </ul>
      <div class = "special_content">
        <ul>
          <li v-for="item in currentItem" class = "clearfix" v-on:click="goLinkDetail(item)">
            <div class = "special_imgDiv"><img  :src="item.leGeneralMessage.imageUrl" alt=""/></div>
            <div class = "special_right">
              <p class = "special_right_content">{{item.leGeneralMessage.title}}</p>
              <p class = "special_right_price clearfix">
                <span class = "special_price_num">￥<strong>{{item.leGeneralMessage.price}}</strong>起/人</span>
                <span class = "fr progress_price">
                  <span class = "price_bg"></span>
                  <span class = "price_show"  :style="{'width':2*item.leGeneralMessage.rate*0.01+'rem'}"></span>
                </span>
              </p>
              <p class = "special_timer">
                <span class = "special_timer_sale">仅限<em>{{item.leGeneralMessage.totalNumber}}</em>份</span>
                <span class="fr special_timer_buy">已抢购{{item.leGeneralMessage.rate}}%</span>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>
</div>
<script src="../js/jquery/jquery.min.js"></script>
<script src="../js/vlm.js"></script>
<script src="../js/vue-lazyLoad/vue-lazyload.es5.js"></script>
<script src="../js/lib/vue/es6-promise/es6-promise.min.js"></script>
<script src="../js/vue/vue@2.0.8.js"></script>
<script>
  Vue.use(VueLazyload, {
    error: './static/images/error.png',
    loading: './static/images/activity/loading.gif',
    try: 3 // default 1
  });
  (function() {
    // 控制底部 footer 展示。

    var app = new Vue({
      el: '#app',
      data: {
        active: 0,
        topBar:{},
        limitedExclusiveList:{},
        currentItem:{},
        tabs: [],
        time:{day:"00",hours:"00",minutes:"00",seconds:"00"},
        stop:false,
        currentSecond:1,
      },
      methods:{

      //抢购倒计时
      timeCountDown:function(startTime,endTime){
                var timespan = new Date(endTime.replace(/\-/g, "/")).getTime()-new Date(startTime.replace(/\-/g, "/")).getTime();   //时间差的毫秒数
                if(timespan<=0){
                  _this.stop= true
                }
                //如果是false就开始倒计时，如果是true就停止倒计时
                if(_this.stop == false)
                {
                  setInterval(function update(timespan) {
                    timespan=timespan-1000*_this.currentSecond;
                    //计算出相差天数
                    var day=Math.floor(timespan/(24*3600*1000))

                    _this.time.day=day<10?"0"+day.toString():day;

                    //计算出小时数
                    var leave1=timespan%(24*3600*1000)    //计算天数后剩余的毫秒数
                    var hours=Math.floor(leave1/(3600*1000));
                    _this.time.hours=hours<10?"0"+hours.toString():hours;

                    //计算相差分钟数
                    var leave2=leave1%(3600*1000)        //计算小时数后剩余的毫秒数
                    var minutes=Math.floor(leave2/(60*1000))
                    _this.time.minutes=minutes<=10?"0"+minutes.toString():minutes;
                    //计算相差秒数
                    var leave3=leave2%(60*1000)      //计算分钟数后剩余的毫秒数
                    var seconds=Math.round(leave3/1000)
                    _this.time.seconds=seconds<10?"0"+seconds.toString():seconds;
                    _this.currentSecond++;
                  },1000,timespan);
                }
                else
                {
                  clearInterval(_this.Interval);
                }
       },

        toggle:function(i, v){
          this.active = i;
          this.getjson(i);
        },
        getjson:function(index)
        {
          _this = this;
          var json = {
            "Parameters": {
            },
            "ForeEndType": 3,
            "Code": "10100041"
          };
          vlm.loadJson("", JSON.stringify(json), function(json) {
            vlm.init();
            console.log(json);
            if (json.success) {
              var data = json.data;
              _this.limitedExclusiveList = data.appLimitedExclusive;

              _this.timeCountDown(_this.limitedExclusiveList.currentTime.replace(/\-/g, "/"),_this.limitedExclusiveList.topBar.leGeneralMessage.deadLine.replace(/\-/g, "/"))

              _this.topBar=data.appLimitedExclusive.topBar;
              _this.tabs=[];
              for(var i=0;i<=data.appLimitedExclusive.bottomBarList.length-1;i++){
                _this.tabs.push({text:data.appLimitedExclusive.bottomBarList[i].bottomBarCategory});
                for(var j=0; j<=data.appLimitedExclusive.bottomBarList[i].bottomBar.length-1;j++){
                  data.appLimitedExclusive.bottomBarList[i].bottomBar[j].leGeneralMessage.rate=Math.ceil(Math.random() * 100);
                }
              }
              _this.currentItem=data.appLimitedExclusive.bottomBarList[index].bottomBar;
            } else {
              console.log(json);
              jAlert("数据格式错误", "提示");
            }
          });
        },
        goLinkDetail:function(obj){
           if(this.active==0) {
             window.location.href = "/hotel/hotel_detail.html?HotelID=" + obj.searchParams.hotelCode + "&HotelCode=" + obj.searchParams.hotelCode + "&InstantConfirmation=false&AllOccupancy=true&CheckInDate=" + obj.searchParams.checkInDate + "&CheckOutDate=" + obj.searchParams.checkOutDate + "&NumRoom=" + obj.searchParams.numRoom + "&NumAdult=" + obj.searchParams.numAdult + "&NumChild=" + obj.searchParams.numChild + "&freeTransfer=false";
           }else if(this.active==1){
             window.location.href ="/scenic/scenic_detail.html?packageID="+obj.searchParams.packageID;
             //window.location.href ="/scenic/scenic_detail.html?packageID="+obj.searchParams.packageID+"&CheckInDate=" + obj.searchParams.checkInDate + "&CheckOutDate=" + obj.searchParams.checkOutDate+obj.searchParams.numAdult + "&NumChild=" + obj.searchParams.numChild;
           }else{
             window.location.href ="/tour/packages_detail.html?packageID="+obj.searchParams.packageID+"&productPrice="+obj.leGeneralMessage.price+"&status=1";
           }
        },
        goLinkHotHotel:function(obj){
            if(obj.productCategory=="1"){
              window.location.href = "/hotel/hotel_detail.html?HotelID=" + obj.searchParams.hotelCode + "&HotelCode=" + obj.searchParams.hotelCode + "&InstantConfirmation=false&AllOccupancy=true&CheckInDate=" + obj.searchParams.checkInDate + "&CheckOutDate=" + obj.searchParams.checkOutDate + "&NumRoom=" + obj.searchParams.numRoom + "&NumAdult=" + obj.searchParams.numAdult + "&NumChild=" + obj.searchParams.numChild + "&freeTransfer=false";
            }else if(obj.productCategory=="2"){
              window.location.href ="/scenic/scenic_detail.html?packageID="+obj.searchParams.packageID;
            }
            else if(obj.productCategory=="3"){
              window.location.href ="/tour/packages_detail.html?packageID="+obj.searchParams.packageID+"&productPrice="+obj.leGeneralMessage.price+"&status=1";
            }


        }

    },
    mounted: function () {
        this.getjson(0);
    }
    });
  })();


</script>
</body>
</html>
