/*公用开始*/
.fl {
  float: left;
}

.fr {
  float: right;
}

* {
  box-sizing: border-box;
}

em, b, i {
  font-weight: normal;
  font-style: normal;
}

input {
  border: none;
  outline: none;
}

/*公共结束*/

/*机票开始*/
.flight_section {
  background-color: #fff;
  /*border-bottom: 2px  solid #e6e6e6;*/
}

.fht_hd {
  background-color: #f7f7f7;
  height: 0.68rem;
  line-height: 0.68rem;
  /*border-top: 1px solid #ddd;*/
  padding: 0 .28rem;
  position: relative;
  color: #333;
}

.fht_hd.travell_msg {
  margin-bottom: .4rem;
}

.fht_hd.flight_top {
  border-top: none;
}

.fht_hd_tit {
  color: #333;

}

.fht_hd_tit > i {
  display: inline-block;
  vertical-align: top;
  margin-top: .09rem;
  margin-right: .16rem;
  width: .5rem;
  height: .5rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -0.4rem -1.25rem;
  background-size: 6.6rem 4.55rem;
}

.fht_hd_det {
  font-size: .24rem;
  color: #999;
}

.fht_hd_det i {
  display: inline-block;
  vertical-align: top;
  margin-left: .12rem;
  margin-top: .15rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -3.38rem -1.33rem;
  background-size: 6.6rem 4.55rem;
  width: .34rem;
  height: .34rem;
}

.fli_cont {
  height: .32rem;
  line-height: .32rem;
  margin-bottom: .28rem;
  padding: 0 .28rem;
}

.fli_cont1 {
  height: auto;
  width: 100%;
  padding-right: 0;

}

.fli_infp {
  margin-bottom: .3rem;
}

.flight_cir_wrap {
  padding: .35rem 0 .28rem;
  padding-right: .28rem;
}

.fli_cir_left > span {
  display: inline-block;
  vertical-align: top;
}

.fli_cir_right {
  width: 1.5rem;
  text-align: right;
  font-size: .24rem;
}

.flight_terminal {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 3.3rem;
}

.fli_cir_left .go_tip {
  display: inline-block;
  vertical-align: top;
  margin-top: -2px;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -2.22rem -1.33rem;
  background-size: 6.6rem 4.55rem;
  width: .32rem;
  height: .32rem;
}

.fli_cir_left .back_tip {
  display: inline-block;
  vertical-align: top;
  margin-top: -2px;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -2.8rem -1.33rem;
  background-size: 6.6rem 4.55rem;
  width: .32rem;
  height: .32rem;
}

.fli_cir_right i {
  vertical-align: top;
  margin-right: .08rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -5.2rem -2.14rem;
  background-size: 6.6rem 4.55rem;
  width: .26rem;
  height: .30rem;
  display: inline-block;
}

.flight_cir_wrap li:nth-child(2) {
  margin-bottom: 0;
  padding-bottom: .6rem;
}

.cabin_level {
  border-top: 1px solid #e6e6e6;
  margin-left: .28rem;
  padding-top: .3rem;
}

/*机票结束*/

/*酒店开始*/
.hotel_section {
  background-color: #fff;
}

.hotel_wrap {
  padding: .4rem .28rem .2rem;
  border-bottom: 2px solid #e6e6e6;
}

.hotel_wrap li {
  margin-bottom: .32rem;
  color: #666;
}

.fht_hd_tit.hotel > i {
  display: inline-block;
  vertical-align: top;
  margin-top: .09rem;
  margin-right: .16rem;
  width: .5rem;
  height: .5rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -0.96rem -1.25rem;
  background-size: 6.6rem 4.55rem;
}

.hotel_wrap > h3 {
  margin-bottom: .3rem;
  font-weight: bold;
  font-size: .28rem;
}

/*酒店结束*/

/*景点开始*/
.tour_section {
  background-color: #fff;
}

.fht_hd_tit.tour > i {
  display: inline-block;
  vertical-align: top;
  margin-top: .09rem;
  margin-right: .16rem;
  width: .5rem;
  height: .5rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -1.56rem -1.25rem;
  background-size: 6.6rem 4.55rem;
}

.tour_wrap > li {
  padding: .35rem .28rem;
  border-bottom: 1px solid #e6e6e6;
}

.tour_wrap > li:last-child {
  border-bottom: none;
}

.tour_wrap > li p {
  color: #666;
}

.tour_wrap > li .mb_ten {
  color: #333;
  margin-bottom: .2rem;
  font-weight: bold;
}

.orange_line {
  width: .06rem;
  height: .26rem;
  margin-right: .15rem;
  vertical-align: top;
  margin-top: .05rem;
  background-color: #7bc300;
  display: inline-block;
}

/*景点结束*/

/*出行人*/
.traveller_section {
  background-color: #fff;
  padding-bottom: .2rem;
}

.order_twrap {
  padding-left: .28rem;
}

.order_twrap b {
  font-weight: normal;
}

.order_tsl2 {
  float: right;
  font-size: .24rem;
  line-height: .68rem;
  margin-right: .45rem;
  color: #999;
}

li.order_tlist2 {
  position: relative;
  padding: .32rem 0 0;
}

.tra_delete {
  position: absolute;
  left: .28rem;
  top: .32rem;
  width: .4rem;
  height: .4rem;
  background: url(../../images/hotel_flight_tour/icon_payment.png) no-repeat;
  background-position: -3.96rem -.42rem;
  background-size: 6.6rem 1.4rem;
}

.add_traveller {
  position: absolute;
  right: .28rem;
  top: .16rem;
  width: .33rem;
  height: .33rem;
  background: url(../../images/hotel_flight_tour/icon_payment.png) no-repeat;
  background-position: -4.66rem -.44rem;
  background-size: 6.6rem 1.4rem;
}

.traveller_wrap {
  margin-left: .98rem;
  overflow: hidden;
}

.traveller_wrap > span {
  display: block;
  margin-bottom: .3rem;
}

.travel_sex {
  margin-left: .4rem;
}

.card_tra_type {
  width: .8rem;
  display: inline-block;
}

.edit_tips {
  width: .4rem;
  height: .4rem;
  background: url(../../images/ui/icons.png) no-repeat;
  background-size: 5.6rem 4rem;
  background-position: 67% 1%;
  position: absolute;
  top: .3rem;
  right: .2rem;
}

.order_tlist2 span {
  width: 85%;
  overflow: hidden;
  display: block;
}

/*联系人*/
.fht_contact {
  background-color: #fff;
}

.fht_contact {
  margin-bottom: 1.8rem;
}

.fht_con_hd {
  background-color: #f7f7f7;
  height: 0.68rem;
  line-height: 0.68rem;
  border-top: 1px solid #ddd;
  padding: 0 .28rem;
  position: relative;
}

.contact_link_wrap li {
  height: .88rem;
  line-height: .88rem;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 .28rem;
}

.contact_link_wrap li input {
  font-size: .28rem;
  width: 44%;
  padding: .22rem 0;
}

.contact_link_wrap li .hft_con_email {
  width: 80%;
}

.order_ls_cell, .contacts_email > span {
  width: 1.3rem;
}

.tel_code_tip {
  display: inline-block;
  vertical-align: top;
  margin: .2rem 0 0 .32rem;
  width: .4rem;
  height: .4rem;
  background: url(../../images/ui/icons.png) no-repeat;
  background-size: 5.6rem 4rem;
  background-position: 67% 1%;
}

.order_line {
  display: inline-block;
  width: .02rem;
  height: .4rem;
  background-color: #e6e6e6;
  vertical-align: top;
  margin: 0 0.25rem;
  margin-top: .25rem;
}

.contacts_tel_code, .hft_con_cell {
  width: 44%;
  display: inline-block;
  vertical-align: middle;
}

.contacts_tel_code > div {
  float: left;
}

.detail_fale {
  display: inline-block;
  vertical-align: top;
  background: url(../../images/hotel_flight_tour/arrow-up-orange.png) no-repeat;
  background-size: .24rem .14rem;
  width: .32rem;
  height: .2rem;
  transition: 0.3s all ease;
}

.detail_fale.open {
  margin-top: .05rem;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform-origin: 40% 25%;
  -webkit-transform-origin: 40% 25%;
  transition: 0.3s all ease;
}

/*预定footer*/
.order_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fcfcfc;
  height: .98rem;
  width: 100%;
  border-top: 1px solid #e6e6e6;
  z-index: 105;

}

.order_num {
  height: 100%;
  width: 50%;
  line-height: .98rem;
  text-align: center;
}

.order_num_tab {
  width: 85%;
  margin: 0 auto;
}

.order_num span.num1 {
  height: 100%;
  font-size: .3rem;
  margin-left: .43rem;
}

.order_num span.num1 > i {
  color: #ff5b13;
  font-weight: 700;
}

.num_tip {
  width: .6rem;
  height: .98rem;
  padding-top: .4rem;
}

.order_submit {
  height: .98rem;
  line-height: .98rem;
  width: 50%;
  background-color: #FDB330;
  text-align: center;
  color: white;
  font-size: .36rem;
}

.order_submit:hover {
  color: #ccc;
}

/*footer结束*/

/*明细开始*/
.hft_det_mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: 100;
  display: none;
}

.hft_detail_fare {
  transition: 300ms all ease;
  bottom: -8rem;
  padding: .28rem;
  width: 100%;
  height: 4.72rem;
  position: fixed;
  z-index: 102;
  background: #fff;
  font-size: .28rem;
  color: #333;
}

.hft_detail_fare p {
  margin-bottom: 0;
  height: .3rem;
  margin-bottom: .28rem;
}

.hft_detail_fare p span:nth-child(2) {
  float: right;
}

/*明细结束*/

/*国籍tel*/
.country-cho-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200%;
  z-index: 1000;
  display: none;
}

.country-cho-wrap .header {
  height: 45px;
  max-height: 45px;
}

.country-cho-wrap-order {
  position: absolute;
  z-index: 1000;
}

.cl_search {
  height: 30px;
  width: 100%;
  padding-left: 38px;
  padding-right: 15px;
  margin-top: 7px;
  position: relative;
  left: 0;
  top: 0;
  overflow: visible;
}

.cl_search input {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding-left: 24px;
  font-family: 'Microsoft YaHei', STHeiti, Verdana, sans-serif;
}

.cl_search i {
  position: absolute;
  left: 47px;
  top: 10px;
  display: block;
  background: url("../../images/city_search.png");
  background-size: 11px 11px;
  width: 11px;
  height: 11px;
}

.country-list {
  background-color: #fff;
}

.country-list li {
  padding-left: 35px;
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #dfdfdd;
}

.country-hidden {
  z-index: 100;
}

.header-back {
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  left: 0;
}

.go-back {
  position: absolute;
  width: 12px;
  height: 22px;
  left: 15px;
  top: 50%;
  margin-top: -11px;
}

.icons {
  background: url(../../images/ui/icons.png) no-repeat;
  background-size: 243px 160px;
  display: inline-block;
}

/*国籍模糊搜索*/
.country-list-searched {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 1.4px;
  list-style: none;
  position: fixed;
  top: 3.8px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background: #f5f4f9;
  margin-bottom: 0;
  overflow-y: scroll;
  padding-top: 1px;
}

.country-list-searched li.country-list-searched-item {
  width: 100%;
  font-size: 1.4px;
  list-style: none;
  height: 3.4px;
  line-height: 3.4px;
  text-align: left;
  border-bottom: 0.1px solid #dfdfdd;
  margin-bottom: 0;
  padding-left: 4px;

}

/*国籍tel结束*/

/*订单详情已支付*/
.tel_tip {
  position: absolute;
  right: .28rem;
  top: .3rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -4.52rem -1.33rem;
  background-size: 6.6rem 4.55rem;
  width: .34rem;
  height: .34rem;
}

.tot_prinum_wrap {
  height: .88rem;
  line-height: .88rem;
  padding: 0 .28rem;
  border-bottom: 1px solid #e6e6e6;
}

.tot_prinum {
  color: #fb7530;
  font-size: .32rem;
  font-weight: 700;
  margin-left: .1rem;
}

/*电话拨号结束*/

#order_detail {
  margin-bottom: .4rem;
  overflow-x: hidden;
}

.hft_pri_details {
  padding: .4rem .28rem;
  border-bottom: 2px solid #e6e6e6;
}

.hft_pri_details li {
  margin-bottom: .28rem;
}

.hft_pri_details li:last-child {
  margin-bottom: 0;
}

.hft_paid {
  height: .88rem;
  line-height: .88rem;
  font-size: .32rem;
  background-color: #fff;
  text-align: center;
  color: #7bc300;
}

.hft_paid i {
  display: inline-block;
  vertical-align: top;
  margin-top: .2rem;
  margin-left: .12rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -3.38rem -1.3rem;
  background-size: 6.6rem 4.55rem;
  width: .32rem;
  height: .32rem;
}

.order_tot_price {
  background-color: #fff;
}

.fare_tip {
  display: inline-block;
  vertical-align: top;
  margin-left: .05rem;
  margin-top: .24rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -2.3rem -.5rem;
  background-size: 6.6rem 4.55rem;
  width: .32rem;
  height: .32rem;
  transition: 0.3s all ease;
}

.fare_tip.on {
  display: inline-block;
  vertical-align: top;
  margin-left: .05rem;
  margin-top: .24rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -1.84rem -.5rem;
  background-size: 6.6rem 4.55rem;
  width: .32rem;
  height: .32rem;
  transition: 0.3s all ease;
}

.fht_order_tab {
  padding: .35rem 0 0 .28rem;
  background-color: #fff;
  overflow: hidden;
  border-bottom: 2px solid #e6e6e6;
}

.fht_order_tab.border_light {
  border-bottom: none;
}

.fht_order_tab.border_light > li:first-child {
  border-bottom: 1px solid #e6e6e6;
}

.fht_order_tab > li {
  margin-bottom: .28rem;
  padding-right: .28rem;
}

.fht_order_tab p {
  margin-bottom: .32rem;
}

.order_cont_way {
  border-bottom: 2px solid #e6e6e6;
  background-color: #fff;
  padding-bottom: .32rem;
}

.order_cont_way > li {
  padding: .32rem .28rem 0;
}

/*电话拨号开始*/
.jpop_box_tic {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

.jpop_box_tic dl {
  position: fixed;
  width: 64%;
  height: 118px;
  top: 50%;
  left: 50%;
  margin: -59px 0 0 -32%;
  z-index: 5;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  box-shadow: -1px 1px 3px #c7c7c7;
}

.jpop_box_tic dt {
  padding: .36rem 0 .2rem;
  font-size: .36rem;
  color: #5abdb7;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: .24rem;
}

.jpop_box_tic dd {
  overflow: hidden;
  margin: 0 10%;
  font-size: .28rem;
}

.jpop_box_tic dd a, .jpop_box_tic dd span {
  padding: 8px 20px;
  color: #fff;
  border-radius: 3px;
}

.jpop_box_tic dd a {
  float: right;
  background: #7bc300;
}

.jpop_box_tic dd span {
  float: left;
  background: #dfdfdf;
}

.order-status-list li {
  float: left;
  margin-left: .5rem;
}

.order-status-header {
  height: 2rem;
}

.order-status-header .hft_paid {
  background-color: #f7f7f7;
}

.sure {
  height: 87px;
  background: #fff;
}

.sure1 {
  line-height: 35px;
  text-align: center;
  font-weight: bold;
  color: #7bc300;
  margin: 0 23px;
  font-size: .32rem;
}

.sure2 {
  /* height: 52px; */
}

.sure21 {
  height: 52px;
  margin: 0 18px;
}

.tenor {
  margin: 10px 19px;
  height: 10px;
  overflow: visible;
}

.q1 {
  width: 100%;
  overflow: visible;
}

.q2 {
  width: 33%;
  position: relative;
  float: left;
  overflow: visible;
}

.q11 {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background: #7bc300;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}

.q12 {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background: #d0d0d3;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}

.q12.check_light p, .q111.check_light p {
  color: #999;
}

.q22 {
  height: 1px;
  background: #7bc300;
  margin: 5px 5px 0 15px;
}

.q23 {
  height: 1px;
  background: #d6d6d6;
  margin: 5px 5px 0 15px;
}

.q111 {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background: #d0d0d3;
  position: absolute;
  top: 0;
  right: -10px;
  overflow: visible;
}

.q112 {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background: orange;
  position: absolute;
  top: 0;
  right: -10px;
  overflow: visible;
}

.q1 p {
  margin-left: 15px;
  padding: 0;
  position: absolute;
  width: 100px;
  top: 15px;
  left: -30px;
  color: #333;
  font-size: .24rem;
}

.p-but {
  height: 0.98rem;
  background-color: #7bc300;
  text-align: center;
  color: #fff;
  font-size: .36rem;
  line-height: 0.98rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.p-but a {
  color: white;
}

/*机票详情*/
#tpl_order_detail{
  margin-bottom: 1.6rem;
}
.flight_cir_wrap1 li:nth-child(2) {
  padding-top: .3rem;
  padding-bottom: .3rem;
  border-top: 1px solid #e6e6e6;
  border-bottom: 0px solid #e6e6e6;
}
.fli_list{
  padding: 0 .28rem;
}
/*.time-arrow-time >div{*/
/*float: left;*/
/*}*/
.time-arrow-time{
  overflow: visible;
}
.time-arrow-time .city-time-left {
  float: left;
  width: 35%;
}

.time-arrow-time .time-arrow {
  float: left;
  width: 30%;
  height: .4rem;
  margin-top: .3rem;
  background: url("../../images/ui/icon-t.png") no-repeat;
  background-size: 6rem 3.2rem;
  background-position: -.43rem -1.46rem;
}

.time-arrow-time .city-time-right {
  float: right;
  width: 35%;
  text-align: right;
}

/*.time-arrow-time .time-arrow .icon-arrow {*/
/*/!*min-width: 2.2rem;*!/*/
/*/!*min-height: .4rem;*!/*/

/*}*/
.time-arrow-time .time-arrow .icon-arrow span {
  top: -5px;
}

.port-name {
  margin-top: 0.18rem;
  margin-bottom: 0.18rem;
  font-size: .24rem;
}

.fli_info {
  color: #999;
  font-size: .20rem;
}

.line_four{
  display: inline-block;
  margin: 0 .04rem;
}

.fli-stop {
  text-align: center;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  color: #7bc300;
}

.clock {
  color: #333333;
  font-size: .36rem;
}

.fli_retrun {
  margin-top: 0.3rem;
  border-top: 1px solid #ddd;
}

.fli_retrun .fli_infp {
  margin-top: 0.3rem;
}

.flight_cir_wrap1 {
  width: 100%;
  border-bottom: 2px solid #e6e6e6;
}

.fli-status {
  width: 100%;
}

.fli-status li {
  height: 1rem;
  line-height: 1rem;
  vertical-align: middle;
  background-color: #fff;
}

.fli-status li:first-child {
  padding-left: .3rem;
  font-size: .32rem;
  background-color: #fff;
  width: 40%;
  float: left;
  text-align: left;
  color: #fdb330;
}

.fli-status li:last-child {
  padding-right: .3rem;
  width: 60%;
  text-align: right;
  float: right;
}

.fli-status .lasttime {
  color: #fdb330;
}

.tour_wrap {
  background-color: #fff;
  position: relative;
  border-bottom: 2px solid #e6e6e6;
}

/*景点*/
.tour_wrap .productName {
  font-size: .30rem;
  font-weight: bold;
}

.tour_wrap .productCode {
  padding-left: .05rem;
  color: #999999;
}

.tour_productinfo {
  padding: 0 .5rem .2rem .2rem;
  background-color: #fff;

}

.tour_ticketinfo {
  border-bottom: 1px solid #ddd;
}

.tour_productinfo li {

}

.tour_productinfo li:first-child {
  float: left;
  width: 95%;
  background-color: #fff;
  padding-left: .3rem;

}

.tour_productinfo li:last-child {
  float: right;
  padding-right: .3rem;
  width: 5%;
  height: 100%
}

.tour_wrap .tourdetail_icon {
  position: absolute;
  right: .28rem;
  top: 50%;
  background: red;
  margin-top: -.2rem;
  width: 14px;
  height: 14px;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -3.3rem -.5rem;
  background-size: 6.6rem 4.55rem;
}

.tour_ticketdetail {
  padding: .2rem 0 .2rem;
  background-color: #fff;
}

.tour_ticketinfo p {
  padding-top: .1rem
}

.elecheck {
  line-height: .7rem;
  height: .4rem;
}

.icon_left {
  display: inline-block;
  vertical-align: top;
  margin-left: .05rem;
  margin-top: .24rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -3.3rem -.5rem;
  background-size: 6.6rem 4.55rem;
  width: .32rem;
  height: .32rem;
  transition: 0.3s all ease;
}

.tourticket_tip {
  color: #999999;
  font-size: .24rem;
}

.tour-item {
  overflow: hidden;
}

.tour_list {
  background-color: #fff;
}

.tour_list .tour-item {
  margin-right: .3rem;
  margin-left: .3rem;
  padding-top: .3rem;
  padding-bottom: .3rem;
}

.tour_list .line {
  border-top: 1px solid #ddd;
}

.tour_list .tour-item i {
  width: .08rem;
  height: .3rem;
  background-color: #7bc300;
  display: inline-block;
  margin-right: .2rem;
}

.tour_list .tour-item ul {
  width: 100%;
  overflow: hidden;
  margin-top: .1rem;
}

.tour_list .tour-item .col li {
  float: left;
  color: #999999;
}

