.all-element-other {
  position: relative;
}

.tra_con1 {
  margin-top: .92rem;
  text-align: center;
  overflow: hidden;
  padding: .5rem 0 .4rem;
}

.tra_c1_inbox {
  font-size: .36rem;
  color: #333;
  font-weight: bold;
}

.tra_c1_inbox span {
  vertical-align: middle;
}

.tra_c2_inbox {
  background-color: #fff;
  padding: 0 .4rem;
  border-bottom: 2px solid #e6e6e6;
}

.tra_c2_inbox li {
  border-bottom: 1px solid #e6e6e6;
  height: .96rem;
  line-height: .96rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tra_c2_inbox li:last-child {
  border-bottom: none;
}

.tra_c2_inbox h3 {
  font-size: .28rem;
  font-weight: bold;
  display: inline-block;
}

.tra_c2_inbox li >span {
  font-size: .28rem;
  font-weight: bold;
}

.tra_c2_inbox .tra_price {
  margin-top: .1rem;
  font-size: .36rem;
}

.tra_price span {
  color: #fb7530;
}

.tra_btn {
  padding: .4rem .28rem;
}

.tra_btn input {
  width: 46.8%;
  height: .88rem;
  line-height: .88rem;
  font-size: .36rem;
  font-weight: bold;
  color: #7bc300;
  background-color: #f7f7f7;
  border: 1px solid #7bc300;
  border-radius: .04rem;
  -webkit-border-radius: .04rem;
  overflow: hidden;
}

.tra_btn input:hover {
  color: #fff;
  background-color: #7bc300;
}

.tra_btn .tra_btn_div2{
  color: #fff;
  background-color: #7bc300;
}

.tra_con1 .payment_fail {
  display: inline-block;
  background: url(../../images/ui/icon-h.png);
  width: .5rem;
  height: .5rem;
  background-position: -.08rem -.62rem;
  background-size: 2.8rem 1.2rem;
  vertical-align: top;
  margin-top: .04rem;
}

.tra_con1 .payment_success {
  display: inline-block;
  background: url(../../images/ui/icon-h.png);
  width: .5rem;
  height: .5rem;
  background-position: -.6rem -.62rem;
  background-size: 2.8rem 1.2rem;
  vertical-align: top;
  margin-top: .04rem;
}
