<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="green">
    <meta name="Keywords" content="亚洲旅行网">
    <meta name="Description" content="境外专业旅行服务提供机构">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/splash/splash-icon-big.png">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen.png" 	media="screen and (max-device-width: 320px)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six.png" media="(device-width: 375px)">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six-plus.png" media="(device-width: 414px)">
    <link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />
    <link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
    <link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
    <link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)"/>
    <link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)"/>

    <title>景点主页 - 亚洲旅行网</title>

    <link href="../styles/framework.css"	rel="stylesheet" type="text/css">
    <link href="../styles/style.css"		rel="stylesheet" type="text/css">
    <link href="css/scenic.css" rel="stylesheet"/>
    <link href="../styles/owl.theme.css"	rel="stylesheet" type="text/css">
    <!--<link href="css/user.css"	rel="stylesheet" type="text/css">-->
    <link href="../styles/tips.css"	rel="stylesheet">
</head>
<body>
    <div id="preloader">
        <div id="status">
            <p class="center-text">
                <br>
                <em>加载中……</em>
            </p>
        </div>
    </div>
    <!--     banner     -->
    <div class="all-elements">
        <div id="content" class="snap-content">
            <a href="../" class="icons top-back"> </a>
            <div class="top-ban s-active">
                <a href="#">
                    <!--<div class="ban-desc">-->
                        <!--<div>电影照进现实</div>-->
                        <!--<div>—— · 新加坡环球影城 · ——</div>-->
                    <!--</div>-->
                    <img src="images/scenic_top1.png" class="banner-image" alt="img">
                </a>
            </div>
            <div class="top-ban">
                <a href="#">

                        <!--<div>任烟花几月,不辞扬州</div>-->
                        <!--<div>—— · 扬州悠闲两日游 · ——</div>-->

                    <img src="images/scenic_top2.png" class="banner-image" alt="img">
                </a>
            </div>

            <!--<div class="homepage-slider unactive" data-snap-ignore="true" id="banner">-->
                <!--<a href="#">-->
                    <!--<div class="ban-desc">-->
                        <!--<p>电影照进现实</p>-->
                        <!--<p>—— · 新加坡环球影城 · ——</p>-->
                    <!--</div>-->
                    <!--<img src="images/jdzhuye1_01.jpg" class="responsive-image" alt="img">-->
                <!--</a>-->
                <!--<a href="#">-->
                    <!--<img src="images/jdzhuye2_04.jpg" class="responsive-image" alt="img">-->
                <!--</a>-->
                <!--<a href="#">-->
                    <!--<img src="images/jdzhuye3_03.jpg" class="responsive-image" alt="img">-->
                <!--</a>-->
                <!--<a href="#">-->
                    <!--<img src="images/jdzhuye4_03.jpg" class="responsive-image" alt="img">-->
                <!--</a>-->
            <!--</div>-->
            <div class="s-type">
                <div class="menu-active">出境游</div>
                <div>国内游</div>
            </div>
            <div class="out-content s-active">
                <div class="sin-title">国外热游地</div>
                <ul id="out_place">

                </ul>
                <div class = "sin-title">国外热景点</div>
                <ul class = "hotspot">
                    <li>
                        <img src="images/jdzhuye2_04.jpg" class="banner-image" alt="img">
                        <div class="black-block">
                            <b class = "icon1 s-location"></b>
                            吉隆坡
                        </div>
                        <div class="spotDesc">两天一夜酒店+半天吉隆坡城市游览</div>
                        <div><span>￥</span><span class="pay-num">1680</span><span>起</span></div>
                    </li>
                    <li>
                        <img src="images/jdzhuye3_03.jpg" class="banner-image" alt="img">
                        <div class="black-block">
                            <b class = "icon1 s-location"></b>
                            马来西亚
                        </div>
                        <div class="spotDesc">两天一夜酒店+半天马来西亚城市游览</div>
                        <div><span>￥</span><span class="pay-num">26380</span><span>起</span></div>
                    </li>
                    <li>
                        <img src="images/jdzhuye4_03.jpg" class="banner-image" alt="img">
                        <div class="black-block">
                            <b class = "icon1 s-location"></b>
                            马来西亚
                        </div>
                        <div class="spotDesc">两天一夜酒店+半天马来西亚城市游览</div>
                        <div><span>￥</span><span class="pay-num">26380</span><span>起</span></div>
                    </li>
                </ul>
            </div>
            <div class="out-content">
                <div class="sin-title">国内热游地</div>
                <ul id="in_place">

                </ul>
                <div class = "sin-title">国内热景点</div>
                <ul class = "hotspot">
                    <li>
                        <img src="images/jdzhuye6_06.jpg" class="banner-image" alt="img">
                        <div class="black-block">
                            <b class = "icon1 s-location"></b>
                            扬州
                        </div>
                        <div class="spotDesc">两天一夜酒店+半天扬州城市游览</div>
                        <div><span>￥</span><span class="pay-num">1680</span><span>起</span></div>
                    </li>
                    <li>
                        <img src="images/jdzhuye7_07.jpg" class="banner-image" alt="img">
                        <div class="black-block">
                            <b class = "icon1 s-location"></b>
                            扬州
                        </div>
                        <div class="spotDesc">两天一夜酒店+半天扬州城市游览</div>
                        <div><span>￥</span><span class="pay-num">26380</span><span>起</span></div>
                    </li>
                    <li>
                        <img src="images/jdzhuye8_08.jpg" class="banner-image" alt="img">
                        <div class="black-block">
                            <b class = "icon1 s-location"></b>
                            扬州
                        </div>
                        <div class="spotDesc">两天一夜酒店+半天扬州城市游览</div>
                        <div><span>￥</span><span class="pay-num">26380</span><span>起</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="../js/lib/jquery.js"></script>
    <script src="../js/lib/plugins.js"></script>
    <script src="../js/lib/jquery.alert.js"></script>
    <script src="../js/lib/vlm.js"></script>
    <script src="../js/lib/template.js"></script>
    <script src="../js/lib/custom.js"></script>
    <script id="tpl_GetHotCity" type="text/template">
        {% for(var i=0,len=8;i<len;i++){ %}
            <li class = "hotplace {% if(i == 0){ %}pl-active{% } %}" title="{%=data[i].cityCode%}" >{%=data[i].cityChineseName%}</li>
        {% } %}
        <li class = "hotplace" title="more">更多</li>
    </script>
    <script>
        /*景点首页MT*/
        (function(){
            var webkit = this;
            var core = function(){
                var apiurl="http://10.2.22.239:8888/api/GetServiceApiResult";
                vlm.init();
                //刷新热门城市并绑定事件
                var CHotCity=function(){
                    var outplace = $("#out_place")[0].getElementsByTagName("li");
                    var inplace = $("#in_place")[0].getElementsByTagName("li");
                    for(var i=0; i < outplace.length; i++){
                        outplace[i].onclick = function(){
                            for(var i=0; i<outplace.length; i++){
                                outplace[i].className = "hotplace";
                            }
                            this.className='hotplace pl-active';
                            MT.CurrentPageTolist(this.title);
                        }
                    }
                    for(var j=0; j < inplace.length; j++){
                        inplace[j].onclick = function(){
                            for(var j=0; j<inplace.length; j++){
                                inplace[j].className = "hotplace";
                            }
                            this.className='hotplace pl-active';
                            MT.CurrentPageTolist(this.title);
                        }
                    }
                }
                //热门城市跳转
                var CindexTolist = function(cityCode){
                    if(cityCode == "more"){
                        return false;
                    }
                    window.location.href="../scenic/scenic_list.html?DestCityCode="+cityCode;
                    //做预判用的
//                    var SearchAvailableToursAttractions=
//                    {
//                        "Parameters": {
//                            "DestCityCode": cityCode
//                        },
//                        "ForeEndType": 3,
//                        "Code": "0087"
//                    }
//                    vlm.loadJson(apiurl,JSON.stringify(SearchAvailableToursAttractions),SearchAvailableToursAttractionsCallback);
//                    function SearchAvailableToursAttractionsCallback(data){
//                        var json=eval('('+data+')');
////                        console.log(json);
//                        if(json.success){
//                              window.location.href="../scenic/scenic_list.html?DestCityCode="+cityCode;
//
//                        }else {
//                            console.log(json);
//                            jAlert("此城市暂无数据","提示");
//                        }
//                    }

                }

                //切换选项卡
                var CTab = function(){
                    var aBtn=document.getElementsByClassName('s-type')[0].children;
                    var con=document.getElementsByClassName('out-content');
                    var ban=document.getElementsByClassName('top-ban');
                    for(var i=0; i<aBtn.length; i++)
                    {
                        (function(index){

                            aBtn[i].onclick=function(){
                                for(var i=0; i<aBtn.length; i++)
                                {
                                    aBtn[i].className='';
                                    ban[i].className='top-ban';
                                    con[i].className='out-content';
                                }

                                this.className='menu-active';
                                ban[index].className='top-ban s-active';
                                con[index].className='out-content s-active';
                            };
                        })(i);
                    }
                }
                //首页加载动画
                var CAnimload = function()
                {
                    $(window).load(function () {
                        $("#status").fadeOut();
                        $("#preloader").delay(400).fadeOut("medium");
                    });
                }
                //加载国外热门城市
                var CGetExHotCity = function(){
                    var GetExHotCity=
                    {
                        "Parameters": "",
                        "ForeEndType": 3,
                        "Code": "0081"
                    }
                    vlm.loadJson(apiurl,JSON.stringify(GetExHotCity),GetExHotCityCallback);
                    function GetExHotCityCallback(data){
                        var json=eval('('+data+')');
                        console.log(json);
                        if(json.success){
                            var data=json,tpl_GetExHotCity = template("tpl_GetHotCity",data);
                            $("#out_place").html(tpl_GetExHotCity);
                            MT.reloadHotCity();
                        }else {
                            console.log(json);
                            jAlert("数据格式错误","提示");
                        }
                    }
                }
                //加载国内热门城市
                var CGetInHotCity=function(){
                    var GetInHotCity=
                    {
                        "Parameters": "",
                        "ForeEndType": 3,
                        "Code": "0086"
                    }
                    vlm.loadJson(apiurl,JSON.stringify(GetInHotCity),GetInHotCityyCallback);
                    function GetInHotCityyCallback(data){
                        var json=eval('('+data+')');
                        console.log(json);
                        if(json.success){
                            var data=json,tpl_GetInHotCity = template("tpl_GetHotCity",data);
                            $("#in_place").html(tpl_GetInHotCity);
                            MT.reloadHotCity();
                        }else {
                            console.log(json);
                            jAlert("数据格式错误","提示");
                        }
                    }
                }

                return {
                    CreloadHotCity:CHotCity,
                    Cloadtab:CTab,
                    CAnimload:CAnimload,
                    CGetInHotCity:CGetInHotCity,
                    CGetExHotCity:CGetExHotCity,
                    CindexTolist:CindexTolist
                }

            }();
            webkit.MT = webkit.MT || {};

            webkit.MT.load=function(){
                core.CAnimload();//加载动画
                core.CGetExHotCity();//加载境外热门城市
//                core.CGetInHotCity();//加载境内热门城市
                core.Cloadtab();//加载tab选项卡
            }
            webkit.MT.reloadHotCity=function(){//刷新城市
                core.CreloadHotCity();
            }
            webkit.MT.CurrentPageTolist = function(cityCode){
                core.CindexTolist(cityCode);//跳转到目标城市
            }
            MT.load();
        })(jQuery,window,document);
    </script>
</body>
</html>