<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>景点预定明细</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="../styles/framework.css" type="text/css" rel="stylesheet">
    <link href="../styles/style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/scenic.css">
    <!--<link rel="stylesheet" type="text/css" href="css/scenic_order.css">-->
    <link href="../styles/tips.css"	rel="stylesheet">
</head>
<body>

    <div class="all-elements">
        <!--   顶部   -->
        <div class="header">
            <a href="javascript:history.go(-1);" class="icons header-back"></a>
            <h3>景点预订</h3>
        </div>
        <!--   内容   -->
        <div class="sc-content js-content">
            <div class="js-childblock1"></div>
            
            <section class="tourist-ticket-box min320">
                <!--<div class="contact-document">-->
                    <!--<span class="contact-doc-tit">联系人资料</span>-->
                    <!--<span class="contact-select contact-noact"><a href="javascript:;" class="sce-order-login">登陆</a>选择联系人<i class="right-select"></i></span>-->
                <!--</div>-->
                <!--<h3 class="free-login">免登陆下单</h3>-->
                <div class="tourist-tic-wrap">
                    <div class="tourist-ticket clearFix">
                        <h3 class="ticket-take-msg fl">取票人信息</h3>
                        <a href="javascript:;" class="con-add-butto fr" onclick="vlm.f_choice('t','traver','',false,false);"></a>
                    </div>
                    <ul class="tourist-msg tanktick">
                        <li>
                            <span class="tourist-name tour-short">姓：</span><input id="scenic2_name1" style="width:20%;display: inline-block;" placeholder="Liou">
                            <span class="tourist-name tour-short">名：</span><input id="scenic2_name2" style="width:20%;display: inline-block;" placeholder="Venson">
                        </li>
                        <li>
                            <span class="tourist-name tour-short">护照：</span><input id="scenic2_idcard" style="display: inline-block;" placeholder="EA2359923">
                        </li>
                    </ul>
                </div>
                <div class="tourist-ticket-wrap">
                    <div class="tourist-ticket clearFix">
                        <h3 class="ticket-take-msg fl">联系人信息</h3>
                        <a href="javascript:;" class="con-add-butto fr" onclick="vlm.f_choice('t','contact','',false,false);"></a>
                    </div>
                    <ul class="tourist-msg contact">
                        <li><span class="tourist-name tour-short">姓名：</span><input id="scenic2_name" style="display: inline-block;" placeholder="Venson"></li>
                        <li><span class="tourist-name tour-short">手机：</span><input id="scenic2_phone" style="display: inline-block;"  placeholder="+8618611850882"></li>
                        <li><span class="tourist-name tour-short">邮箱：</span><input id="scenic2_email" style="display: inline-block;"  placeholder="113638136@163.com"></li>
                    </ul>
                </div>
                <!--<div class="gray-block"></div>-->
                <!--<section class="sce-introduce-child">-->
                    <!--<p class="sce-introduce-txt">八达岭长城一日游【仅限12-23日-12月30日使用】</p>-->
                    <!--<div class="per-price-wrap clearFix">-->
                        <!--<span class="per-price-tit fl">单价：</span>-->
                        <!--<strong class="per-price-cont fl">¥56</strong>-->
                        <!--<div class="per-price-control fr"><span class="set-sealdown-btn">-</span><i class="set-seal-cont">1</i><span class="set-sealplus-btn">+</span></div>-->
                    <!--</div>-->
                    <!--<ul class="children-wrap">-->
                        <!--<li class="clearFix">-->
                            <!--<span class="child-age fl">儿童年龄1</span>-->
                            <!--<div class="child-age-cont fr"><input type="text" placeholder="2-14"/><span>岁</span></div>-->
                        <!--</li>-->
                        <!--<li class="clearFix">-->
                            <!--<span class="child-age fl">儿童年龄2</span>-->
                            <!--<div class="child-age-cont fr"><input type="text" placeholder="2-14"/><span>岁</span></div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</section>-->
                <div class="gray-block"></div>
                <div class="js-childblock2"></div>

                <div class="add-ticket">
                    <i class="add-tic-btn"></i>
                    <span class="add-tic-txt">添加其他套餐</span>
                </div>
                <div class="gray-block" data-key="holist_page"></div>
                <div class="clearFix hotel-choi-but" data-key="holist_page">
                    <span class="fl">提供接送</span>
                    <b class="hot-arrow-rig"></b>
                    <a id="choHotel" data-key="" class="fr">请选择酒店</a>

                </div>
            </section>
            <div class="order-notice">
                <i class="order-notice-btn on"></i>
                <span class="order-notice-txt">已经阅读亚洲旅行网订票须知</span>
            </div>
        </div>

        <!--    接送酒店列表页     -->
        <div id="holist_page" class="all-elements" data-key="holist_page" style="display: none;">
            <div class="header" style="z-index: 1000">
                <a id="close_list" href="javascript:void(0);" class="icons header-back"></a>
                <div class="sod-search">
                    <img class="sod-fdj" src="../images/1.png">
                    <input type="text" value placeholder="搜索">
                </div>
            </div>
            <div class="sc-content js-PickupPoint" style="z-index: 999">
                <ul class="hote-list">
                    <!--<li>111</li>-->
                    <!--<li>331</li>-->
                    <!--<li>111</li>-->
                    <!--<li>331</li>-->
                    <!--<li>111</li>-->
                    <!--<li>331</li>-->
                </ul>
            </div>
        </div>
        <!--遮罩层-->
        <div class="mask"></div>
        <!--底部-->
        <footer class="order-amount">
            <!--价格明细-->
            <div class="price-tot-box">
                <ul class="price-tot-list">
                    <li><span class="price-per-tit">八达岭长城一日游</span><span class="price-per-tot">¥56×2</span></li>
                    <li><span class="price-per-tit">鸟巢水立方一日游</span><span class="price-per-tot">¥56×4</span></li>
                    <li><span class="price-per-tit">桂林七日游</span><span class="price-per-tot">¥56×4</span></li>
                    <li><span class="price-per-tit">香港迪士尼一日游</span><span class="price-per-tot">¥56×2</span></li>
                </ul>
            </div>
            <div class="order-total-wrap clearFix">
                <span class="fl">订单金额：</span>
                <span class="order-total-fare fl">¥56</span>
                <i class="order-total-tip fl"></i>
                <a href="order-pay.html" class="order-total-btn fr">预定</a>
            </div>
        </footer>
        <!--添加其他套餐-->
        <div class="add-setmeal">
            <div class="add-setmeal-hd">
                <span class="fl">添加其他套餐</span>
                <span class="fr add-setmeal-sure">确定</span>
            </div>
            <ul class="add-setmeal-list js-tpl-ScenicPrices">
                <!--<li>-->
                    <!--<div class="fl">-->
                        <!--<span class="add-setmeal-tit">八达岭长城一日游【仅限12-23日-12月30日使用】儿童票</span>-->
                        <!--<span class="setmeal-tit">单价：<strong class="setmeal-price-cont">¥56</strong></span>-->
                    <!--</div>-->
                    <!--<b class="setmeal-tr on fr"></b>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="fl">-->
                        <!--<span class="add-setmeal-tit">八达岭长城一日游【仅限12-23日-12月30日使用】儿童票</span>-->
                        <!--<span class="setmeal-tit">单价：<strong class="setmeal-price-cont">¥56</strong></span>-->
                    <!--</div>-->
                    <!--<b class="setmeal-tr fr"></b>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="fl">-->
                        <!--<span class="add-setmeal-tit">八达岭长城一日游【仅限12-23日-12月30日使用】儿童票</span>-->
                        <!--<span class="setmeal-tit">单价：<strong class="setmeal-price-cont">¥56</strong></span>-->
                    <!--</div>-->
                    <!--<b class="setmeal-tr fr"></b>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
    <!--<span data-key="CallData" data-code="" style="display: none;">-->
    <script src="../js/lib/jquery.js"></script>
    <script src="../js/lib/plugins.js"></script>
    <script src="../js/lib/jquery.alert.js"></script>
    <script src="../js/lib/vlm.js"></script>
    <script src="../js/lib/template.js"></script>
    <script src="../js/lib/custom.js"></script>
    <script src="../js/lib/d_calendar1.0.2.js"></script>
    <script src="js/dateFix.js"></script>
    <script src="js/scenic_pub.js"></script>
    <script id="tpl_PickupPoint" type="text/template">
        <ul class="hote-list">
            {% for(var i=0,len=data.pickupInfos.length;i<len;i++){ %}
                <li data-key="{%=data.pickupInfos[i].pickupID%}">{%=data.pickupInfos[i].pickupPoint%}</li>
            {% } %}
        </ul>
    </script>
    <script id="tpl_ScenicView1" type="text/template">
        <section class="js-scenicview1 sce-ticket-wrap min320">
            <div class="js-sce-ticket1">

            </div>

            {% if(isAudlt==1){ %}
            <div class="sce-ticket per-price-wrap clearFix">
                <span class="per-price-tit fl">单价：</span>
                <strong class="per-price-cont fl">¥56</strong>
                <div class="per-price-control fr">
                    <span class="cut-down-btn js-cut-down-btn" onclick="MT.PlusCount(this,1,{%=DetailData.data.minPax%},0)">-</span>
                    <i class="cut-up-cont js-Audlt-cont">{%=DetailData.data.minPax%}</i>
                    <span class="plus-btn js-plus-btn" onclick="MT.PlusCount(this,1,{%=DetailData.data.minPax%},1)">+</span>
                </div>
            </div>
            {% }else if(isAudlt==0){ %}
            <div class="sce-ticket per-price-wrap clearFix">
                <span class="per-price-tit fl">单价：</span>
                <strong class="per-price-cont fl">¥{%=isAudlt%}</strong>
                <div class="per-price-control fr">
                    <span class="cut-down-btn js-cut-down-btn" onclick="MT.PlusCount(this,0,{%=DetailData.data.minPax%},0)">-</span>
                    <i class="cut-up-cont js-Child-cont">{%=DetailData.data.minPax%}</i>
                    <span class="plus-btn js-plus-btn" onclick="MT.PlusCount(this,0,{%=DetailData.data.minPax%},1)">+</span>
                </div>
            </div>

            <ul class="children-wrap js-children-wrap">
                {% for(var i=0,len=DetailData.data.minPax;i<len;i++){ %}
                    <li class="clearFix">
                        <span id="child_old" class="child-age fl">儿童年龄{%=i+1%}</span>
                        <div class="child-age-cont fr"><input type="text" placeholder="2-14"/><span>岁</span></div>
                    </li>
                {% } %}
            </ul>
            {% } %}
        </section>
    </script>

    <script id="tpl_ScenicView2" type="text/template">
        <section class="js-scenicview2 sce-ticket-wrap min320">
            <div class="js-sce-ticket2"></div>


            {% if(isAudlt==0){ %}
            <div class="sce-ticket per-price-wrap clearFix">
                <span class="per-price-tit fl">单价：</span>
                <strong class="per-price-cont fl">¥56</strong>
                <div class="per-price-control fr">
                    <span class="cut-down-btn js-cut-down-btn" onclick="MT.PlusCount(this,1,{%=DetailData.data.minPax%},0)">-</span>
                    <i class="cut-up-cont js-Audlt-cont">{%=DetailData.data.minPax%}</i>
                    <span class="plus-btn js-plus-btn" onclick="MT.PlusCount(this,1,{%=DetailData.data.minPax%},1)">+</span>
                </div>
            </div>
            {% }else if(isAudlt==1){ %}
            <div class="sce-ticket per-price-wrap clearFix">
                <span class="per-price-tit fl">单价：</span>
                <strong class="per-price-cont fl">¥{%=isAudlt%}</strong>
                <div class="per-price-control fr">
                    <span class="cut-down-btn js-cut-down-btn" onclick="MT.PlusCount(this,0,{%=DetailData.data.minPax%},0)">-</span>
                    <i class="cut-up-cont js-Child-cont">{%=DetailData.data.minPax%}</i>
                    <span class="plus-btn js-plus-btn" onclick="MT.PlusCount(this,0,{%=DetailData.data.minPax%},1)">+</span>
                </div>
            </div>

            <ul class="children-wrap js-children-wrap">
                {% for(var i=0,len=DetailData.data.minPax;i<len;i++){ %}
                <li class="clearFix">
                    <span id="child_old" class="child-age fl">儿童年龄{%=i+1%}</span>
                    <div class="child-age-cont fr"><input type="text" placeholder="2-14"/><span>岁</span></div>
                </li>
                {% } %}
            </ul>
            {% } %}
        </section>
    </script>

    <script id="tpl_Adult_Child1" type="text/template">

        <div class="sce-ticket">
            <section class="travel-date clearFix">
                <span class="travel-date-tit fl">游玩日期</span>
                <div class="travel-date-wrap fr clearFix">
                    <div id="jdate" class="travel-date-wrap-so fl js-date">

                        <span class="tra-ymd js-ymd"></span>
                        <span class="tra-week js-week"></span>

                        <b></b>
                    </div>
                    <div class="travel-date-wrap-noon fl">
                        <a href="javascript:void(0);" class="fa-noon" onclick="MT.HalfDay(this,1)">上午</a>
                        <a href="javascript:void(0);" class="fa-noon on" onclick="MT.HalfDay(this,0)">下午</a>
                    </div>
                </div>
            </section>
            <section class="sce-introduce">
                <p class="sce-introduce-txt js-sce-introduce-txt"></p>
            </section>
            <div class="gray-block"></div>
        </div>

    </script>

    <script id="tpl_Adult_Child2" type="text/template">

        <div class="sce-ticket">

            <section class="sce-introduce">
                <p class="sce-introduce-txt js-sce-introduce-txt" data-key=""></p>
            </section>

            <div class="gray-block"></div>
        </div>

    </script>

    <script id="tpl_ScenicPrices" type="text/template">
        <li>
            <div class="fl">
                <span class="add-setmeal-tit js-add-setmeal-tit"></span>
                <span class="setmeal-tit">单价：<strong class="setmeal-price-cont js-setmeal-price-cont">¥</strong></span>
            </div>
            <b class="setmeal-tr fr" data-c-id="meal" onclick="MT.MealClick(this);"></b>
        </li>

    </script>




    <script>

        /*景点 预订MT*/
        (function(){
            var val = vlm.parseUrlPara(window.location.href);
            var ChildAgeMin, ChildAgeMax, TravelDate,TourID,MinPax,DetailData,SearchPriceData,globaldata,ExtendData
                    ,StartDate,EndDate;

            /**
             * 接送酒店页Event
             */
            MT.bindEventPickupPoint =function() {
                var choHotel = $('#choHotel');
                var close_list = $('#close_list');
                var holist_page = $('#holist_page');
                var list = $(".hote-list li");


                choHotel.click(function () {
                    holist_page.css({display:'block'});
                });
                close_list.click(function () {
                    holist_page.css({display:'none'});
                });

                list.click(MT.clickHotelList);
            }
            /**
             * 接送酒店列表Event
             */
            MT.clickHotelList = function(){
                $('#choHotel').attr("data-key", $(this).attr("data-key"));
                $('#choHotel').html($(this).html());
                $('#holist_page').css({display:'none'});
            }

            /**
             * 返回接送点信息
             */
            MT.getPickupPoint = function(){
                if(val.RPP == "0"){
                    $("[data-key=holist_page]").hide();
                    return false;
                }
                var param =
                {
                    "Parameters": {
                        "PackageID": val.PackageID
                    },
                    "ForeEndType": 3,
                    "Code": "0089"
                }
                MT.ajaxJson("",JSON.stringify(param),MT.callbackPickupPoint,MT.ajaxAnimIn,MT.ajaxAnimOut);
            }
            /**
             * 接送点信息callback
             * @param data
             */
            MT.callbackPickupPoint = function(data){
                var json=eval('('+data+')');
                console.log(json);
                if(json.success){
                    var data = json,tpl_PickupPoint = template("tpl_PickupPoint",data);
                    $(".js-PickupPoint").html(tpl_PickupPoint);
                    MT.bindEventPickupPoint();
                }else {
                    console.log(json);
                    jAlert(json.message,"提示");
                }
            }
            /**
             * 返回详细信息
             */
            MT.getDetails = function(){
                var param =
                {
                    "Parameters": {
                        "PackageID": val.PackageID
                    },
                    "ForeEndType": 3,
                    "Code": "0088"
                }
                MT.ajaxJson("",JSON.stringify(param),MT.callbackDetails,MT.ajaxAnimIn,MT.ajaxAnimOut);
            }

            /**
             * 详细信息 callback
             * @param data
             */
            MT.callbackDetails = function(data){
                var json=eval('('+data+')');
                DetailData = json;
                console.log(json);
                if(json.success){
                    var data=json.data;


                    ChildAgeMin = data.childAgeMin;
                    ChildAgeMax = data.childAgeMax;
                    TravelDate = data.defaultDepartStartDate;
                    TourID = data.tours;
                    MinPax = data.minPax;


                    var SearchPrice=
                    {
                        "Parameters": {
                            "PackageID": val.PackageID,
                            "Adult": MinPax,
                            "Child": [
                                ChildAgeMin,
                                ChildAgeMax
                            ],
                            "Tours": [

                            ]
                        },
                        "ForeEndType": 3,
                        "Code": "0091"

                    }

                    for (var i = 0;i<data.tours.length;i++)
                    {
                        SearchPrice.Parameters.Tours[i] = {"TourID":data.tours[i].tourID,"TravelDate": TravelDate};
                    }

                    MT.getPickupPoint();
                    MT.getSearchPrice(SearchPrice);
                }else {
                    console.log(json);
                    jAlert(json.message,"提示");
                }
            }

            /**
             * 返回SearchPrice
             */
            MT.getSearchPrice = function(SearchPrice){

                MT.ajaxJson("",JSON.stringify(SearchPrice),MT.callbackSearchPrice,MT.ajaxAnimIn,MT.ajaxAnimOut);
            }

            /**
             * SearchPrice callback
             * @param data
             */
            MT.callbackSearchPrice = function(data){
                var json=eval('('+data+')');
                SearchPriceData = json;
                console.log(json);
                if(json.success){
                    globaldata = {DetailData:DetailData,SearchPriceData:SearchPriceData}

                    MT.render();
                }else {
                    console.log(json);
                    jAlert(json.message,"提示");
                }
            }
            /**
             * 渲染模版
             */
            MT.render = function(){
                var isAudlt = val.ADU;

                if(isAudlt == 1){
                    ExtendData = $.extend({isAudlt:1},globaldata);
                }

                if(isAudlt == 0){
                    ExtendData = $.extend({isAudlt:0},globaldata);
                }

                StartDate =  MT.getYMD(ExtendData.DetailData.data.departValidFrom,"-");
                EndDate =  MT.getYMD(ExtendData.DetailData.data.departValidTo,"-");
                MT.renderView1();

                MT.renderAddPackageView();

                dateHandler();

            }
            /**
             * 渲染view1
             * @constructor
             */
            MT.renderView1 = function(){
                var data = ExtendData;
                var tpl_ScenicView1 = template("tpl_ScenicView1",ExtendData);
                var tpl_Adult_Child1 = template("tpl_Adult_Child1",ExtendData);
                //初始化默认时间
                var defaultTime = MT.getYMD(data.DetailData.data.defaultDepartStartDate,"-");


                $(".js-childblock1").after(tpl_ScenicView1);
                for (var i = 0;i<data.SearchPriceData.data.tourInfos.length;i++){
                    var child_one = $(".js-sce-ticket1").append(tpl_Adult_Child1);
                    child_one.find(".sce-ticket:last").attr("data-key",1);
                    child_one.find(".sce-ticket:last").attr("id","jdate"+i);
                    child_one.find("#jdate > .js-ymd").html(defaultTime).next(".js-week").html(MT.getWeek(defaultTime));
                    child_one.find(".js-sce-introduce-txt:last").attr("data-key",data.SearchPriceData.data.tourInfos[i].tourID);
                    child_one.find(".js-sce-introduce-txt:last").html(data.SearchPriceData.data.tourInfos[i].tourName);
                }
            }
            /**
             * 渲染view2
             * @constructor
             */
            MT.renderView2 = function(){
                var data = ExtendData;
                var tpl_ScenicView2 = template("tpl_ScenicView2",ExtendData);
                var tpl_Adult_Child2 = template("tpl_Adult_Child2",ExtendData);

                $(".js-childblock2").after(tpl_ScenicView2);
                for(var j=0;j<data.SearchPriceData.data.tourInfos.length;j++){
                    var child_two = $(".js-sce-ticket2").append(tpl_Adult_Child2);
                    child_two.find(".js-sce-introduce-txt:last").attr("data-key",data.SearchPriceData.data.tourInfos[j].tourID);
                    child_two.find(".js-sce-introduce-txt:last").html(data.SearchPriceData.data.tourInfos[j].tourName);
                }
            }
            /**
             * 渲染添加套餐菜单
             * @constructor
             */
            MT.renderAddPackageView = function(){
                var data = ExtendData;
                var tpl_ScenicPrices = template("tpl_ScenicPrices",data);

                for(var k=0;k<data.SearchPriceData.data.prices.length;k++){
                    var child_price = $(".js-tpl-ScenicPrices").append(tpl_ScenicPrices);
                    var title = data.SearchPriceData.data.prices[k].title;
                    child_price.find(".js-add-setmeal-tit:last").html(title);
                    if(val.ADU == 1 && data.SearchPriceData.data.prices[k].category == "ADULT"){
                        child_price.find("[data-c-id=meal]:last").attr("class","setmeal-tr fr on");
                        child_price.find("[data-c-id=meal]:last").attr("data-first",1);
                    }
                    if(val.ADU == 0 && data.SearchPriceData.data.prices[k].category == "CHILD"){
                        child_price.find("[data-c-id=meal]:last").attr("class","setmeal-tr fr on");
                        child_price.find("[data-c-id=meal]:last").attr("data-first",1);
                    }
                    child_price.find("[data-c-id=meal]:last").attr("data-category",data.SearchPriceData.data.prices[k].category);
                    child_price.find(".js-setmeal-price-cont:last").html("¥"+data.SearchPriceData.data.prices[k].amountInCNY);
                }
            }


            /**
             * 上午 下午
             */
            MT.HalfDay = function(obj,halfday){

                if(halfday){
                    if($(obj).attr("class") == "fa-noon"){
                        $(obj).next().attr("class","fa-noon");
                        $(obj).attr("class","fa-noon on");
                    }
                }else {
                    if($(obj).attr("class") == "fa-noon"){
                        $(obj).prev().attr("class","fa-noon");
                        $(obj).attr("class","fa-noon on");
                    }
                }

            }


            /**
             * 增加减少单价
             * @param obj
             * @param isAudlt
             * @param minPax
             * @constructor
             */
            MT.PlusCount = function(obj,isAudlt,minPax,mark){
                var current = 1;
                var AudltCount =$("js-Audlt-cont").html();
                var ChildCount =$("js-Child-cont").html();
                var child_yearsold;
                if(isAudlt){
                    if(mark == 1){
                        current = parseInt($(obj).prev().html());
                        $(obj).prev().html(current+1);
                    }else{
                        current = parseInt($(obj).next().html());
                        if(current > minPax ){
                            $(obj).next().html(current-1);
                        }

                    }

                }else{
                    if(mark == 1){
                        current = parseInt($(obj).prev().html());
                        $(obj).prev().html(current+1);
                        child_yearsold = $("<li class='clearFix'>" +
                                "<span id='child_old' class='child-age fl'>儿童年龄"+(current+1)+"</span>" +
                                "<div class='child-age-cont fr'><input type='text' placeholder='2-14'/><span>岁</span></div>" +
                                "</li>");

                        $(".js-children-wrap").append(child_yearsold);
                    }else{
                        current = parseInt($(obj).next().html());
                        if(current > minPax ){
                            $(obj).next().html(current-1);
                            $(".js-children-wrap:last-child").children("li:last").remove();
                        }

                    }
                }
            }


            /**
             * 初始化添加套餐列表
             * @constructor
             */
            MT.InitMorePackage = function(){
                var oSetBtn=$(".add-ticket");
                var oAddwin=$(".add-setmeal");
                var oMaskWin=$(".mask");
                var oSetmealBtn=$(".add-setmeal-sure");


                oSetBtn.click(function(){
                    oMaskWin.css({display:'block'});
                    oAddwin.css({bottom:'0'});
                });

                oSetmealBtn.click(function(){
                    oMaskWin.css({display:'none'});
                    oAddwin.css({bottom:'-500px'});
                    var addval = $(".js-tpl-ScenicPrices").find("[data-add]").attr("data-add");
                    if(addval != undefined){
                        if(addval == 1){
                            MT.renderView2();
                        }else{
                            $(".js-scenicview2").remove();
                        }
                    }else{
                        if(addval == 0){
                            $(".js-scenicview2").remove();
                        }

                    }

                });

            }
            /**
             * 操作套餐列表
             * @param obj
             * @constructor
             */
            MT.MealClick = function(obj){
                var currentClass = $(obj).attr("class");
                var firstval = $(obj).attr("data-first");
                if(firstval){
                    return false;
                }

                if(currentClass == "setmeal-tr fr"){
                    $(obj).attr("class","setmeal-tr fr on");
                    $(obj).attr("data-add",1);
                }else{
                    $(obj).attr("class","setmeal-tr fr");
                    $(obj).attr("data-add",0);
                }
            }

            /**
             * 景点选择日期
             * @constructor
             */
            function dateHandler(){
                var startDate = StartDate;
                var endDate = EndDate;
                var allOuter = document.querySelectorAll('.travel-date-wrap-so');
                var chooseDate=function(id, dateNum , startDate, endDate){
                    var rangeArray = [startDate, endDate];
                    var myDate= new TicketDate({
                        id: id,
                        num: 13,
                        time: {},
                        sClass1:dateNum,
                        type:'Oneway',
                        _word:{tip:['入住']},
                        range:rangeArray,
                        fn:function(){
                        }
                    });
                };

                var initDate = function(){
                    for(var i = 0; i<allOuter.length;i++ ){
                        (function(){
                            var id = allOuter[i].id;
                            chooseDate(id, 'tra-ymd', startDate, endDate)
                        })(allOuter[i]);
                    }
                }
                initDate();

            }




            MT.getDetails();
            MT.InitMorePackage();




        })();




        //添加更多套餐弹窗
//        (function(){
//            var oSetBtn=document.querySelector('.add-ticket');
//            var oAddwin=document.querySelector('.add-setmeal');
//            var oMaskWin=document.querySelector('.mask');
//            var oSetmealBtn=document.querySelector('.add-setmeal-sure');
//            var aMealBtn=document.querySelectorAll('.setmeal-tr');
//
//            oSetBtn.onclick=function(){
//                oMaskWin.style.display='block';
//                oAddwin.style.bottom='0';
//
//                oSetmealBtn.onclick=function(){
//                    oMaskWin.style.display='none';
//                    oAddwin.style.bottom='-500px';
//                };
//            };

//            for(var i=0;i<aMealBtn.length; i++)
//            {
//                aMealBtn[i].flag=true;
//                aMealBtn[i].onclick=function(){
//                    if(this.flag)
//                    {
//                        this.className='setmeal-tr on fr';
//                        this.flag=false;
//                    }
//                    else
//                    {
//                        this.className='setmeal-tr fr';
//                        this.flag=true;
//                    }
//                };
//            }
//        })();

        //选择上午下午
//        (function(){
//            var oTraBtn=document.querySelector('.travel-date-wrap-noon').querySelectorAll('a');
//            for(var i=0;i<oTraBtn.length; i++)
//            {
//                oTraBtn[i].onclick=function(){
//                     for(var i=0;i<oTraBtn.length; i++)
//                     {
//                         oTraBtn[i].className='fa-noon';
//                     }
//                    this.className='fa-noon on';
//                };
//            }
//        })();

        /*票数加减*/
        /*
        (function(){
            function toUp(m,n){
                var oNum=document.getElementsByClassName(m)[0];
                var oBtn=document.getElementsByClassName(n)[0];
                oBtn.onclick=function(){
                    var str=oNum.innerHTML;
                    str=Number(str);
                    str=str+1;
                    oNum.innerHTML=str;
                };
            }
            function toDown(m,n){
                var oNum=document.getElementsByClassName(m)[0];
                var oBtn=document.getElementsByClassName(n)[0];

                oBtn.onclick=function(){
                    var str=oNum.innerHTML;
                    str=Number(str);
                    if(str<=1){
                        oNum.innerHTML=1;
                    }else{
                        str=str-1;
                        oNum.innerHTML=str;
                    }
                };
            }
            toUp('cut-up-cont','plus-btn');
            toDown('cut-up-cont','cut-down-btn');

            toUp('set-seal-cont','set-sealplus-btn');
            toDown('set-seal-cont','set-sealdown-btn');

        })();
        */

        /*同意条款*/
        (function(){
            var oAgree=document.getElementsByClassName('order-notice-btn')[0];
//            var book = document


            var bOk=false;

            oAgree.onclick=function(){
                if(bOk){
                    oAgree.style.background='url(images/ui/icons1.png) -23.7rem -0.4rem';
                    oAgree.style.backgroundSize='40rem 12rem';
                    bOk=false;
                }else{
                    oAgree.style.background='url(images/ui/icons1.png) -26.6rem -0.4rem';
                    oAgree.style.backgroundSize='40rem 12rem';
                    bOk=true;
                }
            };

            oAgree.style.background='url(images/ui/icons1.png) -23.7rem -0.4rem';
            oAgree.style.backgroundSize='40rem 12rem';
        })();

        /*价目详情窗*/
        (function(){
            var detaBtn=document.getElementsByClassName('order-total-tip')[0];
            var oHid=document.getElementsByClassName('price-tot-box')[0];
            var oMask=document.getElementsByClassName('mask')[0];
            var bOk=true;
            detaBtn.onclick=function(){
                if(bOk){
                    oMask.style.display='block';
                    oHid.style.bottom='50px';
                    bOk=false;
                }else{
                    oMask.style.display='none';
                    oHid.style.bottom='-300px';
                    bOk=true;
                }
            };
            oMask.onclick = function(){
                if(bOk == false){
                    oMask.style.display='none';
                    oHid.style.bottom='-300px';
                    bOk=true;
                }
            }
        })();




        function SelectPersonInformation(html,isContact){
            if(html !="") {
                if (!isContact ) {
                    $(".tanktick li").remove();
                    $(".tanktick").append(html);
                }
                else {
                    $(".contact li").remove();
                    $(".contact").append(html);
                }
            }
        }

    </script>

</body>

</html>

