<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="green">
    <meta name="Keywords" content="亚洲旅行网">
    <meta name="Description" content="境外专业旅行服务提供机构">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <title>景点详情 - 亚洲旅行网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="../styles/framework.css" type="text/css" rel="stylesheet">
    <link href="../styles/style.css" type="text/css" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="css/sce_detail.css">-->
    <link href="css/scenic.css" rel="stylesheet"/>
    <link href="../styles/tips.css"	rel="stylesheet">
    <link href="../css/user.css"	rel="stylesheet">

</head>
<body>
    <div class="all-elements">
        <div id="content" class="snap-content">
            <a href="javascript:history.go(-1);" class="icons top-back"></a>
            <div class="sce-detail-exhi">
                <h3>景点详情</h3>
                <img id="ScenicTopImg" src="images/greatwall-sun.jpg" alt="img"/>
                <div id="Title" class="black-block" style="padding-left: 14px;">

                </div>
            </div>
            <ul class="sd-time">
                <li>
                    <b class="jd-icon s-ding"></b>
                    预定时间：<span id="ScheduledTimeFrom"> </span>至<span id="ScheduledTimeTo"> </span>
                </li>
                <li>
                    <b class="jd-icon s-you"></b>
                    游行时间：<span id="ParadeTimeFrom"> </span>至<span id="ParadeTimeTo"> </span>
                </li>
            </ul>
            <ul class="spot-info">
                <li>
                    <b class="jd-icon s-spe"></b>
                    特色亮点
                </li>
                <li id="Feature">

                </li>
                <li>
                    <b class="jd-icon s-open"></b>
                    营业时间
                    <div class="spe-state"> </div>
                </li>
                <li>
                    <b class="jd-icon s-addr"></b>
                    营业地址
                    <div id="BusinessAddress" class="spe-state"></div>
                </li>
                <li>
                    <b class="jd-icon s-combo"></b>
                    景点套餐
                </li>
                <li id="ScenicPackage" style="padding:0;margin:0;border:none;">

                </li>

                <li class="no-class">
                    <b class="jd-icon s-plan"></b>
                    行程安排
                    <b class="jd-icon s-up"></b>
                </li>
                <li id="TripPlan" class="state-detail s-active">

                </li>
                <li class="no-class">
                    <b class="jd-icon s-atten"></b>
                    注意事项
                    <b class="jd-icon s-down"></b>
                </li>
                <li id="Attention" class="state-detail">

                </li>
                <li class="no-class">
                    <b class="jd-icon s-service"></b>
                    服务条款
                    <b class="jd-icon s-down"></b>
                </li>
                <li id="ServTerm" class="state-detail">

                </li>
                <li class="no-class">
                    <b class="jd-icon s-spdet"></b>
                    景点详情
                    <b class="jd-icon s-down"></b>
                </li>
                <li id="spotDetail" class="state-detail">
                    <!--<ul class="spe-detail">-->
                        <!--<li>八达岭长城，位于北京市延庆县军都山关沟古道北口是中国古代伟大的防御工程位于北京市延庆县军防御工程位于北京市延庆县</li>-->
                        <!--<li>八达岭长城，位于北京市延庆县军都山关沟古道北口是中国古代伟大的防御工程位于北京市延庆县军防御工程位于北京市延庆县</li>-->
                        <!--<li>八达岭长城，位于北京市延庆县军都山关沟古道北口是中国古代伟大的防御工程位于北京市延庆县军防御工程位于北京市延庆县</li>-->
                    <!--</ul>-->
                </li>
            </ul>
        </div>
    </div>
    <script src="../js/lib/jquery.js"></script>
    <script src="../js/lib/plugins.js"></script>
    <script src="../js/lib/jquery.alert.js"></script>
    <script src="../js/lib/vlm.js"></script>
    <script src="../js/lib/template.js"></script>
    <script src="../js/lib/custom.js"></script>
<script id="tpl_GetDetails_Package_Title" type="text/template">
    {%=packageName%}
</script>
<script id="tpl_GetDetails_Package_ScheduledTimeFrom" type="text/template">
    {%=salesFrom%}
</script>
<script id="tpl_GetDetails_Package_ScheduledTimeTo" type="text/template">
    {%=salesTo%}
</script>
<script id="tpl_GetDetails_Package_ParadeTimeFrom" type="text/template">
    {%=departValidFrom%}
</script>
<script id="tpl_GetDetails_Package_ParadeTimeTo" type="text/template">
    {%=departValidTo%}
</script>
<script id="tpl_GetDetails_Package_Feature" type="text/template">
    {%=inclusiveItem%}
</script>
<script id="tpl_GetDetails_Package_BusinessAddress" type="text/template">
    {%=country%} {%=destCity%}
</script>
<script id="tpl_GetDetails_Package_ScenicPackage" type="text/template">
    {% for(var i=0,len=data.prices.length;i<len;i++){ %}
    <li>
        <div class="combo-name">{%=data.packageName%}{% if(data.prices[i].category=="ADULT"){ %}(ADULT){% }else{ %}(CHILD){% } %}</div>
        <div class="combo-price">{%=data.prices[i].amountInCNY%}</div>
        <a href="javascript:MT.CCheckLogin({%=packageID%});" class="s-reserve button-orange">预定</a>
        <!--Object {email: "test@qq.com", Password: "123456", CultureName: ""}-->
        <!--<a href="../scenic/scenic_order_detail.html?PackageID={%=packageID%}" class="s-reserve button-orange">预定</a>-->
    </li>
    {% } %}
</script>
<script id="tpl_GetDetails_Package_TripPlan" type="text/template">
    {%=overview%}
</script>
<script id="tpl_GetDetails_Package_Attention" type="text/template">
    {%=importantNotes%}
</script>
<script id="tpl_GetDetails_Package_ServTerm" type="text/template">
    {%=termsConditions%}
</script>

<script>
    /*景点 目标城市列表页MT*/
    (function(){
        var webkit = this;
        var core = function(){
            var val = vlm.parseUrlPara(window.location.href);
            var apiurl="http://10.2.22.239:8888/api/GetServiceApiResult",
                    themeId = "",OnlyForAdult, MinPax,MaxAdult,ChildAgeMax,ChildAgeMin,TourID,TravelDate;
            var defineProperty = {
                get apiurl (){
                    return apiurl;
                },
                set apiurl (value){
                    apiurl = value;
                },
                get themeId (){
                    return themeId;
                },
                set themeId (value){
                    themeId = value;
                },get OnlyForAdult (){
                    return OnlyForAdult;
                },
                set OnlyForAdult (value){
                    OnlyForAdult = value;
                },get MinPax (){
                    return MinPax;
                },
                set MinPax (value){
                    MinPax = value;
                },get MaxAdult (){
                    return MaxAdult;
                },
                set MaxAdult (value){
                    MaxAdult = value;
                },get ChildAgeMin (){
                    return ChildAgeMin;
                },
                set ChildAgeMin (value){
                    ChildAgeMin = value;
                },get ChildAgeMax (){
                    return ChildAgeMax;
                },
                set ChildAgeMax (value){
                    ChildAgeMax = value;
                },get TourID (){
                    return TourID;
                },
                set TourID (value){
                    TourID = value;
                },get TravelDate (){
                    return TravelDate;
                },
                set TravelDate (value){
                    TravelDate = value;
                }
            };

            vlm.init();


            /**
             * @动画模版
             * @constructor
             */
            var CTmplAnim = function(){
                var _childhtml = '<div id="preloader"><div id="status"><p class="center-text"><br><em>加载中……</em></p></div></div>';
                var _roothtml = $(_childhtml)[0];

                return _roothtml;
            }

            /**
             * @动画淡入
             * @constructor
             */
            var CAnimIn = function(){
                if($("[id=preloader]").length < 1){
                    document.body.appendChild(CTmplAnim());
                }
                $("#preloader").ajaxStart(function(){
                    $(this).show();
                });

            }

            /**
             * 动画淡出
             * @constructor
             */
            var CAnimOut = function(){

                $("#preloader").ajaxStop(function(){
                    $(this).delay(400).fadeOut();
                });

            }

            /**
             * @loadJson 增强方法 CLoadJson ,加入了两个参数 animin (淡入动画),animout(淡出动画)
             * @param url
             * @param data
             * @param mycallback
             * @param animin ,type function [new]
             * @param animout ,type function [new]
             * @param async
             * @param encryption
             * @constructor
             */
            var CLoadJson = function(url, data, mycallback,animin,animout, async, encryption) {
                if (async != undefined && async == true) {
                    $.ajaxSetup({
                        async : false
                    });
                }


                $.ajax({
                    type : "post",
                    url : url + '?rnd=' + Math.random(),
                    data : data,
                    contentType : 'application/json;charset=utf-8',
                    beforeSend : function(xhr) {
                        if(animin!=undefined && animin != ""){
                            animin();
                        }
                        //后续开始加密，设置header
                        //xhr.setRequestHeader('Content-Type','application/json');
                        if (encryption != undefined && encryption == true) {
                            var uid = md5("zhangfengming");
                            var password = md5("");
                            xhr.setRequestHeader('uid', user);
                        }
                    },
                    success : function(jsondata) {

                        mycallback(jsondata);


                    }
                });
                if(animout!=undefined && animout != ""){
                    animout();//动画淡出
                }
                $.ajaxSetup({
                    async : true
                });
            }

            /**
             * 加载详情
             * @constructor
             */
            var CLoadGetDetails = function(){


                var GetDetails=
                {
                    "Parameters": {
                        "PackageID": val.packageID
                    },
                    "ForeEndType": 3,
                    "Code": "0088"
                }
                CLoadJson(defineProperty.apiurl,JSON.stringify(GetDetails),GetDetailsCallback,CAnimIn,CAnimOut);

            }

            /**
             * 加载详情 [CLoadGetDetails Callback]
             * @param data
             * @constructor
             */
            var GetDetailsCallback = function(data){
                var json=eval('('+data+')');
                console.log(json);
                if(json.success){
                    var data=json.data,tpl_GetDetails_Package_Title = template("tpl_GetDetails_Package_Title",data),
                            tpl_GetDetails_Package_ScheduledTimeFrom = template("tpl_GetDetails_Package_ScheduledTimeFrom",data),
                            tpl_GetDetails_Package_ScheduledTimeTo = template("tpl_GetDetails_Package_ScheduledTimeTo",data),
                            tpl_GetDetails_Package_ParadeTimeFrom = template("tpl_GetDetails_Package_ParadeTimeFrom",data),
                            tpl_GetDetails_Package_ParadeTimeTo = template("tpl_GetDetails_Package_ParadeTimeTo",data),
                            tpl_GetDetails_Package_BusinessAddress = template("tpl_GetDetails_Package_BusinessAddress",data),
                            tpl_GetDetails_Package_Feature = template("tpl_GetDetails_Package_Feature",data),
                            tpl_GetDetails_Package_TripPlan = template("tpl_GetDetails_Package_TripPlan",data.tours),
                            tpl_GetDetails_Package_Attention = template("tpl_GetDetails_Package_Attention",data.tours),
                            tpl_GetDetails_Package_ServTerm = template("tpl_GetDetails_Package_ServTerm",data);

                    defineProperty.ChildAgeMin = data.childAgeMin;
                    defineProperty.ChildAgeMax = data.childAgeMax;
                    defineProperty.TravelDate = data.defaultDepartStartDate;
                    defineProperty.TourID = data.tours;
                    defineProperty.MinPax = data.minPax;


                    var SearchPrice=
                    {
                        "Parameters": {
                            "PackageID": val.packageID,
                            "Adult": defineProperty.MinPax,
                            "Child": [
                                defineProperty.ChildAgeMin,
                                defineProperty.ChildAgeMax
                            ],
                            "Tours": [

                            ]
                        },
                        "ForeEndType": 3,
                        "Code": "0091"

                    }

                    for (var i = 0;i<data.tours.length;i++)
                    {
                        SearchPrice.Parameters.Tours[i] = {"TourID":data.tours[i].tourID,"TravelDate": defineProperty.TravelDate};
                    }

                    console.log(SearchPrice);

                    $("#ScenicTopImg").attr("src",data.pictureURL);
                    $("#Title").html(tpl_GetDetails_Package_Title);
                    $("#ScheduledTimeFrom").html(tpl_GetDetails_Package_ScheduledTimeFrom);
                    $("#ScheduledTimeTo").html(tpl_GetDetails_Package_ScheduledTimeTo);
                    $("#ParadeTimeFrom").html(tpl_GetDetails_Package_ParadeTimeFrom);
                    $("#ParadeTimeTo").html(tpl_GetDetails_Package_ParadeTimeTo);
                    $("#BusinessAddress").html(tpl_GetDetails_Package_BusinessAddress);
                    $("#Feature").html(tpl_GetDetails_Package_Feature).find("ul").addClass("s-special");
                    $("#TripPlan").html(tpl_GetDetails_Package_TripPlan).find("ul").addClass("s-special");
                    $("#Attention").html(tpl_GetDetails_Package_Attention).find("ul").addClass("s-special");
                    $("#ServTerm").html(tpl_GetDetails_Package_ServTerm).find("ul").addClass("s-special");

                    CLoadSearchPrice(SearchPrice);
                }else {
                    console.log(json);
                    jAlert(json.message,"提示");
                }
            }
            /**
             * 查询价格
             * @constructor
             */
            var CLoadSearchPrice = function(SearchPrice){


                CLoadJson(defineProperty.apiurl,JSON.stringify(SearchPrice),SearchPriceCallback,CAnimIn,CAnimOut);
                function SearchPriceCallback(data){
                    var json=eval('('+data+')');
                    console.log(json);
                    if(json.success){
                        var data=json.data,tpl_GetDetails_Package_ScenicPackage = template("tpl_GetDetails_Package_ScenicPackage",data);
                        $("#ScenicPackage").html(tpl_GetDetails_Package_ScenicPackage);
                    }else {
                        console.log(json);
                        jAlert(json.message,"提示");
                    }
                }

            }

            //判断是否登录
            var CCheckLogin = function(packageId){
                var islogin = vlm.checkLogin(localStorage.getItem("login"));
//                console.log(vlm.checkLogin(localStorage.getItem("login")));
                if(islogin == true){
                    window.location.href = "../scenic/scenic_order_detail.html?PackageID="+packageId;
                }else{
//                    jAlert("登录失败","提示");
                    return false;
                }

            }



            var CrefreshTab=function(){
                var li = document.getElementsByClassName('no-class');
                var li_ul = document.getElementsByClassName('state-detail');
                for(var i = 0;i < li.length;i++){
                    {
                        (function(index){
                            li[i].onclick=function(){
                                var b = li[index].getElementsByTagName('b')[1];
                                if(li_ul[index].className == 'state-detail'){
                                    li_ul[index].className = 'state-detail s-active';
                                    b.className = 'jd-icon s-up';
                                }else{
                                    li_ul[index].className = 'state-detail';
                                    b.className = 'jd-icon s-down';
                                }
                            };
                        })(i);
                    }
                }
            }



            return {
                CLoadGetDetails:CLoadGetDetails,
                CLoadSearchPrice:CLoadSearchPrice,
                CrefreshTab:CrefreshTab,
                CCheckLogin:CCheckLogin
            }

        }();
        webkit.MT = webkit.MT || {};
        webkit.MT.load = function(){
            core.CLoadGetDetails();
            core.CrefreshTab();
        }
        webkit.MT.CCheckLogin=function(packageId){
            core.CCheckLogin(packageId);
        }

        MT.load();
    })();
</script>

</body>
</html>
