input::-webkit-input-placeholder { color: #D1D1D1!important }
input:-moz-placeholder { color: #D1D1D1 !important }
input::-moz-placeholder { color: #D1D1D1 !important }
input:-ms-input-placeholder { color: #D1D1D1 !important}
.hTab {
  width: 100%;
  height: .88rem;
  line-height: .88rem;
  background-color: #fcfcfc;
  font-size: .32rem;
  /*border-bottom: 1px solid #e6e6e6;*/
  overflow: hidden;
}

.white {
  background: #FFFFFF
}

.paddingTop{
   padding-top: .88rem;
}
.clear_shadow {
  box-shadow: none;
}

.bottomFix {
  position: fixed;
  bottom: 0;
}

.addPaddingTop {
  padding-top: 1.76rem;
}
.addMarginBottomHigh{
  margin-bottom: 1.96rem;
}

.singleTrip, .doubleTrip{
  border-bottom: .02rem solid #DEDEDE;
}

.singleTrip, .doubleTrip , .international_title, .domestic_title{
  float: left;
  width: 50%;
  height: 100%;
  font-size: .32rem;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.doubleTrip {
  float: right;
}

.light-title {
  border-bottom: 0.06rem solid #7bc300;
  color: #7bc300;
}

.grey-title {
  color: rgb(153, 153, 153)
}

.place {
  height: 1.2rem;
  line-height: 1.2rem;
  padding: 0 .28rem;
  background: #fff;
  color: rgb(51, 51, 51);
  font-size: .36rem;
  position: relative;
}

.origin, .destination {
  height: 100%;
  width: 50%;
  line-height: 1.2rem;
}

.origin {
  float: left;
}

.destination {
  float: right;
}

.origin > div {
  text-align: left;
  margin-right: .68rem;
  border-bottom: 1px solid #dedede;
}

.destination > div {
  text-align: right;
  margin-left: .68rem;
  border-bottom: 1px solid #dedede;
}

.iconTip {
  width: .560rem;
  height: .560rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -.280rem;
  margin-top: -.280rem;
}

.iconTip > div {
  margin: 0 auto;
  width: .54rem;
  height: .54rem;
  background-image: url(../../images/ui.1.0/icon_common.png);
  background-repeat: no-repeat;
  background-size: 7.90rem auto;
  background-position: -3.708rem -3.12062rem;
  overflow: hidden;
}

.span-target {
  height: .56rem;
  width: .56rem;
  background: url(../../images/ui/fly-roll.png) no-repeat;
  background-size: .56rem .56rem;
  position: absolute;
  top: 0
}

.realInfo {
  height: 1.60rem;
  padding: 0 .28rem;

}

.dateInfo {
  height: 1.6rem;
  padding: 0 .28rem;

}

#timeSingleWrap {
  display: none
}

#timeDoubleWrap {
  display: block
}

.single_date .to-word, .single_date .set-to {
  visibility: hidden
}

.date-word {
  padding: .240rem 0;
  font-size: .24rem;
  color: rgb(153, 153, 153);
  height: .24rem;
  line-height: .24rem;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

.date-word .from-word {
  float: left
}

.date-word .to-word {
  float: right
}

.date-value {
  font-size: 0.4rem;
  font-weight: bold;
}

.date-value .set-from {
  float: left
}

.date-value .set-to {
  float: right
}

.date-value .set-from > span:nth-child(2), .date-value .set-to > span:nth-child(2) {
  font-size: 0.24rem;
  color: rgb(51, 51, 51)
}

.adult, .child, .cabin-wrap, .search-button {
  height: .96rem;
  line-height: .96rem;
  margin: 0 .28rem;
  border-bottom: 1px solid #e6e6e6;
}
.age-range {
  font-size: .26rem;
  color: #D1D1D1;
  letter-spacing: .02rem;
}
.pas-num-wrap .minus, .pas-num-wrap .plus {
  display: inline-block;
  width: .54rem;
  height: .54rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-size: 7.9rem 5.13rem;
  background-position: -3.05rem -3.132rem;
  position: relative;
  top: .156rem
}

.pas-num-wrap .plus_grey {
  background-position: -2.161rem -3.14rem;
}

.pas-num-wrap .minus {
  background-position: -1.29rem -3.132rem;
}

.pas-num-wrap .minus_grey {
  background-position: -.508rem -3.132rem;
}

.adultNumber, .childNumber {
  display: inline-block;
  width: .80rem;
  text-align: center;
  font-size: .32rem;
  color: rgb(51, 51, 51)
}

.cabin-wrap {
  margin: 0;
  padding: 0 .28rem
}

.adult {
  border-top: 1px solid #e6e6e6;
}

.cabin-arrow {
  display: inline-block;
  width: .142rem;
  height: .236rem;
  background: url("../../images/ui/icon_common.png") no-repeat;
  background-size: 7.9rem 5.13rem;
  background-position: -3.982rem -.62rem;
  float: right;
  margin-left: .32rem;
  position: relative;
  top: .360rem
}

#seats {
  float: right;
}

.search-button {
  margin: .40rem .28rem;
  height: .96rem;
}

.search-button input {
  font-family: 'Microsoft YaHei', STHeiti, Verdana, sans-serif;
  width: 100%;
  height: .96rem;
  color: #fff;
  font-weight: bold;
  line-height: .96rem;
  border-radius: .06rem;
  text-align: center;
  background: #7bc300;
  font-size: .36rem;
  outline: none;
}

.float-right {
  position: absolute;
  right: .28rem
}

.searchZone, .date-top {
  height: .78rem;
  line-height: .78rem;
  padding: 0 .28rem;
  font-size: .24rem;
  color: #999999;
  position: fixed;
  top: .88rem;
  left: 0;
  right: 0;
  pointer-events: all;
  z-index: 99;
  background-color: #fcfcfc;
  opacity: .95;
  box-shadow: 0 1px 1px #e6e6e6;
  text-align: center;
}

.previousDay {
  float: left;
}

.nextDay {
  float: right;
}

.middle_input {
  display: block;
  border: 1px solid #e6e6e6;
  margin: .09rem 1.22rem 0;
  background: #fff;
  border-radius: .44rem;
  height: .60rem;
  line-height: .60rem;
  color: #666666;
}

.middle_input .weekWord {
  margin-left: .06rem
}

.middle_input i, .date-top i {
  display: inline-block;
  width: .242rem;
  height: .122rem;
  background: url(../../images/ui/icon_hft.png) no-repeat;
  background-size: 7.50rem auto;
  background-position: 51.18% 51.58%;
  margin-left: .16rem;
  position: relative;
  top: -.04rem;
}

.date-top i {
  margin-left: 0;
}

.date-top .weekWord {
  margin: 0 .08rem;
}

.date-top span:nth-child(2) {
  margin-right: 0
}

.date-top .v-line {
  font-size: .36rem;
}

.flight_ul {
  background: #fff;
  padding: 0 .28rem;
  margin-top: -3px;
  border-bottom: 1px solid #e6e6e6;
}

.flight_ul .trip_go, .flight_ul .trip_back {
  height: 2.0rem;
}

.flight_ul .trip_back {
  margin-top: .36rem
}

.flight_ul .starTime, .flight_ul .endTime {
  font-size: .36rem;
}

.flight_ul .starPort, .flight_ul .endPort {
  font-size: .24rem;
}

.flight_ul li, .time_airport, .left_info {
  position: relative;
}

.left_info {
  height: 1.12rem;
}

.flight_ul li {
  padding: .20rem 0;
  height: 1.8rem;
  border-bottom: 1px solid #e6e6e6;;
}
.flight_ul li:first-child{padding-top: .40rem}
.flight_ul li:last-child{padding-bottom: .40rem}

.double_ul li {
  height: 4.4rem
}

.flight_ul li:last-child {
  border-bottom: none
}

.seat_price {
  width: 1.72rem;
  height: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 1.0rem;
  float: right;
  text-align: right
}

.double_ul .seat_price {
  padding-top: 1.182rem!important;
}

.singleFlight .seat_price{
  padding-top: 1.20rem!important;
}
.singleFlight .seat_condition{}

.seat_price .seat {
  font-size: .18rem;
  color: #999;
}

.seat_price .priceNumber {
  font-size: .4rem;
  color: #fd7530;
  margin-top: .16rem;
  position: relative;
}

.seat_price .priceNumber .double_tip, .double_tip, .seat_price .priceNumber .seat_condition {
  display: block;
  font-size: .18rem;
  color: #999;
}

.seat_price .priceNumber .tax_cost{
  font-size: .2rem;
  color: #999;
}

.seat_price .priceNumber .double_tip {
  width: .20rem;
  line-height: .22rem;
  float: right;
  margin-left: .04rem;
}

.seat_price .priceNumber .tax_cost, .seat_price .priceNumber .seat_condition {
  position: absolute;
  right: 0;
  bottom: -.40rem;
  text-align: right;
}

.seat_price .priceNumber .seat_condition {
  bottom: -0.80rem;
}
.domi .seat_condition{
  top: -0.44rem!important;
}

.singleFlight .tax_cost{
  bottom: .712rem!important;
}

.seat_price .priceNumber span.money {
  font-size: .28rem;
}

.time_airport {
  height: 100%;
  margin-right: 1.72rem;
}

.double_ul .time_airport {
  padding-left: .48rem;
}

.flight_detail {
  width: 100%;
  height: 0.4rem;
  line-height: .40rem;
  font-size: .20rem;
  color: #999;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flight_detail span:before {
  content: "|";
  display: inline-block;
  font-size: .08rem;
  margin: 0 .08rem 0 0;
}

.airCropIcon {
  width: .32rem;
  height: .32rem;
  float: left;
  margin-right: .10rem;
  margin-top: .04rem;
}

.flight_detail .airCropIcon:before, .flight_detail .airCropName:before {
  content: "";
  display: none;
}

.left_info .left, .left_info .right {
  width: 1rem;
  height: 1.46rem;
  float: left;
  position: relative
}

.date-week-port {
  border-bottom: 1px solid #e6e6e6;
  color: #333333;
  font-size: .28rem;
  position: relative;
}

.trip_go .left span.icon, .trip_back .left span.icon，.dateWeekCity  span.icon, .trip_go_ span.icon, .trip_back_ span.icon ,.trip_go_ i,.trip_back_ i{
  width: .32rem;
  height: .32rem;
  background: url(../../images/ui.1.0/icon_common.png) no-repeat;
  background-size: 7.90rem auto;
  background-position: -2.6999rem -1.522rem;
  margin-top: .04rem;
}

.trip_back .left span.icon, .trip_back_ span.icon {
  width: .32rem;
  height: .32rem;
  background: url(../../images/ui.1.0/icon_common.png) no-repeat;
  background-size: 7.90rem auto;
  background-position: -3.398rem -1.522rem;
  margin-top: .04rem;
}
.trip_go .left span.icon , .trip_back .left span.icon{
  position: absolute;
  left: -.48rem;
  top: .04rem;
}
.trip_go_ span.icon, .trip_back_ span.icon{
  position: static;
}

.trip_go_ i,.trip_back_ i{
  float: right;
  background-position: -6.236rem -2.41rem;
}
.dateWeekCity i{
  width: .32rem;
  height: .32rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-size: 7.90rem auto;
  background-position: 81.964% 49.91%;
  margin-top: .04rem;
  float: right;
}
.left_info .right {
  float: right;
  text-align: right;
  margin-right: .48rem;
  position: relative;
}

.double_ul .right {
  margin-right: 0;
}

.left_info .middle {
  margin: 0 1.42rem 0 1rem;
  height: 1.46rem;
  font-size: .2rem;
  color: #999;
  text-align: center;
  box-sizing: border-box;
  padding: .1rem 0;
}

.double_ul .middle {
  margin-right: 1rem;
}

.left_info .middle .arrow, .left_info .middle .arrow_word {
  display: block;
  margin: 0 auto;
  width: 1.688rem;
  height: 0.20rem;
  background: url(../../images/ui.1.0/icon_common.png);
  background-repeat: no-repeat;
  background-size: 7.90rem auto;
  background-position: -0.482rem -4.44rem;
  float: none;
}

.left_info .middle .arrow_word {
  background-position: -3.38rem -4.44rem;
}

.left_info .middle span {
  display: block;
}

.left_info .starPort, .left_info .endPort {
  display: block;
  margin-top: .32rem;
  width: 1.42rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.left_info .endPort {
  float: right
}

.spaceDay {
  position: absolute;
  right: -0.64rem;
  top: 0;
  font-size: .2rem;
}

#loadMore {
  height: .48rem;
  line-height: .48rem;
  background: #FFFFFF;
  color: #666666;
  font-size: .28rem;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}

.for_bottom {
  height: 1.46rem;
  padding: 0 .28rem;
  background: #FFFFFF;
  margin: 0.20rem 0 .40rem 0;
  font-size: .20rem;
}

.for_bottom .right_button_zone {
  float: right;
  width: 1.4rem;
  line-height: 1.46rem;
  height: 1.46rem;
  margin-left: .32rem;
  color: rgb(153, 153, 153);
  position: relative;
}

.for_bottom .left_small_word {
  margin: 0 1.72rem 0 0;
  height: 1.46rem;
  padding-top: .20rem;
}

.for_bottom .left_small_word div:nth-child(1) {
  height: .40rem;
  margin: .32rem 0 .12rem 0;
}

.seat_word {
  font-size: .28rem;
  color: rgb(51, 51, 51);
}

.for_bottom .left_small_word .prices {
  color: rgb(255, 91, 19);
  font-size: .32rem;
}

.left_small_word .explain, .seat-price-cost .explain {
  color: rgb(116, 200, 194);
}

.left_small_word .taxFair {
  color: rgb(153, 153, 153);
}

.for_bottom .right_button_zone button {
  display: inline-block;
  height: .60rem;
  width: 1.40rem;
  background: #7bc300;
  color: #FFFFFF;
  font-size: .32rem;
  position: absolute;
  top: 50%;
  margin-top: -.30rem;
  border-radius: .04rem;
  -webkit-border-radius: .04rem;
  font-family: "microsoft yahei", Arial, sans-serif;
}

.left_small_word .seat_word {
  font-size: .28rem;
  color: rgb(51, 51, 51);
}

.left_small_word .prices, .left_small_word .taxFair {
  float: right;
}

.left_small_word p:first-child {
  margin-bottom: .20rem;
}

/*摘抄hft开始*/
.flightOuter {
  background: #fff;
  padding: .4rem .28rem;
}

.tripGo, .tripBack {
  margin: .28rem 0;
}

.dateWeekCity {
  height: .42rem;
  line-height: .42rem;
  margin-bottom: .32rem;
  position: relative;
}

.dateWeekCity span {
  margin-right: .16rem;
}
.dateWeekCity .time_minutes{
  float: right;
  margin-right: 0;
  font-size: .20rem;
  color: #999;
}

.dateWeekCity span.icon, .arrow {
  float: left;
  width: .32rem;
  height: .32rem;
  background: url(../../images/ui.1.0/icon_common.png) no-repeat;
  background-size: 7.90rem auto;
  background-position: -2.6999rem -1.522rem;
  margin-top: .04rem;
}

.arrow {
  display: block;
  width: 1.68rem;
  height: .20rem;
  position: static;
  background-position: -.488rem -4.460rem;
  margin: 0 auto;
  float: none;
}
.no-margin-left{margin-left: 0!important;}
.tripBack .dateWeekCity span.icon {
  background-position: -3.39rem -1.522rem;
}

.fix-margin-left {
  margin-left: 0 !important;
}

.timeAirport {
  position: relative;
}

.timeAirport .left, .timeAirport .right {
  height: 1.12rem;
  width: 1.6rem;
  position: absolute;
  top: 0;
  white-space: nowrap;
  overflow: visible;
}

.timeAirport .right {
  right: .80rem;
  text-align: right;
}

.fix_right {
  right: 0 !important;
}

.flightDetailInfo {
  margin: .28rem 0 .08rem 0;
  color: #999999;
}

.flightDetailInfo span:before {
  content: "|";
  display: inline-block;
  margin: 0 .08rem;
}

.flightDetailInfo span:first-child:before, .flightDetailInfo span:nth-child(2):before {
  content: "";
  display: none;
}

.flightDetailInfo > span {
  font-size: .2rem;
  color: #999;
}

.flightDetailArrow {
  width: 100%;
  height: .32rem;
  line-height: .32rem;
  position: relative;
  text-align: center;
  color: #7bc300;
  font-size: .24rem;
}

.flightDetailArrow i {
  position: absolute;
  right: 0;
  top: .16rem
}

.flightDetailArrow span {
  margin-left: .12rem;
}

.flightDetailTransferTime span:first-child {
  margin-left: .08rem;
}

.timeAirport .left span, .timeAirport .right span {
  display: inline-block;
  height: .32rem;
  line-height: .32rem;
  font-size: .24rem;
  color: #333;
}

.timeAirport .left .startTime, .timeAirport .right .arriveTime {
  white-space: normal;
  display: block;
  font-size: .36rem;
}

.startPort, .arrivePort {
  margin-top: .58rem;
}

.arrivePort {
  position: absolute;
  right: 0
}

.timeAirport .right .plusDay {
  font-size: .20rem;
  color: rgb(51, 51, 51);
  position: absolute;
  top: -.12rem;
}

.timeAirport .middle {
  height: 1.12rem;
  margin: 0 2.40rem 0 1.6rem;
  padding: 0.08rem 0;
}

.timeAirport .middle .timeCost {
  position: relative;
  text-align: center;
  height: .28rem;
  line-height: .28rem;
  font-size: .20rem;
}

.timeAirport .middle .toArrowWord {
  display: block;
  margin: 0.04rem auto 0.04rem;
  width: 1.888rem;
  height: 0.24rem;
  background: url(../../images/ui/change-arrow.png);
  background-size: 1.88rem auto;
  background-repeat: no-repeat;
}

.timeAirport .middle .transferCity {
  position: relative;
  text-align: center;
  height: .28rem;
  line-height: .28rem;
  font-size: .20rem;
}

.trip_go_, .trip_back_ {
  position: relative;
  height: 0.4rem;
  line-height: 0.4rem;
  overflow:hidden;
}
.trip_go_ span, .trip_back_ span{
  float: left;
}
.trip_go_ span.addUp, .trip_back_ span.addUp{margin-left: .16rem}

.trip_go_ span.cityName, .trip_back_ span.cityName {
  width: 1.48rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trip_back_, .seat-price-cost p:nth-child(2) {
  margin-top: .16rem
}

.trip_go_ .time_minutes, .trip_back_ .time_minutes {
  float: right;
}

.trip_go_ .week_value, .trip_back_ .week_value {
  margin: 0 .08rem
}

.fixedMargin .middle {
  margin: 0 2.12rem 0 1.6rem !important;
}

.fixedMargin .right {
  right: .52rem !important;
}

/*摘抄结束*/
.date-week-port, .seat-price-cost {
  padding: .32rem .28rem;
  background: #FFFFFF;
}

.seat-price-cost .cost_value {
  margin: 0 .08rem
}

.seat-price-cost .explain {
  float: right
}

.passengers_wrap {
  padding: 0;
  background: #FFFFFF;
}

.passengers_wrap h4, .contact_wrap h4 {
  background: #f7f7f7;
  height: .68rem;
  line-height: .68rem;
  padding: 0 .28rem;
  position: relative;
  border-top: 1px solid #e6e6e6;
}

.passengers_wrap h4 i,.change_tip h4 i, .passengers_wrap .add_icon, .contact_wrap .arrow_down, .contact_wrap h4 i, .contact_wrap .arrow_right, .passengers_wrap .minus_person {
  width: .40rem;
  height: .40rem;
  background: url(../../images/ui.1.0/icon_common.png) no-repeat;
  background-size: 7.90rem auto;
  background-position: -6.21rem -3.26rem;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -.20rem;
}
.passengers_wrap .add_icon{
  background-position: -3.852rem -.548rem;
}
.passengers_wrap .minus_person {
  background-position: -1.184rem -2.88rem;
  width: .52rem;
  height: .52rem;
  left: -.60rem;
  top: .20rem;
  background-size: 7.28rem auto;
}
.passengers_wrap em{
  font-style: normal;
  margin-right: 0.54rem;
}
.passengers_wrap b{
  color: rgb(51, 51, 51);
  font-weight: normal;
}

.contact_wrap .arrow_down {
  width: .328rem;
  height: .328rem;
  background-position: 86.564% 52.377%;
  position: relative;
  top: .04rem;
  margin: 0 .12rem 0 .20rem;
}

.contact_wrap .arrow_right {
  margin-left: .25rem;
  position: relative;
  top: .04rem
}

.passengers_wrap h4 i{
  right: .28rem;
  background-position: -6.78rem -3.22rem;
}
 .contact_wrap h4 i{
   right: .28rem;
   background-position: -6.18rem -3.20rem;
 }
  .passengers_wrap ul {
  padding-left: .60rem;
  font-size: .28rem;
  color: rgb(51, 51, 51);
}
.name_infos div {
 display: inline-block;
  width: 50%;
}

.passengers_wrap ul li {
  padding: .32rem .28rem;
}

.passengers_wrap ul p {
  position: relative;
  height: .58rem;
  line-height: .58rem;
  box-sizing: border-box;
}

.passengers_wrap ul p:nth-child(1) {
  margin-bottom: .16rem;
  position: relative;
  color:rgb(51, 51, 51)
}
.passengers_wrap ul p:nth-child(1) span,.passengers_wrap ul p:nth-child(1) b{
  float:left
}

.passengers_wrap ul p input {
  margin-left: 1.2rem;
  max-width: 2.6rem;
  height: 100%;
}
p.passport_sex input{
  margin-left: 0!important;
}
input.name{
  margin-left: .168rem!important;
  max-width: 2.2rem!important;
}

.passengers_wrap .tip_word {
  width: 1.2rem;
  height: 100%;
  letter-spacing: .08rem;
  float: left;
}

.contact_wrap {
  background: #FFFFFF;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: .89rem;
}

.contact_wrap .glay_word {
  color: #999999;
  font-size: .24rem
}

.contact_wrap p {
  height: .96rem;
  line-height: .96rem;
  color:rgb(51, 51, 51);
  font-size: .28rem;
  position: relative;
  padding: 0 .28rem;
}

.contact_wrap p input {
  height: .96rem;
  line-height: .96rem;
  color:rgb(51, 51, 51);
  font-size: .28rem;
  width: 49%;
  font-family: "microsoft yahei", Arial, sans-serif
}

.input_line .first_name, .padding_has {
  padding-left: .28rem;
}


.contact_wrap .more_black {
  display: inline-block;
  width: 49%;
  color: rgb(51, 51, 51);
}

.mis_right {
  margin-left: .8rem;
}

.country-trigger {
  margin-left: .1rem;
}

.email_line .more_black {
  width: 16%;
}

.contact_wrap p .s_line {
  height: .4rem;
  width: 1px;
  margin-top: .3rem;
  color: #d1d1d1;
  background-color: #d1d1d1;
}

.contact_wrap p.email_line span, .contact_wrap p.email_line input {
  float: left;
}

.contact_wrap p.email_line input {
  width: 76%
}

.bottomPrice {
  width: 100%;
  font-size: .28rem;
  position: fixed;
  background-color: #fff;
  height: .98rem;
  line-height: .98rem;
  bottom: 0;
  border-top: 1px solid #dedede;
  z-index: 105;
}

.priceTotal {
  margin-left: .56rem;
}

.bottomPrice {
  width: 100%;
  font-size: .28rem;
  position: fixed;
  background-color: #fff;
  height: .89rem;
  line-height: .89rem;
  bottom: 0;
  border-top: 1px solid #dedede;
  z-index: 105
}

.preserve {
  display: inline-block;
  height: 100%;
  padding: 0 0;
  background: #7bc300;
  color: #FFFFFF;
  text-align: center;
  font-size: .36rem;
  position: absolute;
  right: 0;
  width: 50%;
}

.addMarginBottom {
  height: 1.2rem;
  width: 100%;
}

.tot_tips_rmb {
  color: #ff5b13;
}

.priceTotal > span {
  font-size: .32rem;
  color: #ff5b13;
  margin-right: .2rem;
}

.priceTotal .detail_fare {
  display: inline-block;
  vertical-align: top;
  margin-top: .42rem;
  background: url(../../images/hotel_flight_tour/arrow-up-orange.png) no-repeat;
  background-size: .24rem .14rem;
  width: .32rem;
  height: .2rem;
  transition: 0.3s all ease;
}

.priceTotal .detail_fare {
  display: inline-block;
  vertical-align: top;
  margin-top: .356rem;
  background: url(../../images/hotel_flight_tour/arrow-up-orange.png) no-repeat;
  background-size: .24rem .14rem;
  width: .32rem;
  height: .2rem;
  transition: 0.3s all ease;
}

.priceTotal .detail_fare.open {
  margin-top: .42rem;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform-origin: 40% 25%;
  -webkit-transform-origin: 40% 25%;
  transition: 0.3s all ease;
}

.priceTotal {
  margin-left: .56rem;
}

.priceDetailInfo {
  position: fixed;
  padding: 0.4rem .28rem;
  height: 4.12rem;
  width: 100%;
  bottom: -126%;
  z-index: 102;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.priceDetailInfo p {
  height: .52rem;
  line-height: 0.52rem;
  font-size: .28rem;
  color: #333333;
}

.price-num-price {
  display: inline-block;
  float: right;
}

.shadow {
  display: none;
  position: fixed;
  z-index: 99;
  background: rgba(0, 0, 0, .6);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/*国籍选择开始*/

.country_header {
  opacity: 1;
  display: none;
}

.country-cho-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #fff;
  display: none;
  overflow-x: hidden !important;
  font-size: .28rem;
  color: #333;
}

.jto_letter_list li {
  line-height: .4rem;
  font-size: .24rem;
  text-align: center;

}

.jto_letter_list li a {
  color: #7bc300;
}

.recent_title {
  background-color: #f7f7f7;
  color: #666;
  padding: 0 .28rem;
  height: .68rem;
  line-height: .68rem;
  border-top: 1px solid #e6e6e6;
}

.inter-list .hot_code > li {
  height: .96rem;
  line-height: .96rem;
  font-size: .32rem;
  color: #333;
  padding: 0 .28rem;
  border-bottom: 1px solid #e6e6e6;
}

.inter-list .hot_code > li:last-child, .country_lists ul li:last-child {
  border: none;
}
.country-list-searched-order{
  position: fixed;
  top: .88rem;
  left: 0;
  right: 0;
  bottom:0;
  pointer-events: all;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px #e6e6e6;
  z-index: 16;
  display: none;
}
.country_lists ul li , .country-list-searched-order li{
  height: .96rem;
  line-height: .96rem;
  font-size: .32rem;
  border-bottom: 1px solid #e6e6e6;;
  margin: 0 .28rem;
  overflow: hidden;
}

.country_lists span, .hot_code span {
  float: right;
  margin-right: .5rem;
}

.jto_seach {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 11;
  display: none;
  overflow-y: scroll;
}

.jto_letter_list {
  position: fixed;
  right: 0;
  top: 1.2rem;
  background: rgba(255, 255, 255, .5);
  padding: 0 .16rem;
  height: 100%;
  z-index: 11;
  -webkit-overflow-scrolling: touch;
}

.country-cho-wrap-order {
  position: absolute;
  z-index: 1000;
}

.country-cho-wrap ul, .country-cho-wrap ol {
  margin: 0;
  padding: 0;
}
.country-list {
  background-color: #fff;
}

.country-list li {
  padding-left: .48rem;
  height: .68rem;
  line-height: .68rem;
  border-bottom: 1px solid #e6e6e6;
}

.country-hidden {
  z-index: 100;
}

/*国籍选择结束*/
#Tax dt, #Price dt{
  width: 0.34rem;
  height: 0.37rem;
  background: url(../../images/ui/price.png);
  background-size: .40rem .40rem;
  background-position: -.04rem 0;
  position: relative;
}
#Screen dt{position: relative}
dl.f_foot_sort dt:after, #Tax dt:after,#Price dt:after, #Screen dt:after{
  content: "";
  width: .1rem;
  height: .1rem;
  position: absolute;
  right: -0.18rem;
  top: .05rem;
  border-radius: .05rem;
  background: #fd7530;
}
dl.f_foot_sort dt.clo:after, #Tax dt.clo:after,#Price dt.clo:after, #Screen dt.clo:after{
  display: none;
}
#no_flight_data{
  width: 100%;
  text-align: center;
  position: fixed;
  top: 40%;
  font-size: .24rem;
  color: #333;
  display: none;
}
.target {
  position: relative;
  top: -.88rem;
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
}
.cl_search {
  height: .66rem;
  position: relative;
  border-radius: 23px;
  background-color: #f7f7f7;
  top: .11rem;
  text-align: left;
  padding-left: .22rem
}
.cl_search input {
  height: 100%;
  background-color: #f7f7f7;
  padding-left: .35rem;
  font-size: .20rem;
  top: 0;
  left: -0.8rem;
  width: 92%;
  overflow: hidden;
  font-family: 'Microsoft YaHei', STHeiti, Verdana, sans-serif;
}
.cl_search i {
  position: absolute;
  top: .25rem;
  left: .22rem;
  display: block;
  background: url("../../images/city_search.png") no-repeat;
  background-size: .22rem auto;
  width: .22rem;
  height: .22rem;
}
/*机票城市搜索start*/
.city_outer{
  display: none;
  position: absolute;
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  font-size: .28rem;
  color: #333;
  background: #fff;
}
.city_outer .hTab{
  padding-top: .88rem;
}
.current_location, .history_choose_city,.hot_city_outer,.full_city_outer{
  position: relative;
}
.history_choose_city{display: none}
.city_detail_info{-webkit-overflow-scrolling : touch}
.current_location h4,.history_choose_city h4,.hot_city_outer h4,.full_city_outer h4{
  line-height: 0.68rem;
  height: 0.68rem;
  padding-left: 0.28rem;
  background-color: #F7F7F7;
  color: #333;
  font-size: 0.28rem;
}
.current_location ul,.history_choose_city ul,.hot_city_outer ul,.full_city_outer ul{
  background: #fff;
  overflow: hidden;
  width: 100%;
}
.current_location ul li,.history_choose_city ul li,.hot_city_outer ul li{
  box-sizing: border-box;
  width: 27.2%;
  height: .68rem;
  line-height: .68rem;
  float: left;
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
  margin-left: 0.28rem;
  text-align: center;
  color: #333333;
  border-radius: .32rem;
  border: 1px solid #999999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.current_location ul li.cur,.history_choose_city ul li.cur,.hot_city_outer ul li.cur{
  color: #7bc300!important;
  border: 1px solid #7bc300!important;
}
.full_city_outer ul li{
  line-height: 0.88rem;
  height:.88rem;
  padding-left: 0.28rem;
  border-bottom: 1px solid #e6e6e6;
  font-size: 0.28rem;
  color: #333;
}
.city_index{
  position: fixed;
  top: 2.18rem;
  right: .06rem;
  width: 0.6rem;
  color: #7bc300;
  font-size: 0.2rem;
  text-align: center;
}
.city_index li{margin-bottom: .04rem;}
.city_index li a{color: #7bc300;text-underline: none}
.change_tip {
  width: 92%;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  z-index: 1000001;
  left: 4%;
  top: 32%;
  -webkit-transition: margin-top 300ms ease;
  color: #333;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .5);
  box-shadow: 0 3px 10px rgba(0, 0, 0, .5);
  display: none;
  border-bottom-left-radius: .04rem;
  -webkit-border-bottom-left-radius: .04rem;
  -moz-border-bottom-left-radius: .04rem;
  -o-border-bottom-left-radius: .04rem;
  border-bottom-right-radius: .04rem;
  -webkit-border-bottom-right-radius: .04rem;
  -moz-border-bottom-right-radius: .04rem;
  -o-border-bottom-right-radius: .04rem;
}
.change_tip h4{
  height:.88rem;
  line-height: .88rem;
  background: #fcfcfc;
  padding-left: .28rem;
  color: #000;
  border-top-left-radius: .04rem;
  -webkit-border-top-left-radius: .04rem;
  -moz-border-top-left-radius: .04rem;
  -o-border-top-left-radius: .04rem;
  border-top-right-radius: .04rem;
  -webkit-border-top-right-radius: .04rem;
  -moz-border-top-right-radius: .04rem;
  -o-border-top-right-radius: .04rem;
}
.change_tip p{
  padding: .28rem;
  color: #999;
}
.change_tip h4 i{
  float: right;
  width: .34rem;
  height: .34rem;
  background-position: -3.81rem -2.41999992rem;
  margin-top: .23rem;
  position: static;
  margin-right: .28rem;
}
