.hTab {
  width: 100%;
  height: .88rem;
  line-height: .88rem;
  background-color: #fcfcfc;
  font-size: .32rem;
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden;
}

.white {
  background: #FFFFFF
}

.clear_shadow {
  box-shadow: none;
}
.bottomFix {
  position: fixed;
  bottom: 0;
}
.addPaddingTop{padding-top: 1.76rem;}

.singleTrip, .doubleTrip {
  float: left;
  width: 50%;
  height: .84rem;
  font-size: .32rem;
  text-align: center;
}

.doubleTrip {
  float: right;
}

.light-title {
  border-bottom: 0.04rem solid rgb(255, 180, 19);
  color: rgb(255, 180, 19);
}

.grey-title {
  border-bottom: none;
  color:rgb(153, 153 ,153)
}

.place {
  height: 1.2rem;
  line-height: 1.2rem;
  padding: 0 .28rem;
  background: #fff;
  color: rgb(51, 51, 51);
  font-size: .36rem;
  position: relative;
}

.origin, .destination {
  height: 100%;
  width: 50%;
  line-height: 1.2rem;
}

.origin {
  float: left;
}

.destination {
  float: right;
}

.origin > div {
  text-align: left;
  margin-right: .68rem;
  border-bottom: 0.01rem solid #dedede;
}

.destination > div {
  text-align: right;
  margin-left: .68rem;
  border-bottom: 0.01rem solid #dedede;
}

.iconTip {
  width: .560rem;
  height: .560rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -.280rem;
  margin-top: -.280rem;
}

.iconTip > div {
  margin: 0 auto;
  width: .54rem;
  height: .54rem;
  background-image: url(../../images/ui/air-icons.png);
  background-repeat: no-repeat;
  background-position: 38% 17.9%;
  background-size: 4.67rem 2.81rem;
  overflow: hidden;
}

.span-target {
  height: .56rem;
  width: .56rem;
  background: url(../../images/ui/fly-roll.png) no-repeat;
  background-size: .56rem .56rem;
  position: absolute;
  top: 0
}

.realInfo {
  height: 1.60rem;
  padding: 0 .28rem;

}

.dateInfo {
  height: 1.6rem;
  padding: 0 .28rem;

}
#timeSingleWrap{display: none}
#timeDoubleWrap{display: block}
.single_date .to-word,.single_date .set-to{visibility: hidden}

.date-word {
  padding: .240rem 0;
  font-size: .24rem;
  color: rgb(153, 153, 153);
  height: .24rem;
  line-height: .24rem;
}

.date-word .from-word {
  float: left
}

.date-word .to-word {
  float: right
}

.date-value {
  font-size: 0.4rem;
  font-weight: bold;
}

.date-value .set-from {
  float: left
}

.date-value .set-to {
  float: right
}

.date-value .set-from > span:nth-child(2), .date-value .set-to > span:nth-child(2) {
  font-size: 0.24rem;
  color: rgb(51, 51, 51)
}
.adult, .child,.cabin-wrap, .search-button{
  height:.96rem;
  line-height: .96rem;
  margin: 0 .28rem;
  border-bottom: 1px solid #e6e6e6;
}
.pas-num-wrap .minus, .pas-num-wrap .plus{
  display: inline-block;
  width: .54rem;
  height: .54rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-size: 7.9rem 5.13rem;
  background-position: 41.2% 68%;
  position: relative;
  top:.156rem
}
.pas-num-wrap .plus_grey{background-position: 29.5% 68%}
.pas-num-wrap .minus{background-position: 17.5% 68%;  }
.pas-num-wrap .minus_grey{background-position: 6.7% 68%}
.adultNumber, .childNumber{
  display:inline-block;
  width: .80rem;
  text-align: center;
  font-size: .32rem;color: rgb(51, 51, 51)
}
.cabin-wrap{ margin: 0; padding: 0 .28rem}
.adult{border-top: 1px solid #e6e6e6;}
.cabin-arrow{
  display: inline-block;
  width: .142rem;
  height: .236rem;
  background: url("../../images/ui/icon_common.png") no-repeat;
  background-size: 7.9rem 5.13rem;
  background-position: -3.982rem -.62rem;
  float: right;
  margin-left: .32rem;
  position: relative;
  top: .3899rem
}
#seats{float: right;}
.search-button{
  margin: .40rem .28rem;
  height: .96rem;
}
.search-button input{
  font-family: 'Microsoft YaHei', STHeiti, Verdana, sans-serif;
  width: 100%;
  height: .96rem;
  color: #fff;
  font-weight: bold;
  line-height: .96rem;
  border-radius: .06rem;
  text-align: center;
  background: rgb(255, 180, 19);
  font-size: .36rem;
}
.float-right{float: right}
.searchZone, .date-top{
  height: .88rem;
  line-height: .88rem;
  padding: 0 .28rem;
  font-size: .24rem;
  color: #999999;
  position: fixed;
  top: .88rem;
  left: 0;
  right: 0;
  pointer-events: all;
  z-index: 99;
  background-color: #fcfcfc;
  opacity: .95;
  box-shadow: 0 1px 1px #e6e6e6;
  text-align: center;
}
.previousDay{
   float: left;
}
.nextDay{
  float: right;
}
.middle_input{
  display: block;
  border: 1px solid #e6e6e6;
  margin: .14rem 1.22rem;
  background: #fff;
  border-radius: .44rem;
  height: .60rem;
  line-height: .60rem;
  color: #666666;
}
.middle_input .weekWord{margin-left: .06rem}
.middle_input i, .date-top i{
  display: inline-block;
  width: .242rem;
  height: .122rem;
  background: url(../../images/ui/icon_hft.png) no-repeat;
  background-size: 7.50rem auto;
  background-position: 51.18% 51.58%;
  margin-left: .16rem;
  position: relative;
  top: -.04rem;
}
.date-top i{
  margin-left: 0;
}
.date-top .weekWord{
  margin: 0 .08rem;
}
.date-top span:nth-child(2){
  margin-right: 0
}
.date-top .v-line{
  font-size: .36rem;
}
.flight_ul{
  background: #fff;
  padding:0 .28rem ;
  border-bottom: 1px solid #e6e6e6;
}

.flight_ul .trip_go,.flight_ul .trip_back {
  height:2.0rem;
}
.flight_ul .trip_back{margin-top: .36rem}
.flight_ul .starTime, .flight_ul .endTime{
  font-size: .32rem;
}
.flight_ul .starPort, .flight_ul .endPort{
  font-size: .28rem;
}

.flight_ul li, .time_airport,.left_info{
  position: relative;
}
.left_info {
  height: 1.54rem;
}
.flight_ul li{
  padding: .32rem 0;
  height:2.20rem;
  border-bottom: 1px solid #e6e6e6; ;
}
.double_ul li{height:4.4rem}
.flight_ul li:last-child{
  border-bottom: none
}
.seat_price{
  width: 1.72rem;
  height:100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 1.0rem;
  float:right;
  text-align: right
}
.double_ul .seat_price{padding-top: 1.182rem;}
.seat_price .seat{font-size: .18rem;color: #999;}
.seat_price .priceNumber{
  font-size: .36rem;
  color:#ff5b13;
  margin-top: .16rem;
  position: relative
}
.seat_price .priceNumber .double_tip, .seat_price .priceNumber .tax_cost, .double_tip, .seat_price .priceNumber .seat_condition{
  display: block;
  font-size: .20rem;
  color:#999;
}
.seat_price .priceNumber .double_tip{
  display: inline-block;
  width: .20rem;
  line-height: .26rem;
  margin-left: .04rem
}

.seat_price .priceNumber .tax_cost, .seat_price .priceNumber .seat_condition{
  position: absolute;
  right:0;
  top:.64rem;
  text-align: right;
}
.seat_price .priceNumber .seat_condition{
  top:1.12rem;
}

.seat_price .priceNumber span.money{
  font-size: .18rem;
}
.time_airport{
  height:100%;
  margin-right: 1.72rem;
}
.double_ul .time_airport{
  padding-left: .48rem;
}
.flight_detail{
  width: 100%;
  height: 0.4rem;
  line-height: .40rem;
  font-size: .20rem;
  color: #999;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.flight_detail span:before{
  content: "|";
  display: inline-block;
  font-size: .08rem;
  margin: 0 .08rem 0 0;
}
.flight_detail .airCropIcon{
  width:.80rem;
  height: 100%;
  float: left;
}
.flight_detail .airCropIcon:before,.flight_detail .airCropName:before{
    content: "";
    display: none;
}
.left_info .left, .left_info .right{
  width:1rem;
  height: 1.54rem;
  float: left;
  position: relative
}
.date-week-port{
  border-bottom:1px solid #e6e6e6;
  color: #333333;
  font-size: .28rem;
  position: relative;
}
.trip_go .left span.icon, .trip_back .left span.icon，.dateWeekCity > span.icon, .trip_go_ span.icon, .trip_back_ span.icon{
  display: inline-block;
  width: .32rem;
  height: .32rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-size: 7.95rem auto;
  background-position: 35.564% 31.61%;
  position: absolute;
  left: -.42rem;
  top: .05rem;
}

.trip_back .left span.icon, .trip_back_ span.icon{
  display: inline-block;
  width: .32rem;
  height: .32rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-size: 7.95rem auto;
  background-position: 44.564% 31.61%;
  position: absolute;
  left: -.42rem;
  top: .05rem;
}
.trip_go_ span.icon, .trip_back_ span.icon{
  left: 0;
  top: .0316rem;
}
.trip_go_ span:nth-child(2), .trip_back_ span:nth-child(2){
  margin-left: .48rem;
}


.left_info .right{
  float: right;
  text-align: right;
  margin-right: .48rem;
  position: relative;
}
.double_ul .right{
  margin-right: 0;
}
.left_info .middle{
  margin: 0 1.42rem 0 1rem;
  height: 1.74rem;
  font-size: .18rem;
  color: #999;
  text-align: center;
  box-sizing: border-box;
  padding: .1rem 0;
}
.double_ul .middle{
  margin-right: 1rem;
}
.left_info .middle .arrow,.left_info .middle .arrow_word {
  display: block;
  margin: 0 auto;
  width: 1.888rem;
  height: 0.20rem;
  background: url(../../images/ui/icon_common.png);
  background-repeat: no-repeat;
  background-size: 7.5rem 5.13rem;
  background-position: 5.8% 90.004%;
}
.left_info .middle .arrow_word {
  background: url(../../images/ui/change-arrow.png);
  background-size: 1.88rem auto;
  background-position: 0 0;
}


.left_info .middle span{
  display: block;
}
.left_info .starPort,.left_info .endPort{
  display: block;
  white-space: nowrap;
  overflow: visible;
  margin-top: .46rem;
}
.left_info .endPort{float: right}
.spaceDay{
  position: absolute;
  right: -.54rem;
  top: 0;
  font-size: .18rem;
}
#loadMore{
  height: .48rem;
  line-height: .48rem;
  background: #FFFFFF;
  color: #666666;
  font-size: .28rem;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}
.for_bottom{
  height: 1.46rem;
  padding: 0 .28rem;
  background: #FFFFFF;
  margin: 0.20rem 0 .40rem 0;
  font-size: .20rem;
}
.for_bottom .right_button_zone{
  float: right;
  width: 1.4rem;
  line-height: 1.46rem;
  height: 1.46rem;
  margin-left: .32rem;
  color: rgb(153, 153, 153);
  position: relative;
}
.for_bottom .left_small_word{
  margin: 0 1.72rem 0 0;
  height: 1.46rem;
  border: 1px solid #fff;
}
.for_bottom .left_small_word div:nth-child(1){
  height: .40rem;
  margin: .32rem 0 .12rem 0;
}
.seat_word{font-size: .28rem;
  color: rgb(51,51,51);}
.for_bottom .left_small_word .prices{
  color: rgb(255, 91,19);
  font-size: .32rem;
}
.left_small_word .explain, .seat-price-cost .explain{
  color: rgb(116, 200, 194);
}
.left_small_word .taxFair{
  color: rgb(153, 153,153);
}

.for_bottom .right_button_zone button{
  display: inline-block;
  height: .60rem;
  width: 1.40rem;
  background: #ffb413;
  color: #FFFFFF;
  font-size: .32rem;
  position: absolute;
  top:50%;
  margin-top: -.30rem;
  border-radius: .04rem;
  -webkit-border-radius: .04rem;
  font-family: "microsoft yahei", Arial, sans-serif;
}
.left_small_word .seat_word{
  font-size: .28rem;
  color: rgb(51,51,51);
}
.left_small_word .prices,.left_small_word .taxFair {
 float: right;
}
.left_small_word p:first-child{
  margin: .32rem 0 .20rem 0;
}

/*摘抄hft开始*/
.flightOuter {
  background: #fff;
  padding: .4rem .28rem;
}
.tripGo, .tripBack{
    margin: .28rem 0;
}
.dateWeekCity {
  height: .42rem;
  line-height: .42rem;
  margin-bottom: .32rem;
  position: relative;
}

.dateWeekCity span {
  margin-right: .16rem;
}

.dateWeekCity span.icon, .arrow {
  display: inline-block;
  width: .40rem;
  height: .40rem;
  background: url(../../images/ui/icon_common.png);
  background-repeat: no-repeat;
  background-size: 7.90rem 5.13rem;
  background-position: -2.66rem -1.42rem;
  overflow: hidden;
  position: absolute;
  top: -.033rem
}

.arrow {
  display: block;
  width: 1.68rem;
  height: .20rem;
  position: static;
  background-position: -.488rem -4.460rem;
  margin: 0 auto;
}

.dateWeekCity span:nth-child(2) {
  margin-left: .45rem;
}

.tripBack .dateWeekCity span.icon {
  background-position: -3.35rem -1.45rem;
}

.fix-margin-left {
  margin-left: 0 !important;
}

.timeAirport {
  position: relative;
}

.timeAirport .left, .timeAirport .right {
  height: 1.12rem;
  width: 1.6rem;
  position: absolute;
  top: 0;
  white-space: nowrap;
  overflow: visible;
}

.timeAirport .right {
  right: .80rem;
  text-align: right;
}

.fix_right {
  right: 0 !important;
}

.flightDetailInfo {
  margin: .28rem 0 .08rem 0;
  color: #999999;
}

.flightDetailInfo span:before {
  content: "|";
  display: inline-block;
  margin: 0 .08rem;
}

.flightDetailInfo span:first-child:before {
  content: "";
  display: none;
}

.flightDetailInfo > span {
  font-size: .2rem;
  color: #999;
}

.flightDetailArrow {
  width: 100%;
  height: .32rem;
  line-height: .32rem;
  position: relative;
  text-align: center;
  color: #ffb413;
}

.flightDetailArrow i {
  position: absolute;
  right: 0;
  top: .16rem
}

.flightDetailArrow span {
  margin-left: .12rem;
}

.flightDetailTransferTime span:first-child {
  margin-left: .08rem;
}

.timeAirport .left span, .timeAirport .right span {
  display: inline-block;
  height: .32rem;
  line-height: .32rem;
  font-size: .24rem;
  color: #333;
}

.timeAirport .left .startTime, .timeAirport .right .arriveTime {
  white-space: normal;
  display: block;
  font-size: .36rem;
}

.startPort, .arrivePort {
  margin-top: .58rem;
}

.arrivePort {
  position: absolute;
  right: 0
}

.timeAirport .right .plusDay {
  font-size: .20rem;
  color: rgb(51, 51, 51);
  position: absolute;
  top: -.12rem;
}

.timeAirport .middle {
  height: 1.12rem;
  margin: 0 2.40rem 0 1.6rem;
  padding: 0.08rem 0;
}

.timeAirport .middle .timeCost {
  position: relative;
  text-align: center;
  height: .28rem;
  line-height: .28rem;
  font-size: .20rem;
}

.timeAirport .middle .toArrowWord {
  display: block;
  margin: 0.04rem auto 0.04rem;
  width: 1.888rem;
  height: 0.24rem;
  background: url(../../images/ui/change-arrow.png);
  background-size: 1.88rem auto;
  background-repeat: no-repeat;
}

.timeAirport .middle .transferCity {
  position: relative;
  text-align: center;
  height: .28rem;
  line-height: .28rem;
  font-size: .20rem;
}
.trip_go_, .trip_back_{
  position: relative;
  height: .4rem;
  line-height: .4rem;}

.trip_go_ .addUp, .trip_back_ .addUp{
  position: relative;
  top: -.12rem;
}
.trip_go_ span.cityName, .trip_back_ span.cityName{
  display: inline-block;
  width: 1.48rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: .42rem;
  position: relative;
  top: -.02rem
}
.trip_back_, .seat-price-cost p:nth-child(2){margin-top: .16rem}

.trip_go_ .time_minutes, .trip_back_ .time_minutes{
   float: right;
}
.trip_go_ .week_value, .trip_back_ .week_value{margin: 0 .08rem}
.fixedMargin .middle {
  margin: 0 2.12rem 0 1.6rem !important;
}

.fixedMargin .right {
  right: .52rem !important;
}
/*摘抄结束*/
.date-week-port, .seat-price-cost{
    padding: .32rem .28rem;
    background: #FFFFFF;
}
.seat-price-cost .cost_value{margin: 0 .08rem}
.seat-price-cost .explain{float: right}
.passengers_wrap{
  padding: 0;
  background: #FFFFFF;
}
.passengers_wrap h4, .contact_wrap h4{
  background: #f7f7f7;
  height: .68rem;
  line-height: .68rem;
  padding: 0 .28rem;
  position: relative;
  border-top: 1px solid #e6e6e6;
}
.passengers_wrap h4 i, .passengers_wrap .add_icon , .contact_wrap .arrow_down ,.contact_wrap h4 i,.contact_wrap .arrow_right,.passengers_wrap .minus_person{
  display: inline-block;
  width: .32rem;
  height: .32rem;
  background: url(../../images/ui/icon_hft.png) no-repeat;
  background-size: 7.50rem auto;
  background-position: 44.564% 51.61%;
  position: absolute;
  right:0;
  top: 50%;
  margin-top: -.16rem;
}
.passengers_wrap .minus_person{
  background-position: 42.1% 32.03%;
  width: .40rem;
  height: .40rem;
  left: -.60rem;
  top: .28rem;
}

.contact_wrap .arrow_down{
  width: .328rem;
  height: .328rem;
  background-position: 86.564% 52.377%;
  position: relative;
  top: .04rem;
  margin:0 .12rem 0 .20rem;
}
.contact_wrap .arrow_right{
  margin-left: .08rem;
  position: relative;
  top: .04rem
}
.passengers_wrap h4 i, .contact_wrap h4 i{
  right: .28rem;
  background-position: 83.564% 31.61%;
}

.passengers_wrap ul{
   padding-left: .60rem;
   font-size: .28rem;
   color: rgb(51,51,51);
}
.passengers_wrap ul li{
  padding: .32rem .28rem;
}
.passengers_wrap ul p{
  position: relative;
  height:.58rem;
  line-height: .58rem;
  box-sizing: border-box;
}
.passengers_wrap ul p:nth-child(1){
  padding-top: .16rem;
  margin-bottom: .16rem;
  position: relative
}
.passengers_wrap ul p input{
    margin-left: 1.2rem;
    max-width: 2.6rem;
    height: 100%;
}
.passengers_wrap .tip_word{
  display: inline-block;
  width: 1.2rem;
  height: 100%;
  letter-spacing: .08rem;
  position: absolute;
  left: 0;
  top: 0;
}
.contact_wrap{background: #FFFFFF;border-bottom: 1px solid #e6e6e6;}
.contact_wrap .glay_word{
  color: #999999;
  font-size: .24rem
}
.contact_wrap p{
    height:.96rem;
    line-height: .96rem;
    color: #D1D1D1;
    font-size: .28rem;
    position: relative;
    padding: 0 .28rem;
}
.contact_wrap p input{
  height:.96rem;
  line-height: .96rem;
  color: #D1D1D1;
  font-size: .28rem;
  width: 50%;
  float: right;
  font-family: "microsoft yahei", Arial, sans-serif
}
.contact_wrap .more_black{
   display: inline-block;
   width: 50%;
   color:rgb(51,51,51);
}
.email_line .more_black{
  width: 16%;
}
.contact_wrap p input.padding_has{
  padding-left: .28rem;
}
.contact_wrap p .s_line{
  display: inline-block;
  height:.96rem;
  width:.01rem;
  color: #D1D1D1;
  background: #D1D1D1;
}
.contact_wrap p.email_line  span, .contact_wrap p.email_line  input{
      float: left;
}
.contact_wrap p.email_line  input{width: 76%}
.bottomPrice {
  width: 100%;
  font-size: .28rem;
  position: fixed;
  background-color: #fff;
  height: .98rem;
  line-height: .98rem;
  bottom: 0;
  border-top: 1px solid #dedede;
  z-index: 105;
}
.priceTotal {
  margin-left: .56rem;
}
.bottomPrice {
  width: 100%;
  font-size: .28rem;
  position: fixed;
  background-color: #fff;
  height: .89rem;
  line-height: .89rem;
  bottom: 0;
  border-top: 1px solid #dedede;
  z-index: 105
}
.preserve {
  display: inline-block;
  height: 100%;
  padding: 0 0;
  background: #FFB413;
  color: #FFFFFF;
  text-align: center;
  font-size: .36rem;
  position: absolute;
  right: 0;
  width: 50%;
}
.addMarginBottom {
  height: 1.2rem;
  width: 100%;
}
.tot_tips_rmb {
  color: #ff5b13;
}
.priceTotal > span {
  font-size: .32rem;
  color: #ff5b13;
  margin-right: .2rem;
}
.priceTotal .detail_fare {
  display: inline-block;
  vertical-align: top;
  margin-top: .42rem;
  background: url(../../images/hotel_flight_tour/arrow-up-orange.png) no-repeat;
  background-size: .24rem .14rem;
  width: .32rem;
  height: .2rem;
  transition: 0.3s all ease;
}
.priceTotal .detail_fare.open {
  margin-top: .48rem;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform-origin: 40% 25%;
  -webkit-transform-origin: 40% 25%;
  transition: 0.3s all ease;
}
.priceTotal {
  margin-left: .56rem;
}
.priceDetailInfo {
  position: fixed;
  padding: 0.4rem .28rem;
  height: 4.12rem;
  width: 100%;
  bottom: -126%;
  z-index: 102;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.priceDetailInfo p {
  height: .52rem;
  line-height: 0.52rem;
  font-size: .28rem;
  color: #333333;
}
.price-num-price {
  display: inline-block;
  float: right;
}
.shadow {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
}
