.hTab {
  width: 100%;
  height: .88rem;
  line-height: .88rem;
  background-color: #fcfcfc;
  font-size: .32rem;
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden;
}

.white {
  background: #FFFFFF
}

.clear_shadow {
  box-shadow: none;
}
.bottomFix {
  position: fixed;
  bottom: 0;
}
.addPaddingTop{padding-top: 1.76rem;}

.singleTrip, .doubleTrip {
  float: left;
  width: 50%;
  height: .84rem;
  font-size: .32rem;
  text-align: center;
}

.doubleTrip {
  float: right;
}

.light-title {
  border-bottom: 0.04rem solid rgb(255, 180, 19);
  color: rgb(255, 180, 19);
}

.grey-title {
  border-bottom: none;
  color:rgb(153, 153 ,153)
}

.place {
  height: 1.2rem;
  line-height: 1.2rem;
  padding: 0 .28rem;
  background: #fff;
  color: rgb(51, 51, 51);
  font-size: .36rem;
  position: relative;
}

.origin, .destination {
  height: 100%;
  width: 50%;
  line-height: 1.2rem;
}

.origin {
  float: left;
}

.destination {
  float: right;
}

.origin > div {
  text-align: left;
  margin-right: .68rem;
  border-bottom: 0.01rem solid #dedede;
}

.destination > div {
  text-align: right;
  margin-left: .68rem;
  border-bottom: 0.01rem solid #dedede;
}

.iconTip {
  width: .560rem;
  height: .560rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -.280rem;
  margin-top: -.280rem;
}

.iconTip > div {
  margin: 0 auto;
  width: .54rem;
  height: .54rem;
  background-image: url(../../images/ui/air-icons.png);
  background-repeat: no-repeat;
  background-position: 38% 17.9%;
  background-size: 4.67rem 2.81rem;
  overflow: hidden;
}

.span-target {
  height: .56rem;
  width: .56rem;
  background: url(../../images/ui/fly-roll.png) no-repeat;
  background-size: .56rem .56rem;
  position: absolute;
  top: 0
}

.realInfo {
  height: 1.60rem;
  padding: 0 .28rem;

}

.dateInfo {
  height: 1.6rem;
  padding: 0 .28rem;

}
#timeSingleWrap{display: none}
#timeDoubleWrap{display: block}
.single_date .to-word,.single_date .set-to{visibility: hidden}

.date-word {
  padding: .240rem 0;
  font-size: .24rem;
  color: rgb(153, 153, 153);
  height: .24rem;
  line-height: .24rem;
}

.date-word .from-word {
  float: left
}

.date-word .to-word {
  float: right
}

.date-value {
  font-size: 0.4rem;
  font-weight: bold;
}

.date-value .set-from {
  float: left
}

.date-value .set-to {
  float: right
}

.date-value .set-from > span:nth-child(2), .date-value .set-to > span:nth-child(2) {
  font-size: 0.24rem;
  color: rgb(51, 51, 51)
}
.adult, .child,.cabin-wrap, .search-button{
  height:.96rem;
  line-height: .96rem;
  margin: 0 .28rem;
  border-bottom: 1px solid #e6e6e6;
}
.pas-num-wrap .minus, .pas-num-wrap .plus{
  display: inline-block;
  width: .54rem;
  height: .54rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-size: 7.9rem 5.13rem;
  background-position: 41.2% 68%;
  position: relative;
  top:.156rem
}
.pas-num-wrap .plus_grey{background-position: 29.5% 68%}
.pas-num-wrap .minus{background-position: 17.5% 68%;  }
.pas-num-wrap .minus_grey{background-position: 6.7% 68%}
.adultNumber, .childNumber{
  display:inline-block;
  width: .80rem;
  text-align: center;
  font-size: .32rem;color: rgb(51, 51, 51)
}
.cabin-wrap{ margin: 0; padding: 0 .28rem}
.adult{border-top: 1px solid #e6e6e6;}
.cabin-arrow{
  display: inline-block;
  width: .142rem;
  height: .236rem;
  background: url("../../images/ui/icon_common.png") no-repeat;
  background-size: 7.9rem 5.13rem;
  background-position: -3.982rem -.62rem;
  float: right;
  margin-left: .32rem;
  position: relative;
  top: .3899rem
}
#seats{float: right;}
.search-button{
  margin: .40rem .28rem;
  height: .96rem;
}
.search-button input{
  font-family: 'Microsoft YaHei', STHeiti, Verdana, sans-serif;
  width: 100%;
  height: .96rem;
  color: #fff;
  font-weight: bold;
  line-height: .96rem;
  border-radius: .06rem;
  text-align: center;
  background: rgb(255, 180, 19);
  font-size: .36rem;
}
.float-right{float: right}
.searchZone, .date-top{
  height: .88rem;
  line-height: .88rem;
  padding: 0 .28rem;
  font-size: .24rem;
  color: #999999;
  position: fixed;
  top: .88rem;
  left: 0;
  right: 0;
  pointer-events: all;
  z-index: 99;
  background-color: #fcfcfc;
  opacity: .95;
  box-shadow: 0 1px 1px #e6e6e6;
  text-align: center;
}
.previousDay{
   float: left;
}
.nextDay{
  float: right;
}
.middle_input{
  display: block;
  border: 1px solid #e6e6e6;
  margin: .14rem 1.22rem;
  background: #fff;
  border-radius: .44rem;
  height: .60rem;
  line-height: .60rem;
  color: #666666;
}
.middle_input .weekWord{margin-left: .06rem}
.middle_input i, .date-top i{
  display: inline-block;
  width: .242rem;
  height: .122rem;
  background: url(../../images/ui/icon_hft.png) no-repeat;
  background-size: 7.50rem auto;
  background-position: 51.18% 51.58%;
  margin-left: .16rem;
  position: relative;
  top: -.04rem;
}
.date-top i{
  margin-left: 0;
}
.date-top .weekWord{
  margin: 0 .08rem;
}
.date-top span:nth-child(2){
  margin-right: 0
}
.date-top .v-line{
  font-size: .36rem;
}
.flight_ul{
  background: #fff;
  padding:0 .28rem ;
  border-bottom: 1px solid #e6e6e6;
}
.flight_ul .starTime, .flight_ul .endTime{
  font-size: .36rem;
}
.flight_ul .starPort, .flight_ul .endPort{
  font-size: .28rem;
}

.flight_ul li, .time_airport,.left_info{
  position: relative;
}
.left_info {
  height: 1.74rem;
}
.flight_ul li{
  padding: .40rem 0;
  height:2.20rem;
  border-bottom: 1px solid #e6e6e6; ;
}
.flight_ul li:last-child{
  border-bottom: none
}
.seat_price{
  width: 1.72rem;
  height:100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 1.2rem;
  float:right;
  text-align: center;
}
.seat_price .seat{font-size: .18rem;color: #999}
.seat_price .priceNumber{
  font-size: .36rem;
  color:#ff5b13;
  margin-top: .16rem
}
.seat_price .priceNumber span.money{
  font-size: .18rem;
}
.time_airport{
  height:100%;
  margin-right: 1.72rem;
}
.flight_detail{
  width: 100%;
  height: 0.4rem;
  line-height: .40rem;
  font-size: .20rem;
  color: #999;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.flight_detail span:before{
  content: "|";
  display: inline-block;
  font-size: .08rem;
  margin: 0 .08rem 0 0;
}
.flight_detail .airCropIcon{
  width:.80rem;
  height: 100%;
  float: left;
}
.flight_detail .airCropIcon:before,.flight_detail .airCropName:before{
    content: "";
    display: none;
}
.left_info .left, .left_info .right{
  width:1rem;
  height: 1.74rem;
  float: left;
}
.left_info .right{
  float: right;
  text-align: right;
  margin-right: .48rem;
  position: relative;
}
.left_info .middle{
  margin: 0 1.42rem 0 1rem;
  height: 1.74rem;
  font-size: .18rem;
  color: #999;
  text-align: center;
  box-sizing: border-box;
  padding: .1rem 0;
}
.left_info .middle .arrow_word{
  display: block;
  margin: 0 auto;
  width: 1.888rem;
  height: 0.24rem;
  background: url(../../images/ui/change-arrow.png);
  background-size: 1.88rem auto;
  background-repeat: no-repeat;
}
.left_info .middle span{
  display: block;
}
.left_info .starPort,.left_info .endPort{
  display: block;
  white-space: nowrap;
  overflow: visible;
  margin-top: .46rem;
}
.left_info .endPort{float: right}
.spaceDay{
  position: absolute;
  right: -.54rem;
  top: 0;
  font-size: .18rem;
}
