* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
    background-color: #f5f4f9;
}

li{
    list-style: none;
}

i{
    font-style: normal;
}
.top {
    width: 100%;
    height: 45px;
    padding: 1px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: fixed;
    z-index: 100;
    background: linear-gradient(#16364f, #194361);
}

.icons {
    background-image: url(../images/ui/icons.png);
    background-repeat: no-repeat;
    background-size: 243px 160px;
    display: inline-block;
}

.header-back {
    width: 12px;
    height: 22px;
    margin-left: 1rem;
    margin-top: 0.2rem;
}

.city-tit {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.location-msg {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: #fff;

}

.min320 {
    min-width: 320px;
}

/*游玩日期*/
.travel-date {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    height: 32px;
    line-height: 32px;
    background-color: #f0eeee;
    padding-left: 20px;
    font-size: 1.3rem;

}

.travel-date-tit {
    -webkit-box-felx:1;
    -moz-box-flex:1;
    -ms-flex:1;
    -webkit-flex:1;
    flex:1;
}

.travel-date-wrap {
    -webkit-box-felx:1.8;
    -moz-box-flex:1.8;
    -ms-flex:1.8;
    -webkit-flex:1.8;
    flex:1.8;
    text-align: right;
}


.date-picker {
    display: inline-block;
    vertical-align: middle;
    margin-top: -15px;
    background: url(../images/ui/icon-h.png) no-repeat;
    background-size: 402px 174px;
    background-position: -245px 0;
    width: 34px;
    height: 34px;
}

.sce-ticket-wrap {
    color: #333;
}

.travel-date-cont {
    color: #fdb330;
}

.per-price-wrap {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding-left: 20px;
    font-size: 1.5rem;
}
.per-price-tit {
    -webkit-box-felx:1;
    -moz-box-flex:1;
    -ms-flex:1;
    -webkit-flex:1;
    flex:1;
}

.sce-introduce {
    padding-left: 20px;
    padding: 0.8em 0;
    margin-bottom: 8px;
}

.sce-introduce-txt {
    font-size: 1.5rem;
    padding-left: 20px;
    margin-bottom: 10px;
}

.contact-document {
    padding-left: 20px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 30px;
    line-height: 30px;
    background-color: #f0eeee;
}

.contact-document > span {
    -webkit-box-felx:1;
    -moz-box-flex:1;
    -ms-flex:1;
    -webkit-flex:1;
    flex:1;
    font-size: 1.3rem;

}

.contact-doc-tit{
    color: #333;
}

.sce-ticket {
    background-color: #fff;
}

.tourist-ticket {
    background-color: #fff;
    margin-bottom: 0.6em;
}

.order-amount {
    width: 100%;
    height: 50px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    line-height: 50px;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 110;
}

.order-total-wrap {
    -webkit-box-felx:2;
    -moz-box-flex:2;
    -ms-flex:2;
    -webkit-flex:2;
    flex:2;
    font-size: 1.7rem;
    padding-left: 20px;
    position: relative;
    z-index: 100;
    background-color: #fff;
}

.order-total-wrap span {
    font-size: 1.7rem;
}

.order-total-btn {
    -webkit-box-felx:1;
    -moz-box-flex:1;
    -ms-flex:1;
    -webkit-flex:1;
    flex:1;
    text-align: center;
    background-color: #ffb413;
    color: #fff;
    font-size: 1.7rem;
    position: relative;
    z-index: 100;
}

.order-total-btn:hover {
    background-color: #ff9313;
}

.order-total-fare {
    color: #fe6a03;
    font-weight: bold;
}

.order-total-tip {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.2em;
    margin-top: -0.3em;
    width: 1.9rem;
    height: 1.9rem;
    background: url(../images/ui/icon.png) 28% 33%;
    background-size: 40rem 12rem;
}

.per-price-cont {
    -webkit-box-felx:1;
    -moz-box-flex:1;
    -ms-flex:1;
    -webkit-flex:1;
    flex:1;
    color: #fe6a03;
    font-weight: bold;
}

.tourist-msg {
    padding-left: 20px;
    margin-bottom: 0;
}

.tourist-msg li {
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    height: 38px;
    line-height: 38px;
    position: relative;
    margin-bottom: 0;
}

.add-ticket {
    box-sizing: border-box;
    text-align: center;
    height: 40px;
    padding-top: 7px;
}

.add-tic-btn {
    display: inline-block;
    vertical-align: middle;
    width: 2.3rem;
    height: 2.3rem;
    background: url(../images/ui/icons1.png) -0.2rem 0;
    background-size: 33rem 10rem;
}

.add-tic-txt {
    display: inline-block;
    vertical-align: top;
    color: #ffb413;
    font-size: 1.3rem;
}

.order-notice {
    padding-left: 20px;
    padding-bottom: 100px;
}

.order-notice-btn {
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
    background: url(../images/ui/icons1.png) -26.6rem -0.4rem;
    background-size: 40rem 12rem;
}


.order-notice-txt {
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    color: #999;
    font-size: 1.3rem;
}

.contact-select {
    color: #fcbc20;
    text-align: right;
    padding-right: 40px;
    position: relative;
}

.tourist-list-light {
    color: #333;
    margin-right: 1rem;
    font-size: 1.3rem;
    vertical-align: middle;
}

.tourist-name {
    display: inline-block;
    width: 26%;
    font-size: 1.3rem;
    color: #333;
    vertical-align: middle;
}

.per-price-control {
    -webkit-box-felx:1.4;
    -moz-box-flex:1.4;
    -ms-flex:1.4;
    -webkit-flex:1.4;
    flex:1.4;
}

.per-price-control span {
    display: inline-block;
    border: 1px solid #eeebeb;
    width: 2.4rem;
    height: 2rem;
    line-height: 1.8rem;
    text-align: center;
}

.per-price-control i {
    display: inline-block;
    border-top: 1px solid #eeebeb;
    border-bottom: 1px solid #eeebeb;
    width: 2.4rem;
    height: 2rem;
    line-height: 1.8rem;
    text-align: center;
}

.per-price-control .ticket-num {
    display: inline-block;
    border-top: 1px solid #eeebeb;
    border-bottom: 1px solid #eeebeb;
    width: 2em;
    height: 1.6em;
    line-height: 1.6em;
    text-align: center;
}

.right-select {
    background: url(../images/ui/icons.png) no-repeat;
    background-size: 290px 177px;
    background-position: 42% 30%;
    position: absolute;
    width: 20px;
    height: 30px;
    right: 20px;
    top: 0;
}

/*景点预订免登陆开始*/
.sce-order-login {
    color: #ffb500;
    text-decoration: underline;
}

.contact-noact {
    color: #999;
}

.free-login {
    color: #333;
    padding: 0 20px;
    font-size: 1.2rem;
    font-weight: normal;
    margin:0.7rem 0 0.4rem;
}

.verification-get {
    position: absolute;
    right: 20px;
    top: 7px;
    height: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    color: #fff;
    background-color: #ffb413;
    border-radius: 4px;
    padding: 0 1rem;
    font-size: 1.2rem;
}

.tour-short {
    width: 22%;
}

/*景点预订免登陆结束*/

/*景点预订明细开始*/
.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity:30);
    z-index: 90;
    display: none;

}

.price-tot-box {
    position: fixed;
    left: 0;
    bottom: -240px;
    background-color: #fff;
    width: 100%;
    padding-top: 1rem;
    z-index: 100;
    transition: 0.7s all ease;
}

.price-tot-list{
    margin-bottom: 5px;

}

.price-tot-list li {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.3rem;
}

.price-tot-list li > span {
    -webkit-box-felx:1;
    -moz-box-flex:1;
    -ms-flex:1;
    -webkit-flex:1;
    flex:1;
}

.price-per-tot {
    text-align: right;
    margin-right: 20px;
}

.price-per-tit{
    padding-left: 20px;
}

.add-tic-owner{
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 0 10px 0 20px;
    background-color: #f0eeee;
    line-height: 40px;
    height: 40px;
    margin-top: -8px;
}

.add-tic-owner span{
    -webkit-box-felx:1;
    -moz-box-flex:1;
    -ms-flex:1;
    -webkit-flex:1;
    flex:1;
}

.add-tic-owner-wrap{
     text-align: right;
}
.add-tic-owner-btn{
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
    width: 2.3rem;
    height: 2.3rem;
    background: url(../images/ui/icons1.png) -0.3rem 0.3em;
    background-size: 33rem 10rem;
}
/*景点预订明细结束*/

