body{ background: #f7f7f7;}
ol{padding:0;margin:0;}
.jpr{
  position: relative;
}
.jpa{
  position: absolute;
}
/*酒店列表  开始*/
.hotel_list{
  background: #fff;
  margin-bottom: 0.98rem;
}
.hotel_list li{
  border-bottom:1px solid #e6e6e6;
  padding:0.2rem;
  position: relative;
}
.hotel_list li>div{
  position: relative;
  height: 1.68rem;
}
.hotel_list .img{
  width: 1.68rem;
  height: 1.68rem;
  position: absolute;
}
.hotel_list .message{
  margin-left: 1.88rem;
  font-size: 0.2rem;
  font-family: FZLTXHK;
}
.hotel_list .message h3{
  font-size:0.28rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 4.1rem;
  font-weight: bold;
  color:#333;
  margin-bottom:0.15rem;
}
.hotel_list .message p{
  color: #999;
  font-size: 0.24rem;
  margin-top: 0.08rem;
}
.hotel_list .message span.score{
  font-size: 0.28rem;
  color: #666;
  font-weight: bold;
}
.hotel_list .message .address{
  font-size:0.2rem;
}
.hotel_list .price{
  position: absolute;
  right: 0.2rem;
  text-align: right;
  top: 50%;
  height: 0.3rem;
  line-height: 0.3rem;
  margin-top: -0.15rem;
  color: #ff5b13;
  font-size: 0.36rem;
}
.hotel_list .price span{
  float: right;
}
.hotel_list .price .add{
  margin-right: -0.05rem;
}
.hotel_list .price .dollar{
  font-size: 0.3rem;
}
.hotel_list .price .money{
  font-size: 0.4rem;
}
.hotel_list li.cur i{
  position: absolute;
  top: 0;
  right: 0;
  background: url(../../images/ui/ticket_hotel.png) no-repeat -3.65rem -1.22rem;
  width: 0.42rem;
  height: 0.42rem;
  background-size: 5.99rem 4.58rem;
}
.hotel_list .equipment span{
  float: left;
}
.hotel_list .park,.hotel_list .car{
  background:url(../../images/hotel_flight_tour/icon_hotel.png);
  background-size:7.89rem 2.58rem;
  width: 0.3rem;
  height:0.3rem;
  margin-left: 0.1rem;
}
.hotel_list .park{
  background-position: -0.64rem -0.54rem;
}
.hotel_list .car{
  background-position: -1.06rem -0.54rem;
}
.hotel_list .price.reduce,.hotel_detail_rooms .price.reduce{
  color: #5abfb6;
}
.hotel_list_bottom{
  position: fixed;
  bottom:0;
  left: 0;
  height: 0.98rem;
  width: 100%;
  font-size: 0.24rem;
  background: #4a4a4a;
  z-index: 30;
}
.hotel_list_bottom dl{
  float:left;
  width:33.3333333333333%;
  text-align: center;
  height: 0.98rem;
  color: #fff;
  font-family: FZLTXHK;
  background: #4a4a4a;
}
.hotel_list_bottom dl.bg_color{
  background: #2a2a2a;
}
.hotel_list_bottom dl dt{
  width: 0.34rem;
  height: 0.37rem;
  background:url(../../images/ui/icon_common.png);
  background-size:7.89rem 5.07rem;
  margin:0.12rem auto 0.05rem;
}
.hotel_list_bottom dl.sort dt{
  background-position:-0.59rem -2.32rem;
}
.hotel_list_bottom dl.screen dt{
  background-position:-1.87rem -2.32rem;
}
.hotel_list_bottom dl.position dt{
  background:url(../../images/hotel_flight_tour/icon_hotel.png);
  background-size:7.89rem 2.58rem;
  background-position:-2.19rem -0.46rem;
}
.hotel_pop{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 20;
}
.hotel_pop .sort{
  bottom:-3.98rem;
}
.hotel_pop .sort,.hotel_pop .position ul{
  background: #fff;
  width: 100%;
  position: absolute;
  transition:all 0.3s;
  left: 0;
}
.hotel_pop .sort li,.hotel_pop .position ul li{
  margin: 0 0.28rem;
  font-size: 0.28rem;
  padding: 0 0.12rem;
  height: 0.96rem;
  line-height: 0.96rem;
  border-top: 1px solid #e6e6e6;
  color: #333;
  position: relative;
}
.hotel_pop .sort li i,.hotel_pop .screen_rg li i{
  width: 0.4rem;
  height: 0.4rem;
  position:absolute;
  top:50%;
  right: 0.18rem;
  margin-top:-0.2rem;
}
.hotel_pop .screen_rg li.cur i,.hotel_pop .sort li.curimg i{
  background:url(../../images/ui/icon_common.png);
  background-size:7.9rem 5.13rem;
  background-position: -6.9rem -0.58rem;
}
.hotel_pop .screen_rg li i{
  right:0.28rem;
}
.hotel_pop .sort li i{
  right: 0.18rem;
}
.hotel_pop .screen{
  height: 6.72rem;
  width: 100%;
  position: absolute;
  bottom:-5.98rem;
  left: 0;
  background: #fff;
  font-size: 0.28rem;
  transition:all 0.3s;
}
.hotel_pop .screen_btn{
  height:0.89rem;
  line-height: 0.89rem;
  background: #f7f7f7;
  position: relative;
}
.hotel_pop .screen_btn p{
  top:0;
  text-align: center;
  color: #999;
}
.hotel_pop .screen_btn p:first-child,.hotel_pop .screen_btn p:last-child{
  position: absolute;
  width: 1.5rem;
}
.hotel_pop .screen_btn p:first-child{
  left:0;
}
.hotel_pop .screen_btn p:nth-child(2){
  margin: 0 1.5rem;
}
.hotel_pop .screen_btn p:last-child{
  right:0;
  color: #ffb500;
}

.hotel_pop .screen_box{
  position: relative;
  height: 5.83rem;
}
.hotel_pop .screen_lf{
  position:absolute;
  top:0;
  left:0;
  width:2rem;
  height: 5.83rem;
  overflow-y:scroll;
}
.hotel_pop .screen li{
  height: 0.96rem;
  line-height: 0.96rem;
  color:#333;
}
.hotel_pop .screen_lf {
  background: #f7f7f7;
}
.hotel_pop .screen_lf li{
  padding-left:0.23rem;
  border-left:3px solid #f7f7f7;
  background: #f7f7f7;
}
.hotel_pop .screen_lf li.cur{
  border-left:3px solid #fdb330;
  background:#fff;
  font-weight: bold;
}
.hotel_pop .screen_rg{
  background:#fff;
  margin-left:2.32rem;
}
.hotel_pop .screen_rg ul{
  height:5.83rem;
  overflow-y:scroll;
}
.hotel_pop .screen_rg li{
  border-bottom:1px solid #dedede;
  position:relative;
}
.hotel_pop .position{
  position:absolute;
  bottom:-4.98rem;
  left: 0;
  width: 100%;
  height: 5.69rem;
  background: #fff;
  font-size: 0.28rem;
  transition:all 0.3s;
}
.hotel_pop .position ul{
  height: 4.8rem;
  bottom:0rem;
  overflow-y: scroll;
}
.hotel_pop .position ul li{
  margin: 0 0 0 0.28rem;
}
.hotel_pop .position ul li:nth-child(1){
  border-top: 0;
}
.hotel_pop .position i{
  position:absolute;
  right: 0.39rem;
  top: 50%;
  background:url(../../images/ui/icon_common.png);
  background-size:7.9rem 5.13rem;
  background-position:-4.40rem -0.51rem;
  width: 0.5rem;
  height: 0.5rem;
  margin-top:-0.25rem;
}
.hotel_pop .position li.cur{
  color: #ffb500;
}
.hotel_pop .position li.cur i{
  background-position:-5.07rem -0.51rem;
}
/*酒店列表  结束*/

/*酒店详 开始*/
.hotel_dbanner{
  height: 5rem;
  position: relative;
}
.hotel_dbanner img{
  position: absolute;
  top:0;
  left: 0;
  height:5rem;
  width:100%;
  z-index: 1;
}
.hotel_dbanner p{
  position:absolute;
  bottom:0.16rem;
  right:0.28rem;
  width:100%;
  font-size: 0.26rem;
  color: #fff;
  text-align:right;
  z-index:10;
}
.hotel_dbanner a.goback{
  width: 0.64rem;
  height: 0.64rem;
  position:absolute;
  left: 0.25rem;
  top: 0.25rem;
  z-index:10;
  background:url(../../images/ui/icon_common.png);
  background-size:7.9rem 5.13rem;
  background-position:-3.19rem -0.44rem;
}
.hotel_detail_msg{
  padding: 0 0.28rem;
  background: #fff;
  color:#333;
  border-bottom:2px solid#e6e6e6;
}
.hotel_detail_msg>ul{
  padding:0.261rem 0 0.001rem;
}
.hotel_detail_msg li{
  margin-bottom: 0.26rem;
  position: relative;
}
.hotel_detail_msg .name h3{
  font-size: 0.32rem;
  font-weight:bold;
  line-height: 0.4rem;
  padding:0;
  margin:0;
}
.hotel_detail_msg .mes{
  font-size: 0.28rem;
}
.hotel_detail_msg .score{
  font-size: 0.24rem;
}
.hotel_detail_msg .score b{
  font-size: 0.36rem;
}
.hotel_detail_msg .star{
  font-size: 0.24rem;
  height: 0.36rem;
  position: relative;
}
.hotel_detail_msg .star span{
  position: absolute;
  line-height: 0.36rem;
  top:0;
}
.hotel_detail_msg .star .park,.hotel_detail_msg .star .car{
  background: url(../../images/hotel_flight_tour/icon_hotel.png);
  background-size: 7.89rem 2.58rem;
  width: 0.3rem;
  height: 0.36rem;
}
.hotel_detail_msg .star .park{
  background-position: -0.64rem -0.54rem;
  left: 0.8rem;
}
.hotel_detail_msg .star .car{
  background-position: -1.06rem -0.54rem;
  left: 1.18rem;
}
.hotel_detail_msg .star .detail{
 position: absolute;
  right: 0.36rem;
  color: #999;
}
.hotel_detail_msg .arrow{
  background:url(../../images/ui/icon_common.png);
  background-size: 7.9rem 5.13rem;
  width: 0.16rem;
  height:0.26rem;
  position: absolute;
  right: 0;
  top:50%;
  margin-top:-0.13rem;
  background-position: -1.17rem -0.63rem;
}
.hotel_detail_rooms{
  margin-top:0.2rem;
  border-top:1px solid#e6e6e6;
  border-bottom:1px solid#e6e6e6;
  background: #fff;
  font-size: 0.24rem;
}
.hotel_detail_rooms>ul>li{
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
.hotel_detail_rooms .slide{
  padding: 0.16rem 0.28rem 0.1rem;
  position: relative;
}
.hotel_detail_rooms .slide .lfword p{
  height: 0.4rem;
  line-height: 0.4rem;
}
.hotel_detail_rooms .gray{
  color: #999;
}
.hotel_detail_rooms .price{
  position: absolute;
  right: 0.28rem;
  top: 50%;
  color:#ff5b13;
  height: 0.46rem;
  line-height: 0.46rem;
  margin-top: -0.23rem;
}
.hotel_detail_rooms .price .num{
  font-size: 0.4rem;
  margin-left: -0.1rem;
  margin-right: -0.04rem;
}
.hotel_detail_rooms .price .symbol,.hotel_detail_rooms .price .word{
 position: relative;
  top: -0.04rem;
}
.hotel_detail_rooms .price span{
  display: inline-block;
  height: 0.46rem;
  line-height: 0.46rem;
}
.hotel_detail_rooms .price .symbol{
  left: -0.05rem;
}
.hotel_detail_rooms .price p i{
  background:url(../../images/ui/icon_common.png);
  background-size: 7.9rem 5.13rem;
  background-position:-2.76rem -0.67rem;
  display: inline-block;
  width:0.35rem;
  height:0.24rem;
  position: relative;
  top:-0.05rem;
}
.hotel_detail_rooms li.cur .price p i{
  background-position:-2.18rem -0.67rem ;
}
.hotel_detail_rooms li.cur .slide>b{
  position: absolute;
  top:0;
  right: 0;
  background:url(../../images/ui/icon_common.png);
  background-size: 7.9rem 5.13rem;
  background-position:-4.70rem -1.48rem;
  width: 0.47rem;
  height: 0.47rem;
}
.hotel_detail_rooms .time{
  border-bottom:1px solid#e6e6e6;
  padding: 0.2rem 0.28rem 0.14rem;
  overflow:hidden ;
}
.hotel_detail_rooms .time li{
  height: 0.4rem;
  line-height: 0.4rem;
}
.hotel_detail_rooms .time span{
  font-size: 0.32rem;
  color:#FFB413;
}







/*酒店详情  结束*/
