
/*公用开始*/
.fl {
  float: left;
}

.fr {
  float: right;
}
*{
  box-sizing: border-box;
}
em, b, i{
  font-weight: normal;
  font-style: normal;
}
input{
  border:none;
  outline: none;
}

/*公共结束*/

/*机票开始*/
.flight_section{
  background-color: #fff;
}
.fht_hd {
  background-color: #f7f7f7;
  height: 0.68rem;
  line-height: 0.68rem;
  border-top: 2px solid #ddd;
  padding: 0 .28rem;
  position: relative;
}
.fht_hd.flight_top{
  border-top:none;
}

.fht_hd_tit {
  color: #333;

}

.fht_hd_tit >i{
  display: inline-block;
  vertical-align: top;
  margin-top: .09rem;
  margin-right: .16rem;
  width: .5rem;
  height: .5rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -0.4rem -1.25rem;
  background-size: 6.6rem 4.55rem;
}

.fht_hd_det{
  font-size: .24rem;
  color: #999;
}
.fht_hd_det i{
  display: inline-block;
  vertical-align: top;
  margin-left: .12rem;
  margin-top: .2rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -3.38rem -1.33rem;
  background-size: 6.6rem 4.55rem;
  width: .34rem;
  height: .34rem;
}
.fli_cont{
  height: .32rem;
  line-height: .32rem;
  margin-bottom: .32rem;
  padding-right: .28rem;
}
.flight_cir_wrap{
  padding: .4rem 0 .4rem .28rem;
}
.fli_cir_left >span{
  display: inline-block;
  vertical-align: top;
}
.flight_terminal{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 3.3rem;
}
.fli_cir_left .go_tip{
  display: inline-block;
  vertical-align: top;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -2.22rem -1.33rem;
  background-size: 6.6rem 4.55rem;
  width: .32rem;
  height: .32rem;
}
.fli_cir_left .back_tip{
  display: inline-block;
  vertical-align: top;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -2.8rem -1.33rem;
  background-size: 6.6rem 4.55rem;
  width: .32rem;
  height: .32rem;
}
.fli_cir_right i{
  display: inline-block;
  vertical-align: top;
  margin-top: 01px;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -5.2rem -2.14rem;
  background-size: 6.6rem 4.55rem;
  width: .26rem;
  height: .26rem;
}
.flight_cir_wrap li:nth-child(2){
  margin-bottom:0;
  padding-bottom:.8rem;
  border-bottom: 1px solid #e6e6e6;
}
.cabin_level{
  margin-top: .4rem;
}

/*机票结束*/

/*酒店开始*/
.hotel_section{
  background-color: #fff;
}
.hotel_wrap{
  margin-left: .28rem;
  padding: .4rem 0;
}
.hotel_wrap li{
  margin-bottom: .32rem;
  color: #666;
}
.fht_hd_tit.hotel >i{
  display: inline-block;
  vertical-align: top;
  margin-top: .09rem;
  margin-right: .16rem;
  width: .5rem;
  height: .5rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -0.96rem -1.25rem;
  background-size: 6.6rem 4.55rem;
}
.hotel_wrap >h3{
  margin-bottom: .32rem;
  font-weight: bold;
}

/*酒店结束*/

/*景点开始*/
.tour_section{
  background-color: #fff;
}
.fht_hd_tit.tour >i{
  display: inline-block;
  vertical-align: top;
  margin-top: .09rem;
  margin-right: .16rem;
  width: .5rem;
  height: .5rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -1.56rem -1.25rem;
  background-size: 6.6rem 4.55rem;
}
.tour_wrap > li{
  padding: .4rem .28rem;
  border-bottom: 1px solid #e6e6e6;
}
.tour_wrap > li:last-child{
  border-bottom: none;
}
.tour_wrap > li p{
  color: #666;
}
.tour_wrap > li .mb_ten{
  color: #333;
  margin-bottom: .2rem;
  font-weight: bold;
}

/*景点结束*/

/*出行人*/
.traveller_section{
  background-color: #fff;
}
.order_twrap{
  padding-left: .28rem;
}
.order_twrap b{
  font-weight: normal;
}
.order_tsl2 {
  float: right;
  font-size: .24rem;
  line-height: .68rem;
  margin-right: .45rem;
}

li.order_tlist2 {
  position: relative;
  padding: .32rem 0 0;
}
.tra_delete{
  position: absolute;
  left: 0;
  top: .32rem;
  width: .4rem;
  height: .4rem;
  background: url(../../images/hotel_flight_tour/icon_payment.png) no-repeat;
  background-position: -3.96rem -.42rem;
  background-size: 6.6rem 1.4rem;
}
.add_traveller{
  position: absolute;
  right: .28rem;
  top: .16rem;
  width: .33rem;
  height: .33rem;
  background: url(../../images/hotel_flight_tour/icon_payment.png) no-repeat;
  background-position: -4.66rem -.44rem;
  background-size: 6.6rem 1.4rem;
}

.traveller_wrap{
  margin-left: .68rem;
  overflow: hidden;
}
.traveller_wrap >span{
  display: block;
  margin-bottom: .3rem;
}

.order_tlist2 span {
  width: 100%;
  display: block;
}

/*联系人*/
.fht_contact{
  background-color: #fff;
}
.fht_contact{
  margin-bottom:1.5rem ;
}
.fht_con_hd{
  background-color: #f7f7f7;
  height: 0.68rem;
  line-height: 0.68rem;
  border-top: 1px solid #ddd;
  padding: 0 .28rem;
  position: relative;
}

.contact_link_wrap li{
  height: .88rem;
  line-height: .88rem;
  border-bottom:1px solid #e6e6e6 ;
  padding:0 .28rem;
}
.contact_link_wrap li input{
  font-size: .28rem;
  width: 44%;
  padding: .22rem 0;
}

.order_ls_cell,.contacts_email >span{
  width: 1.62rem;
}
.tel_code_tip{
  width: 20px;
  height: 20px;
  background: url(../../images/ui/icons.png) no-repeat;
  background-size: 280px 200px;
  background-position: 73% 1%;
  display: inline-block;
}
.order_line{
  display: inline-block;
  width: .02rem;
  height: .4rem;
  background-color: #e6e6e6;
  vertical-align: top;
  margin: 0 0.25rem;
  margin-top: .25rem;
}

.contacts_tel_code, .hft_con_cell{
  width: 44%;
  display: inline-block;
  vertical-align: middle;
}
.contacts_tel_code > div{
  float: left;
}
.detail_fale {
  display: inline-block;
  vertical-align: top;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -3.22rem -.44rem;
  background-size: 6.6rem 4.55rem;
  width: .32rem;
  height: .32rem;
  transform: rotate(90deg);
  transition:0.3s all ease;
  margin-top: .3rem;
}

.detail_fale.open {
  display: inline-block;
  vertical-align: top;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -3.22rem -.44rem;
  background-size: 6.6rem 4.55rem;
  width: .32rem;
  height: .32rem;
  transform: rotate(270deg);
  transition:0.3s all ease;
  margin-top: .3rem;

}

/*预定footer*/
.order_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fcfcfc;
  height: .98rem;
  width: 100%;
  border-top: 1px solid #e6e6e6;
  z-index: 105;

}
.order_num {
  height: 100%;
  width: 50%;
  line-height: .98rem;
  text-align: center;
}
.order_num span.num1 {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  font-size: .3rem;
  width: 60%;
}

.order_submit {
  height: .98rem;
  line-height: .98rem;
  width: 50%;
  background-color: #FDB330;
  text-align: center;
  color: white;
  font-size: .35rem;
}

.order_submit:hover {
  color: #ccc;
}

/*footer结束*/

/*明细开始*/
.hft_det_mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: 100;
  display: none;
}

.hft_detail_fare {
  transition: 300ms all ease;
  /*bottom: .78rem;*/
  bottom: -3rem;
  padding:.28rem;
  width: 100%;
  position: fixed;
  z-index: 102;
  background: #fff;
  font-size: .28rem;
  color: #333;
}

.hft_detail_fare p {
  margin-bottom: 0;
  height: .3rem;
  margin-bottom: .28rem;
}

.hft_detail_fare p span:nth-child(2) {
  float: right;
}

/*明细结束*/

/*国籍tel*/
.country-cho-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200%;
  z-index: 1000;
  display: none;
}
.header-back{
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  left: 0;
}
.go-back{
  position: absolute;
  width: 12px;
  height: 22px;
  left: 15px;
  top: 50%;
  margin-top: -11px;
}
.icons{
  background: url(../../images/ui/icons.png) no-repeat;
  background-size: 243px 160px;
  display: inline-block;
}

.country-cho-wrap .header {
  height: 45px;
  max-height: 45px;
}

.country-cho-wrap-order {
  position: absolute;
  z-index: 1000;
}

.cl_search {
  height: 30px;
  width: 100%;
  padding-left: 38px;
  padding-right: 15px;
  margin-top: 7px;
  position: relative;
  left: 0;
  top: 0;
  overflow: visible;
}

.cl_search input {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding-left: 24px;
  font-family: 'Microsoft YaHei', STHeiti, Verdana, sans-serif;
}

.cl_search i {
  position: absolute;
  left: 47px;
  top: 10px;
  display: block;
  background: url("../../images/city_search.png");
  background-size: 11px 11px;
  width: 11px;
  height: 11px;
}

.country-list {
  background-color: #fff;
}

.country-list li {
  padding-left: 35px;
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #dfdfdd;
}

.country-hidden {
  z-index: 100;
}

/*国籍模糊搜索*/
.country-list-searched {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 1.4px;
  list-style: none;
  position: fixed;
  top: 3.8px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background: #f5f4f9;
  margin-bottom: 0;
  overflow-y: scroll;
  padding-top: 1px;
}

.country-list-searched li.country-list-searched-item {
  width: 100%;
  font-size: 1.4px;
  list-style: none;
  height: 3.4px;
  line-height: 3.4px;
  text-align: left;
  border-bottom: 0.1px solid #dfdfdd;
  margin-bottom: 0;
  padding-left: 4px;

}

/*国籍tel结束*/

/*订单详情已支付*/
.tel_tip{
  position: absolute;
  right: .28rem;
  top: .3rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -4.52rem -1.33rem;
  background-size: 6.6rem 4.55rem;
  width: .34rem;
  height: .34rem;
}
.tot_prinum_wrap{
  height: .88rem;
  line-height: .88rem;
  padding: 0 .28rem;
  border-bottom: 1px solid #e6e6e6;
}
.tot_prinum{
  color: #fb6a22;
  font-size: .32rem;
}
.hft_pri_details{
  padding: .4rem .28rem;
  border-bottom: 2px solid #e6e6e6;
  margin-bottom: .7rem;
}
.hft_pri_details li{
  margin-bottom: .28rem;
}
.hft_pri_details li:last-child{
  margin-bottom:0;
}
.hft_paid{
  height: .88rem;
  line-height: .88rem;
  font-size: .32rem;
  background-color: #fff;
  text-align: center;
}
.hft_paid i{
  display: inline-block;
  vertical-align: top;
  margin-top: .2rem;
  margin-left: .12rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -3.38rem -1.3rem;
  background-size: 6.6rem 4.55rem;
  width: .32rem;
  height: .32rem;
}
.order_tot_price{
  background-color: #fff;
}

.fare_tip{
  display: inline-block;
  vertical-align: top;
  margin-left: .05rem;
  margin-top: .24rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -2.3rem -.5rem;
  background-size: 6.6rem 4.55rem;
  width: .32rem;
  height: .32rem;
  transition: 0.3s all ease;
}
.fare_tip.on{
  display: inline-block;
  vertical-align: top;
  margin-left: .05rem;
  margin-top: .24rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -1.84rem -.5rem;
  background-size: 6.6rem 4.55rem;
  width: .32rem;
  height: .32rem;
  transition: 0.3s all ease;
}

.fht_order_tab{
  padding: .4rem .28rem 0;
  background-color: #fff;
  overflow: hidden;
}
.fht_order_tab >li{
  margin-bottom: .32rem;
}
.fht_order_tab p{
  margin-bottom: .32rem;
}

.order_cont_way{
  border-top: 1px solid #e6e6e6;
  background-color: #fff;
  padding-bottom: .32rem;
}
.order_cont_way >li{
  padding: .32rem .28rem 0;
}

