.content{
  padding-top:1rem;
  position: relative;

}
*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.top_info{
  padding: 0 .28rem;
  height:.96rem;
  line-height: .96rem;
  border-top:.01rem solid #e6e6e6;
  border-bottom:.01rem solid #e6e6e6;
  font-size: .28rem;
  color:#333333;
  position: relative;
}
.top_info>span:nth-child(1){
  margin-right: .14rem;
}
.top_info .person_number{
  color:#999999;
  float: right;
  margin-right: .30rem;
}
.top_info i, .flightDetailArrow i, .hotelImgInfo i{
  display: inline-block;
  position: absolute;
  right: .28rem;
  top: .48rem;
  width: .16rem;
  height: .16rem;
  border-bottom: .03rem solid #666;
  border-left: 0;
  border-right: .03rem solid #666;
  -webkit-transform: rotate(-45deg) translateY(-50%);
  -o-transform: rotate(-45deg) translateY(-50%);
  -moz-transform: rotate(-45deg) translateY(-50%);
  -ms-transform: rotate(-45deg) translateY(-50%);
  transform: rotate(-45deg) translateY(-50%);
  -webkit-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.ticket, .hotel, .tour{
  width: 100%;
  font-size: .28rem;
}
.tour{
  margin-bottom: .98rem;
}
.ticket .statusMoreFlight, .hotel .statusMoreHotel, .tour .tourListHeader, .confirm{
  padding:0 .28rem;
  height:.68rem;
  line-height:.68rem;
  background:#f5f4f9;
}
.statusMoreFlight a, .statusMoreHotel a{
  color: rgb(255, 180, 18);
  text-decoration: underline;
  position: absolute;
  right:.28rem
}
.statusMoreFlight span:first-child:before,.statusMoreHotel span:first-child:before ,.tourListHeader span:first-child:before {
  content: "";
  display: inline-block;
  width: .40rem;
  height: .40rem;
  background: url(../../images/ui/icon_common.png);
  background-repeat: no-repeat;
  background-size: 6.0rem auto;
  background-position: -.36rem -2.33rem;
  overflow: hidden;
  margin-right: .16rem;
  position: relative;
  top: .10rem;
}
.statusMoreHotel span:before {
  background-position: 41.99% 31.89%;
}
.ticket ul{
  padding: .4rem .28rem;
}
.dateWeekCity{
  height:.42rem;
  line-height: .42rem;
  margin-bottom: .32rem;
}
.dateWeekCity span:nth-child(1){
  content: "";
  display: inline-block;
  width: .40rem;
  height: .40rem;
  background: url(../../images/ui/icon_common.png);
  background-repeat: no-repeat;
  background-size: 7.89rem auto;
  background-position: -2.66rem -1.42rem;
  overflow: hidden;
  position: relative;
  top: .10rem;
}
.tripBack .dateWeekCity span:nth-child(1){
  background-position: -3.35rem -1.42rem;
}
.tripGo{
  width:100%
}
.timeAirport{
  position: relative;
}
.timeAirport .left,.timeAirport .right{
  height: 1.12rem;
  width: 1.0rem;
  position: absolute;
  top: 0;
  white-space: nowrap;
  overflow: visible;
}
.timeAirport .right{
  right: 0;
}
.flightDetailInfo{
  margin: .28rem 0 .08rem 0;
  color:#999999;
}
.flightDetailInfo span:before{
  content: "|";
  display: inline-block;
  margin: 0 .08rem;
}
.flightDetailInfo span:first-child:before{
  content: "";
  display: none;
}
.flightDetailArrow{
  width: 100%;
  height:.32rem;
  line-height: .32rem;
  position: relative;
}

.flightDetailArrow i {
  position: absolute;
  right: 0;
  top:.16rem
}
.timeAirport .left span,.timeAirport .right span{
  display: inline-block;
  height: .32rem;
  line-height: .32rem;
}

.timeAirport .left .startTime,.timeAirport .right .arriveTime{
  white-space: normal;
  display: block;
  font-size: .36rem;
}

.startPort, .arrivePort{
  margin-top: .32rem;
}
.arrivePort{
  position: absolute;
  right:0
}
.timeAirport .middle{
  margin: 0 1.0rem;
  height: 1.12rem;
  padding: 0.04rem 0;
}
.timeAirport .middle .timeCost{
  position: relative;
  text-align: center;
  height: .28rem;
  line-height: .28rem;
  font-size: .20rem;
}
.timeAirport .middle .toArrow{
  display: block;
  margin: 0 auto 0;
  width: 1.8rem;
  height: 0.10rem;
  background: url(../../images/ui/icon_common.png);
  background-size: 6.0rem auto;
  background-repeat: no-repeat;
  background-position: 2.1% 89.1%;
}
.timeAirport .middle .transferCity{
  position: relative;
  text-align: center;
  height: .28rem;
  line-height: .28rem;
  font-size: .20rem;
}
.hotelImgInfo, .imgDate{
  height:1.88rem;
  padding: 0 .28rem;
  border:1px solid red;
  margin: .32rem 0;
  position: relative;
  color: #999999;
}
.hotelImgInfo i{
  top: 0.82rem;
}
.hotelImgInfo img, .imgDate img{
  display: block;
  height:1.88rem;
  width: 1.88rem;
  background: url("../../images/loading-hotel.gif") no-repeat 0 0;
  background-size: 100% 100%;
  position: absolute;
  left: .28rem;
}
.hotelImgInfo .hotelRightPart, .imgDate .right{
  display: inline-block;
  height:1.68rem;
  width: 100%;
  margin: 0 0 0 1.94rem;
}
.hotelRightPart p{
  margin-top: .01rem;
}
.hotelRightPart h3{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  color: #000;
}
.score{
  font-size: .32rem;
  color: #666;
}
.commit{
  margin-left: .10rem;
}
.WiFi, .car{
  display: inline-block;
  width: .40rem;
  height: .40rem;
  background: url(../../images/hotel_flight_tour/icon_hotel.png);
  background-repeat: no-repeat;
  background-size: 6.0rem auto;
  background-position: -1.05rem -.32rem;
  overflow: hidden;
  position: relative;
  top: .10rem;
}
.car {
  background-position: -.71rem -.32rem;
}
.roomUl{
  padding: 0 .28rem;
}
.roomUl li, .tourOuter li{
  list-style: none;
  overflow: hidden;
  height: 1.2rem;
  position: relative;
  border-bottom:.01rem solid #e6e6e6;
}
.roomUl li:last-child, .tourOuter li:last-child{
  border-bottom:none;
}
.roomName{
  height: 100%;
  max-width: 72%;
}
.roomName p{
  height: .52rem;
  line-height: 0.62rem;
  color: #666666;
}
.roomName p:nth-child(1){
  font-size: .32rem;
  color: #333;
}
.roomUl .plassPrice{
  position: absolute;
  right:0;
  top:0;
  height: 100%;
  line-height: 1.2rem;
}
.roomUl .plassPrice span{
  color: #fb6a22;
  font-weight: 400;
}
.roomUl .plassPrice span:nth-child(2){
  font-size: .42rem;
}
.roomUl .plassPrice button{
  display: inline-block;
  width: 1.28rem;
  height: .58rem;
  line-height: .58rem;
  color: #fdb330;
  background: white;
  border: 1px solid #fdb330;
  border-radius: .03rem;
  font-family: 'Microsoft YaHei', STHeiti, Verdana, sans-serif;
  font-size: .28rem;
}
.tourNumber{
  margin-left: .04rem;
  letter-spacing: .04rem;
}
.tourOuter{
  padding: .28rem .28rem;
  width: 100%;
  position: relative;
}
.tourOuter li{
  height: 2.96rem;
}
.tourOuter li h4{
  padding: 0;
  margin: 0;
  color:#333;
  font-weight: normal;
}
.rightTip{
  position: absolute;
  right:0;
  top:0;
  color:#999;
  font-size: .24rem;
}
.imgDate .right{
  padding-left: .22rem;
}
.dateArray {
  padding: .18rem 0 .28rem 0;
  font-size: .24rem;
}
.dateArray  span, .months  span, .monthsDate span{
  display: inline-block;
  height:.6rem;
  line-height: .6rem;
  width:1.4rem;
  border-radius: .3rem;
  border: .01rem solid #D1D1D1;
  text-align: center;
  margin-right:.08rem ;
}
.right button{
  display: inline-block;
  font-size: .28rem;
  border-radius: .04rem;
  background: #FFB413;
  color: #FFFFFF;
  padding: .18rem .78rem;
  border: none;
}
.bottomPrice{
  width: 100%;
  font-size: .28rem;
  position: fixed;
  background-color: #fff;
  height: .90rem;
  line-height:.90rem;
  bottom: 0;
  border-top: 1px solid #dedede;
  z-index: 105;
}
.priceTotal{
  margin-left: .56rem;
}
.priceTotal span{
  font-size: .32rem;
}

.priceTotal i{
  display: inline-block;
  width: .16rem;
  height: .16rem;
  border-bottom: .03rem solid #666;
  border-left: 0;
  border-right: .03rem solid #666;
  margin-left: .24rem;
  -webkit-transform: rotate(45deg) translateY(-50%);
  -o-transform: rotate(45deg) translateY(-50%);
  -moz-transform: rotate(45deg) translateY(-50%);
  -ms-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
  -webkit-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.preserve{
  display: inline-block;
  height: 100%;
  padding:0  .72rem;
  background: #FFB413;
  color: #FFFFFF;
  text-align: center;
  font-size: .28rem;
  position: absolute;
  right:0
}
.priceDetailInfo, .chooseDate{
  display: none;
  position: fixed;
  padding: 0 .28rem;
  width: 100%;
  bottom: .90rem;
  z-index: 102;
  background: #fff;
}
.chooseDate{
  display: block;
  padding: 0;
}
.chooseDate .confirm{
  padding: 0 .28rem;
  color: #999999;
}
.chooseDate .confirm span:last-child{
  float: right;
  color: #ffb413;
}

.priceDetailInfo p{
  height: .52rem;
  line-height: 0.52rem;
  font-size: .28rem;
  color: #333333;
}
.priceX{
  float: right;
}
.months, .monthsDate{
  padding: .40rem .28rem;
  border-bottom: .01rem solid #e6e6e6;
}
.monthsDate{

}
