/*公用开始*/
* {
  box-sizing: border-box;
}

em, b, i {
  font-weight: normal;
  font-style: normal;
}

input {
  border: none;
  outline: none;
}

/*公共结束*/

/*机票开始*/
.flight_section {
  background-color: #fff;
}

.fht_hd {
  background-color: #f7f7f7;
  height: 0.68rem;
  line-height: 0.68rem;
  border-top: 1px solid #ddd;
  padding: 0 .28rem;
  position: relative;
  color: #333;
}

.fht_hd.travell_msg {
  margin-bottom: .4rem;
}

.fht_hd.flight_top {
  border-top: none;
}

.fht_hd_tit {
  color: #333;

}

.fht_hd_tit > i {
  display: inline-block;
  vertical-align: top;
  margin-top: .09rem;
  margin-right: .16rem;
  width: .5rem;
  height: .5rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -0.4rem -1.25rem;
  background-size: 6.6rem 4.55rem;
}

.fht_hd_det {
  font-size: .24rem;
  color: #999;
}

.fht_hd_det i {
  display: inline-block;
  vertical-align: top;
  margin-left: .12rem;
  margin-top: .15rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -3.38rem -1.33rem;
  background-size: 6.6rem 4.55rem;
  width: .34rem;
  height: .34rem;
}

.fli_cont {
  height: .32rem;
  line-height: .32rem;
  margin-bottom: .32rem;
  padding-right: .28rem;
  overflow: visible;
}

.flight_cir_wrap {
  padding: .4rem 0 .3rem .28rem;
}

.fli_cir_left > span {
  display: inline-block;
  vertical-align: top;
}

.fli_cir_right {
  width: 1.5rem;
}

.flight_terminal {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 3.3rem;
}

.fli_cir_left .go_tip {
  width: .34rem;
  height: .34rem;
  background: url(../../images/ui.1.0/icon_common.png) no-repeat;
  background-size: 7.90rem auto;
  background-position: -2.6999rem -1.522rem;
  display: inline-block;
  vertical-align: top;
  margin-top: -2px;
}

.fli_cir_left .back_tip {
  width: .34rem;
  height: .34rem;
  background: url(../../images/ui.1.0/icon_common.png) no-repeat;
  background-size: 7.90rem auto;
  background-position: -3.372rem -1.519rem;
  display: inline-block;
  vertical-align: top;
  margin-top: -2px;
}

.fli_cir_right i {
  vertical-align: top;
  margin-right: .12rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -5.2rem -2.14rem;
  background-size: 6.6rem 4.55rem;
  width: .26rem;
  height: .30rem;
}

.flight_cir_wrap li:nth-child(2) {
  margin-bottom: 0;
  padding-bottom: .8rem;
  border-bottom: 1px solid #e6e6e6;
}

.cabin_level {
  margin-top: .3rem;
}

/*机票结束*/

/*酒店开始*/
.hotel_section {
  background-color: #fff;
}

.hotel_wrap {
  margin-left: .28rem;
  padding: .4rem 0 .2rem;
}

.hotel_wrap li {
  margin-bottom: .32rem;
  color: #666;
}

.fht_hd_tit.hotel > i {
  display: inline-block;
  vertical-align: top;
  margin-top: .09rem;
  margin-right: .16rem;
  width: .5rem;
  height: .5rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -0.96rem -1.25rem;
  background-size: 6.6rem 4.55rem;
}

.hotel_wrap > h3 {
  margin-bottom: .3rem;
  font-weight: bold;
}

/*酒店结束*/

/*景点开始*/
.tour_section {
  background-color: #fff;
}

.fht_hd_tit.tour > i {
  display: inline-block;
  vertical-align: top;
  margin-top: .09rem;
  margin-right: .16rem;
  width: .5rem;
  height: .5rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -1.56rem -1.25rem;
  background-size: 6.6rem 4.55rem;
}

.tour_wrap > li {
  padding: .4rem .28rem;
  border-bottom: 1px solid #e6e6e6;
}

.tour_wrap > li:last-child {
  border-bottom: none;
}

.tour_wrap > li p {
  color: #666;
}

.tour_wrap > li .mb_ten {
  color: #333;
  margin-bottom: .2rem;
  font-weight: bold;
}

.orange_line {
  width: .06rem;
  height: .26rem;
  margin-right: .15rem;
  vertical-align: top;
  margin-top: .05rem;
  background-color: #7bc300;
  display: inline-block;
}

/*景点结束*/

/*出行人*/
.traveller_section {
  background-color: #fff;
  padding-bottom: .2rem;
}

.order_twrap {
  padding-left: .28rem;
}

.order_twrap b {
  font-weight: normal;
}

.order_tsl2 {
  float: right;
  font-size: .24rem;
  line-height: .68rem;
  margin-right: .45rem;
  color: #999;
}

li.order_tlist2 {
  position: relative;
  padding: .32rem 0 0;
}

.tra_delete {
  width: .52rem;
  height: .52rem;
  background: url(../../images/ui.1.0/icon_common.png) no-repeat;
  background-position: -1.23rem -2.97rem;
  position: absolute;
  left: .28rem;
  top: .3rem;
  margin-top: -0rem;
  background-size: 7.5rem auto;
}

.add_traveller {
  width: .40rem;
  height: .40rem;
  background: url(../../images/ui.1.0/icon_common.png) no-repeat;
  background-size: 7.90rem auto;
  position: absolute;
  top: 50%;
  margin-top: -.20rem;
  right: .28rem;
  background-position: -6.78rem -3.22rem;
}

.traveller_wrap {
  margin-left: .98rem;
  overflow: hidden;
}

.traveller_wrap > span {
  display: block;
  margin-bottom: .3rem;
}

.travel_sex {
  margin-left: .4rem;
}

.card_tra_type {
  width: .8rem;
  display: inline-block;
}

.edit_tips {
  width: .4rem;
  height: .4rem;
  background: url(../../images/ui/icons.png) no-repeat;
  background-size: 5.6rem 4rem;
  background-position: 67% 1%;
  position: absolute;
  top: .3rem;
  right: .2rem;
}

.order_tlist2 span {
  width: 85%;
  overflow: hidden;
  display: block;
}

/*联系人*/
.fht_contact {
  background-color: #fff;
}

.fht_contact {
  margin-bottom: 1.8rem;
}

.fht_con_hd {
  background-color: #f7f7f7;
  height: 0.68rem;
  line-height: 0.68rem;
  border-top: 1px solid #ddd;
  padding: 0 .28rem;
  position: relative;
}

.contact_link_wrap li {
  height: .88rem;
  line-height: .88rem;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 .28rem;
}

.contact_link_wrap li input {
  font-size: .28rem;
  width: 44%;
  padding: .22rem 0;
}

.contact_link_wrap li .hft_con_email {
  width: 80%;
}

.order_ls_cell, .contacts_email > span {
  width: 1.3rem;
}

.tel_code_tip {
  display: inline-block;
  vertical-align: top;
  margin: .2rem 0 0 .32rem;
  width: .4rem;
  height: .4rem;
  background: url(../../images/ui/icons.png) no-repeat;
  background-size: 5.6rem 4rem;
  background-position: 67% 1%;
}

.order_line {
  display: inline-block;
  width: .02rem;
  height: .4rem;
  background-color: #e6e6e6;
  vertical-align: top;
  margin: 0 0.25rem;
  margin-top: .25rem;
}

.contacts_tel_code, .hft_con_cell {
  width: 44%;
  display: inline-block;
  vertical-align: middle;
}

.contacts_tel_code > div {
  float: left;
}

.detail_fale {
  display: inline-block;
  vertical-align: top;
  background: url(../../images/hotel_flight_tour/arrow-up-orange.png) no-repeat;
  background-size: .24rem .14rem;
  width: .32rem;
  height: .2rem;
  transition: 0.3s all ease;
}

.detail_fale.open {
  margin-top: .05rem;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform-origin: 40% 25%;
  -webkit-transform-origin: 40% 25%;
  transition: 0.3s all ease;
}

/*预定footer*/
.order_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fcfcfc;
  height: .98rem;
  width: 100%;
  border-top: 1px solid #e6e6e6;
  z-index: 105;

}

.order_num {
  height: 100%;
  width: 50%;
  line-height: .98rem;
  text-align: center;
}

.order_num_tab {
  width: 85%;
  margin: 0 auto;
}

.order_num span.num1 {
  height: 100%;
  font-size: .3rem;
  margin-left: .43rem;
}

.order_num span.num1 > i {
  color: #fb7530;
  font-weight: 700;
}

.num_tip {
  width: .4rem;
  height: .98rem;
  padding-top: .4rem;
}

.order_submit {
  height: .98rem;
  line-height: .98rem;
  width: 50%;
  background-color: #7bc300;
  text-align: center;
  color: white;
  font-size: .36rem;
}

.order_submit:hover {
  color: #ccc;
}

/*footer结束*/

/*明细开始*/
.hft_det_mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: 100;
  display: none;
}

.hft_detail_fare {
  transition: 300ms all ease;
  bottom: -8rem;
  padding: .28rem;
  width: 100%;
  height: 4.72rem;
  position: fixed;
  z-index: 102;
  background: #fff;
  font-size: .28rem;
  color: #333;
}

.hft_detail_fare p {
  margin-bottom: 0;
  height: .3rem;
  margin-bottom: .28rem;
}

.hft_detail_fare p span:nth-child(2) {
  float: right;
}

/*明细结束*/

/*订单详情已支付*/
.tel_tip {
  position: absolute;
  right: .28rem;
  top: .3rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -4.52rem -1.33rem;
  background-size: 6.6rem 4.55rem;
  width: .34rem;
  height: .34rem;
}

.tot_prinum_wrap {
  height: .88rem;
  line-height: .88rem;
  padding: 0 .28rem;
  border-bottom: 1px solid #e6e6e6;
}

.tot_prinum {
  color: #fb6a22;
  font-size: .32rem;
  font-weight: 700;
  margin-left: .1rem;
}

.hft_pri_details {
  padding: .4rem .28rem;
}

.hft_pri_details li {
  margin-bottom: .28rem;
}

.hft_pri_details li:last-child {
  margin-bottom: 0;
}

.hft_paid {
  height: .88rem;
  line-height: .88rem;
  font-size: .32rem;
  background-color: #fff;
  text-align: center;
  color: #7bc300;
}

.hft_paid i {
  display: inline-block;
  vertical-align: top;
  margin-top: .2rem;
  margin-left: .12rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -3.38rem -1.3rem;
  background-size: 6.6rem 4.55rem;
  width: .32rem;
  height: .32rem;
}

.order_tot_price {
  background-color: #fff;
}

.fare_tip {
  display: inline-block;
  vertical-align: top;
  margin-left: .05rem;
  margin-top: .24rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -2.3rem -.5rem;
  background-size: 6.6rem 4.55rem;
  width: .32rem;
  height: .32rem;
  transition: 0.3s all ease;
}

.fare_tip.on {
  display: inline-block;
  vertical-align: top;
  margin-left: .05rem;
  margin-top: .24rem;
  background: url(../../images/ui/icon_common.png) no-repeat;
  background-position: -1.84rem -.5rem;
  background-size: 6.6rem 4.55rem;
  width: .32rem;
  height: .32rem;
  transition: 0.3s all ease;
}

.fht_order_tab {
  padding: .4rem .28rem 0;
  background-color: #fff;
  overflow: hidden;
}

.fht_order_tab > li {
  margin-bottom: .32rem;
}

.fht_order_tab p {
  margin-bottom: .32rem;
}

.order_cont_way {
  border-top: 1px solid #e6e6e6;
  background-color: #fff;
  padding-bottom: .32rem;
}

.order_cont_way > li {
  padding: .32rem .28rem 0;
}

/*电话拨号开始*/
.jpop_box_tic {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

.jpop_box_tic dl {
  position: fixed;
  width: 64%;
  height: 118px;
  top: 50%;
  left: 50%;
  margin: -59px 0 0 -32%;
  z-index: 5;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  box-shadow: -1px 1px 3px #c7c7c7;
}

.jpop_box_tic dt {
  padding: .36rem 0 .2rem;
  font-size: .36rem;
  color: #5abdb7;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: .24rem;
}

.jpop_box_tic dd {
  overflow: hidden;
  margin: 0 10%;
  font-size: .28rem;
}

.jpop_box_tic dd a, .jpop_box_tic dd span {
  padding: 8px 20px;
  color: #fff;
  border-radius: 3px;
}

.jpop_box_tic dd a {
  float: right;
  background: #7bc300;
}

.jpop_box_tic dd span {
  float: left;
  background: #dfdfdf;
}

/*电话拨号结束*/
