<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
  <meta name="screen-orientation" content="portrait">
  <meta name="full-screen" content="yes">
  <meta name="browsermode" content="application">
  <meta name="x5-orientation" content="portrait">
  <meta name="x5-fullscreen" content="true">
  <meta name="x5-page-mode" content="app">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="green">
  <meta name="Keywords" content="亚洲旅行网">
  <meta name="Description" content="境外专业旅行服务提供机构">
  <title>景点 - 亚洲旅行网</title>
  <link href="../styles/reset.css" rel="stylesheet" type="text/css"/>
  <link href="../styles/tips.css" rel="stylesheet" type="text/css"/>
  <link href="../css/plugins/citybox/citybox.css" rel="stylesheet" type="text/css"/>
  <link href="css/scenicbase.css" rel="stylesheet" media="all"/>
</head>
<body>
<div id="preloader">
  <div id="status">
    <p class="center-text"></p>
  </div>
</div>
<div class="all_elements">
  <!--header-->
  <div class="header">
    <a href="../" class="header_back">
      <i class="icon_back"></i>
    </a>
    <h3>景点/门票</h3>
    <div class="header_more" id="t_des" data-bind="type:'setCityBox',data:'t_des'">
      <span class="header_more_title">更多</span>
      <i class="header_more_icon"></i>
    </div>
  </div>
  <!--header-->
  <!--content-->
  <div class="content">
    <!--国外热游地-->
    <div  class="t_city">
      <div class="t_city_title">国外热游地</div>
      <div class="t_city_content">
        <ul id="js_city_list" class="t_city_list" data-bind="type:'m_city_list',AjaxAdapter:'m_city_list'">
          <!--<li class="t_city_content_item active">-->
            <!--<div class="t_city_content_itemtitle">新加坡</div>-->
          <!--</li>-->
          <!--<li class="t_city_content_item">-->
            <!--<div class="t_city_content_itemtitle">新加坡</div>-->
          <!--</li>-->
          <!--<li class="t_city_content_item">-->
            <!--<div class="t_city_content_itemtitle">新加坡</div>-->
          <!--</li>-->
          <!--<li class="t_city_content_item">-->
            <!--<div class="t_city_content_itemtitle">新加坡</div>-->
          <!--</li>-->
          <!--<li class="t_city_content_item">-->
            <!--<div class="t_city_content_itemtitle">新加坡</div>-->
          <!--</li>-->
          <!--<li class="t_city_content_item">-->
            <!--<div class="t_city_content_itemtitle">新加坡</div>-->
          <!--</li>-->
          <!--<li class="t_city_content_item">-->
            <!--<div class="t_city_content_itemtitle">新加坡</div>-->
          <!--</li>-->
        </ul>
      </div>
    </div>
    <!--国外热游地-->
    <!--国外热门景点-->
    <div class="t_product" >
      <div class="t_product_title">国外热门景点</div>
      <ul id="js_product_list" class="t_product_list" data-bind="type:'m_product_list',AjaxAdapter:'m_product_list'">
        <!--<li class="t_product_item">-->
          <!--<a href="#">-->
            <!--<div class="t_product_itemtop">-->
              <!--<div class="t_product_image">-->
                <!--<img src="images/img01.jpg">-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="t_product_price">-->
              <!--￥<span>2480</span>起-->
            <!--</div>-->
            <!--<div class="t_product_itembottom">-->
              <!--<h5 class="t_product_title">&lt;新马泰9晚10或11日游&gt;畅游三国 自愿自费 不走回头路 上海往返</h5>-->
              <!--<p class="t_product_describe">公主号 快艇金沙岛 船游湄南河 泰式古法按摩 水上清真寺 超高性价比</p>-->
            <!--</div>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li class="t_product_item">-->
          <!--<a href="#">-->
            <!--<div class="t_product_itemtop">-->
              <!--<div class="t_product_image">-->
                <!--<img src="images/img01.jpg">-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="t_product_price">-->
              <!--￥<span>2480</span>起-->
            <!--</div>-->
            <!--<div class="t_product_itembottom">-->
              <!--<h5 class="t_product_title">&lt;新马泰9晚10或11日游&gt;畅游三国 自愿自费 不走回头路 上海往返</h5>-->
              <!--<p class="t_product_describe">公主号 快艇金沙岛 船游湄南河 泰式古法按摩 水上清真寺 超高性价比</p>-->
            <!--</div>-->
          <!--</a>-->
        <!--</li>-->
      </ul>
    </div>
    <!--国外热门景点-->
  </div>
  <!--content-->
</div>

<!--整体城市列表-->
<div id="citybox_search_container" class="citybox_search_container citybox_search_state">
  <div id="citybox_header" data-bind="type:'cityboxHeader'">
    <!--默认搜索-->
    <div class="citybox_header citybox_header_fixed js_citybox_header_default">
      <div class="citybox_header_left">
        <a id="js_citybox_header_goback" href="javascript:VM.Method['hideAllCityBox']();" class="citybox_header_btn">
          <span class="citybox_header_return citybox_header_return_icon"></span>
        </a>
      </div>
      <div class="citybox_search_relative">
        <span class="citybox_search_icon"></span>
        <input type="search" class="citybox_search_input" placeholder="中文/英文" onclick="VM.Method['hideCityBox']();">
      </div>
    </div>
    <!--搜索头部-->
    <div class="citybox_header citybox_header_fixed js_citybox_header_search">
      <div class="citybox_searchactive_relative">
        <span class="citybox_searchactive_icon"></span>
        <input type="search" id="js_citybox_searchactive_input" class="citybox_searchactive_input" placeholder="中文/英文">
      </div>
      <div class="citybox_header_right">
        <a id="js_citybox_header_cancel" href="javascript:VM.Method['showCityBox']();" class="citybox_header_btn">
          <span class="citybox_searchactive_return">取消</span>
        </a>
      </div>
    </div>
  </div>
  <!--搜索列表-->
  <div id="citybox_suggest_list" class="citybox_search_suggest" data-bind="type:'cityboxSearchSuggest'">
  </div>
  <!--搜索列表-->
  <!--城市列表和字母定位-->
  <div class="citybox_content">
    <!--当前-->
    <div id="citybox_location" data-bind="type:'cityboxLocation'">
      <div class="citybox_content_title" id="js_location">当前</div>
      <ul class="citybox_content_container">
        <li class="citybox_content_item selected" data-code="200" data-name="北京" data-letter="bj">
          <div class="citybox_content_itemtitle">
            北京
          </div>
        </li>
      </ul>
    </div>
    <!--当前-->
    <!--历史选择-->
    <div id="citybox_history" data-bind="type:'cityboxHistory',data:VM.Config.HistoryData">
      <div class="citybox_content_title" id="js_history">历史选择</div>
    </div>
    <!--历史选择-->
    <!--热门城市-->
    <div id="citybox_hotcitylist" data-bind="type:'cityboxHotCityList',data:VM.Config.HotCityListData">
      <div class="citybox_content_title" id="js_hotcity">热门城市</div>
    </div>
    <!--热门城市-->
    <!--城市列表-->
    <div id="citybox_citylist" data-bind="type:'cityboxCityList',data:VM.Config.CityListData">

    </div>
    <!--城市列表-->
    <!--城市字母定位-->
    <div id="citybox_letterindex" class="citybox_index" data-bind="type:'cityboxLetterIndex',data:VM.Config.LetterIndexData">
      <li class="citybox_summary_item" data-key="location">
        当前
      </li>
      <li class="citybox_summary_item" data-key="history">
        历史
      </li>
      <li class="citybox_summary_item" data-key="hotcity">
        热门
      </li>
    </div>
    <!--城市字母定位-->
  </div>
</div>
<!--整体城市列表-->
<script id="tpl_city_list" type="text/template">
      <% for(var i = 0;i<data.destCities.length;i++){ %>
      <li class="t_city_content_item <% if(i==0){%>active<%}%>" >
        <div class="t_city_content_itemtitle" data-code="<%=data.destCities[i].cityCode%>"><%=data.destCities[i].cityName%></div>
      </li>
      <% } %>
</script>
<script id="tpl_product_list" type="text/template">
    <% for(var i = 0;i<data.hotScenicList.length;i++){ %>
    <li class="t_product_item">
      <a href="../scenic/scenic_detail.html?packageID=<%=data.hotScenicList[i].productID%>">
        <div class="t_product_itemtop">
          <div class="t_product_image">
            <img src="<%=data.hotScenicList[i].productPicUrl%>">
          </div>
        </div>
        <div class="t_product_price">
          ￥<span><%=data.hotScenicList[i].productPrice%></span>起
        </div>
        <div class="t_product_itembottom">
          <h5 class="t_product_title"><%=data.hotScenicList[i].productName%></h5>
          <p class="t_product_describe"><%=data.hotScenicList[i].productSite%></p>
        </div>
      </a>
    </li>
    <% } %>
</script>
<script type="text/javascript" src="../js/lib/jquery.js"></script>
<script type="text/javascript" src="../js/lib/plugins.js"></script>
<script type="text/javascript" src="../js/lib/vlm.js"></script>
<script type="text/javascript" src="../js/lib/jquery.alert.js"></script>
<script type="text/javascript" src="../js/lib/ejs.js"></script>
<script type="text/javascript" src="../js/plugins/citybox/citybox.js"></script>
<script type="text/javascript" src="js/scenic_index.js"></script>

</body>
</html>

