<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
    <meta name="screen-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="green">
    <meta name="Keywords" content="亚程旅行网">
    <meta name="Description" content="境外专业旅行服务提供机构">
    <title>景点 - 亚程旅行网</title>
    <link href="../styles/reset.css" rel="stylesheet" type="text/css" />
    <link href="../styles/tips.css" rel="stylesheet" type="text/css" />
    <link href="../css/plugins/citybox/cityselect.css" rel="stylesheet" type="text/css" />
    <link href="../css/plugins/footer/footer.css" rel="stylesheet" type="text/css" />
    <link href="css/scenicbase.css" rel="stylesheet" media="all" />
</head>

<body>
    <div id="preloader">
        <div id="status">
            <p class="center-text"></p>
        </div>
    </div>
    <!--   header   -->
    <div class="header">
      <a href="../scenic/index.html" class="header_back">
        <i class="icon_back"></i>
      </a>
      <h3>特色当地游</h3>
        <div class="header_more" id="t_des" data-bind="type:'setCityBox',data:'t_des'">更多
            <!--<span class="header_more_title">更多</span>-->
            <i class="header_more_icon"></i>
        </div>
    </div>
    <!--   header   -->
    <!--all-elements-->
    <div class="all_elements">

        <!--   content   -->
        <div class="content">
            <section id="js_scenic_list" class="scenic-detile" data-bind="type:'m_scenic_list'">
            </section>
        </div>
        <!--   content   -->
        <!--error-->
        <div class="scenic_list_error">
          <div class="scenic_list_error_div"></div>
          <p class = "scenic_list_error_p">没有找到相关信息 请重新查询</p>
        </div>
        <!--error-->
    </div>
    <!--all-elements-->
    <script id="tpl_scenic_list" type="text/template">
        <ul>
            <% for(var i=0;i<lists.length;i++){ %>
                <li class="scenic-detile_list" data-code="<%= lists[i].packageID%>">
                    <div class="scenic-detile_list_matter clearfix">
                        <div class="scenic_detile_img ">
                            <img src="<%= lists[i].pictureURL%>" class="scenic_detile_img_po" />
                        </div>

                        <div class="scenic_detile_content">
                            <p class="scenic_detile_content_name">
                                <%=lists[i].packageName %>
                            </p>
                            <p class="scenic_detile_content_after">￥
                                <%=lists[i].leadinPrice %>起/人</p>
                        </div>
                    </div>
                </li>
                <% } %>
        </ul>
        <div class="loadMore" id="LoadMore" data-more="">没有更多数据了！</div>
    </script>
    <script type="text/javascript" src="../js/lib/jquery.js"></script>
    <script type="text/javascript" src="../js/lib/plugins.js"></script>
    <script type="text/javascript" src="../js/lib/vlm.js"></script>
    <script type="text/javascript" src="../js/lib/jquery.alert.js"></script>
    <script type="text/javascript" src="../js/lib/ejs.js"></script>
    <script type="text/javascript" src="../js/lib/debounce.js"></script>
    <script type="text/javascript" src="../js/plugins/citybox/cityselect.js"></script>
    <script type="text/javascript" src="../js/plugins/footer/foot.js"></script>
    <script type="text/javascript" src="js/scenic_list.js"></script>
</body>
</html>
