<!DOCTYPE html>
<html>
<head lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
  <meta name="screen-orientation" content="portrait">
  <meta name="full-screen" content="yes">
  <meta name="browsermode" content="application">
  <meta name="x5-orientation" content="portrait">
  <meta name="x5-fullscreen" content="true">
  <meta name="x5-page-mode" content="app">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="green">
  <meta name="Keywords" content="亚程旅行网">
  <meta name="Description" content="境外专业旅行服务提供机构">
  <title>景点详情</title>
  <link rel="stylesheet" href="../styles/reset.css"/>
  <link rel="stylesheet" href="css/scenicbase.css"/>
  <link href="../styles/swipebox.css"	rel="stylesheet">
</head>
<body>
<div id="preloader">
  <div id="status">

  </div>
</div>
<div class="content_detail">
  <div class="header_scenic">
    <a href="javascript:history.go(-1);" class="header_back" id = "g_back">
      <div class="icon_go_back"></div>
    </a>
  </div>
  <div id="js_scenic_detail" data-bind="type:'m_scenic_detail'">
    <section class="bar_img" id = "barImg">
    </section>
    <section class = "bar_content" id = "barContent">
    </section>
    <section class = "scenic_content" id = "scenicContent">
    </section>
  </div>
</div>


<!--<script type ="text/template" id = "Barimg">-->
  <!--<% for( var i=0;i< images.length;i++){ %>-->
  <!--<img src="<%= images[i].thumbnailPhotoURL%>"alt="景点详情"/>-->
  <!--<span class = "bar_img_num">编号：<%= packageRefNo %></span>-->
  <!--<span class = "bar_img_page">1/20</span>-->
  <!--<% }%>-->
<!--</script>-->
<script type="text/template" id="Barimages">
  <% if(images.imageGalleries.length==0){ %>
  <img src="<%= images.pictureURL%>" alt="image"/>
  <% }else{ %>
  <a href="<%= images.imageGalleries[0].imageURL%>" class="swipebox" title="1/<%=(images.imageGalleries.length)%>">
    <img src="<%= images.imageGalleries[0].imageURL %>" alt="image" style="height:100%;"/></a>
  <% for(var i=1;i<images.imageGalleries.length;i++){ %>
  <a href="<%= images.imageGalleries[i].imageURL%>" class="swipebox" title="<%= (i+1)%>/<%=(images.imageGalleries.length)%>">
    <img src="<%= images.imageGalleries[i].imageURL%>" alt="image"/></a>
  <% }%>
  <div class="bar_img_word">
  <span class = "bar_img_num">产品编号：<%= images.packageRefNo %></span>
  <% if(images.imageGalleries.length>0) %>
  <span class = "bar_img_page"><%=(images.imageGalleries.length)%>张</span>
  <% } %>
  </div>
</script>
<script type ="text/template" id = "Barcontent">
  <h3 class = "bar_content_title"><%= packageName%></h3>
  <div class="bar_content_time">
    <!--<p><i class = "bar_content_time_schedule"></i>预定时间: <span><%= vlm.Utils.format_date(salesFrom ,"Ymd")%></span>至 <span><%= vlm.Utils.format_date(salesTo ,"Ymd")%></span></p>-->
    <p>游玩时间: <span><%= vlm.Utils.format_date(departValidFrom ,"Ymd")%></span>至 <span><%= vlm.Utils.format_date(departValidTo ,"Ymd")%></span></p>
  </div>
</script>
<script type="text/template" id="Booking">
  <% console.log(data);%>
  <% for(var i=0,len=data.prices.length;i<len;i++){ %>
  <% var packageid = data.packageID;
  var requiredPickupPoint=data.bookingFormInfo.requiredPickupPoint?1:0;
  var category=data.prices[i].category=="ADULT"?1:0;
  var Fail = 0;
  %>
  <li class="scenic_content_booking_li" >
    <div class="scenic_content_booking_div">
      <p class="scenic_content_booking_title"><%=data.packageName%>(<%if(category==1){%>成人票<%}else{%>儿童票<%}%>)</p>
      <p class="scenic_content_booking_p">
        <span class="scenic_content_booking_dollar">￥</span>
        <span class="scenic_content_booking_price"><%=data.prices[i].amount%></span>
        <span class="scenic_content_booking_pre"><%=data.minPax%>人起订</span>
      </p>
    </div>
    <a class="scenic_content_booking_btn" data-packageId="<%=data.packageID%>" data-RPP="<%=requiredPickupPoint%>" data-category="<%=category%>" data-fail="<%=Fail%>">预订</a>
  </li>
  <% } %>
</script>
<script type ="text/template"  id = "Sceniccontent">
  <div class = "scenic_content_feature">
    <h3><i class = "scenic_content_feature_start"></i>特色亮点</h3>
    <ul>
      <li><%- inclusiveItem%></li>
    </ul>
  </div>
  <!--<div class="scenic_content_time">-->
    <!--<h3><i></i>营业时间</h3>-->
    <!--<span><%= vlm.Utils.format_date(defaultDepartStartDate ,"hm")%></span>-->
  <!--</div>-->
  <div class="scenic_content_address">
    <h3><i></i>营业地址</h3>
    <span><% if(country==destCity){%> <%= destCity%> <%}else{%><%=country%> <%= destCity%><%}%></span>
  </div>
  <div class="scenic_content_booking">
    <h3><i></i>景点费用</h3>
    <ul id="scenic_content_booking">
      <!--<li class="scenic_content_booking_li">-->
        <!--<div class="scenic_content_booking_div">-->
          <!--<p class="scenic_content_booking_title">八达岭长城一日游[周一、周五使用]</p>-->
          <!--<p class="scenic_content_booking_p">-->
            <!--<span class="scenic_content_booking_dollar">￥</span>-->
            <!--<span class="scenic_content_booking_price">1208</span>-->
            <!--<span class="scenic_content_booking_pre">2人起订</span>-->
          <!--</p>-->
        <!--</div>-->
        <!--<a class="scenic_content_booking_btn">预订</a>-->
      <!--</li>-->
      <!--<li class="scenic_content_booking_li">-->
        <!--<div class="scenic_content_booking_div">-->
          <!--<p class="scenic_content_booking_title">八达岭长城一日游[周一、周五使用]</p>-->
          <!--<p class="scenic_content_booking_p">-->
            <!--<span class="scenic_content_booking_dollar">￥</span>-->
            <!--<span class="scenic_content_booking_price">1208</span>-->
            <!--<span class="scenic_content_booking_pre">2人起订</span>-->
          <!--</p>-->
        <!--</div>-->
        <!--<a class="scenic_content_booking_btn">预订</a>-->
      <!--</li>-->
    </ul>
  </div>
  <% if(tours.length){for(var i=0 ;i< tours.length;i++){ %>
  <div class="scenic_content_scheduling">
    <h3><i></i>行程安排</h3>
    <ul>
      <li class = "scenic_height1"><%-tours[i].overview.replace(/<[^>]+>/g,"");%></li>
    </ul>
    <i class = "scenic_content_scheduling_down" id = "Sheight1"></i>
  </div>
  <div class="scenic_content_notes">
    <h3><i></i>注意事项</h3>
    <ul>
      <li class = "scenic_height2"><%-tours[i].importantNotes.replace(/<[^>]+>/g,"");%></li>
    </ul>
    <i class = "scenic_content_scheduling_down" id = "Sheight2"></i>
  </div>
  <% }} %>
  <div class="scenic_content_TOS">
    <h3><i></i>服务条款</h3>
    <ul>
      <li class = "scenic_height3"><%-termsConditions.replace(/<[^>]+>/g,"");%></li>
    </ul>
    <i class = "scenic_content_scheduling_down" id = "Sheight3"></i>
  </div>
</script>

<script type="text/javascript" src="../js/lib/jquery.js"></script>
<script type="text/javascript" src="../js/lib/plugins.js"></script>
<script type="text/javascript" src="../js/lib/vlm.js"></script>
<script type="text/javascript" src="../js/lib/jquery.alert.js"></script>
<script type="text/javascript" src="../js/lib/ejs.js"></script>
<script type="text/javascript" src="js/scenic_detail.js"></script>

</body>
</html>
