/*国籍选择开始*/

#country_index_wrap {
  display: none;
}

.country_header.header {
  z-index: 1100;
  opacity: 1;
  display: none;
}

.gj_header {
  z-index: 9999;
  visibility: hidden;
}

.country-cho-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
  background-color: #fff;
}

.country-cho-wrap-order {
  position: absolute;
  z-index: 1000;
}

.cl_search {
  height: .6rem;
  width: 100%;
  padding-left: 1.04rem;
  padding-right: .28rem;
  margin-top: .16rem;
  position: relative;
  left: 0;
  top: 0;
  overflow: visible;
}

.cl_search input {
  width: 100%;
  height: 100%;
  border-radius: .3rem;
  padding-left: .48rem;
  background-color: #e6e6e6;
}

.cl_search i {
  position: absolute;
  left: 1.2rem;
  top: .13rem;
  background-position: -2.28rem -1.64rem;
  background-size: 5.8rem 3.6rem;
  width: .34rem;
  height: .34rem;
}

.country-hidden {
  z-index: 100;
}

/*国籍模糊搜索*/
.country-list-searched {
  width: 100%;
  height: auto;
  position: fixed;
  top: .88rem;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  background: #fff;
  overflow-y: scroll;
  display: none;
}

.country_index {
  position: fixed;
  right: 0;
  top: 1.2rem;
  background: rgba(255, 255, 255, .5);
  padding: 0 .16rem;
  height: 100%;
  z-index: 1000;
}

.country_index li {
  line-height: .4rem;
  font-size: .24rem;
  text-align: center;
}

.country_index li a {
  color: #7bc300;
}

.country-cho-wrap h4 {
  line-height: 0.68rem;
  height: 0.68rem;
  padding-left: 0.28rem;
  background-color: #F7F7F7;
  color: #333;
  font-size: 0.28rem;
}

.country_hot li, .country-wrap li, .country-list-searched li {
  line-height: 0.88rem;
  height: .88rem;
  padding-left: 0.28rem;
  border-bottom: 1px solid #e6e6e6;
  color: #333;
}

.target {
  position: relative;
  top: -.88rem;
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.tel_code {
  display: inline-block;
  margin-left: .2rem;
}

.a_target {
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  font-size: .50rem;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -.5rem;
  margin-left: -.5rem;
  z-index: 1200;
  background-color: #7bc300;
  color: #fff;
  border-radius: 50%;
  -webkit-border-radius:50% ;
  visibility: hidden;
}

.country_mask{
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 500;
  display: none;
}

/*国籍选择结束*/
