/*
         找回密码页css
*/
.clearFix:after{
    content:'';
    clear: both;
    display: block;
}

.f_key {
    width: 94%;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #dfdfdd;
    border-radius: 5px;
}

.f_key li {
    list-style: none;
    font-size: 1.4rem;
    padding: 12px 15px;
    border-bottom: 1px solid #dfdfdd;
    margin-bottom: 0;
    position: relative;
}

.f_key li > input {
    color: #484848;
    font-size: 1.4rem;
}
#find_phone{
    width: 100%;
}

.mob-cell{
    width: 100%;
}
#email{
    width: 100%;
}

.f_key li:last-child {
    border: none;
}

.f_btn {
    width: 94%;
    margin-left: 3%;
    margin-top: 20px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
}

.coun-find >div{
    display: inline-block;
}
.int-tel{
    position: absolute;
    right:12px;
    top: -2px;
    width: 20px;
    height: 16px;
    background-image: url(../images/ui/icons.png);
    background-size: 200px 110px;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}
.open-pho {
    position: absolute;
    width: 10px;
    height: 20px;
    right: 10px;
    background-position: 65% 3%;
}

.fk_put {
    font-size: 1.4rem;
    color: #d1d1d1;
    background-color: transparent;
}

.fk_div {
    float: right;
    min-width: 107px;
    height: 42px;
    margin-top: -30px;
    border-left: 1px solid #dfdfdd;
    text-align: center;
    line-height: 44px;
    color: #ffb413;
    display: inline-block;
}

/*
         个人中心未登录页css
*/
#u_info{
    width: 150px;
    margin: 0 auto;
}

.unl_div {
    width: 94%;
    margin-left: 3%;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.user-menu {
    height: 20px;
    width: 100%;
    margin:10px 0 ;
}

.user-menu li {
    position: relative;
    float: left;
    width: 25%;
    list-style-type: none;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: initial;
    text-align: center;
    line-height: 20px;
    color: white;
}
a{
    font-size: 1.4rem;
}
.user-menu li:first-child {
    border: none;
}

.icon {
    background-image: url(../images/ui/icon.png);
    background-repeat: no-repeat;
    background-size: 393px 118px;
    display: inline-block;
}

.open-his {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 10px;
    background-position: 0 65%;
}

.open-set {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 10px;
    background-position: 6.5% 65%;
}

.header-msg {
    position: absolute;
    overflow: visible;
    width: 23px;
    height: 23px;
    right: 15px;
    top: 10px;
    background-position: 41% 2%;
}

.bu_icon {
    background-image: url(../images/ui/bu.png);
    background-repeat: no-repeat;
    background-size: 159px 245px;
    display: inline-block;
}

.college {
    width: 84px;
    height: 81px;
    background-position: 97% 51%;
}

.wifi {
    width: 105px;
    height: 76px;
    background-position: 9% 101%;
}

.order {
    width: 67px;
    height: 80px;
    background-position: 4% 51%;
}

.blank-con {
    display: none;
    margin: 0 auto;
    margin-top: 30%;
    text-align: center;
    color: #999999;
}

/*
         个人中心已登录页css
*/
.user-content {
    position: absolute;
    background-color: white;
    top: 45px;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 99;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.user-name {
    margin-bottom: 15px;
    font-size: 1.4rem;
    color: white;
}

.open-sexw {
    width: 12px;
    height: 12px;
    margin-left: 5px;
    background-position: 36% 65%;
}

.open-sexm {
    width: 12px;
    height: 12px;
    margin-left: 5px;
    background-position: 40% 65%;
}

.info-circle1 {
    position: relative;
    margin-top: -5px;
    margin-left: 15px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: #ffb413;
    text-align: center;
    line-height: 1.2;
    font-size: 1rem;
    color: white;
}

.info-circle2 {
    position: absolute;
    right: 0;
    top: -8px;
    width: 23px;
    height: 14px;
    border-radius: 7px;
    background-color: #ffb413;
    text-align: center;
    line-height: 1.2;
    font-size: 1rem;
    color: white;
}

.open-favs {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 10px;
    background-position: 87% 76%;
}

.open-hiss {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 10px;
    background-position: 94.5% 76%;
}

.open-gray {
    position: absolute;
    width: 10px;
    height: 20px;
    right: 0;
    background-position: 98.5% 76%;
}

/*
         个人资料页css
*/
.open-rg {
    position: absolute;
    right: 15px;
    margin-top: 2px;
    width: 8px;
    height: 14px;
    background-position: 65% 3%;
}

.info-name {
    float: right;
    margin-right: 15px;
    font-size: 13px;
    color: #FFB413;
}

.info-quit {
    width: 94%;
    height: 42px;
    margin-top: 15px;
    margin-left: 3%;
    border-radius: 5px;
    border: 1px solid #ffb413;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    color: #ffb413;
    text-align: center;
    line-height: 42px;
}

.info-sex, .info-sex-on {
    position: absolute;
    top: 8px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    right: 15px;
    width: 68px;
    height: 27px;
    border: 1px solid #ffb413;
    border-radius: 3px;
    overflow: hidden;
    background-color: #ffb413;;
}

.sex-div {
    -webkit-box-felx: 1;
    -moz-box-flex: 1 -ms-flex : 1;
    -webkit-flex: 1;
    flex: 1;
    width: 34px;
    height: 27px;
    text-align: center;
    color: white;
    line-height: 25px;
}

.white-div {
    position: absolute;
    z-index: 2;
    width: 34px;
    height: 27px;
    background-color: white;
    color: #ffb413;
    text-align: center;
    line-height: 25px;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transition: all 200ms ease;
}

.info-sex-on .white-div {
    transform: translateX(34px);
    -webkit-transform: translateX(34px);
    transition: all 200ms ease;
}

.user-mb {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.u_photo {
    display: none;
    position: absolute;
    z-index: 3;
    width: 92%;
    margin-left: 4%;
    bottom: 15px;
}

.u_photo1 {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.u_photo1 li {
    list-style-type: none;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.8rem;
    color: #1190e0;
}

.u_photo1 li:first-child {
    border-bottom: 1px solid #dedede;
}

.u_photo2 {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #1190e0;
}

#info_content {
    position: absolute;
    top: 45px;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 2;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: white;
}

#info_content li {
    list-style-type: none;
}

.amendkey {
    list-style-type: none;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 14px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
}

.amendkey div {
    font-size: 15px;
    color: #484848;
    -webkit-box-felx: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.amendkey input {
    -webkit-box-felx: 2;
    -moz-box-flex: 2;
    -ms-flex: 2;
    -webkit-flex: 2;
    flex: 2;
}

.showkey {
    float: right;
    margin-right: 3%;
    margin-top: 10px;
    padding-bottom: 5px;
}

.show-key {
    position: relative;
    display:inline-block;
    width: 22px;
    height: 24px;
    top: 5px;
    margin-right: 3px;
    background: url(../images/ui/icons.png) no-repeat;
    background-position: 14% 101%;
    background-size: 230px 152px;
}

.show-keys {
    position: relative;
    display:inline-block;
    width: 22px;
    height: 24px;
    top: 5px;
    margin-right: 3px;
    background: url(../images/ui/icons.png) no-repeat;
    background-position: 2% 101%;
    background-size: 230px 152px;

}
.pas-showhide{
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
}

/*
         修改昵称页css
*/
.u_name {
    font-size: 1.6rem;
    margin-top: 10px;
    padding: 12px 15px;
    border-top: 1px #dedede solid;
    border-bottom: 1px #dedede solid;
    background-color: #fff;
    position: relative;
}

.u_name #name{
    width: 100%;
}

.u_name #realName{
    width: 100%;
    font-size: 1.4rem;
}

.name-close {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 10px;
    right: 10px;
    background-position: 40% 35%;
}

.name-text {
    padding: 5px 15px;
    font-size: 1.2rem;
    color: #999999;
    margin-bottom: -12px;
}

/*
         全部订单页css
*/
.order-div {
    width: 94%;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #dfdfdd;
    border-radius: 5px;
}

.user-air {
    float: left;
    margin: 8px;
    width: 25px;
    height: 25px;
    background-position: 0.2% 99%;
}

.order-title {
    float: left;
    padding-top: 10px;
}

.if_pay {
    /*float: right;*/
    display: inline-block;
    padding-top: 10px;
    padding-left: 40px;
}

.order-Amount {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    color: red;
}

.info-title {
    padding-right: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.air-date {
    margin-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
}

.air-date li {
    list-style-type: none;
    margin-top: 10px;
}

.paybtn {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 76px;
    height: 31px;
    color: white;
    text-align: center;
    line-height: 31px;
    border-radius: 5px;
}

.quitbtn {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 76px;
    height: 31px;
    color: #ffb413;
    text-align: center;
    line-height: 31px;
    border-radius: 5px;
    border: 1px solid #ffb413;
}

.user-spot {
    float: left;
    margin: 8px;
    width: 25px;
    height: 25px;
    background-position: 8.5% 99%;
}
.user-fligthotle{
    float: left;
    margin: 8px;
    width: 25px;
    height: 25px;
    background-image: url(../images/ui/icon.png);
    background-repeat: no-repeat;
    background-size: 412px 125px;
    background-position: 89.5% -2%;
}
.user-fligthotletour{
  float: left;
  margin: 8px;
  width: 25px;
  height: 25px;
  background-image: url(../images/ui/icons.png);
  background-repeat: no-repeat;
  background-size: 217px 185px;
  background-position: 1.5% 96.5%;
}

.user-hotel1 {
    float: left;
    margin: 8px;
    width: 25px;
    height: 25px;
    background-position: 16.3% 99%;
}

.user-hotel2 {
    float: left;
    margin: 8px;
    width: 25px;
    height: 25px;
    background-position: 40.3% 99%;
}

/*
         点评页css
*/
.u_remark {
    width: 100%;
    margin-bottom: 15px;
}

.u_remark li {
    list-style-type: none;
    padding: 12px 15px;
    border-bottom: 1px solid #dedede;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.u_score {
    position: absolute;
    right: 33px;
    top: 60px;
}

.icon-star-val {
    background-image: url(../images/ui/bu.png);
    background-repeat: no-repeat;
    background-size: 140px 240px;
    display: inline-block;
}

.user-empty {
    margin-right: 20px;
    width: 18px;
    height: 18px;
    background-position: 19% 29%;
}

.re_text {
    width: 100%;
    height: 80px;
    padding-left: 15px;
    padding-top: 10px;
    color: #d1d1d1;
    border-bottom: 1px solid #dedede;
}

.u_pic {
    border-bottom: 1px solid #dedede;
    line-height: 90px;
}

.send_pic {
    margin: 10px 15px;
    float: left;
    width: 70px;
    height: 70px;
    background-position: 99% 4%;
}

/*
         设置页css
*/
.set-chose1 {
    width: 52px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-position: 51% 32%;
}

.set-chose2 {
    width: 52px;
    height: 31px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-position: 51% 69.8%;
}

/*
         联系我们页css
*/
.user-wechat {
    width: 40px;
    height: 40px;
    float: left;
    background-position: 65.5% 4%;
}

.user-service {
    width: 40px;
    height: 40px;
    float: left;
    background-position: 65.5% 61%;
}

.service-phone {
    width: 40px;
    height: 40px;
    float: left;
    background-position: 78.2% 4%;
}

.user-us {
    width: 40px;
    height: 40px;
    float: left;
    background-position: 78.2% 61%;
}

.con-info {
    padding: 1px;
    float: left;
    margin-left: 13px;
}

.con-info div {
    font-size: 14px;
    color: #999999;
}

.con-title1 {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: normal;
}

.con-title2 {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 0;
}

.con-text {
    font-size: 1.3rem;
    text-align: center;
    color: #999999;
    margin-bottom: 0;
}

/*关于我们*/
.at_introduce{
  margin-top: 40px;
  padding: 0 40px;
}
.asiatravel_wrap{
  width: 100px;
  margin: 0 auto;
  text-align: center;
  margin-top: 48px;
  font-size: 28px;
}
.at_logo{
  height: 100px;
  margin-bottom: 15px;
}
.at_introduce li{
  line-height: 40px;
  border-bottom: 1px solid #e6e6e6;
}
.at_introduce li a{
  color: #333;
}
.at_introduce .open_arw{
  background: url("../images/ui/icon-hft.png") no-repeat;
  background-size: 420px 240px;
  width: 12px;
  height: 22px;
  background-position: 62% 52%;
  float: right;
  margin-top: 7px;
}
.at_introduction,.at_declaration{
  padding: 20px;
  font-size: 14px;
}
.at_declaration p{
  font-size: 1.4rem;
  margin-bottom: 0;
}
.at_declaration ul{
  margin: 1rem 0;
  font-size: 1.3rem;
}
.at_declaration ul li{
  line-height: 1.8rem;
  margin-bottom: .5rem;
}
.at_declaration dt, .at_declaration dd{
  margin: 1rem 0;
}

/*
         常用信息页css
*/
.user-add {
    width: 21px;
    height: 20px;
    position: relative;
    margin-right: 12px;
    top: 4px;
    background-position: 54.4% -139px;
}

.often-traveler {
    width: 100%;
    margin-bottom: 15px;
    overflow: scroll;

}

/*.often-traveler li:first-child{*/
/*border-top:1px solid #dedede;*/
/*}*/
.eve-traveler {
    list-style-type: none;
    padding: 12px 15px;
    border-bottom: 1px solid #dedede;
    background-color: #fff;
}

.often_user {
    margin-bottom: 0;
}

.often_user li {
    list-style-type: none;
    border: none;
    font-size: 1.4rem;

}
.often_user .passport-num{
    color: #999999;
    margin-left: 31px;
}
.often_user .passport-tips{
    color: red;
}

.often_user li:first-child {
    font-size: 14px;
    color: #484848;
}

.traveler-text {
    text-align: center;
    font-size: 12px;
    color: #999999;
    line-height: normal;
}

.user-edit {
    width: 22px;
    height: 22px;
    float: right;
    background-position: 49% 0.5%;
}

.user-edits {
    width: 22px;
    height: 22px;
    float: right;
    background: url(../images/ui/icon.png) no-repeat;
    background-size: 370px 110px;
    background-position: 49% 0%;
}

.statement {
    padding: 8px 15px;
    color: #484848;
}

/*
         新增常旅页css
*/
.addtra-page {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*fix H5-171 android手机面板遮挡问题*/
#addtra_page,#uptra_page{
    position: relative;
}
#addtra_page .relative-for-android,#uptra_page .relative-for-android{
    position: relative;
}
#addtra_page .header,#uptra_page .header{
    z-index: 999;
}
#addtra_page .user-content,#uptra_page .user-content{
    position: relative;
    margin-top: 45px;
    top: 0px;
}
.header-quit {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 17px;
    color: white;
    width: 80px;
    padding-left: 15px;
    height: 45px;
    line-height: 45px;
    z-index: 1000;
}

.header-finish {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 17px;
    color: white;
}

.addtra-title {
    width: 100%;
    padding: 10px 15px;
    font-size: 12px;
    background-color: #e9e9e9;
}

.user-must {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 11px;
    margin-left: 5px;
    background-position: 28% 35%;
}

.user-must2 {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 5px;
    background-position: 28% 35%;
}

.addtra-info {
    border-bottom: 1px solid #dedede;
    margin-bottom: 10px;
}

.addtra-info li {
    list-style-type: none;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 15px;
    font-size: 14px;
    border-bottom: 1px solid #dedede;
    overflow: hidden;
}
.addtra-info li:last-child {
    border: none;
}

.addtra-info div {
    font-size: 15px;
    float: left;
    width: 80px;
}

.addtra-info .postCard{
    width: 60%;
    float: left;
    margin-left: 12%;
}

.addtra-info .country-btn{
    width: 60%;
    float: left;
    height: 20px;
    margin-left: 12%;
}

.addtra-info .sex-cho-wrap{
    width: 50%;
    float: left;
    margin-left: 12%;
}


.traveler-contect #mobile-cell{
    width: 50%;
    height: 20px;
    margin-top: 15px;
    display: inline-block;
}

.traveler-contect #email-cell{
    width: 60%;
    float: left;
    margin-left: 26%;
}

.traveler-contect #mobile-cell-add{
    width: 50%;
    height: 20px;
    margin-top: 15px;
    display: inline-block;

}

.traveler-contect #email-cell-add{
    width: 50%;
    float: left;
    margin-left: 26%;
}

.addtra-info input {
    float: left;
    margin-left: 12%;
    width: 60%;
}
.addtra-info .birth-cont {
    float: left;
    margin-left: 12%;
    width: 60%;
}

.icon-h {
    background-image: url(../images/ui/icon-h.png);
    background-repeat: no-repeat;
    background-size: 402px 174px;
    display: inline-block;
}

.traveler-sex1 {
    width: 11px;
    height: 11px;
    margin-right: 5px;
    background-position: 10% 38%;
}

.traveler-sex2 {
    width: 11px;
    height: 11px;
    margin-right: 5px;
    background-position: 4.8% 38%;
}

.traveler-contect {
    border-bottom: 1px solid #dedede;
    margin-bottom: 10px;
}

.traveler-contect li {
    list-style-type: none;
    margin-left: 15px;
    font-size: 14px;
    border-bottom: 1px solid #dedede;
}

.traveler-contect li {
    border-bottom: 1px solid #dedede;
}

.traveler-contect li:first-child input {
    margin-left: 15px;
}

.traveler-contect li:last-child {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 15px;
    font-size: 14px;
    justify-content: space-between;
    border: none;
}


.con-phone {
    width: 45%;
    line-height: 50px;
    border-right: 1px solid #dedede;
}

.con-phone span{
    float: right;
    margin-right: 10px;
}

.phonenum {
    float: right;
    background-color: #0b84fe;
}

/*
         选择乘机人页css
*/
.choiceAir-page {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.user-choice1 {
    width: 21px;
    height: 21px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    background-position: 62.8% 97.2%;
}

.user-choice2 {
    width: 21px;
    height: 21px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    background-position: 56% 97.5%;
}

.ifbaby {
    width: 35px;
    height: 17px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    display: inline-block;
    margin-left: 8px;
    text-align: center;
    color: #ffb413;
    font-size: 10px;
    line-height: 15px;
}

/*
         新增乘机人页css
*/
.addAir-page {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.addAir-info {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin-top: 12px;
    margin-bottom: 0;
}

.addAir-info li {
    list-style-type: none;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 15px;
    font-size: 14px;
    border-bottom: 1px solid #dedede;
    overflow: hidden;
}

.addAir-info li:last-child {
    border: none;
}

.addAir-info div {
    font-size: 15px;
    float: left;
    width: 80px;
}
.addAir-info .country-btn {
    width: 60%;
    float: left;
    height: 20px;
    margin-left: 12%;
}
.addAir-info .sex-cho-wrap {
    width: 60%;
    margin-left: 12%;
}

.addAir-info input {
    float: left;
    margin-left: 12%;
    width: 60%;
}

.addAir-info .postCard{
    width: 60%;
    float: left;
    margin-left: 12%;
}

.user-account {
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    color: #ffb413;
    font-size: 10px;
}

/*
         填写姓名说明页css
*/
.fillName-page {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.ch_account {
    width: 100%;
    height: auto;
}

.ch_account li {
    list-style: none;
    list-style-type: decimal;
    margin-top: 15px;
    margin-left: 30px;
    padding-right: 10px;
}

.name_ul {
    font-size: 12px;
    color: #999999;
}

.name_ul li {
    list-style: none;
    list-style-type: disc;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    padding-left: 0;
}

.name-example {
    width: 100%;
    height: 40px;
    padding: 10px 15px;
    border: 1px solid #dedede;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 10px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.name-example2 {
    width: 100%;
    height: 40px;
    padding: 10px 15px;
    border: 1px solid #dedede;
    border-top: none;
    font-size: 10px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.name-example div:first-child {
    color: #a0a0a0;
    -webkit-box-felx: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.name-example div:last-child {
    color: #484848;
    -webkit-box-felx: 2;
    -moz-box-flex: 2;
    -ms-flex: 2;
    -webkit-flex: 2;
    flex: 2;
}

.name-example2 div:first-child {
    color: #a0a0a0;
    -webkit-box-felx: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.name-example2 div:last-child {
    color: #484848;
    -webkit-box-felx: 2;
    -moz-box-flex: 2;
    -ms-flex: 2;
    -webkit-flex: 2;
    flex: 2;
}

/*
         儿童购票说明页css
*/
.childen-page {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.child_detail {
    font-size: 12px;
    color: #999999;
}

/*
         登录页css
*/
.login-phone {
    background-position: -24px -35px;
}

.login-mail {
    background-position: -46px -35px;
}

.p_86 {
    display: inline-block;
    vertical-align: top;
    color: white;
    margin-left: 29px;
    margin-top: 16px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 40px;
}

.login-input .in-phone {
    display: inline-block;
    padding-top: 2px;
    font-size: 1.3rem;
    width: 50%;
}

#p_password{
    width: 88%;
}

#e_password{
    width: 100%;
}

#r_p_password{
    width: 100%;
}

#r_email{
    width: 100%;
}

#r_e_password{
    width: 100%;
}
#rs_e_password{
    width: 100%;
}

.forgotkey {
    float: left;
    margin: 15px 12px 15px;
    color: rgba(255, 255, 255, 255);
}

.changelogin {
    float: right;
    margin: 15px 12px 30px 0;
    color: rgba(255, 255, 255, 255);
}

.login-change {
    width: 17px;
    height: 17px;
    background-position: -2px -35px;
    position: relative;
    top: 3px;
    margin-left: 3px;
}

.login-clear {
    display: none;
    position: absolute;
    right: 13px;
    background-position: -85px -35px;
}
.login-clear.get-code-del{
    right: 125px;
}

.regist-code {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 107px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    color: white;
    margin-top: 13px;
}


/*国籍选择*/
.gj-header{
    z-index: 9999;
    visibility: hidden;
}
.country-cho-wrap {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
    overflow: hidden;
}
.country-cho-wrap .header{
    height: 45px;
    max-height: 45px;
}
.country-cho-wrap-order{
    position: absolute;
    z-index: 1000;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}

.cl_search {
    height: 30px;
    width: 100%;
    padding-left: 38px;
    padding-right: 15px;
    margin-top: 7px;
    position: relative;
    left: 0;
    top: 0;
    overflow: visible;
}

.cl_search input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    padding-left: 24px;
    font-family: 'Microsoft YaHei', STHeiti, Verdana, sans-serif;
}

.cl_search i {
    position: absolute;
    left: 47px;
    top: 10px;
    display: block;
    background: url("../images/city_search.png");
    background-size: 11px 11px;
    width: 11px;
    height: 11px;
}

.country-list {
    background-color: #fff;
}

.country-list li {
    padding-left: 35px;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #dfdfdd;
}

.country-hidden {
    z-index: 100;
}

/*国籍模糊搜索*/
.country-list-searched {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 1.4rem;
    list-style: none;
    position: fixed;
    top: 3.8rem;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    background: #f5f4f9;
    margin-bottom: 0;
    overflow-y: scroll;
    padding-top: 1rem;
}

.country-list-searched li.country-list-searched-item {
    width: 100%;
    font-size: 1.4rem;
    list-style: none;
    height: 3.4rem;
    line-height: 3.4rem;
    text-align: left;
    border-bottom: 0.1rem solid #dfdfdd;
    margin-bottom: 0;
    padding-left: 4rem;

}

/*个人信息页出生日期*/
.s_lists li.sex-alter{
    display: -moz-box;  /* Firefox */
    display: -ms-flexbox;    /* IE10 */
    display: -webkit-box;    /* Safari */
    display: -webkit-flex;    /* Chrome, WebKit */
    display: box;
    display: flexbox;
    display: flex;
}
.s_lists li.sex-alter div{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;
}
.s_lists li.sex-alter div.birth-cont{
    text-align: right;
    margin-right: 15px;
    color: #ffb413;
}
.birth-cont{
    font-size: 1.5rem;
    color: #666;
    width: 120px;
}

#unloginShow{
    width: 150px;
}
.s_lists.mt-none{
  margin-top: 0;
}
.icon_person{
  background: url(../images/ui/icon_person.png) no-repeat;
  background-size: 243px 160px;
}

.myorder-tip{
  position: absolute;
  width: 22px;
  height: 22px;
  top: 10px;
  background-position: -10px -10px;
}
/*选择联系人*/
.con-mobile-tip{
    height: 36px;
    line-height: 36px;
    background-color: #f7e7cb;
    color: #fe6a03;
    font-size: 1.4rem;
    font-weight: normal;
    padding-left: 15px;
    margin-bottom: 0;
}

.con-mobile-list{
    border-top: 1px solid #dedede;
    background-color: #fff;
}

i{
    font-style: normal;
}
.con-mobile-list li{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #dedede;
    padding-left: 15px;
    display: -moz-box;  /* Firefox */
    display: -ms-flexbox;    /* IE10 */
    display: -webkit-box;    /* Safari */
    display: -webkit-flex;    /* Chrome, WebKit */
    display: box;
    display: flexbox;
    display: flex;
}

.con-mobile-list li span{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;
}

.con-mobile-list li .con-mobile-name{
    -webkit-box-flex: 0.5;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 0.5;         /* OLD - Firefox 19- */
    -webkit-flex: 0.5;          /* Chrome */
    -ms-flex: 0.5;              /* IE 10 */
    flex: 0.5;
}

.white-eng{
    word-wrap:break-word;
    width: 50px;
    display: inline-block;
    line-height: 20px;
    margin-top: 5px;
}

/*新增乘机人*/
.bor-updown{
    background-color: #f5f4f9;
    height: 20px;
}

.addtra-info .chn-switch{
    width: 62px;
    height: 30px;
    border-radius: 2px;
    border:1px solid #ffb413;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #ffb413;
}

.addtra-info .eng-switch{
    width: 62px;
    height: 30px;
    border-radius: 2px;
    border:1px solid #ffb413;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #ffb413;
}
.chn{
    display: inline-block;
    width: 30px;
    text-align: center;
    line-height: 30px;
}
.foreign{
    display: inline-block;
    width: 30px;
    text-align: center;
    line-height: 30px;
}
.chn-switch .chn{
    color: #fff;
    height: 100%;
    display: inline-block;
    background-color: #ffb413;
}

.eng-switch .foreign{
    color: #fff;
    height: 100%;
    display: inline-block;
    background-color: #ffb413;
}
.mart-non{
    margin-top: 0;
}
#eng-name{
    display: none;
}

.nameche-wrap{
    margin-bottom: 0;
}

.nameche-wrap li{
    position: relative;
}

.nameche-wrap li:nth-child(2){
    border-bottom: none;
}

.name-notes{
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0;
    background-position: 28% 35%;
}

.name-eng-note{
    width: 22px;
    height: 22px;
    position: absolute;
    top: 15px;
    right: 20px;
    background-position: 28% 35%;
}
.chn-eng-wrap{
    border-top: 1px solid #dedede;
}
.country-list{
    z-index: 6;
}
.country-list-header{
    height: 3.8rem;
}
.country-list-searched-order{
    display: none;
}

.country-list-searched-order li{
    padding-left: 35px;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #dfdfdd;
}
.tel-icon {
    display: block;
    background-image: url(../images/ui/icons.png);
    background-position: -218px -73px;
    background-repeat: no-repeat;
    background-size: 243px 160px;
    width: 17px;
    height: 27px;
    position: absolute;
    right: 10px;
    top: 14px;
}
/*电话拨号开始*/
.jpop_box_tic{
    position: fixed;
    top:0;
    left:0;
    background: rgba(0,0,0,0.4);
    width:100%;
    height:100%;
    z-index:100;
    display:none;
}
.jpop_box_tic dl{
    position: fixed;
    width: 64%;
    height: 118px;
    top: 50%;
    left: 50%;
    margin: -59px 0 0 -32%;
    z-index: 5;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: -1px 1px 3px #c7c7c7;
}
.jpop_box_tic dt{
    padding:18px 0 10px;
    font-size: 1.86rem;
    color:#5abdb7;
    border-bottom:1px solid #e1e1e1;
    margin-bottom:12px;
}
.jpop_box_tic dd{
    overflow: hidden;
    margin: 0 10%;
    font-size:1.2rem;
}
.jpop_box_tic dd a,.jpop_box_tic dd span{
    padding: 8px 20px;
    color: #fff;
    border-radius: 3px;
}
.jpop_box_tic dd a{
    float:right;
    background: #ffb413;
}
.jpop_box_tic dd span{
    float:left;
    background:#dfdfdf;
}
/*电话拨号结束*/
.jto_area_code p,.jto_area_code li ul li{
    height: 36px;
    line-height: 36px;
    padding:0 15px;
}
.jto_area_code p{
    background:#e9e9e9;
    font-size:1.4rem;
}
.jto_area_code ul{
    background:#f5f4f9;
}
.jto_area_code li ul li{
    border-bottom:1px solid #dfdfdd;
}
.jto_area_code li ul li:last-child{
    border-bottom:0;
}

.per-type{
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    line-height: 18px;
    color: #ffb413;
    font-size: 1.2rem;
    border: 1px solid #eee;
    margin-left: 5px;
}

#login_btn, #register_btn{
    font-size: 1.5rem;
}

