<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="screen-orientation" content="portrait">
	<meta name="x5-orientation" content="portrait">
	<meta name="full-screen" content="yes">
	<meta name="x5-fullscreen" content="true">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
	<link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/splash/splash-icon-big.png">
	<link rel="apple-touch-startup-image" href="images/splash/splash-screen.png" 	media="screen and (max-device-width: 320px)" />
	<link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
	<link rel="apple-touch-startup-image" href="images/splash/splash-screen-six.png" media="(device-width: 375px)">
	<link rel="apple-touch-startup-image" href="images/splash/splash-screen-six-plus.png" media="(device-width: 414px)">
	<link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />
	<link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
	<link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
	<link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)"/>
	<link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)"/>
	<title>全部订单 - 亚程旅行网</title>
	<link href="../styles/reset.css"		rel="stylesheet" type="text/css">
	<link href="../css/user.css"	rel="stylesheet" type="text/css">
</head>
<body>

  <div id="preloader">
	<div id="status"></div>
  </div>
  <div class="all_elements" id="all-order">
	<div class="header">
      <a href="javascript:window.history.go(-1);" class="header_back"><i class="icon_back"></i></a>
      <h3 id="title_aboutus">全部订单</h3>
	</div>
	<!-- Page Content-->
    <div id="content" class="content ticket_div">
      <!--<div class="order_div flight-div">-->
      <!--<div >-->
		<!--<b class="icon user-air"></b>-->
      <!--<div class="order_title">机票</div>-->
		<!--<div class="if_pay">未支付</div>-->
		<!--</div>-->
		<!--<div>-->
      <!--<p class="info_title">广州白云机场T1 - 北京首都机场（KN5899）</p>-->
      <!--<ul class="air_date">-->
		<!--<li>出行日期：10-22 18:00至21:05</li>-->
		<!--<li>返回日期：10-22 18:00至21:05</li>-->
		<!--</ul>-->
		<!--</div>-->
		<!--<div style="border-top: 1px solid #dedede;">-->
		<!--<a href="../flight/pay_detail.html" class="paybtn button-yellow">立即支付</a>-->
		<!--<div class="quitbtn">取消订单</div>-->
		<!--</div>-->
		<!--</div>-->
      <!--<div class="order_div scenic_div">-->
      <!--<div >-->
      <!--<b class="icon user_spot"></b>-->
      <!--<div class="order_title">景点</div>-->
		<!--<div class="if_pay">已支付</div>-->
		<!--</div>-->
		<!--<div>-->
      <!--<p class="info_title">崇礼得乐滑雪周日全日票【成人票】2张+崇礼温泉门票 2张</p>-->
      <!--<ul class="air_date">-->
		<!--<li>有效期至：2015-12-30</li>-->
		<!--</ul>-->
		<!--</div>-->
		<!--<div style="border-top: 1px solid #dedede;">-->
		<!--<div class="quitbtn">退票</div>-->
		<!--</div>-->
		<!--</div>-->
      <!--<div class="order_div hotel-div">-->
      <!--<div >-->
		<!--<b class="icon user-hotel1"></b>-->
      <!--<div class="order_title">酒店</div>-->
		<!--<div class="if_pay">已完成</div>-->
		<!--</div>-->
		<!--<div>-->
      <!--<p class="info_title">东京东急涩谷卓越大酒店</p>-->
      <!--<ul class="air_date">-->
		<!--<li>11-25至11-26 共1晚</li>-->
		<!--<li style="font-size: 1.2rem">房型：经济大床房 房间数：2件</li>-->
		<!--</ul>-->
		<!--</div>-->
		<!--<div style="border-top: 1px solid #dedede;">-->
		<!--<div class="quitbtn"><a href="user-amendInfo.html#userremark">评价</a></div>-->
		<!--</div>-->
		<!--</div>-->
      <!--<div class="order_div hotel-div-cancel" style="color: #999999">-->
      <!--<div >-->
		<!--<b class="icon user-hotel2"></b>-->
      <!--<div class="order_title">酒店</div>-->
		<!--<div class="if_pay">已取消</div>-->
		<!--</div>-->
		<!--<div>-->
      <!--<p class="info_title">东京东急涩谷卓越大酒店</p>-->
      <!--<ul class="air_date">-->
		<!--<li>11-25至11-26 共1晚</li>-->
		<!--<li style="font-size: 1.2rem">房型：经济大床房 房间数：2件</li>-->
		<!--</ul>-->
		<!--</div>-->
		<!--</div>-->
	</div>
  <div class="moreData" style="vertical-align: middle; text-align: center">
    <span>点击加载更多</span>
  </div>


	<!--    无订单页   -->
    <div id="black_page" class="user_content">
      <div id="noOrder">
        <div class="black_con">
          <div class="bu_icon order"></div>
			</div>
        <p>暂时没有相关订单，快去下单吧！</p>
        <input class="f_btn buyOrder" type="button" value="马上下单"/>
		</div>
		<!--<div id="noSignal">-->
			<!--<div class="black-con">-->
				<!--<div class="bu_icon wifi"></div><br/>-->
				<!--网络不给力，点击页面再试试吧-->
			<!--</div>-->
		<!--</div>-->
	</div>

	<!--客服电话-->
    <div class="jpop_box_tic">
		<dl>
			<dt>4008-902-202</dt>
			<dd><span>取消</span><a href="tel:4008-902-202">拨打</a></dd>
		</dl>
	</div>
  </div>
  <script src="../js/lib/jquery.js"></script>
  <script src="../js/lib/jquery.alert.js"></script>
  <script src="../js/lib/plugins.js"></script>
  <script src="../js/lib/vlm.js"></script>
  <script src="../js/lib/template.js"></script>
  <script>

	var getCN = {
		"Paid": "已支付",
		"Pending":"待支付"
	};

	$(document).ready(function(){

		$(".buyOrder").on("click",function(){
			location.href="../index.html"

		})

    var memberId=JSON.parse(localStorage.getItem('memberid'))==null?"":JSON.parse(localStorage.getItem('memberid'));
    var deviceID=vlm.Utils.CookieUtil.get("deviceID");
    var index=1;

    var Parameters= {
      "Parameters": '{"MemberId":"'+memberId+'","DeviceId":"'+deviceID+'","PageIndex":'+index+',"PageSize":2}',
      "ForeEndType": 3,
      "Code": "0062"
    }

    var loadingData=function(){
      debugger;
      vlm.loadJson("", JSON.stringify(Parameters), function(data){
        $(".moreData").hide();
        if(data.success) {
          if(data.data !=null && data.data.length>0 ) {

            if(data.data.length==2) {
              $(".moreData").show();
            }

            var html = template("tpl_ticket", data.data);
            $(".ticket_div").append(html);
            $(".hotel-div-cancel").on("click", function () {
              location.href = "../hotel/order-details.html?bookingRefNo=" + $(this).attr("data-code");
            })
            $(".quitbtn").on("click", function () {
              $(".jpop_box_tic").show();
            })
            $('.jpop_box_tic span,.jpop_box_tic a').click(function(){
              $('.jpop_box_tic').hide();
            })
          }
          else{
            $("#black_page").show();
          }
        }else{
          alert("网络异常！");
        }
        vlm.init();
      })

    }
    loadingData();

    $(".moreData").on("click",function(){
      index++;
      loadingData();
    })
	})



</script>

  <!--模板-->
  <script id="tpl_ticket" type="text/template" version="20160330">

	{% if(productType=="Hotel" && bookingStatus=="Canceled"){ %}
	<!--取消酒店-->
    <div class="order_div hotel-div-cancel" data-code="{%=bookingRefNo%}">
      <div class="all_order_title">
        <div>
          <b class="icon_allorder user_hotel2"></b>
          <div class="order_title">酒店</div>
			<div class="if_pay">已取消</div>
          <div class="order_Amount">￥{%=bookingAmount%}</div>
		</div>
      </div>
      <div class="all_order_tab">
        <p class="info_title">{%=productName%}</p>
        <ul class="air_date">
				{% var d1= new Date(travelStartDate.replace(/(\d{4})-(\d{2})-(\d{2})T(.*)?\.(.*)/, "$1/$2/$3 $4")) ; var d2=new Date(travelEndDate.replace(/(\d{4})-(\d{2})-(\d{2})T(.*)?\.(.*)/, "$1/$2/$3 $4")); %}
          <li>{%= d1.getMonth()+1 %}-{%= d1.getDate() %} 至{%= d2.getMonth()+1 %}-{%= d2.getDate() %} 共{%= Math.floor((d2-d1)/(24*60*60*1000)) %}晚</li>
			</ul>
		</div>
      <div class="clearfix find_order">
        <a href="../payment/order_detail.html?bookingRefNo={%=bookingRefNo%}&type=Hotle" class="paybtn">查看订单</a>
		</div>
	</div>
	{% } %}


    {% if(productType=="Flight"){ %}
	<!--机票-->
    <div class="order_div flight_div">
      <div class="all_order_title">
        <b class="icon_allorder user_air"></b>
        <div class="order_title">机票</div>
			<div class="if_pay">{%=getCN[paymentStatus]%}</div>
        <div class="order_Amount">￥{%=bookingAmount%}</div>
		</div>
      <div class="all_order_tab">
        <!--<p class="info_title">广州白云机场T1 - 北京首都机场（KN5899）</p>-->
        <p class="info_title">{%=productName%}</p>
        <ul class="air_date">
				<li>出行日期：{%=travelStartDate.replace("T"," ")%}</li>
				<!--<li>返回日期：10-22 18:00至21:05</li>-->
			</ul>
		</div>
		<div class="quitbtn">联系客服</div>
      <div class="clearfix find_order">
        <a href="../payment/order_detail.html?bookingRefNo={%=bookingRefNo%}&type=Flight" class="paybtn">查看订单</a>
		</div>
	</div>
	{% } else if (productType=="Hotel" && bookingStatus!="Canceled" ) { %}
	<!--酒店-->
    <div class="order_div scenic_div">
      <div class="all_order_title">
        <b class="icon_allorder user_hotel1"></b>
        <div class="order_title">酒店</div>
			<div class="if_pay">{%=getCN[paymentStatus]%}</div>
        <div class="order_Amount">￥{%=bookingAmount%}</div>
		</div>
      <div class="all_order_tab">
        <p class="info_title">{%=productName%}</p>
        <ul class="air_date">
				{% var d1= new Date(travelStartDate.replace(/(\d{4})-(\d{2})-(\d{2})T(.*)?\.(.*)/, "$1/$2/$3 $4")) ; var d2=new Date(travelEndDate.replace(/(\d{4})-(\d{2})-(\d{2})T(.*)?\.(.*)/, "$1/$2/$3 $4")); %}
				<li>{%= d1.getMonth()+1 %}-{%= d1.getDate() %} 至{%= d2.getMonth()+1 %}-{%= d2.getDate() %} 共{%= Math.floor((d2-d1)/(24*60*60*1000)) %}晚</li>
			</ul>
		</div>
      <div class="clearfix find_order">
        <a href="../payment/order_detail.html?bookingRefNo={%=bookingRefNo%}&type=Hotle" class="paybtn">查看订单</a>
		</div>
	</div>
	<!--酒店+景-->
	{% }else if (productType=="Package_HT") { %}
    <div class="order_div scenic_div">
      <div class="all_order_title">
        <b class="icon_allorder user_hoteltour"></b>
        <div class="order_title">酒+景</div>
			<div class="if_pay">{%=getCN[paymentStatus]%}</div>
        <div class="order_Amount">￥{%=bookingAmount%}</div>
		</div>
      <div class="all_order_tab">
        <p class="info_title">{%=productName%}</p>
        <ul class="air_date">
				{% var d3= new Date(travelEndDate.replace(/(\d{4})-(\d{2})-(\d{2})T(.*)?\.(.*)/, "$1/$2/$3 $4")) ; %}
				<li>出行日期：{%= d3.getFullYear()%}-{%= d3.getMonth()+1 %}-{%= d3.getDate() %}</li>
			</ul>
		</div>
      <div class="clearfix find_order">
        <a href="../payment/order_detail.html?bookingRefNo={%=bookingRefNo%}&type=Tour" class="paybtn">查看订单</a>
		</div>
	</div>
	<!--景点-->
	{% }else if (productType=="Package_T") { %}
    <div class="order_div scenic_div">
      <div class="all_order_title">
        <b class="icon_allorder user_spot"></b>
        <div class="order_title">景点</div>
			<div class="if_pay">{%=getCN[paymentStatus]%}</div>
        <div class="order_Amount">￥{%=bookingAmount%}</div>
		</div>
      <div class="all_order_tab">
        <p class="info_title">{%=productName%}</p>
        <ul class="air_date">
				{% var d3= new Date(travelEndDate.replace(/(\d{4})-(\d{2})-(\d{2})T(.*)?\.(.*)/, "$1/$2/$3 $4")) ; %}
				<li>有效期至：{%= d3.getFullYear()%}-{%= d3.getMonth()+1 %}-{%= d3.getDate() %}</li>
			</ul>
		</div>
      <div class="clearfix find_order">
        <a href="../payment/order_detail.html?bookingRefNo={%=bookingRefNo%}&type=Scenic" class="paybtn">查看订单</a>
		</div>
	</div>
	<!--机+酒-->
	{% }else if (productType=="Package_FH") { %}
    <div class="order_div scenic_div">
      <div class="all_order_title">
        <b class="icon_allorder user_fligthotle"></b>
        <div class="order_title">机+酒</div>
			<div class="if_pay">{%=getCN[paymentStatus]%}</div>
        <div class="order_Amount">￥{%=bookingAmount%}</div>
		</div>
      <div class="all_order_tab">
        <p class="info_title">{%=productName%}</p>
        <ul class="air_date">
				{% var d3= new Date(travelEndDate.replace(/(\d{4})-(\d{2})-(\d{2})T(.*)?\.(.*)/, "$1/$2/$3 $4")) ; %}
				<li>有效期至：{%= d3.getFullYear()%}-{%= d3.getMonth()+1 %}-{%= d3.getDate() %}</li>
			</ul>
		</div>
      <div class="clearfix find_order">
        <a href="../payment/order_detail.html?bookingRefNo={%=bookingRefNo%}&type=FlightHotle" class="paybtn">查看订单</a>
		</div>
	</div>
    <!--机+酒+景-->
    {% }else if (productType=="Package_FHT") { %}
    <div class="order_div scenic_div">
      <div class="all_order_title">
        <b class="icon_allorder user_fligthotletour"></b>
        <div class="order_title">机+酒+景</div>
        <div class="if_pay">{%=getCN[paymentStatus]%}</div>
        <div class="order_Amount">￥{%=bookingAmount%}</div>
      </div>
      <div class="all_order_tab">
        <p class="info_title">{%=productName%}</p>
        <ul class="air_date">
          {% var d3= new Date(travelEndDate.replace(/(\d{4})-(\d{2})-(\d{2})T(.*)?\.(.*)/, "$1/$2/$3 $4")) ; %}
          <li>有效期至：{%= d3.getFullYear()%}-{%= d3.getMonth()+1 %}-{%= d3.getDate() %}</li>
        </ul>
      </div>
      <div class="clearfix find_order">
        <a href="../payment/order_detail.html?bookingRefNo={%=bookingRefNo%}&type=FlightHotelTour" class="paybtn button-yellow">查看订单</a>
      </div>
    </div>
    {% } %}
  </script>


</body>

</html>

