<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="Keywords" content="亚程旅行网">
    <meta name="Description" content="境外专业旅行服务提供机构">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/splash/splash-icon-big.png">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen.png" 	media="screen and (max-device-width: 320px)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six.png" media="(device-width: 375px)">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six-plus.png" media="(device-width: 414px)">
    <link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />
    <link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
    <link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
    <link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)"/>
    <link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)"/>

    <title>个人中心常用信息 - 亚程旅行网</title>
    <link href="../styles/reset.css"		rel="stylesheet" type="text/css">
    <link href="../styles/tips.css"		rel="stylesheet" type="text/css">
    <link href="../css/plugins/scroller/scroller1.1.css"	rel="stylesheet" type="text/css">
    <link href="../css/country_list.css"	rel="stylesheet" type="text/css">
    <link href="../css/user.css"	rel="stylesheet" type="text/css">
</head>
<body>
    <div id="preloader">
        <div id="status"></div>
    </div>
    <div class="header" id="vlm-login">
      <a href="user.html" class="header_back"><i class="icon_back"></i></a>
      <h3>常用信息维护</h3>
    </div>
    <div class="all_elements" id="content-wrap">

        <!-- Page Content-->
        <div id="content" class="content">
            <div id="addUser" class="f_btns">
                <b class="icon_person user_add"></b>新增常用旅客
            </div>
            <div id="blank" class="blank_con">您还没有设置常旅客，快添加吧！</div>
            <!--<ul id="oftenTrav" class="often-traveler">-->
                <!--<li class="eve-traveler" style="border-top:1px solid #dedede;">-->
                    <!--<b class="bu_icon user-edits"></b>-->
                    <!--<ul class="often_user">-->
                        <!--<li>陈玉宝CHEN/YUBAO</li>-->
                        <!--<li>身份证11023319880358765</li>-->
                        <!--<li>护照 <span>E000000000</span></li>-->
                        <!--<li>手机号 <span>1588776655</span></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="eve-traveler">-->
                    <!--<b class="bu_icon user-edits"></b>-->
                    <!--<ul class="often_user">-->
                        <!--<li>陈玉宝CHEN/YUBAO</li>-->
                        <!--<li>身份证 <span>11023319880358765</span></li>-->
                        <!--<li>手机号 <span>1588776655</span></li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<div class="traveler-text">没有更多结果了</div>-->
        </div>
    </div>

    <!--    新增常用旅客页   -->
    <div class="addtra_page" id="addtra_page">
        <div class="header">
        <div id="add_quit" class="header_quit">取消</div>
        <h3>新增常用旅客</h3>
        <div id="add_finish" class="header_finish">完成</div>
      </div>
        <div class="all_elements relative-for-android">
            <!-- Page Content-->
            <div class="content">
                <div class="addtra_title"><span>旅客姓名</span><b class="icon_common user_must" id="anameState"></b></div>
                <form id="addForm" action="user-oftenInfo.html" method="get">
                    <ul class="addtra_info">
                        <li>
                            <div>中文姓名</div>
                            <input type="text" placeholder="确保与证件保持一致">
                        </li>
                        <li>
                            <div>英文姓</div>
                            <input type="text" placeholder="Surname,如Li"><br/>
                        </li>
                        <li>
                            <div>英文名</div>
                            <input type="text" placeholder="Given name,如Shimin">
                        </li>
                    </ul>
                    <div class="addtra_title">证件</div>
                    <ul class="addtra_info">
                        <li id="uuu">
                            <b class="open_arw open_pho"></b>
                            <div>证件类型</div>
                            <div id="postCard" class="postCard" >护照</div>
                        </li>
                        <li>
                            <div>证件号</div>
                            <input type="text" placeholder="确保与证件保持一致">
                        </li>
                        <li id="uuun2">
                            <b class="open_arw open_pho" ></b>
                            <div class="birth-date">证件有效期</div><div id="time-cont" class="birth-cont"></div>
                        </li>
                        <li class="countries-wrap">
                            <b class="open_arw open_pho"></b>
                            <div>发证国家</div>
                            <div class="country-btn" data-code="CN" data-tel-code="86">中国</div>
                        </li>
                    </ul>
                    <div class="addtra_title">其他信息</div>
                    <ul class="addtra_info">
                        <li class="countries-wrap">
                            <b class="open_arw open_pho"></b>
                            <div>国籍</div>
                            <div class="country-btn"  data-code="CN" data-tel-code="86">中国</div>
                        </li>
                        <li>
                          <div>性别</div>
                          <div class="info_sex_tab" id="sexAdd">
                            <div class="per_man sex_act" id="man">男</div>
                            <div class="per_man" id="woman">女</div>
                          </div>
                        </li>
                        <li id="uuun1">
                            <b class="open_arw open_pho" ></b>
                            <div class="birth-date">出生日期</div><div id="birth-cont" class="birth-cont" data-cache="1990年-1月-1日">1990-01-01</div>
                        </li>
                    </ul>
                    <div class="addtra_title">联系方式</div>
                    <ul class="traveler_contect">
                        <li class="clearfix">
                            <div class="con_phone fl">手机号
                              <span class="phone_pre tel-btn">+86</span>
                              <em class="open_arw mobile_tip_right"></em>
                            </div>
                            <input type="text" placeholder="请确保手机号无误" id="mobile-cell-add">
                        </li>
                        <li class="clearfix">
                            <div class="fl email_code">邮箱</div>
                            <input type="text" placeholder="常用邮箱" id="email-cell-add">
                        </li>
                    </ul>
                </form>
                <div class="con_text_tip">为了您能顺利出行，请确保旅行结束日期至少比证件有效期早6个月</div>
            </div>
        </div>
    </div>
    <!--    编辑常用旅客   -->
    <div class="addtra_page" id="uptra_page">
        <div class="header">
        <div id="update_quit" class="header_quit">取消</div>
        <h3>编辑常用旅客</h3>
        <div id="upadate_finish" class="header_finish">完成</div>
      </div>
        <div class="all_elements relative-for-android">
            <!-- Page Content-->
            <div class="content">
              <div class="addtra_title"><span>旅客姓名</span><b class="icon_common user_must" id="nameState"></b></div>
              <form id="updateForm" action="user-oftenInfo.html" method="get">
                  <ul class="addtra_info">
                      <li>
                          <div>中文姓名</div>
                          <input type="text" placeholder="确保与证件保持一致">
                      </li>
                      <li style="border: none;padding-bottom: 0;">
                          <div>英文姓</div>
                          <input type="text" placeholder="Surname,如Li"><br/>
                      </li>
                      <li>
                          <div>英文名</div>
                          <input type="text" placeholder="Given name,如Shimin">
                      </li>
                  </ul>
                  <div class="addtra_title">证件</div>
                  <ul class="addtra_info">
                      <li id="eee3">
                          <b class="open_arw open_pho"></b>
                          <div>证件类型</div>
                          <div id="cardType" class="postCard"></div>
                      </li>
                      <li>
                          <div>证件号</div>
                          <input type="text" class="postNum" placeholder="确保与证件保持一致">
                      </li>
                      <li id="eee2">
                          <b class="open_arw open_pho"></b>
                          <div class="birth-date">证件有效期</div><div id="time-cont-edit" class="birth-cont" ></div>
                      </li>
                      <li class="countries-wrap">
                          <b class="open_arw open_pho"></b>
                          <div>发证国家</div>
                          <div class="country-btn" id="country-name" data-code="CN" data-tel-code="86"></div>
                      </li>
                  </ul>
                  <div class="addtra_title">其他信息</div>
                  <ul class="addtra_info">
                      <li class="countries-wrap">
                          <b class="open_arw open_pho"></b>
                          <div>国籍</div>
                          <div id="countryName" data-code="CN" class="country-btn" data-tel-code="86"></div>
                      </li>
                      <li>
                        <div>性别</div>
                        <div class="info_sex_tab" id="sexEdit">
                          <div class="per_man sex_act" id="man2">男</div>
                          <div class="per_man" id="woman2">女</div>
                        </div>
                      </li>
                      <li id="eee1" >
                          <b class="open_arw open_pho"></b>
                          <div class="birth-date">出生日期</div><div id="birth-cont-edit" class="birth-cont" data-cache="1990年-1月-1日">1990-01-01</div>
                      </li>
                  </ul>
                  <div class="addtra_title">联系方式</div>
                  <ul class="traveler_contect">
                    <li class="clearfix">
                      <div class="con_phone fl">手机号
                        <span class="phone_pre">+86</span>
                        <em class="open_arw mobile_tip_right"></em>
                      </div>
                      <input type="text" placeholder="请确保手机号无误" id="mobile-cell">
                    </li>
                    <li class="clearfix">
                      <div class="fl email_code">邮箱</div>
                      <input type="text" placeholder="常用邮箱" id="email-cell">
                    </li>
                </ul>
              </form>
              <div class="con_text">为了您能顺利出行，请确保旅行结束日期至少比证件有效期早6个月</div>
              <div id="delTra" class="f_btns">删除常旅客</div>
            </div>
        </div>
    </div>

    <!-- 填写姓名说明页-->
    <div class="fillName_page all_elements" id="fillName_page">
      <div class="header">
        <div id="closeName" class="header_quit"><i class="icon_back"></i></div>
        <h3>填写姓名说明</h3>
      </div>
      <div class="content">
        <!-- 中文姓名-->
          <ul class="ch_account" id="ch_account">
            <li>乘客姓名需与登机所持证件上的名字一致</li>
            <li>中文姓名：
                <ol class="name_ul">
                      <li class="example_floor_down">生僻字可用拼音代替，例如: "王鬳旭"可输入为"王yanxu"。</li>
                      <li class="example_floor_down">姓名中含特殊符号"··""_"等，可不用输入，例如: "汉祖然·买买提"可输入为汉祖然买买提。</li>
                      <li class="example_floor_down">姓名过长请使用缩写，例如: "买买提不拉多娜萨日娜阿诺凡"简写为"买买提不拉多娜萨日娜阿"。</li>
                </ol>
            </li>
          </ul>
          <!-- 英文姓名-->
          <ul class="ch_account" id="en_account">
              <li>英文姓名:
                  <ol class="name_ul">
                      <li class="example_floor_down">若持护照登机，必须按照护照顺序区分姓（Surname）与名（Givenname）。例如: "Smith/Black"，不区分大小写。</li>
                      <li class="example_floor_down">名字长≤26个字符，若过长请使用缩写。</li>
                  </ol>
              </li>
          </ul>
      </div>
    </div>

    <!-- 填写姓名说明页-->
    <div class="fillName_page all_elements" id="fillName_page_edit">
      <div class="header">
        <div id="closeName_edit" class="header_quit"><i class="icon_back"></i></div>
        <h3>填写姓名说明</h3>
      </div>
      <div class="content">
        <!-- 中文姓名-->
        <ul class="ch_account" >
          <li>乘客姓名需与登机所持证件上的名字一致</li>
          <li>中文姓名：
            <ol class="name_ul">
              <li class="example_floor_down">生僻字可用拼音代替，例如: "王鬳旭"可输入为"王yanxu"。</li>
              <li class="example_floor_down">姓名中含特殊符号"··""_"等，可不用输入，例如: "汉祖然·买买提"可输入为汉祖然买买提。</li>
              <li class="example_floor_down">姓名过长请使用缩写，例如: "买买提不拉多娜萨日娜阿诺凡"简写为"买买提不拉多娜萨日娜阿"。</li>
            </ol>
          </li>
        </ul>
        <!-- 英文姓名-->
        <ul class="ch_account">
          <li>英文姓名:
            <ol class="name_ul">
              <li class="example_floor_down">若持护照登机，必须按照护照顺序区分姓（Surname）与名（Givenname）。例如: "Smith/Black"，不区分大小写。</li>
              <li class="example_floor_down">名字长≤26个字符，若过长请使用缩写。</li>
            </ol>
          </li>
        </ul>
      </div>
    </div>

    <div id="menu"></div>

    <!--国籍选择开始-->
    <div class="header country_header">
      <a href="javascript:;" class="header_back country-hidden"><i class="icon_back"></i></a>
      <div class="cl_search">
        <input type="text" placeholder="新加坡/xinjiapo/xjp/Singapore" id="country-input-zone"/>
        <i class="icon_common"></i>
      </div>
    </div>
    <div class="all_elements country-cho-wrap">
      <div class="content">
        <div id="country-wrap-hot"></div>
        <div class="country-wrap" id="country-wrap"></div>
      </div>
      <!--热门国籍-->
      <script id="countryList_hot" type="text/template">
        <h4><a name="rm" class="target"></a>热门</h4>
        <ul class="country_hot">
          <% for(var i=0; i< arrCountry.length; i++){ %>
          <% if(arrCountry[i].isHot == 1) { %>
          <li class="country_list_hot" data-tel-code="<%=arrCountry[i].phoneCode%>" data-code="<%=arrCountry[i].countryCode%>" ><%=arrCountry[i].chineseName%></li>
          <% } %>
          <% } %>
        </ul>
      </script>

      <!--国籍全部列表-->
      <script id="countryList" type="text/template">
        <div class="full_country_outer">
          <% for(var tem in countryArray){ %>
          <a class="target" name="<%=tem%>"></a>
          <h4><%= tem%></h4>
          <ul class="full_country_list">
            <%countryArray[tem].forEach(function(array){ %>
            <li class="country_list" data-tel-code="<%=array.phoneCode%>" data-code="<%=array.countryCode%>"><%=array.chineseName%></li>
            <% })%>
          </ul>
          <% }%>
        </div>
      </script>

      <!--热门手机区号-->
      <script id="countryList_hot_tel" type="text/template">
        <h4><a name="rm" class="target"></a>热门</h4>
        <ul class="country_hot">
          <% for(var i=0; i< arrCountry.length; i++){ %>
          <% if(arrCountry[i].isHot == 1) { %>
          <li class="country_list_hot" data-tel-code="<%=arrCountry[i].phoneCode%>" data-code="<%=arrCountry[i].countryCode%>" ><em data-tel-code="<%=arrCountry[i].phoneCode%>" data-code="<%=arrCountry[i].countryCode%>"><%=arrCountry[i].chineseName%></em><span class="tel_code" data-tel-code="<%=arrCountry[i].phoneCode%>" data-code="<%=arrCountry[i].countryCode%>"><%=arrCountry[i].phoneCode%></span></li>
          <% } %>
          <% } %>
        </ul>
      </script>

      <!--手机区号全部列表-->
      <script id="countryListTel" type="text/template">
        <div class="full_country_outer">
          <% for(var tem in countryArray){ %>
          <a class="target" name="<%=tem%>"></a>
          <h4><%= tem%></h4>
          <ul class="full_country_list">
            <%countryArray[tem].forEach(function(array){ %>
            <li class="country_list" data-tel-code="<%=array.phoneCode%>" data-code="<%=array.countryCode%>"><em data-tel-code="<%=array.phoneCode%>" data-code="<%=array.countryCode%>"><%=array.chineseName%></em><span class="tel_code" data-tel-code="<%=array.phoneCode%>" data-code="<%=array.countryCode%>"><%=array.phoneCode%></span></li>
            <% })%>
          </ul>
          <% }%>
        </div>
      </script>

      <!--国籍a-z-->
      <script id="country_index" type="text/template">
        <ul>
          <li><a href="#rm">热门</a></li>
          <% for(var tem in countryArray){%>
          <li><a href="#<%=tem%>"><%=tem%></a></li>
          <%}%>
        </ul>
      </script>

    </div>
    <!--右侧a-z-->
    <div class="country_index" id="country_index_wrap"></div>

    <!--国籍弹窗开始-->
    <ul class="country-list-searched"></ul>

    <!--国籍选择结束-->

    <script src="../js/lib/jquery.js"></script>
    <script src="../js/lib/vlm.js"></script>
    <script src="../js/lib/ejs.js"></script>
    <script src="../js/countrydata.js"></script>
    <script src="../js/country_list.js"></script>
    <script src="../js/lib/jquery.alert.js"></script>
    <script src="../js/plugins/jquery.scrollevent/scrollevent.js" type="text/javascript"></script>
    <script src="../js/plugins/scroller/scroller1.1.js"></script>
    <script src="../js/user.js"></script>
</body>

</html>

