<!DOCTYPE HTML>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="screen-orientation" content="portrait">
		<meta name="x5-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<meta name="x5-fullscreen" content="true">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
		<link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/splash/splash-icon-big.png">
		<link rel="apple-touch-startup-image" href="images/splash/splash-screen.png" 	media="screen and (max-device-width: 320px)" />
		<link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
		<link rel="apple-touch-startup-image" href="images/splash/splash-screen-six.png" media="(device-width: 375px)">
		<link rel="apple-touch-startup-image" href="images/splash/splash-screen-six-plus.png" media="(device-width: 414px)">
		<link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />
		<link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
		<link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
		<link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)"/>
		<link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)"/>

		<title>用户登陆 - 亚程旅行网</title>
    <link href="../styles/reset.css" rel="stylesheet" type="text/css">
		<link href="../styles/tips.css" rel="stylesheet" type="text/css">
		<link href="../css/country_list.css"	rel="stylesheet" type="text/css">
    <link href="../css/user.css"	rel="stylesheet" type="text/css">
</head>
<body>
  <div id="preloader">
    <div id="status"></div>
  </div>
  <div class="all_elements">

			<!-- Page Content-->
    <div id="content" class="content no_header">
      <div class="login_page">
        <div id="login_page" class="login_page_wrapper">
          <div class="login_header" id="vlm-login">
            <a href="javascript:;" class="icon_person header_close" id="login-reg-shut"></a>
            <h3>登录</h3>
            <div class="header_finish" id="register">注册</div>
          </div>
						<div id="phone_login">
            <div class="login_input tel_code_wrap">
              <b class="icon_person login_phone"></b>
								<div class="p_86 tel-btn">
									<span>+86</span>
                <i class="open_arw int_tel"></i>
								</div>
              <input id="phone" type="tel" class="in_phone" autofocus="autofocus" value="" placeholder="输入手机号" data-type="tel" autocomplete="off">
              <b class="icon login_clear"></b>
							</div>
            <div class="login_input">
              <b class="icon_person login_pass"></b>
								<input id="p_password" type="password" value="" placeholder="密码" data-type="pass" autocomplete="off">
              <b class="icon login_clear"></b>
							</div>
						</div>
						<div id="email_login">
            <div class="login_input">
              <b class="icon_person login_mail"></b>
								<input id="email" type="text" value="" placeholder="邮箱" data-type="email">
              <b class="icon login_clear"></b>
							</div>
            <div class="login_input">
              <b class="icon_person login_pass"></b>
								<input id="e_password" type="password" value="" placeholder="密码" data-type="pass">
              <b class="icon login_clear"></b>
							</div>
						</div>
          <div class="change_way">
            <a class="forgotkey" href="javascript:;" onclick="show_keypage()">忘记密码？</a>
            <a class="changelogin" href="javascript:;" id="change_email">切换邮箱登录<b class="icon_person login_change"></b></a>
            <a class="changelogin" href="javascript:;" id="change_phone">切换手机登录<b class="icon_person login_change"></b></a>
					</div>
          <a href="javascript:;" id="login_btn" class="login_button">登录</a>
        </div>
					<!--   注册页   -->
					<div class="login-page-wrapper" id="register_page">
          <div class="login_header">
            <a href="javascript:;" id="close_register" class="header_back"><i class="icon_person go_back"></i></a>
							<h3>注册</h3>
            <div class="header_finish white" id="header_email">邮箱注册</div>
            <div class="header_finish white" id="header_phone">手机注册</div>
							</div>
						<div id="phone_register">
            <div class="login_input tel_code_wrap">
              <b class="icon_person login_phone"></b>
								<div class="p_86 tel-btn">
									<span>+86</span>
                <i class="open_arw int_tel"></i>
								</div>
								<input id="r_phone" autofocus="autofocus" type="tel" class="in-phone" value="" placeholder="输入手机号" data-type="tel">
                <b class="icon login_clear"></b>
							</div>
            <div class="login_input">
              <b class="icon_person login_pass"></b>
								<input id="verify" type="text" value="" placeholder="输入验证码" data-type="code">
              <b class="icon login_clear get-code-del"></b>
              <div id="get_code" class="regist-code">获取验证码	</div>
								</div>
            <div class="login_input">
              <b class="icon_person login_pass"></b>
								<input id="r_p_password" type="password" value="" placeholder="输入6-18位密码" data-type="pass">
              <b class="icon login_clear"></b>
							</div>
						</div>
						<div id="email_register">
            <div class="login_input">
              <b class="icon_person login_mail"></b>
								<input id="r_email" type="text" value="" autofocus="autofocus" placeholder="输入邮箱" data-type="email">
              <b class="icon login_clear"></b>
							</div>
            <div class="login_input">
              <b class="icon_person login_pass"></b>
								<input type="password" id="rs_e_password" value="" placeholder="输入6-18位密码" data-type="pass">
              <b class="icon login_clear"></b>
							</div>
            <div class="login_input">
              <b class="icon_person login_pass"></b>
								<input id="r_e_password" type="password" value="" placeholder="确认密码" data-type="pass">
              <b class="icon login_clear"></b>
							</div>
						</div>
          <div class="register_btn_wrap"><a href="javascript:;" class="register_button" style="margin-top: 44px;" id="register_btn">注册</a></div>
					</div>
				</div>
			</div>
		</div>
    <!--   找回密码页   -->
    <div id="fkey_page" class="all_elements">
      <div class="header_fd">
        <a class="header_back" onclick="close_keypage()"><i class="icon_common find_go_back"></i></a>
        <h3 id="find_title">手机找回</h3>
        <div id="cha_email" class="header_finish">邮箱找回</div>
        <div id="cha_phone" class="header_finish">手机找回</div>
      </div>
      <div class="user_content">
        <div id="phone_find">
          <ul class="f_key">
            <li class="tel-btn coun-find">
              <div>中国+86</div>
              <b class="open_arw tip_right"></b>
            </li>
            <li>
              <input id="find_phone" class="fk_put" type="tel" value placeholder="输入有效手机号" data-type="tel">
            </li>
            <li>
              <input id="find_veri" class="fk_put" type="text" value placeholder="输入验证码" data-type="code">
              <div class="fk_div" id="find_verify">获取验证码</div>
            </li>
            <li>
              <input class="fk_put"  type="password" value placeholder="输入6-18位新密码" data-type="pass">
            </li>
          </ul>
        </div>
        <div id="email_find" class="u_name">
          <input id="find_email" type="text"  placeholder="请输入邮箱" data-type="email">
        </div>
        <div class="f_btn_wrap"><a id="findkey_btn" href="javascript:;" class="f_btn">完成</a></div>
      </div>
    </div>

  <!--国籍选择开始-->
  <div class="header country_header">
    <a href="javascript:;" class="header_back country-hidden"><i class="icon_back"></i></a>
    <div class="cl_search">
      <input type="text" placeholder="新加坡/xinjiapo/xjp/Singapore" id="country-input-zone"/>
      <i class="icon_common"></i>
    </div>
  </div>
  <div class="all_elements country-cho-wrap">
    <div class="content">
      <div id="country-wrap-hot"></div>
      <div class="country-wrap" id="country-wrap"></div>
    </div>
    <!--热门国籍-->
    <script id="countryList_hot" type="text/template">
      <h4><a name="rm" class="target"></a>热门</h4>
      <ul class="country_hot">
        <% for(var i=0; i< arrCountry.length; i++){ %>
        <% if(arrCountry[i].isHot == 1) { %>
        <li class="country_list_hot" data-tel-code="<%=arrCountry[i].phoneCode%>" data-code="<%=arrCountry[i].countryCode%>" ><%=arrCountry[i].chineseName%></li>
        <% } %>
        <% } %>
      </ul>
    </script>

    <!--国籍全部列表-->
    <script id="countryList" type="text/template">
      <div class="full_country_outer">
        <% for(var tem in countryArray){ %>
        <a class="target" name="<%=tem%>"></a>
        <h4><%= tem%></h4>
        <ul class="full_country_list">
          <%countryArray[tem].forEach(function(array){ %>
          <li class="country_list" data-tel-code="<%=array.phoneCode%>" data-code="<%=array.countryCode%>"><%=array.chineseName%></li>
          <% })%>
        </ul>
        <% }%>
      </div>
    </script>

    <!--热门手机区号-->
    <script id="countryList_hot_tel" type="text/template">
      <h4><a name="rm" class="target"></a>热门</h4>
      <ul class="country_hot">
        <% for(var i=0; i< arrCountry.length; i++){ %>
        <% if(arrCountry[i].isHot == 1) { %>
        <li class="country_list_hot" data-tel-code="<%=arrCountry[i].phoneCode%>" data-code="<%=arrCountry[i].countryCode%>" ><em data-tel-code="<%=arrCountry[i].phoneCode%>" data-code="<%=arrCountry[i].countryCode%>"><%=arrCountry[i].chineseName%></em><span class="tel_code" data-tel-code="<%=arrCountry[i].phoneCode%>" data-code="<%=arrCountry[i].countryCode%>"><%=arrCountry[i].phoneCode%></span></li>
        <% } %>
        <% } %>
      </ul>
    </script>

    <!--手机区号全部列表-->
    <script id="countryListTel" type="text/template">
      <div class="full_country_outer">
        <% for(var tem in countryArray){ %>
        <a class="target" name="<%=tem%>"></a>
        <h4><%= tem%></h4>
        <ul class="full_country_list">
          <%countryArray[tem].forEach(function(array){ %>
          <li class="country_list" data-tel-code="<%=array.phoneCode%>" data-code="<%=array.countryCode%>"><em data-tel-code="<%=array.phoneCode%>" data-code="<%=array.countryCode%>"><%=array.chineseName%></em><span class="tel_code" data-tel-code="<%=array.phoneCode%>" data-code="<%=array.countryCode%>"><%=array.phoneCode%></span></li>
          <% })%>
        </ul>
        <% }%>
      </div>
    </script>

    <!--国籍a-z-->
    <script id="country_index" type="text/template">
      <ul>
        <li><a href="#rm">热门</a></li>
        <% for(var tem in countryArray){%>
        <li><a href="#<%=tem%>"><%=tem%></a></li>
        <%}%>
      </ul>
    </script>

  </div>
  <!--右侧a-z-->
  <div class="country_index" id="country_index_wrap"></div>

  <!--国籍弹窗开始-->
  <ul class="country-list-searched"></ul>

  <!--国籍选择结束-->

		<script src="../js/lib/jquery.js"></script>
		<script src="../js/lib/vlm.js"></script>
		<script src="../js/lib/ejs.js"></script>
		<script src="../js/lib/jquery.alert.js"></script>
		<script src="../js/countrydata.js"></script>
		<script src="../js/country_list.js"></script>
		<script type="text/javascript" src="scripts/user-login-register.js"></script>
</body>
</html>
