<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="green">
<meta name="Keywords" content="亚洲旅行网">
<meta name="Description" content="境外专业旅行服务提供机构">
<meta name="screen-orientation" content="portrait">
<meta name="x5-orientation" content="portrait">
<meta name="full-screen" content="yes">
<meta name="x5-fullscreen" content="true">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/splash/splash-icon-big.png">
<link rel="apple-touch-startup-image" href="images/splash/splash-screen.png" 	media="screen and (max-device-width: 320px)" />
<link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
<link rel="apple-touch-startup-image" href="images/splash/splash-screen-six.png" media="(device-width: 375px)">
<link rel="apple-touch-startup-image" href="images/splash/splash-screen-six-plus.png" media="(device-width: 414px)">
<link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />
<link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
<link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
<link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)"/>
<link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)"/>
<link href="../styles/reset.css" rel="stylesheet" type="text/css">
<link href="css/hf_hotel.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="preloader">
    <div id="status">
    </div>
</div>
<div class="jhf-box">
    <!--nav-->
    <div class="header">
        <a href="javascript:window.history.go(-1);" class="header_back">
            <i class="icon_back"></i>
        </a>
        <h3>酒店（共<span></span>家）</h3>
    </div>
    <!--content-->
    <div class="j-content jpr">
        <!--banner-->
        <div class="jhf-banner jpr" id="">
            <!--<dl>-->
                <!--<dd>36张</dd>-->
            <!--</dl>-->
        </div>
        <!--score-->
        <ul class="jhf-ul jhf-score">
            <!--<li class="jpr"><span class="score">4.5</span>&nbsp;分&nbsp;/&nbsp;422人点评<i class="arrow"></i></li>-->
            <!--<li><i></i>One Orchard Road Singapore Singapore Singapore 238824</li>-->
            <!--<li>三星级<span class="wifi"></span><span class="park"></span><i class="arrow"></i></li>-->
        </ul>
        <!--hotel detail message-->
        <ul class="jhf-ul jhf-mes">
            <li class="jpr jhf-date" style="display: none;"><span class="enterDate departDate"></span>入住&nbsp;&nbsp;<span class="enterDate returnDate"></span>离店&nbsp;&nbsp;共<span id="nightNum">4</span>晚<!--<i class="arrow"></i>--></li>
            <!-- room list-->
            <!--<li class="showh">-->
                <!--<div class="slide jpr">-->
                    <!--<div class="lfword">-->
                        <!--<p><span class="name">高级客房</span><i class="book"></i></p>-->
                        <!--<p>32-38㎡ 大/双床</p>-->
                    <!--</div>-->
                    <!--<div class="jhf-drg">-->
                        <!--<p>-->
                            <!--<span>+</span>-->
                            <!--<span>￥</span>-->
                            <!--<span>0</span>-->
                            <!--<i></i>-->
                        <!--</p>-->
                        <!--<b></b>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<ol class="show">-->
                    <!--<li class="lfword jpr roomli">-->
                        <!--<p>标准价</p>-->
                        <!--<p>无早 大床 不可取消&nbsp;&nbsp;<span>仅剩&nbsp;2&nbsp;间</span></p>-->
                        <!--<div class="price">-->
                            <!--<span>+</span>-->
                            <!--<span>￥</span>-->
                            <!--<span>100</span>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="lfword roomli">-->
                        <!--<p>含早</p>-->
                        <!--<p>双早 大/双床 免费取消</p>-->
                    <!--</li>-->
                <!--</ol>-->
            <!--</li>-->
        </ul>
    </div>
</div>

<script src="../js/lib/jquery-1.10.2.min.js"></script>
<script src="../js/lib/vlm.js"></script>
<script type="text/javascript" src="../js/lib/jquery.alert.js"></script>
<script src="../js/lib/template.js"></script>
<script src="../js/lib/d_calendar1.0.2.js"></script>
<script src="js/hf_hotelDetail.js"></script>
<!--nav中英文标题-->
<script id="tpl_seoul" type="text/template">
        <p class="titcn">{%=hotelName%}</p>
        <p class="titen">{%=hotelNameLocale%}</p>
</script>
<!--banner-->
<script id="banner" type="text/template">
    <img class="hotelPic" src={%=hotelPictureURL%} alt="">
</script>
<!--评分、星级、wifi-->
<script id="jhf_score" type="text/template">
    <li class="jpr"><span class="score">{%=hotelReviewScore%}</span>&nbsp;分&nbsp;/&nbsp;{%=hotelReviewCount%}人点评<i class="arrow"></i></li>
    <li><i></i>{%=location%}</li>
    <li>{%=starRating%}星级{% if(isFreeWiFi){ %}<span class="wifi"></span>{% }else{ %}{% } %}<!--<span class="park"></span>--><i class="arrow"></i></li>
</script>
<!--房间列表页-->
<script id="jhf_room" type="text/template">
    {% for(var i=0;i<roomdata.length;i++){ %}
    <li class="showh">
        <div class="slide jpr">
            <div class="lfword">
                <p><span class="name">{%=roomdata[i].roomName%}</span></p>
                <p>{% if(roomdata[i].includedBreakfast){ %}双早{% }else{ %}无早{% } %}</p>
            </div>
            <div class="jhf-drg">
                {% if(roomdata[i].addtionalPrice>=0){ %}<p>{% }else{ %}<p class="reduce">{% } %}
                    <span>{% if(roomdata[i].addtionalPrice>=0){ %}+{% }else{ %}-{% } %}</span>
                    <span>￥</span>
                    <span>
                        {% if(roomdata[i].addtionalPrice>=0){ %}
                            {%=roomdata[i].addtionalPrice%}
                        {% }else{ %}
                            {%=roomdata[i].addtionalPrice.toString().substring(1)-0%}
                        {% } %}
                    </span>
                </p>
                <b></b>
            </div>
        </div>
        <!--<ol class="show" style="display: block;">-->
            <!--<li class="lfword jpr roomli">-->
                <!--<p>{%=roomdata[i].roomName%}</p>-->
                <!--<p>{% if(roomdata[i].includedBreakfast){ %}双早{% }else{ %}无早{% } %} 大床 不可取消&nbsp;&nbsp;<span>&lt;!&ndash;仅剩&nbsp;2&nbsp;间&ndash;&gt;</span></p>-->
                <!--{% if(roomdata[i].addtionalPrice>=0){ %}<div class="price">{% }else{ %}<div class="price reduce">{% } %}-->
                    <!--<span>{% if(roomdata[i].addtionalPrice>=0){ %}+{% }else{ %}-{% } %}</span>-->
                    <!--<span>￥</span>-->
                    <!--<span>{%=roomdata[i].addtionalPrice.toString().substring(1)-0%}</span>-->
                <!--</div>-->
            <!--</li>-->
        <!--</ol>-->
    </li>
    {% } %}
</script>


</body>
</html>
