<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
    <meta name="screen-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="green">
    <meta name="Keywords" content="亚程旅行网">
    <meta name="Description" content="境外专业旅行服务提供机构">
    <title>首页 - 亚程旅行网</title>
    <link href="../styles/reset.css" rel="stylesheet" type="text/css">
    <link href="../css/plugins/jquery.alert/jqueryAlert.css" rel="stylesheet" type="text/css">
    <link href="css/hft_hotel.css" rel="stylesheet" type="text/css">
    <link href="../css/plugins/footer/footer.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!--loading-->
    <div id="preloader">
        <div id="status">
        </div>
    </div>
    <div class="all_elements">
        <div class="header">
            <a href="javascript:window.history.go(-1);" class="header_back">
                <i class="icon_back"></i>
            </a>
            <h3>酒店（共<span></span>家）</h3>
        </div>
        <div class="content">
            <ul class="hotel_list" id="hj_jList">
                <!--<li class="cur">-->
                <!--<div>-->
                <!--<img class="img" src="../images/hotelListNo.jpg" data-src="images/0.png" alt="">-->
                <!--<article class="message">-->
                <!--<h3>东京(银座)千禧三井花园饭店</h3>-->
                <!--<p><span class="score">4.5</span>&nbsp;分&nbsp;&nbsp;422人点评</i></p>-->
                <!--<p class="equipment clearfix">-->
                <!--<span>三星级</span>-->
                <!--<span class="park"></span>-->
                <!--<span class="car"></span>-->
                <!--</p>-->
                <!--<p class="address">东京（品川区）</p>-->
                <!--<div class="price">-->
                <!--<span class="money">100</span>-->
                <!--<span class="dollar">￥</span>-->
                <!--<span class="add">+</span>-->
                <!--</div>-->
                <!--</article>-->
                <!--</div>-->
                <!--<i></i>-->
                <!--</li>-->
                <!--<li>-->
                <!--<div>-->
                <!--<img class="img" src="../images/hotelListNo.jpg" data-src="images/0.png" alt="">-->
                <!--<article class="message">-->
                <!--<h3>东京(银座)千禧三井花园饭店</h3>-->
                <!--<p><span class="score">4.5</span>&nbsp;分&nbsp;&nbsp;422人点评</i></p>-->
                <!--<p class="equipment clearfix">-->
                <!--<span>三星级</span>-->
                <!--<span class="park"></span>-->
                <!--<span class="car"></span>-->
                <!--</p>-->
                <!--<p class="address">东京（品川区）</p>-->
                <!--<div class="price reduce">-->
                <!--<span class="money">100</span>-->
                <!--<span class="dollar">￥</span>-->
                <!--<span class="add">-</span>-->
                <!--</div>-->
                <!--</article>-->
                <!--</div>-->
                <!--<i class=""></i>-->
                <!--</li>-->
            </ul>
            <div class="hotel_more" id="loadMore">点击加载更多</div>
        </div>
    </div>
    <!--底部-->

    <script src="../js/lib/jquery.js"></script>
    <script src="../js/lib/vlm.js"></script>
    <script src="../js/lib/ejs.js"></script>
    <script src="../js/plugins/jquery.alert/jqueryAlert.js"></script>
    <script src="../js/plugins/lazyload-and-throttle/lazyLoad.js"></script>
    <script src="../js/plugins/footer/foot.js"></script>
    <script src="js/hf_hotelList.js"></script>
    <!--title-->
    <script id="title" type="text/template">
        <%= totelHotelCount %>
    </script>

    <!--选中的li-->
    <script id="curList" type="text/template">
        <li data-hotelId="<%= data.selectedHotel.hotelID %>" class="cur">
            <img class="h-choose h_choose" src="../images/ui/choose.png">
            <div>
                <img class="img" src="<%= data.selectedHotel.hotelPictureURL %>" data-src="../images/loading-hotel.gif" data-noimg="../images/hotelListNo.jpg" alt="">
                <article class="message">
                    <h3><%= data.selectedHotel.hotelNameLocale %></h3>
                    <p>
                        <% if(data.selectedHotel.hotelReviewScore && data.selectedHotel.hotelReviewScore!=0){ %>
                            <span class="score"><%= data.selectedHotel.hotelReviewScore %>.0</span>分&nbsp;
                            <% } %>
                                <% if(data.selectedHotel.hotelReviewCount && data.selectedHotel.hotelReviewCount != 0){ %>
                                    <i><%= data.selectedHotel.hotelReviewCount %>人点评</i>
                                    <% } %>
                    </p>
                    <p class="equipment clearfix">
                        <span><%= data.selectedHotel.starRating %></span>
                        <!--<span class="park"></span>-->
                        <!--<span class="car"></span>-->
                    </p>
                    <p class="address">
                        <%= data.selectedHotel.city %>
                            <%= data.selectedHotel.location %>
                    </p>
                    <div class="price">
                        <span class="money"><%= data.selectedHotel.additionalPrice %></span>
                        <span class="dollar">￥</span>
                        <span class="add">+</span>
                    </div>
                </article>
            </div>
            <!--<i></i>-->
        </li>
    </script>
    <!--list-->
    <script id="templateList" type="text/template">
        <% for(var i=0;i< data.hotels.length;i++) { %>
            <li data-hotelId="<%= data.hotels[i].hotelID %>">
                <img class="h-choose h_choose" src="../images/ui/choose.png">
                <div>
                    <img class="img" src="<%= data.hotels[i].hotelPictureURL %>" data-src="../images/loading-hotel.gif" data-noimg="../images/hotelListNo.jpg" alt="">
                    <article class="message">
                        <h3><%= data.hotels[i].hotelNameLocale %></h3>
                        <p>
                            <% if(data.hotels[i].hotelReviewScore && data.hotels[i].hotelReviewScore!=0){ %>
                                <span class="score"><%= data.hotels[i].hotelReviewScore %>.0</span>分&nbsp;
                                <% } %>
                                    <% if(data.hotels[i].hotelReviewCount && data.hotels[i].hotelReviewCount != 0){ %>
                                        <i><%= data.hotels[i].hotelReviewCount %>人点评</i>
                                        <% } %>
                        </p>
                        <p class="equipment clearfix">
                            <span><%= data.hotels[i].starRating %></span>
                            <!--<span class="park"></span>-->
                            <!--<span class="car"></span>-->
                        </p>
                        <p class="address">
                            <%= data.hotels[i].city %>
                                <%= data.hotels[i].location %>
                        </p>
                        <div class="price">
                            <span class="money"><%= data.hotels[i].additionalPrice %></span>
                            <span class="dollar">￥</span>
                            <span class="add">+</span>
                        </div>
                    </article>
                </div>
                <!--<i></i>-->
            </li>
            <% } %>
    </script>

</body>

</html>
