<!DOCTYPE html>
<html>
<head lang="cn">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
  <meta name="screen-orientation" content="portrait">
  <meta name="full-screen" content="yes">
  <meta name="browsermode" content="application">
  <meta name="x5-orientation" content="portrait">
  <meta name="x5-fullscreen" content="true">
  <meta name="x5-page-mode" content="app">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="green">
  <meta name="Keywords" content="亚洲旅行网">
  <meta name="Description" content="境外专业旅行服务提供机构">
  <title>订单详情</title>
  <link href="../styles/reset.css" rel="stylesheet" />
  <link href="../styles/tips.css" rel="stylesheet" />
  <link href="css/hft_order.css" rel="stylesheet" />
</head>
<body>
  <div id="preloader">
    <div id="status">
      <p class="center-text"></p>
    </div>
  </div>
  <div class="header">
    <a href="javascript:window.history.go(-1);" class="header_back">
      <i class="icon_back"></i>
    </a>
    <h3>订单详情</h3>
    <a href="tel:400-800;" class="tel_tip"></a>
  </div>
  <div id="order_detail" class="content">

  </div>

  <!--国籍选择开始-->
  <div class="country-cho-wrap">
    <div class="header">
      <a href="javascript:;" class="header-back country-hidden"><i class="icons go-back"></i></a>
      <div class="cl_search">
        <input type="text" placeholder="北京/beijing/Beijing" id="country-input-zone"/>
        <i></i>
      </div>
    </div>

    <!--国籍弹窗开始-->
    <ul class="country-list-searched"></ul>
    <!--国籍弹窗结束-->

    <div class="snap-content" style="padding-top: 45px;">
      <div class="country-wrap" id="country-wrap">
      </div>
    </div>
  </div>
  <!--国籍选择结束-->
  <!--模板-->
  <script id="tpl_page" type="text/template">
    <p class="hft_paid"><% if (isContinuePay==1) {%>  待支付 <% }else{ %> 已支付 <%}%> </p>
    <!--机票-->
    <section id="flight">
      <div class="flight_section">
        <div class="fht_hd clearfix">
          <span class="fht_hd_tit fl"><i></i>机票</span>
          <span class="fht_hd_det fr">详情<i></i></span>
        </div>
        <ul class="flight_cir_wrap">

          <li class="fli_cont clearfix">
            <div class="fli_cir_left fl">
              <i class="go_tip"></i>
              <span class="fli_go_date"><%=vlm.Utils.format_date(flightInfo.flightLeaveStartDate,"hm")%></span>
              <span><%=vlm.Utils.getWeek(flightInfo.flightLeaveStartDate)%></span>
              <span><%=flightInfo.cityNameFrom%>-<%=flightInfo.cityNameTo%></span>
            </div>
            <div class="fli_cir_right fr">
              <i></i>
              <span><%=flightInfo.segmentsLeaveTotalTravelTimeString%></span>
            </div>
          </li>

          <li class="fli_cont clearfix">
            <div class="fli_cir_left fl">
              <i class="back_tip"></i>
              <span class="order-ml"><%=vlm.Utils.format_date(flightInfo.flightReturnStartDate,"hm")%></span>
              <span><%=vlm.Utils.getWeek(flightInfo.flightReturnStartDate)%></span>
              <span><%=flightInfo.cityNameTo%>-<%=flightInfo.cityNameFrom%></span>
            </div>
            <div class="fli_cir_right fr">
              <i></i>
              <span><%=flightInfo.segmentsReturnTotalTravelTimeString%></span>
            </div>
          </li>
          <li class="cabin_level">
            <span>头等舱</span>
          </li>
        </ul>
      </div>

    </section>
    <!--酒店-->
    <section id="hotel">
      <div class="hotel_section">
      <div class="fht_hd clearfix">
      <span class="fht_hd_tit hotel fl"><i></i>酒店</span>
      </div>
      <div class="hotel_wrap">
      <h3><%=hotelDetails.hotelName%></h3>
      <ul>
      <li class="hotel_check_wrap">
      <span><%=vlm.Utils.format_date(hotelDetails.checkInDate,"md")%>-<%=vlm.Utils.format_date(hotelDetails.checkoutDate,"md")%></span>
      <span>共1晚（当地时间为准）</span>
      </li>
      <li class="hotel_room_det">
      <span>房型：<%=hotelDetails.roomDetails.roomName%></span>
      <span>房间数：<%=hotelDetails.roomDetails.numRoom%>间</span>
      </li>
      </ul>
      </div>
      </div>

    </section>
    <!--景点-->
    <section id="tour">
      <div class="tour_section">
      <div class="fht_hd clearfix">
      <span class="fht_hd_tit tour fl"><i></i>景点</span>
      </div>
      <ul class="tour_wrap">
      <% if(tours.length>0){ %>
      <% tours.forEach(function(info){%>
      <li>
      <p class="mb_ten"><%=info.tourName%></p>
      <p><%=vlm.Utils.format_date(info.travelDate,"md")%> </p>
      </li>
      <%})%>
      <% } %>
      </ul>
      </div>

    </section>
    <section id="tpl_order_detail">
      <div class="fht_order_detail">
        <div class="fht_hd">订单信息</div>
        <ul class="fht_order_tab">
          <li class="clearfix"><span class="fl"></span>订单号<span class="fr"><%=bookingRefNo%></span></li>
          <li class="clearfix"><span class="fl"></span>下单时间<span class="fr"><%=createTime%></span></li>
        </ul>
      </div>
      <div class="fht_order_detail">
        <div class="fht_hd">出行人信息</div>
        <% if(travelers.length>0){ %>
        <% travelers.forEach(function(info){%>
        <ul class="fht_order_tab">
          <li>
            <p class="clearfix"><span class="fl"></span>登记人1<span class="fr"><%=info.travelerName%>/<%=info.lastName%></span></p>
            <p class="clearfix"> <span class="fl"></span>护照<span class="fr"><%=info.idNumber%></span></p>
          </li>
        </ul>
        <%})%>
        <% } %>
        <ul class="order_cont_way">
          <li  class="clearfix">
            <span class="fl"></span>联系电话<span class="fr"><%=contactNumber%></span>
          </li>
          <li  class="clearfix">
            <span class="fl"></span>邮箱<span class="fr"><%=email%>.com</span>
          </li>
        </ul>
      </div>
      <!--订单总额-->
      <div class="order_tot_price">
        <div class="fht_hd">订单总额</div>
        <div class="tot_prinum_wrap clearfix">
          <span class="fl">订单总额: <i class="tot_prinum">¥<%=totalFlightPrice%></i></span>
          <span class="fr fare_tip"></span>
        </div>
        <ul class="hft_pri_details">
          <li class="clearfix"><span class="fl">成人</span><span class="fr">¥<%=hotelDetails.roomDetails.unitAdultPrice%>*<%=hotelDetails.roomDetails.totalAdult%> </span></li>
          <li class="clearfix"><span class="fl">儿童</span><span class="fr">¥<%=hotelDetails.roomDetails.unitChildPrice%>*<%=hotelDetails.roomDetails.totalChild%> </span></li>
        </ul>
      </div>
    </section>

  </script>


  <script src="../js/require.js" data-main="../js/main"></script>
  <script type="application/javascript">
    require(['../hotel_flight_tour/js/hft_orderDetail'], function (pager){
      pager.init();
    });
  </script>

</body>
</html>
