<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
  <meta name="screen-orientation" content="portrait">
  <meta name="full-screen" content="yes">
  <meta name="browsermode" content="application">
  <meta name="x5-orientation" content="portrait">
  <meta name="x5-fullscreen" content="true">
  <meta name="x5-page-mode" content="app">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="green">
  <meta name="Keywords" content="亚洲旅行网">
  <meta name="Description" content="境外专业旅行服务提供机构">
  <title>资源选择页 - 亚洲旅行网</title>
  <link href="../styles/reset.css" rel="stylesheet" type="text/css">
  <link href="css/hft_choose.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="preloader">
  <div id="status">
    <p class="center-text"></p>
  </div>
</div>
<div class="all_elements"></div>
</body>
<script id="template" type="text/template">
  <header class="header">
    <a href="#" class="header_back">
      <i class="icon_back"></i>
    </a>
    <h3><span>北京</span><i class="arrowDouble"></i><span>泰国</span></h3>
  </header>
  <div class="content">
    <div class="top_info">
      <span>出发:<span class="start"> <%=hftChoose.returnDay(hftChoose.initParaObj.departDate)%></span></span>
      <span>返程:<span class="arrive"> <%=hftChoose.returnDay(hftChoose.initParaObj.returnDate)%></span></span>
      <span class="person_number"><span><%=hftChoose.cacheOtherInfo.adult%></span>成人 <span><%=hftChoose.cacheOtherInfo.child%></span>儿童</span>
      <i></i>
    </div>
    <div class="ticket">
      <div class="statusMoreFlight">
        <span>机票</span> <a href="javascript:void(0);" class="moreFlight" title="更多航班">更换航班</a>
      </div>
      <ul class="flightOuter">
        <li class="tripGo">
          <div class="dateWeekCity">
            <span class="icon"></span>
            <span><%= flightInfo["flightLeaveStartDate"].substring(5, 10) %></span><span><%= hftChoose.setWeekItems(flightInfo["flightLeaveStartDate"]) %></span><span><%= flightInfo["cityNameFrom"] %></span><span>-</span><span><%= flightInfo["cityNameTo"] %></span>
          </div>
          <div class="timeAirport">
            <div class="left">
              <span class="startTime"><%= flightInfo["flightLeaveStartDate"].substring(11, 16) %></span><span
              class="startPort"><%= flightInfo["segmentsLeave"][0]["airportNameFrom"] %><%= flightInfo["segmentsLeave"][0]["termDepart"] %></span>
            </div>
            <div class="middle">
              <div class="timeCost"><%= flightInfo["segmentsLeaveTotalTravelTimeString"] %></div>
              <div class="toArrow"></div>
              <div class="transferCity">
                转<%= flightInfo["transferListLeave"].length < 2 ? flightInfo["transferListLeave"][0] : flightInfo["transferListLeave"].length + '次' %></div>
            </div>
            <div class="right">
            <span class="arriveTime"><%= flightInfo["flightLeaveEndDate"].substring(11, 16) %></span>
              <span class="plusDay">+1天</span>
            <span
              class="arrivePort"><%= flightInfo["segmentsLeave"][flightInfo["segmentsLeave"].length - 1]["airportNameTo"] %><%= flightInfo["segmentsLeave"][flightInfo["segmentsLeave"].length - 1]["termArrive"] %></span>
            </div>
          </div>
          <p class="flightDetailInfo">
            <span><%= flightInfo["segmentsLeave"][0]["operatingCarrierName"] %></span><span><%= flightInfo["segmentsLeave"][0]["operatingCarrierCode"] %><%= flightInfo["segmentsLeave"][0]["flightNo"] %></span><span><%= flightInfo["segmentsLeave"][0]["planeName"] %></span>
          </p>
        </li>
        <p class="flightDetailArrow"><i></i></p>
        <li class="tripBack">
          <div class="dateWeekCity">
            <span class="icon"></span>
            <span><%= flightInfo["flightReturnStartDate"].substring(5, 10) %></span><span><%= hftChoose.setWeekItems(flightInfo["flightReturnStartDate"]) %></span><span><%= flightInfo["cityNameTo"] %></span><span>-</span><span><%= flightInfo["cityNameFrom"] %></span>
          </div>
          <div class="timeAirport">
            <div class="left">
              <span class="startTime"><%= flightInfo["flightReturnStartDate"].substring(11, 16) %></span>
            <span
              class="startPort"><%= flightInfo["segmentsReturn"][0]["airportNameFrom"] %><%= flightInfo["segmentsReturn"][0]["termDepart"] %></span>
            </div>
            <div class="middle">
              <div class="timeCost"><%= flightInfo["segmentsReturnTotalTravelTimeString"] %></div>
              <div class="toArrow"></div>
              <div class="transferCity">
                转<%= flightInfo["transferListReturn"].length < 2 ? flightInfo["transferListReturn"][0] : flightInfo["transferListReturn"].length + '次' %></div>
            </div>
            <div class="right">
            <span class="arriveTime"><%= flightInfo["flightReturnEndDate"].substring(11, 16) %></span>
              <span class="plusDay">+1天</span>
            <span
              class="arrivePort"><%= flightInfo["segmentsReturn"][flightInfo["segmentsReturn"].length - 1]["airportNameTo"] %><%= flightInfo["segmentsReturn"][flightInfo["segmentsReturn"].length - 1]["termArrive"] %></span>
            </div>
          </div>
          <p class="flightDetailInfo">
            <span><%= flightInfo["segmentsReturn"][0]["operatingCarrierName"] %></span><span><%= flightInfo["segmentsReturn"][0]["operatingCarrierCode"] %><%= flightInfo["segmentsReturn"][0]["flightNo"] %></span><span><%= flightInfo["segmentsReturn"][0]["planeName"] %></span>
          </p>
        </li>
      </ul>
    </div>
    <div class="hotel" id="hotel">
      <div class="statusMoreHotel"><span>酒店</span> <a href="javascript:void(0);" class="moreHotel" title="更多酒店">更换酒店</a>
      </div>
      <div class="hotelImgInfo">
        <img src="<%= hotelInfo['hotelPictureURL'] %>">

        <div class="hotelRightPart">
          <h3><%= hotelInfo["hotelName"] %></h3>

          <p class="scorePersonNumber"><span class="score"><%= hotelInfo['hotelReviewScore'] %></span>分 <span
            class="commit"><%= hotelInfo['hotelReviewCount'] %></span>人点评</p>

          <p class="starWifi"><span class="star"><%= hftChoose.setChineseStar(hotelInfo['starRating']) %></span><span
            class="<%= hotelInfo['isFreeWiFi'] == 1 ? 'WiFi' : '' %>"></span><span
            class="<%= hotelInfo['isFreeBus'] == 1 ? 'car' : '' %>"></span></p>
          <p><%= hotelInfo['location'] %></p>
        </div>
        <i></i>
      </div>
      <ul class="roomUl">
        <% hotelInfo["rooms"].forEach(function(room, item){
        if(item > 1) {return}; %>
        <li class="hasChosen" data-room-id="<%= room['roomID'] %>">
          <div class="plassPrice"><span>+￥</span><span><%= room['addtionalPrice'] %></span>
            <%if(window.location.search){%>
            <%if(room['roomID']==window.location.search.substring(1)){hftChoose['roomPriceInfo']=room%>
            <button class="hasChooseButton">已选择</button>
            <% }else{%>
            <button class="noChooseButton">选择</button>
            <% }%>
            <% }else{%>
            <% if(item==0){hftChoose['roomPriceInfo']=room%>
            <button class="hasChooseButton">已选择</button>
            <%}else{%>
            <button class="noChooseButton">选择</button>
            <% }%>
            <%}%>
          </div>
          <div class="roomName">
            <p><%= room['roomName'] %></p>
            <p>
              <% if(room['includedBreakfast'] == 1){ %>
              <span>含早</span>
              <% } %>
            </p></div>
        </li>
        <% }) %>
      </ul>
      <%if(hotelInfo["rooms"].length>=3){%>
      <div class="check-more-room">查看更多房型<span>(<%= hotelInfo["rooms"].length-2%>)</span><span class="check-more-down"></span></div>
      <% }%>
    </div>


    <div class="priceDetailInfo">
      <p>成人<span class="price-num-price">￥<span>56X2</span></span></p>
      <p>儿童<span class="price-num-price">￥<span>56X2</span></span></p>
    </div>
    <div class="bottomPrice">
      <span class="priceTotal">总额:￥<span><%= hftChoose.test%></span><i></i></span>
      <span class="preserve">立即预定</span>
    </div>
  </div>
  <div class="shadow"></div>
</script>
<script id="template_room" type="text/template">
    <% hotelInfo["rooms"].forEach(function(room, item){%>
    <li class="hasChosen" data-room-id="<%= room['roomID'] %>">
      <div class="plassPrice"><span>+￥</span><span><%= room['addtionalPrice'] %></span>
        <%if(window.location.search){%>
        <%if(room['roomID']==window.location.search.substring(1)){%>
        <button class="hasChooseButton">已选择</button>
        <% }else{%>
        <button class="noChooseButton">选择</button>
        <% }%>
        <% }else{%>
        <% if(item==0){%>
        <button class="hasChooseButton">已选择</button>
        <%}else{%>
        <button class="noChooseButton">选择</button>
        <% }%>
        <%}%>
      </div>
      <div class="roomName">
        <p><%= room['roomName'] %></p>
        <p>
          <% if(room['includedBreakfast'] == 1){ %>
          <span>含早</span>
          <% } %>
        </p></div>
    </li>
    <% }) %>
</script>
<script id="template_date_session" type="text/template">
    <div class="confirm">
      <span>取消</span>
      <span>确定</span>
    </div>
    <div class="months">
      <%data.forEach(function(yd){ %>
         <span class="month-title" data-m="<%=yd['name']%>"><%=yd['name'].substring(6,7)%>月</span>
            <div class="monthsDate" data-md="<%=yd['name']%>">
              <%yd['values'].forEach(function(yv){ %>
                     <span data-date="<%=yv%>"><%=hftChoose.returnDay(yv)%></span>
              <% }) %>
      </div>
      <% }) %>
    </div>
</script>
<script id="template_tour" type="text/template">
  <div class="tour">
    <div class="tourListHeader">
      <span>景点</span><span class="tourNumber">(<%= tours.length %>)</span>
    </div>
    <ul class="tourOuter">
      <% tours.forEach(function(tour, item){
      var selectTravelDate = tour["selectTravelDate"];
      %>
      <li data-tour-id="<%=tour['tourID']%>">
        <h3 class="tour-list-title"><%= tour.tourName %></h3>
        <p class="choose-tour-date"><span data-date="<%= selectTravelDate%>"><%= hftChoose.returnDay(selectTravelDate)%></span><i></i></p>
        <div class="after-noon">
          <% tour["tourSessions"].forEach(function(tourSession, ite){ %>
          <button class="<%= tourSession['isSelected'] == 1 ? 'active' : '' %>" data-enumvalue="<%= tourSession['tourSessionEnumValue']%>"><%= tourSession["tourSessionName"] %></button>
          <% }) %>
        </div>
      </li>
      <% }) %>
    </ul>
    <div class="chooseDate">
      <div class="confirm">
        <span>取消</span>
        <span>确定</span>
      </div>
      <div class="months">
        <span>4月</span>
        <span class="active">5月</span>
      </div>
      <div class="monthsDate">
        <span>5月1日</span>
        <span class="active">5月2日</span>
        <span>5月3日</span>
        <span>5月4日</span>
      </div>
    </div>
  </div>
</script>
<script type="text/javascript" src="../js/lib/jquery.js"></script>
<script type="text/javascript" src="../js/lib/plugins.js"></script>
<script type="text/javascript" src="../js/lib/vlm.js"></script>
<script type="text/javascript" src="../js/lib/jquery.alert.js"></script>
<script type="text/javascript" src="../js/lib/ejs.js"></script>
<script type="text/javascript" src="js/chooseTestData.js"></script>
<script type="text/javascript" src="js/hft_Choose.js"></script>
</html>
