<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
<meta name="screen-orientation" content="portrait">
<meta name="full-screen" content="yes">
<meta name="browsermode" content="application">
<meta name="x5-orientation" content="portrait">
<meta name="x5-fullscreen" content="true">
<meta name="x5-page-mode" content="app">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="green">
<meta name="Keywords" content="亚洲旅行网">
<meta name="Description" content="境外专业旅行服务提供机构">
<title>首页 - 亚洲旅行网</title>
<link href="../styles/reset.css" rel="stylesheet" type="text/css">
<link href="../css/plugins/jquery.alert/jqueryAlert.css" rel="stylesheet" type="text/css">
<link href="css/hft_hotel.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--loading-->
<div id="preloader">
  <div id="status">
  </div>
</div>

<div class="all_elements">
  <div class="header">
    <a href="#" class="header_back">
      <i class="icon_back"></i>
    </a>
    <h3>酒店（共<span></span>家）</h3>
  </div>
  <ul class="hotel_list">
    <!--<li class="cur">-->
      <!--<div>-->
        <!--<img class="img" src="../images/hotelListNo.jpg" data-src="images/0.png" alt="">-->
        <!--<article class="message">-->
          <!--<h3>东京(银座)千禧三井花园饭店</h3>-->
          <!--<p><span class="score">4.5</span>&nbsp;分&nbsp;&nbsp;422人点评</i></p>-->
          <!--<p class="equipment clearfix">-->
            <!--<span>三星级</span>-->
            <!--<span class="park"></span>-->
            <!--<span class="car"></span>-->
          <!--</p>-->
          <!--<p class="address">东京（品川区）</p>-->
          <!--<div class="price">-->
            <!--<span class="money">100</span>-->
            <!--<span class="dollar">￥</span>-->
            <!--<span class="add">+</span>-->
          <!--</div>-->
        <!--</article>-->
      <!--</div>-->
      <!--<i></i>-->
    <!--</li>-->
    <!--<li>-->
      <!--<div>-->
        <!--<img class="img" src="../images/hotelListNo.jpg" data-src="images/0.png" alt="">-->
        <!--<article class="message">-->
          <!--<h3>东京(银座)千禧三井花园饭店</h3>-->
          <!--<p><span class="score">4.5</span>&nbsp;分&nbsp;&nbsp;422人点评</i></p>-->
          <!--<p class="equipment clearfix">-->
            <!--<span>三星级</span>-->
            <!--<span class="park"></span>-->
            <!--<span class="car"></span>-->
          <!--</p>-->
          <!--<p class="address">东京（品川区）</p>-->
          <!--<div class="price">-->
            <!--<span class="money">100</span>-->
            <!--<span class="dollar">￥</span>-->
            <!--<span class="add">+</span>-->
          <!--</div>-->
        <!--</article>-->
      <!--</div>-->
      <!--<i></i>-->
    <!--</li>-->
    <!--<li>-->
      <!--<div>-->
        <!--<img class="img" src="../images/hotelListNo.jpg" data-src="images/0.png" alt="">-->
        <!--<article class="message">-->
          <!--<h3>东京(银座)千禧三井花园饭店</h3>-->
          <!--<p><span class="score">4.5</span>&nbsp;分&nbsp;&nbsp;422人点评</i></p>-->
          <!--<p class="equipment clearfix">-->
            <!--<span>三星级</span>-->
            <!--<span class="park"></span>-->
            <!--<span class="car"></span>-->
          <!--</p>-->
          <!--<p class="address">东京（品川区）</p>-->
          <!--<div class="price reduce">-->
            <!--<span class="money">100</span>-->
            <!--<span class="dollar">￥</span>-->
            <!--<span class="add">-</span>-->
          <!--</div>-->
        <!--</article>-->
      <!--</div>-->
      <!--<i class=""></i>-->
    <!--</li>-->
  </ul>
</div>
<!--底部-->
<footer class="hotel_list_bottom">
  <dl class="sort" id="hotelSort">
    <dt></dt>
    <dd>推荐排序</dd>
  </dl>
  <dl class="screen" id="hotelScreen">
    <dt></dt>
    <dd>筛选</dd>
  </dl>
  <dl class="position" id="hotelPosition">
    <dt></dt>
    <dd>位置</dd>
  </dl></footer>
<!--弹框-->
<!--<div class="hotel_pop" id="hotelPop" style="display: none;">-->
  <!--&lt;!&ndash; sort pop&ndash;&gt;-->
  <!--<ul class="sort" >-->
    <!--<li class="curimg">价格从高到低<i></i></li>-->
    <!--<li>价格从低到高<i></i></li>-->
    <!--<li>评分从高到低<i></i></li>-->
    <!--<li>星级从高到低<i></i></li>-->
    <!--<li>星级从低到高<i></i></li>-->
  <!--</ul>-->
  <!--&lt;!&ndash;sort screen&ndash;&gt;-->
  <!--<section class="screen">-->
    <!--<div class="screen_btn">-->
      <!--<p class="cancel">取消</p>-->
      <!--<p class="clears">清空筛选</p>-->
      <!--<p class="sure">确定</p>-->
    <!--</div>-->
    <!--<div class="screen_box">-->
      <!--<ul class="screen_lf"id="screenLeft">-->
        <!--<li class="cur">星级档次</li>-->
        <!--<li>酒店类型</li>-->
      <!--</ul>-->
      <!--<div class="screen_rg" id="screenRight">-->
        <!--<ul>-->
          <!--<li class="cur">不限<i></i></li>-->
          <!--<li>二星级以下<i></i></li>-->
          <!--<li>三星<i></i></li>-->
          <!--<li>四星级<i></i></li>-->
          <!--<li>五星级<i></i></li>-->
        <!--</ul>-->
        <!--<ul>-->
          <!--<li class="cur">不限<i></i></li>-->
          <!--<li>商务型<i></i></li>-->
          <!--<li>度假型<i></i></li>-->
          <!--<li>会议型<i></i></li>-->
          <!--<li>观光型<i></i></li>-->
          <!--<li>经济型<i></i></li>-->
          <!--<li>连锁型<i></i></li>-->
          <!--<li>公寓式<i></i></li>-->
          <!--<li>长住型<i></i></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->
  <!--&lt;!&ndash; position&ndash;&gt;-->
  <!--<section class="position" id="popPosition">-->
    <!--<div class="screen_btn">-->
      <!--<p class="cancel">取消</p>-->
      <!--<p class="clears">清空筛选</p>-->
      <!--<p class="sure">确定</p>-->
    <!--</div>-->
    <!--<ul>-->
      <!--<li class="cur">不限<i></i></li>-->
      <!--<li>涩谷<i></i></li>-->
      <!--<li>银座<i></i></li>-->
      <!--<li>银座<i></i></li>-->
      <!--<li>涩谷<i></i></li>-->
      <!--<li>银座<i></i></li>-->
      <!--<li>银座<i></i></li>-->
      <!--<li>涩谷<i></i></li>-->
      <!--<li>银座<i></i></li>-->
      <!--<li>银座<i></i></li>-->
    <!--</ul>-->
  <!--</section>-->
<!--</div>-->



<script src="../js/lib/jquery-1.10.2.min.js"></script>
<script src="../js/lib/vlm.js"></script>
<script src="../js/lib/ejs.js"></script>
<script src="../js/lib/jquery.alert.js"></script>
<script src="../js/plugins/footer/footer.js"></script>
<script src="js/hft_hotelList.js"></script>
<!--title-->
<script id="title" type="text/template">
  <%= totelHotelCount %>
</script>
<!--list-->
<script id="templateList" type="text/template">
  <% for(var i=0;i<hotels.length;i++) { %>
  <li data-hotelId="<%= hotels[i].hotelID %>">
    <div>
      <img class="img" src=<%= hotels[i].hotelPictureURL %> data-src="../images/hotelListNo.jpg" alt="">
      <article class="message">
        <h3><%= hotels[i].hotelName %></h3>
        <p><span class="score"><%= hotels[i].hotelReviewScore %></span>分&nbsp;<i>422人点评</i></p>
        <p class="equipment clearfix">
          <span><%= hotels[i].starRating %></span>
          <!--<span class="park"></span>-->
          <!--<span class="car"></span>-->
        </p>
        <p class="address"><%= hotels[i].country %>（<%= hotels[i].city %>）</p>
        <div class="price">
          <span class="money"><%= hotels[i].additionalPrice %></span>
          <span class="dollar">￥</span>
          <span class="add">+</span>
        </div>
      </article>
    </div>
    <i></i>
  </li>
  <% } %>

</script>
<script>
  $(function(){
    //酒店按钮点击
    $('#hotelSort').on('click',function(){
      $(this).addClass('bg_color').siblings().removeClass('bg_color');
      $('#hotelPop').fadeIn('fast');
      slideNum('0.98rem','-5.98rem','-4.98rem')
    });
    /*排序*/
    $('.hotel_pop .sort li').on('click',function(e){
      e.stopPropagation();
      $(this).addClass('curimg').siblings().removeClass('curimg');
      $('#hotelSort').removeClass('bg_color');
      $('#hotelPop .sort').css({'bottom':'-3.98rem'});
      $('#hotelPop').fadeOut('fast');
    })
    //筛选
    $('section.screen,section.position').on('click',function(e){
      e.stopPropagation();
    });
    $('#hotelScreen').on('click',function(){
      $(this).addClass('bg_color').siblings().removeClass('bg_color');
      $('#hotelPop').fadeIn('fast');
      slideNum('-3.98rem','0.98rem','-4.98rem')
    });
    $('#screenLeft li').on('click',function(){
      $(this).addClass('cur').siblings().removeClass('cur');
      $('#screenRight ul').eq($(this).index()).show().siblings().hide();
    });
    $('#screenRight li').on('click',function(){
      $(this).addClass('cur').siblings().removeClass('cur');
    });
    //清空
    $('.hotel_pop .clears').on('click',function(){
      $('#screenLeft li').eq(0).addClass('cur').siblings().removeClass('cur');
      $('#screenRight ul').eq(0).show().siblings().hide();
      $('#screenRight ul').each(function(i){
        $('#screenRight ul').eq(i).find('li').eq(0).addClass('cur').siblings().removeClass('cur');
      })
    });
    //取消 确认  遮罩层点击事件
    $('.hotel_pop .screen .cancel,.hotel_pop .screen .sure,.hotel_pop').on('click',function(){
      $('#hotelPop').fadeOut('fast');
      $('#hotelScreen').removeClass('bg_color');
      $('.hotel_list_bottom dl').removeClass('bg_color');
      slideNum('-3.98rem','-5.98rem','-4.98rem')
    });
    //位置
    $('#hotelPosition').on('click',function(){
      $('#hotelPop').fadeIn('fast');
      $(this).addClass('bg_color').siblings().removeClass('bg_color');
      slideNum('-3.98rem','-5.98rem','0.98rem');
    });
    $('#popPosition li').on('click',function(){
      $(this).addClass('cur').siblings().removeClass('cur');
    })
    //位置清空
    $('#popPosition .clears').on('click',function(){
      $('#popPosition li').eq(0).addClass('cur').siblings().removeClass('cur');
    })
    //位置取消  确认
    $('#popPosition .cancel,#popPosition .sure').on('click',function(){
      $('#hotelPop').fadeOut('fast');
      $('.hotel_list_bottom dl').removeClass('bg_color');
      slideNum('-3.98rem','-5.98rem','-4.98rem')
    })
    function slideNum(sort,screen,position){
      $('#hotelPop .sort').css({'bottom':sort});
      $('#hotelPop .screen').css({'bottom':screen});
      $('#hotelPop .position').css({'bottom':position});}
  })
</script>
</body>
</html>

