<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
    <meta name="screen-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="green">
    <meta name="Keywords" content="亚洲旅行网">
    <meta name="Description" content="境外专业旅行服务提供机构">
    <title>景点列表页</title>
    <link rel="stylesheet" href="../styles/reset.css"/>
    <link rel="stylesheet" href="css/hft_scenic_list.css"/>
</head>
<body>
<div id="preloader">
    <div id="status">

    </div>
</div>
<div class="contents">
    <div class="header">
        <a href="javascript:history.go(-1);" class="header_back" id = "g_back">
            <i class="icon_back"></i>
        </a>
        <h3>自由行</h3>
    </div>
    <div class="snap-content">
        <section class="time_people_list">
            <span class = "time_people_list_time">
                <p>出发：<time>01月20日</time>  返回：<time>01日24日</time></p>
            </span>
            <span class = "time_people_list_number">2成人1儿童<i></i></span>
        </section>
        <section class="city_list" id =  "CityList">
        </section>
        <section class="scenic-detile" id = "scenicList">
        </section>
    </div>
    <footer class="footer">
        <div class="footer_left" id = "footerLeft">
            <b class="footer_quicksort footer_icon"></b>
            <p>快速排序</p>
        </div>
        <div class = "footer_right" id = "footerRight">
            <b class = "footer_screen footer_icon"></b>
            <p>筛选</p>
        </div>
    </footer>
</div>
<div class = "shade">
    <!--排序快-->
  <div class="shade_div" id = "shadeDiv1"></div>
     <ul class="rank" id = "SortList">
        <!--<li><%= SortTypes[i].SortText %><i></i></li>-->
    </ul>
    <!--帅选快-->
  <div class="shade_div" id = "shadeDiv2"></div>

  <div class="filter" id = "Filter">
    <div class = "filter_button">
      <p class = "filter_button_l" id = "filter_button_l">取消</p>
      <p class = "filter_button_c" id = "filter_button_c">清空筛选</p>
      <p class = "filter_button_r filter_button_checked"  id = "filter_button_r">确定</p>
    </div>
    <div class = "filter_theme" id = "FilterList">
    </div>
  </div>
</div>
</body>
<script src="../js/lib/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/lib/vlm.js"></script>
<script id = "scenicDetile"  type="text/template">
            <ul>
            <% if(lists){ for( var i=0;i< lists.length; i++){ %>
                <li class = "scenic-detile_list">
                <div class = "scenic-detile_list_matter clearfix">
                    <div class="scenic_detile_img ">
                        <img src = "<%= lists[i].pictureURL%>"alt = "丹嫩沙多水上市场" class = "scenic_detile_img_po"/>
                        <!--<p class = "scenic-detile_list_theme">主题</p>-->
                    </div>
                    <div class="scenic_detile_content">
                        <p class="scenic_detile_content_name"><%= lists[i].packageName %></p>
                        <p class = "scenic_detile_content_after">￥<%= lists[i].leadinPrice %>/人起</p>
                    </div>
                    </div>
                    <div class="scenic_detile_project">
                <ul>
                    <% for( var j=0;j < lists[i].inclusiveItems.length;j++){ %>
                <li class = "scenic_detile_project_first"><i></i><%= lists[i].inclusiveItems[j] %></li>
                    <% } %>
        </ul>
        </div>
        </li>
        <% }} %>
    </ul>
</script>
<script id = "CityDetile" type="text/template">
    <ul>
        <% for(var i=0;i< recommendCities.length;i++){%>
        <li class = "city_list1"><%= recommendCities[i].cityName %><i></i></li>
        <% } %>
    </ul>
</script>
<script id = "SortDetile" type = "text/template">
        <% for(var i =0;i< sortTypes.length;i++){ %>
        <li data-sort=<%= sortTypes[i].sortValue %>><%= sortTypes[i].sortText %><i></i></li>
        <% } %>
</script>
<script id = "FilterDetile" type = "text/template">
    <ul class = "filter_theme_list">
        <li>景点主题</li>
    </ul>
    <div class = "filter_theme_matter">
        <ul class="filter_theme_box" id = "filterDiv">
            <% for(var i=0; i< themes.length;i++){ %>
            <li data-id=<%= themes[i].themeID %>> <%= themes[i].themeName%><i></i></li>
           <% } %>
        </ul>
    </div>
</script>
<script src="../js/lib/ejs.js"></script>
<script src="js/fht_scenic_list.js"></script>
<script>
  $(function(){
          $("#footerLeft").on("click",function(){
              $("#shadeDiv1").css({'display':'block'});
              $("#SortList").css({'bottom':'.9rem'});
          });
          $("#footerRight").on("click",function(){
             $("#shadeDiv2").css({'display':'block'});
            $("#Filter").css({'bottom':'.9rem'});

          });
    });
</script>
</html>

