<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>填写订单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="../styles/framework.css" type="text/css" rel="stylesheet">
    <link href="../styles/style.css" type="text/css" rel="stylesheet">
    <link href="../styles/tips.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/fill-in-order.css">
</head>
<body>
    <div id="preloader">
        <div id="status">
            <p class="center-text">
                <br>
                <em>加载中……</em>
            </p>
        </div>
    </div>
    <div class="all-elements">
        <!--   顶部   -->
        <header class="top">
            <a href="javascript:history.go(-1);" class="icons header-back"></a>
            <span class="title">填写订单</span>
        </header>
        <!--   内容   -->
        <div id="content ddd" class="snap-content" style="padding-top: 45px;padding-bottom: 51px;">
            <section class="sce-ticket-wrap min320">
                <div class="sce-ticket">
                    <section class="sce-introduce">
                        <p class="sce-introduce-txt">八达岭长城一日游【仅限12-23日-12月30日使用】<span class="sce-introduce-span">（产品编号 PK348758945）</span></p>
                    </section>
                </div>
            </section>
			<section class="sce-line"></section>
            <!--出行人资料-->
            <section class="personal_data_box">
                <div class="personal_data" id="per-room-wrap">
                    <div class="per_data">
                        <span class="title"><i>房间1</i></span>
                        <ul>
                            <section class="li_section_box">
                                <li>
                                    <span class="list_tit">成人1：</span>
                                    <b class="add_icon"><a href="javascript:;"></a></b></span>
                                </li>
                                <li class="trave-li">
                                    <span class="list_tit2">姓：</span>
                                    <span class="list_con2"><input class="list_inp2" type="text" placeholder="Zhang" /></span>
                                    <span class="list_tit2">名：</span>
                                    <span class="list_con2 name-inp"><input class="list_inp2" type="text" placeholder="Xiaohua" /></span>
                                </li>
                                <li>
                                    <span class="list_tit">护照：</span>
                                    <span class="list_con"><input class="list_inp" type="text" placeholder="2088833" /></span>
                                </li>
                            </section>
                            <section class="li_section_box">
                                <li>
                                    <span class="list_tit">儿童1：</span>
                                    <b class="add_icon"><a href="javascript:;"></a></b></span>
                                </li>
                                <li class="trave-li">
                                    <span class="list_tit2">姓：</span>
                                    <span class="list_con2"><input class="list_inp2" type="text" placeholder="Zhang" /></span>
                                    <span class="list_tit2">名：</span>
                                    <span class="list_con2"><input class="list_inp2" type="text" placeholder="Xiaohua" /></span>
                                </li>
                            </section>
                        </ul>
                    </div>
                    <div class="per_data">
                        <span class="title"><i>房间2</i></span>
                        <ul>
                            <section class="li_section_box">
                                <li>
                                    <span class="list_tit">成人1：</span>
                                    <b class="add_icon"><a href="javascript:;"></a></b></span>
                                </li>
                                <li class="trave-li">
                                    <span class="list_tit2">姓：</span>
                                    <span class="list_con2"><input class="list_inp2" type="text" placeholder="Zhang" /></span>
                                    <span class="list_tit2">名：</span>
                                    <span class="list_con2 name-inp"><input class="list_inp2" type="text" placeholder="Xiaohua" /></span>
                                </li>
                                <li>
                                    <span class="list_tit">护照：</span>
                                    <span class="list_con"><input class="list_inp" type="text" placeholder="2088833" /></span>
                                </li>
                            </section>
                            <section class="li_section_box">
                                <li>
                                    <span class="list_tit">儿童1：</span>
                                    <b class="add_icon"><a href="javascript:;"></a></b></span>
                                </li>
                                <li class="trave-li">
                                    <span class="list_tit2">姓：</span>
                                    <span class="list_con2"><input class="list_inp2" type="text" placeholder="Zhang" /></span>
                                    <span class="list_tit2">名：</span>
                                    <span class="list_con2"><input class="list_inp2" type="text" placeholder="Xiaohua" /></span>
                                </li>
                            </section>
                        </ul>
                    </div>
                </div>
            </section>
            <!--联系人资料-->
            <section class="personal_data_box">
                <div class="personal_data" id="personal_data">
                    <span class="title"><i>联系人资料</i><b><a href="#"></a></b></span>
                    <ul>
                        <li>
                            <span class="list_tit">姓：</span><input class="list_inp_name list_inp2" type="text" placeholder="姚" />
                            <span class="list_tit">名：</span><input class="list_inp_name list_inp2" type="text" placeholder="军华" />

                        </li>
                        <li>
                            <span class="list_tit">手机：</span>
                            <span class="list_con"><input class="list_inp2" type="text" placeholder="+8613090008000" /></span>
                        </li>
                        <li>
                            <span class="list_tit">邮箱：</span>
                            <span class="list_con"><input class="list_inp2" type="text" placeholder="morningtour@163.com" /></span>
                        </li>
                    </ul>
                </div>
            </section>
			<!--航班信息-->
            <section class="personal_data_box" id="flight-air">
                <div class="personal_data">
                    <span class="title"><i>航班信息</i></span>
                    <div class="content2" id="content3">
						<div class="nav2-left">
							<span class="nav2-lefttop">出发</span>							
						</div>
                        <div class="input_flight">
                            <input class="" name="" value="" placeholder="航班号">
                        </div>
                        <div class="nav2-center">
                            <div class="nav2-centertop">
                                <input name="CheckInDate" id="content3_CheckInDate" placeholder="年月日"><span id="content3_week_span1"></span>
                            </div>
                        </div>
                        <div class="nav2-centerright"><i></i></div>
					</div>
					<div class="content2" id="content4">
						<div class="nav2-left">
							<span class="nav2-lefttop">抵达</span>							
						</div>
                        <div class="input_flight">
                            <input class="" name=""value="" placeholder="航班号">
                        </div>
                        <div class="nav2-center">
                            <div class="nav2-centertop">
                                <input name="CheckInDate" id="content4_CheckInDate" placeholder="年月日"><span id="content4_week_span1"></span>
                            </div>
                        </div>
                        <div class="nav2-centerright"><i></i></div>
					</div>
                </div>
            </section>
			
			
            <div class="order-notice">
                <i class="order-notice-btn"></i>
                <span class="order-notice-txt">已经阅读亚洲旅行网订票须知</span>
            </div>
        </div>
        <!--   底部预定   -->
       <div class="package_reserve">
            <span class="all_num">套餐总额：<i>7816</i></span>
            <span class="separate_num">分开预订：<i>7816</i></span>
            <i class="itemized" id="show_de">明细</i>
            <a href="javascript:;" class="reserve">预定</a>
        </div>
        <!--底部-->
        <!-- <footer class="order-amount">
            <div class="order-total-wrap">
                <span>订单金额：</span>
                <span class="order-total-fare">¥56</span>
                <i class="itemized" id="show_de"></i>
            </div>
            <a href="order-pay.html" class="order-total-btn">预定</a>
        </footer> -->
    </div>
    <!--   背景块   -->  
    <div class="mask" id="r-mb"></div>
    <!--   明细块   -->    
    <div class="detail_expenses" id="detail_expenses">
        <ul>
            <li><span class="package-tit">八达岭长城一日游</span><i data-unit="&#165;">56 x 2</i></li>
            <li><span>出行人1</span><i>姚俊华</i></li>
            <li><span>出行人2</span><i>陈玉宝</i></li>
        </ul>
    </div> 

    <!--同意条款-->
    <script src="../js/scenic.js"></script>
    <script src="../js/lib/jquery.js"></script>
    <script src="../js/lib/d_calendar.js"></script>
    <script>
        var lsf_myweb={
            "getbyid":function(id){
                return document.getElementById(id);
            },
            "getbytag":function(obj,tag){
                return obj.getElementsByTagName(tag);
            },
            "getbyclass":function(obj,sClass){
                if(obj.getElementsByClassName){
                    return obj.getElementsByClassName(sClass);
                }else{
                    var aResult=[];
                    var aEle=obj.getElementsByTagName('*');
                    var reg=new RegExp('\\b'+sClass+'\\b','g');
                    for(var i=0;i<aEle.length;i++){
                        if(aEle[i].className.search(reg)!=-1){
                            aResult.push(aEle[i]);
                        }
                    }
                    return aResult;
                }
            },
            bind:function(obj,sEv,fn){
                obj.addEventListener?obj.addEventListener(sEv,fn,false):obj.attachEvent('on'+sEv,fn);
            }
        };
        (function(){
            var n2c=['日','一','二','三','四','五','六',];
            function toDou(num){return num<10?'0'+num:''+num;}
            var oDate=new Date();
            var y=oDate.getFullYear();
            var m=oDate.getMonth()+1;
            var d=oDate.getDate();
            var oDate1=new Date(oDate.getFullYear(),oDate.getMonth(),oDate.getDate()+2);
            var oDate2=new Date(oDate.getFullYear(),oDate.getMonth(),oDate.getDate()+5);
            var beginDate=oDate1.getFullYear()+'-'+toDou(oDate1.getMonth()+1)+'-'+toDou(oDate1.getDate());
            function Calender3(){Calender.apply(this,arguments);}
            Calender3.prototype=new Calender();
            Calender3.prototype.linkOn = function(){
                var links = _CalF.$('.live',this.dd),i,l=links.length,that=this;
                for(i = 0;i<l;i++){
                    links[i].index = i;
                    links[i].onclick = function(){
                        if(that.input.tagName === 'input'){
                            $(this).css("border","1px solid #ff6a2f").css("z-index","9999999");
                            $(this).siblings().css("border","").css("z-index","");
                        }else{
                            if(!(this.className.indexOf("disabled")>-1)){
                                $(this).html('<span class="live_circle">'+(this.innerHTML)+'</span><span class="live_txt">'+that._word.h[that.op]+'</span>');that.op>=1?that.op=0:null;
                                that.linkOver();
                            }
                        }
                    };
                }
            }
            var _obj_3={};
            var _CheckInDate3 = document.getElementById("content3_CheckInDate");
            _CheckInDate3.value=beginDate;_obj_3[beginDate]="出发";
            Calender3.prototype.linkOver=function(){
                var sels = $('#'+ this.id +'-date .live_circle'),i,l=sels.length,that=this,arr=[];
                arr.push(sels[1].parentNode.getAttribute("data-day"));
                that.removeDate();
                that.header.parentNode.removeChild(that.header);
                var oDate1=new Date(arr[0].split('-')[0],(arr[0].split('-')[1]-1),arr[0].split('-')[2]);
                var oday1=oDate1.getDay();
                lsf_myweb.getbyid('content3_week_span1').innerHTML='周'+n2c[oday1];
                document.getElementById("content3_CheckInDate").value=arr[0];
            }
            var myDate1 = new Calender3({id:'content3',num: 13,time:_obj_3});

            function Calender4(){Calender.apply(this,arguments);}
            Calender4.prototype=new Calender();
            Calender4.prototype.linkOn = function(){
                var links = _CalF.$('.live',this.dd),i,l=links.length,that=this;
                for(i = 0;i<l;i++){
                    links[i].index = i;
                    links[i].onclick = function(){
                        if(that.input.tagName === 'input'){
                            $(this).css("border","1px solid #ff6a2f").css("z-index","9999999");
                            $(this).siblings().css("border","").css("z-index","");
                        }else{
                            if(!(this.className.indexOf("disabled")>-1)){
                                $(this).html('<span class="live_circle">'+(this.innerHTML)+'</span><span class="live_txt">'+that._word.h[that.op]+'</span>');that.op>=1?that.op=0:null;
                                that.linkOver();
                            }
                        }
                    };
                }
            }
            var _obj_4={};
            var _CheckInDate4 = document.getElementById("content4_CheckInDate");
            _CheckInDate4.value=beginDate;_obj_4[beginDate]="抵达";
            Calender4.prototype.linkOver=function(){
                var sels = $('#'+ this.id +'-date .live_circle'),i,l=sels.length,that=this,arr=[];
                arr.push(sels[1].parentNode.getAttribute("data-day"));
                that.removeDate();
                that.header.parentNode.removeChild(that.header);
                var oDate1=new Date(arr[0].split('-')[0],(arr[0].split('-')[1]-1),arr[0].split('-')[2]);
                var oday1=oDate1.getDay();
                lsf_myweb.getbyid('content4_week_span1').innerHTML='周'+n2c[oday1];
                document.getElementById("content4_CheckInDate").value=arr[0];
            }
            var myDate2 = new Calender4({id:'content4',num: 13,time:_obj_4});
        })();

    </script>

    <!--填写订单-->
    <script src="../js/lib/jquery.alert.js"></script>
    <script src="../js/lib/vlm.js"></script>
    <script src="../js/lib/template.js"></script>
    <!--<script id="tpl_GetSpotOverview" type="text/template">-->
        <!--{% for(var i=0;i < tours.length;i++){ %}-->
        <!--<li>{%=tours[i].overview%}</li>-->
        <!--{% } %}-->
    <!--</script>-->
    <!--<script id="tpl_GetSpotImportantNotes" type="text/template">-->
        <!--<p class="pd-contitle">费用不包含</p>-->
        <!--{% for(var i=0;i < tours.length;i++){ %}-->
        <!--<p>{%=tours[i].importantNotes%}</p>-->
        <!--{% } %}-->
    <!--</script>-->
    <script>
        (function(){

            var oReserve=document.querySelector('.reserve');
            //加载动画
            function package_detail(){

                $(window).load(function () {
                    $("#status").fadeOut();
                    $("#preloader").delay(400).fadeOut("medium");
                });
            };
            package_detail();

            //有无航班信息
            if( ! localStorage.BookingFormInfo)
            {
                $('#flight-air').remove();
            }

            //根据房间数创建房间信息

            $('#per-room-wrap').

            //同意条款
            var oAgree=document.querySelector('.order-notice-btn');
            var bOk=true;
            oAgree.onclick=function(){
                if(bOk){
                    oAgree.style.background='url(../images/ui/icons1.png) -23.7rem -0.4rem';
                    oAgree.style.backgroundSize='40rem 12rem';
                    oReserve.style.backgroundColor='#fdb330';
                    oReserve.style.color='#fff';
                    sentPackage(oReserve);
                    bOk=false;
                }else{
                    oAgree.style.background='url(../images/ui/icons1.png) -26.6rem -0.4rem';
                    oAgree.style.backgroundSize='40rem 12rem';
                    document.querySelector('.reserve').style.backgroundColor='#ddd';
                    oReserve.href='javascript:;';
                    bOk=true;
                }
            };

            //   订单数据
            function sentPackage(obj){
                obj.onclick=function(){
                    this.style.backgroundColor='#ff9313';
                    var roomNum=document.querySelectorAll('.per_data');
                    for(var i=0;i<roomNum.length; i++)
                    {
                        var inputAdult=roomNum[i].querySelectorAll('.list_con2 input');
                        var lastNameAdu=inputAdult[0].value;
                        var firstNameAdu=inputAdult[1].value;
                        var passport=roomNum[i].querySelectorAll('.list_con input').value;
                        var lastNameChi=inputAdult[2].value;
                        var firstNameChi=inputAdult[3].value;
                    }

                    //联系人信息
                    var conInput=document.querySelectorAll('#personal_data .list_inp2');
                    var conLasName=conInput[0].value;
                    var conFirName=conInput[1].value;
                    var conPhone=conInput[2].value;
                    var conEmail=conInput[3].value;

                    //航班信息
                    var departNum=document.querySelector('#content3 .input_flight input').value;
                    var departTime=document.querySelector('#content3_CheckInDate').value;
                    var arriveNum=document.querySelector('#content4 .input_flight input').value;
                    var arriveTime=document.querySelector('#content4_CheckInDate').value;

                    var Parmeters={

                        "Parameters": {
                            "PackageID": "159",
                            "CheckinDate": "2016-03-05T00:00:00",
                            "CheckoutDate": "2016-03-08T00:00:00",
                            "HotelID": "30",
                            "RoomID": "77501",
                            "RoomDetails": [
                                {
                                    "Adult": "2"
                                }
                            ],
                            "Tours": [
                                {
                                    "TourID": "137",
                                    "TravelDate": "2016-03-06T00:00:00",
                                    "TourSession": "None"
                                },
                                {
                                    "TourID": "166",
                                    "TravelDate": "2016-03-06T00:00:00",
                                    "TourSession": "None"
                                }
                            ],
                            "FlightDetails": {
                                "ArrivalFlightNo": "JT678",
                                "ArrivalDateTime": "2016-02-02T00:00:00",
                                "DepartFlightNo": "JT878",
                                "DepartDateTime": "2016-02-05T00:00:00"
                            },

//                            "FlightDetails": {
//                                "ArrivalFlightNo": ""+arriveNum+"",
//                                "ArrivalDateTime": ""+arriveTime+"",
//                                "DepartFlightNo": ""+departNum+"",
//                                "DepartDateTime": ""+departTime+""
//                            },
                            "Travelers": [
                                {
                                    "RoomSeqNo": "1",
                                    "TravelerType": "Adult",
                                    "Salutation": "Mr",
                                    "FirstName": "Kim",
                                    "LastName": "Pin",
                                    "NationalityCode": "SG"
                                },
                                {
                                    "RoomSeqNo": "1",
                                    "TravelerType": "Adult",
                                    "Salutation": "Mr",
                                    "FirstName": "Han",
                                    "LastName": "Pin"
                                }
                            ],
                            "ContactDetails": {
                                "Salutation": "Mr",
                                "FirstName": "Kim",
                                "LastName": "Pin",
                                "Email": "test@asiatravel.com",
                                "ContactNo": {
                                    "CountryCode": "65",
                                    "PhoneNo": "7678767"
                                },
                                "MemberID": "6789"
                            },
                            "ChargeDetails": {
                                "CurrencyCode": "CNY",
                                "TotalPrice": "3634.00"
                            }
                        },
                        "Method": null,
                        "ForeEndType": 3,
                        "Code": "0204"
                    };

                    console.log(Parmeters);
                    vlm.loadJson("",JSON.stringify(Parmeters),package_back);
                }

                function package_back(ret){
                    var json = eval('('+ret+')');
                    console.log(json);
                    if(json.success) {
                        localStorage.bookingID=json.data.bookingID;
                        localStorage.bookingRefNo=json.data.bookingRefNo;
                        window.location.href='order_pay_page.html';
                    }else{
                        jAlert(json.message);
                    }
                }
            };
        })()
    </script>


</body>
</html>
