<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="green">
    <meta name="Keywords" content="亚洲旅行网">
    <meta name="Description" content="境外专业旅行服务提供机构">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/splash/splash-icon-big.png">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen.png" 	media="screen and (max-device-width: 320px)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six.png" media="(device-width: 375px)">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six-plus.png" media="(device-width: 414px)">
    <link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />
    <link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
    <link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
    <link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)"/>
    <link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)"/>

    <title>套餐详情 - 亚洲旅行网</title>
    <link href="../styles/framework.css" rel="stylesheet"/>
    <link href="../styles/style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/packages_detail.css">
    <link href="../styles/tips.css"	rel="stylesheet">
</head>
<body>
    <div id="preloader">
        <div id="status">
            <p class="center-text">
                <br>
                <em>加载中……</em>
            </p>
        </div>
    </div>
    <div class="all-elements">
        <!--   顶部   -->
        <header class="top">
            <a href="javascript:history.go(-1);" class="header-back"><i class="icons go-back"></i></a>
            <span class="title">套餐详情</span>
        </header>
        <!--   内容   -->
        <div id="content ddd" class="snap-content" style="padding-top: 45px;padding-bottom:50px;">
            <section id="packageBox" class="picBox">
                <!--<div>-->
                    <!--<img src="../images/03-1_02.jpg" alt="">-->
                    <!--<div class="pd-mb">-->
                        <!--<div>八达岭长城 + 秋季采摘水果一日游</div>-->
                        <!--<div>套餐编号：12345678</div>-->
                    <!--</div>-->
                <!--</div>-->
            </section>
            <section id="tourTime" class="page_title">
                <!--<h3><b class="jd-icon s-you"></b>旅行适用时间：<i>2015-03-01至2016-12-31</i></h3>-->
            </section>
            <section class="pageTag" id="pageTag">
                <span class="current" data-c-id="pageTag_1">概况</span>
                <span data-c-id="pageTag_2">注意事项</span>
                <span data-c-id="pageTag_3">条款和条件</span>
            </section>

            <section class="conBox">
                <div id="pageTag_1">
                    <p class="pd-contitle">行程安排</p>
                    <ul id="tag1_con">
                        <!--<li>06：30崇文门新侨诺富特饭店 （地铁2号线、5号线“崇文门站”A/B口出既是）</li>-->
                    </ul>
                </div>
                <div id="pageTag_2" style="display:none;">
                    <p class="pd-contitle">费用不包含</p>
                    <p>1.补充:因交通延阻、罢工、天气、飞机机器故障、航班取消或更改时间等不可抗力原因所引致的额外费用。,当地参加的自费以及以上"费用包含"中不包含的其它项目。</p>
                    <p style="color:#f1661a;">* 建议购买旅游人身意外保险 国内旅游意外伤害保障计划</p>
                    <p style="color:#f1661a;">备注：</p>
                    <p style="color:#f1661a;">所有推荐项目均是建议性项目，客人应本着"自愿自费"的原则酌情参加。</p>
                </div>
                <div id="pageTag_3" style="display:none;">
                    <p class="pd-contitle">出行须知</p>
                    <p>（1）合同一经签订且付全款，团队机票、列车票、船票即为出票，不得更改、签转、退票。</p>
                    <p>（2）飞行时间、车程时间、船程时间以当日实际所用时间为准。</p>
                    <p>（3）本产品如因淡季或收客人数较少，有可能与相近方向的发班线路拼车出游，届时请游客见谅。</p>
                    <p style="padding:5px 0;color:#555;">团队用餐</p>
                    <p>十人一桌，八菜一汤，人数不足十人时，在每人用餐标准不变的前提下调整餐食的分量。</p>
                </div>
            </section>
            
        </div>
        <!--   底部预定   -->
       <div id="packagePrice" class="package_reserve">
            <!--<span class="all_num">套餐总额：<i>7816</i>起/人（<b></b>人起订）</span>-->
            <!--<a href="order-data-people.html" class="reserve">预定</a>-->
        </div>
    </div>
    <!--   背景块   -->  
    <!--<div class="mask" id="r-mb"></div>-->
    <!--   明细块   -->    
    <!--<div class="detail_expenses" id="detail_expenses">-->
        <!--<ul>-->
            <!--<li>费用明细</li>-->
            <!--<li><span>酒店+景点</span><i>7816</i></li>-->
        <!--</ul>-->
    <!--</div>    -->

    <script src="../js/scenic.js"></script>
    <script src="../js/lib/jquery.js"></script>
    <script src="../js/lib/plugins.js"></script>
    <script src="../js/lib/jquery.alert.js"></script>
    <script src="../js/lib/vlm.js"></script>
    <script src="../js/lib/template.js"></script>
    <script src="../js/lib/custom.js"></script>
    <script id="tpl_GetSpotOverview" type="text/template">
        {% for(var i=0;i < tours.length;i++){ %}
            <li>{%=tours[i].overview%}</li>
        {% } %}
    </script>
    <script id="tpl_GetSpotImportantNotes" type="text/template">
        <p class="pd-contitle">费用不包含</p>
        {% for(var i=0;i < tours.length;i++){ %}
            <p>{%=tours[i].importantNotes%}</p>
        {% } %}
    </script>
    <script>
        (function(){
            var ww = this;
            var val = vlm.parseUrlPara(window.location.href);
            vlm.init();
            var package_detail = function(){
                //   加载动画
                var flashLoad = function(){
                    $(window).load(function () {
                        $("#status").fadeOut();
                        $("#preloader").delay(400).fadeOut("medium");
                    });
                };
                //   套餐数据
                var getPackage = function(){
                    var tpl1 = [
                        '<div>',
                            '<img src="{%=pictureURL%}" alt="image">',
                            '<div class="pd-mb">',
                                '<div>{%=packageName%}</div>',
                                '<div>套餐编号：{%=packageRefNo%}</div>',
                            '</div>',
                        '</div>'
                    ].join('');
                    var tpl2 = [
                         '<h3><b class="jd-icon s-you"></b>旅行适用时间：<i>{%=departValidFrom.replace("T"," ")%}至{%=departValidTo.replace("T"," ")%}</i></h3>'
                    ];
                    var tpl3 = [
                        '<span class="all_num">套餐总额：<i>'+val.productPrice+'</i>起/人（<b>{%=minPax%}</b>人起订）</span>',
                        '<a href="order-data-people.html" class="reserve">预定</a>'
                    ];
                    var tmp={
                        "Parameters": {
                            "PackageID": val.packageID
                             },
                        "ForeEndType": 3,
                            "Code": "0202"
                    };
                    vlm.loadJson("",JSON.stringify(tmp),package_back);
                     function package_back(ret){
                         var json=ret;
                        console.log(json);
                        if(json.success) {
                            var data = json.data;
                            var html_pb = template(tpl1,data);
                            var html_tt = template(tpl2,data);
                            var html_pp = template(tpl3,data);
                            var tpl_GetSpotOverview = template("tpl_GetSpotOverview",data);
                            var tpl_GetSpotImportantNotes = template("tpl_GetSpotImportantNotes",data);
                            $("#packageBox").html(html_pb);
                            $('#tourTime').html(html_tt);
                            $('#tag1_con').html(tpl_GetSpotOverview);
                            $('#pageTag_2').html(tpl_GetSpotImportantNotes);
                            $('#packagePrice').html(html_pp);
                            localStorage.packageID = val.packageID;
                            if(data.length == 0){
                                jAlert("抱歉暂时没有数据","提示");
                            }
                        }else{
                            console.log(json);
                            jAlert(json.message,"提示");
                        }
                    }
                };
                return{
                    FlashLoad:flashLoad,
                    GetPackage:getPackage
                }
            }();
            ww.MT = ww.MT || {};
            ww.MT.load = function(){
                package_detail.FlashLoad();
                package_detail.GetPackage();
            };
            MT.load();
        })()
    </script>
</body>
</html>
