/*rem  css*/
/*日历组件*/
.calendar dl dt.title-date{
  font-size: .28rem;
}
/*header*/
.header{
  background: white;
}
.header p{
  color:#484848;
}
.hotel_img{
    position: relative;
}
.hotel_imgBox{
    width: 100%;
    height: .6rem;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
.hotel_imgBog_num{
    line-height: .6rem;
    float: right;
    margin-right: 5%;
    color: white;
}
/*身体部分*/
.hotel_shoulder,.hotel_content{
    background-color: #fff;
    border-bottom: 1px solid #dfdfdd;
    margin-bottom: .28rem;
}
.hotel_shoulder li{
  padding: .2rem .2rem .2rem 0;
  margin: 0 .28rem 0 .28rem;
  border-bottom: 1px #dfdfdd solid;
  position: relative;
}
.hotel_shoulder li:last-child{
  border-bottom: 0 #dfdfdd solid;
}
.hotel_shoulder_score{
    font-size:.4rem;
    color: #8ed1cc;
}
.hotel_shoulder_icon{
    position: absolute;
    width: 10px;
    height: 20px;
    top:.28rem;
    right: 0;
    background-position: 65% 3%;
    background-image: url(../../images/ui/icons.png);
    background-repeat: no-repeat;
    background-size: 243px 160px;
    display: inline-block;
}
.hotel_shoulder_address{
    min-width: 10%;
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #484848;
    display: inline-block;
}
.hotel_wifi{
   display: inline-block;
   width: 20px;
   height: 15px;
   background-image: url(../../images/icon-h.png);
   background-repeat: no-repeat;
   background-size: 402px 174px;
   background-position: -75px -14px;
   vertical-align: -4px;
}
/*内容部分开始*/
.hotel_content > li{
  padding:0  .2rem;
  position: relative;
  border-bottom: 1px  solid #dfdfdd;
  min-height: 50px;
}
.hotel_content > li:first-child{
  padding:.2rem;
}
.hotel_content > li:first-child em{
  font-style: normal;
  float: right;
  color: #ffb413;
}
.hotel_content > li:last-child{
  border-bottom: 0px solid #dfdfdd;
  margin-bottom: 0;
}
.hotel_content_roomEvent{
  float: left;
  width: 60%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.hotel_content_listTrigger{
  width: 2.4rem;
  height: .68rem;
  float: right;
  line-height: .68rem;
  color: #fe4716;
}
.hotel_content_listTrigger span{
  font-size: .28rem;
  color: rgb(102, 102, 102);
  font-weight: normal;
}
.hotel_content_listTrigger_price{
  margin-top:.12rem;
  float: right;
  margin-right: .4rem;
}
.hotel_content_listTrigger_price >span{
  font-size: .4rem;
  color: #fe4716;
}
.d-icon5{
  width: 18px;
  height: 18px;
  background-image: url(../../images/ui/icons1.png);
  background-position: 19% 33%;
  background-size: 400px 120px;
  transition: none!important;
  position: absolute;
  top:.3rem;
  right:.2rem;
}
.d-icon4 {
  width: 18px;
  height: 18px;
  background-image: url(../../images/ui/icons1.png);
  background-position: 12.6% 33%;
  background-size: 400px 120px;
  transition: none!important;
  position: absolute;
  top:.3rem;
  right:.2rem;
}
.hotel_content_roomEvent_name{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 75%;
  min-width: 5%;
  color: #484848;
}
.hotel_content_roomEvent_detail{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: .05rem;
  background-image: url(../../images/ui/icons1.png);
  background-position: 27% 33.5%;
  background-size: 400px 120px;
}
.hotel_content_roomEvent_content{
  margin-top: 6px;
  max-width: 90%;
  color: #999999;
}
/*footer部分*/
.footer span {
  display: inline-block;
  width: 100%;
  height: .88rem;
  background: linear-gradient(#16364f,#194361);
  text-align: center;
  color: #9ba4ae;
  line-height: .88rem;
}
/*酒店详情*/
.hotel_content_roomDetail{
  width: 106%;
  list-style-type: none;
  position: relative;
  clear: both;
  display: none;
  margin-left: -3%;
  padding: 0 3%;
  background: #F5F4F9;
  overflow: hidden;
}
.hotel_content_roomDetail li{
  list-style: none;
  border-bottom: 1px #dfdfdd solid;
  margin-bottom: 0;
  position: relative;
}
.hotel_content_roomDetail li span{
  margin-right:.2rem;
}
.hotel_content_roomDetail_name{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 50%;
  min-width: 5%;
  margin-top: .18rem;
}
.hotel_content_roomDetail_price{
  width: 1rem;
  height: 36px;
  position: absolute;
  top:.16rem;
  right: 0;
  border-radius: 3px;
  border: 1px solid #ffb412;
}
.hotel_content_roomDetail_price span{
  width:100%;
  height: 18px;
  text-align: center;
  position: absolute;
  display: inline-block;
  line-height: 18px;
}
.hotel_content_roomDetail_price span:first-child{
  background-color: #ffb412;
  color: white;
  top:0;
  left: 0;
}

.hotel_content_roomDetail_price span:last-child{
  background: white;
  color:#ffb412 ;
  top:48%;
  left: 0;
}
.hotel_content_roomDetail_money{
  width: 4rem;
  height: 100%;
  color: #a1a1a1;
  font-size: .2rem;
  position: absolute;
  top: 0;
  right: 1rem;
}
.hotel_content_roomDetail_money span.money{
  display: inline-block;
  color: #fe4716;
  position: absolute;
  top: .18rem;
  right: -0.2rem;
}
.hotel_content_roomDetail_money span.TaxChange{
  color: #a1a1a1;
  position: absolute;
  top:.48rem;
  right: 0;
}
/*房间信息弹层*/
#popup_title{
  width: 100%;
  padding: .2rem;
  background-color: #ffb413;
  color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#popup_title .d-close {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
}
#popup_title .d-close:after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 9px;
  background-image: url(../../images/ui/icon.png);
  background-position: 22% 33%;
  background-size: 397px 118px;
}
#popup_content {
  background-color: #fff;
  min-width: 90%;
}
#popup_more {
  max-height: 7.4rem;
  min-width: 90%;
  line-height: .4rem;
  color: #484848;
  overflow-y: scroll;
}
.r-p2 {
  color: #484848;
  margin-left: .3rem;
  margin-top: .2rem;
  margin-bottom: 0;
}
.r-ul {
  width: 94%;
  overflow: hidden;
  margin-left: .3rem;
  margin-top: .2rem;
}
.r-li {
  float: left;
  list-style-type: none;
  width: 50%;
  margin-bottom: .2rem;
}
.r-icon2 {
  width: 14px;
  height: 14px;
  display: block;
  float: left;
  background-image: url(../../images/ui/icon-h.png);
  background-size: 402px 174px;
  background-position: 84% 10%;
}
.r-p3 {
  margin-left: .4rem;
  color: #484848;
  margin-bottom: 0;
}
#popup_more {
  max-height: 6.8rem;
  min-width: 3rem;
  color: #484848;
  overflow-y: scroll;
}
/*房间内容弹层*/
.ro-info-item{
  padding: .2rem;
  border-bottom: 1px solid rgba(121, 111, 121, 0.39);
}
.ro-info{
  padding: .2rem;
}
.item-name{
  display: inline-block;
  width: 20%;
  text-align: left;
}
.info-div-1{
  width: 100%;
  list-style: none;
  text-align: left;
  padding-left: .2rem;
  border-bottom: 1px solid rgba(121, 111, 121, 0.39);
}
.rate-rule{
  margin:.2rem .2rem .2rem 0;
  font-weight: bold;
}
.info-text{
  line-height: .4rem;
  margin: .2rem .2rem .2rem 0;
}
.info-text span {
  background: #ffb413;
  padding:0 .2rem;
  color: white;
  margin-right: .1rem;
}
/*图片轮播弹层*/
#imageContainer {
  width: 100%;
  height: 100%;
  background: #000000;
  overflow: hidden;
  display: none;
  position: fixed;
  z-index: 109;
  top: 0;
  left: 0;
}
#imageContainer .indexShow {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 21%;
  background: #000000;
  width: 100%;
}
#imageContainer .showZone {
  height: 38.5%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 28%;
  background: #000000;
}
#imageContainer .showZone .imgUl {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  display: block;
  background: #000000;
  list-style: none;
}
#imageContainer .showZone .imgUl li {
  display: inline-block;
  height: 100%;
  width: 100%;
  float: left;
  overflow: hidden;
  list-style: none;
}
#imageContainer .showZone .imgUl li img {
  height: 100%;
  width: 100%;
}
