/*rem  css*/
/*日历组件*/
.calendar dl dt.title-date{
  font-size: .28rem;
}
/*header*/
.header{
  background: white;
}
body{
  background-color:#f7f7f7;
}
strong{
  font-weight: normal;
}
.header p{
  color:#484848;
}
.hotel_img{
  height: 5rem;
  position: relative;
  background: url(../../images/hotelDetailerrorpic.png) no-repeat;
  background-size: 100% 100%;
}
.hotel_img img{
  width: 100%;
  height: 100%;
}
.hotel_imgBox{
  width: 100%;
  height: 40%;
  position: absolute;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
  background: -moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
  background: -o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
  background: linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
  bottom: 0rem;
}
.hotel_imgBog_num{
  line-height: .6rem;
  color: white;
  text-align: inherit;
  position: absolute;
  right: .28rem;
  bottom: .28rem;
}
.goback{
  width: 0.64rem;
  height: 0.64rem;
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  z-index: 10;
  background: url(../../images/ui.1.0/icon_common.png);
  background-size: 7.9rem 7.98rem;
  background-position: -3.19rem -0.44rem;
}
.content{
  padding-top:0rem;
  margin:0;
  background: #f7f7f7;
}
/*身体部分*/
.maps{
  background: #fff;
  color: #333;
  /*border-bottom: 2px solid#e6e6e6;*/
}
.maps h3 p{
  font-size: 0.32rem;
  font-weight: bold;
  line-height: 0.32rem;
  padding:.26rem;
  margin: 0;
}
.hotel_shoulder,.hotel_content{
  background-color: #fff;
  border-bottom: 1px solid #dfdfdd;
  /*margin-bottom: .28rem;*/
}
.score{
  padding: .28rem .28rem 0 0;
  margin: 0 .28rem 0 .28rem;
  position: relative;
}
.maps{
  display: block;
  position:relative;
  margin:0;
}
.maps .address-text{
  display: block;
  height: 0.6rem;
  line-height: 0.6rem;
  width: 100%;
  padding-left: 0.28rem;
  position: relative;
  top:-2.4rem;
  z-index: 10;
  background: -webkit-linear-gradient(right,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: -moz-linear-gradient(right,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(right,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(right,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}
#map{
	width:100%;
	height:2.4rem;
}
.hotel_shoulder{
  margin-top:-0.6rem;
}
.hotel_shoulder li:last-child{
  border-bottom: 0 #dfdfdd solid;
}
.score{
  font-size: .24rem;
}
.hotel_shoulder_score{
  font-size:0.36rem;
  font-weight: 700;
}
.hotel_shoulder_icon{
  width: .2rem;
  height: .4rem;
  background-image: url(../../images/ui.1.0/icon_common.png);
  background-position: -1.15rem -0.6rem;
  background-size: 7.9rem 7.98rem;
  position: absolute;
  display: inline-block;
  top:.28rem;
  right: 0;
}
.open-arg1{
  right: .28rem;
  top: .9rem;
}
.CrazyRate {
  display: inline-block;
  width: .4rem;
  height: .4rem;
  background-image: url(../../images/ui.1.0/icon_hotel.png);
  background-repeat: no-repeat;
  background-size: 7.9rem 2.52rem;
  background-position: -0.64rem -0.47rem;
  vertical-align: -0.12rem;
  margin-left: .2rem;
}
.hotel_shoulder_address{
  min-width: 10%;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #484848;
  display: inline-block;
}
.hotel_wifi{
  display: inline-block;
  width: .4rem;
  height: .4rem;
  background-image: url(../../images/ui/icon-hft.png);
  background-repeat: no-repeat;
  background-size: 7.5rem 4.54rem;
  background-position: -2.22rem -2.22rem;
  vertical-align: -0.12rem;
}
.toHotelDetail{
  padding: .28rem .28rem .28rem 0;
  margin: 0 .28rem 0 .28rem;
  position: relative;

}

/*内容部分开始*/
.hotel_content{
  margin-top:.2rem;
  background: #f7f7f7;
}
.hotel_content > li{
  padding:.2rem;
  position: relative;
  border-bottom: 1px  solid #dfdfdd;
  min-height: .84rem;
  background: #fff;
}
.hotel_content > li:first-child{
  font-size:.24rem;
  padding:.2rem;
  line-height: .84rem;
  /*padding: .1rem;*/
  /*line-height: .44rem;*/
  margin:.2rem 0;
}
.enterDate,.time_span{
  font-size: 0.32rem;
  color: #FFB413;
}


.hotel_content > li:first-child em{
  font-style: normal;

}
.hotel_content > li:last-child{
  padding:.2rem;
  border-bottom: 0px solid #dfdfdd;
  margin-bottom: 0;
}
.hotel_content_num{
  font-size: .2rem;
  line-height: .4rem;
}
.hotel_content_num span {
  font-size: .28rem;
  color: #FFB413;
}
.hotel_content_roomEvent{
  float: left;
  width: 60%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.hotel_content_listTrigger{
  width: 2.4rem;
  height: .68rem;
  float: right;
  line-height: .68rem;
  color: #ff5b13;;
}
.hotel_content_listTrigger_price{
  margin-top:.12rem;
  float: right;
  margin-right: .5rem;
}

.hotel_content_listTrigger_price >span{
  font-size: .4rem;
  color: #ff5b13;
}
.d-icon5{
  width: .4rem;
  height: .4rem;
  background-image: url(../../images/ui.1.0/icon_common.png);
  background-position: -2.23rem -0.6rem;
  background-size: 7.9rem 7.98rem;
  transition: none!important;
  position: absolute;
  top: .5rem;
  right: .18rem;
}
.d-icon4 {
  width: .4rem;
  height: .4rem;
  background-image: url(../../images/ui/icon-hft.png);
  background-position: -4.08rem -2.12rem;
  background-size: 7.5rem 4.54rem;
  transition: none!important;
  position: absolute;
  top: .5rem;
  right: .18rem;
}
.hotel_content_roomEvent_name{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 75%;
  min-width: 5%;
  color: #484848;
}
.hotel_content_roomEvent_detail{
  display: inline-block;
  width: .4rem;
  height: .4rem;
  margin-left: .1rem;
  background-image: url(../../images/ui.1.0/icon_hotel.png);
  background-position: -2.81rem -0.41rem;
  background-size: 7.9rem 2.52rem;
  position: absolute;
  top: .2rem;
}
.hotel_content_roomEvent_content{
  margin-top:.12rem;
  max-width: 90%;
  color: #999999;
}
.super{
  font-size: .24rem;
}

/*footer部分*/
.footer span {
  display: inline-block;
  width: 100%;
  height: .88rem;
  background: linear-gradient(#16364f,#194361);
  text-align: center;
  color: #9ba4ae;
  line-height: .88rem;
}
/*酒店详情*/
.hotel_content_roomDetail{
  list-style-type: none;
  position: relative;
  clear: both;
  display: none;
  overflow: hidden;
}
.hotel_content_roomDetail li{
  list-style: none;
  border-bottom: 1px #dfdfdd solid;
  margin-bottom: 0;
  position: relative;
  margin-top: .09rem;
  border-top: 1px solid #dedede;
  padding-bottom: .09rem;
}
.hotel_content_roomDetail li span{
  margin-right:.2rem;
}
.d-p6 span{color:#999}
.hotel_content_roomDetail_name{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 50%;
  min-width: 5%;
  margin-top: .18rem;
  color:#484848;
}

.hotel_content_roomDetail_price{
  width: 1rem;
  height: .6rem;
  position: absolute;
  top: .22rem;
  right: 0;
  border-radius: .08rem;
  border: 1px solid #7bc300;
}
.hotel_content_roomDetail_price span{
  width:100%;
  height: .3rem;
  text-align: center;
  position: absolute;
  display: inline-block;
  line-height: .3rem;
}
.hotel_content_roomDetail_price span:first-child{
  background-color: #7bc300;
  color: white;
  top:0;
  left: 0;
}

.hotel_content_roomDetail_price span:last-child{
  background: white;
  color:#7bc300 ;
  top:48%;
  left: 0;
}
.hotel_content_roomDetail_money{
  width: 4rem;
  height: 100%;
  color: #a1a1a1;
  font-size: .2rem;
  position: absolute;
  top: 0;
  right: 1rem;
}
.hotel_content_roomDetail_money span.money{
  font-size:.24rem;
  display: inline-block;
  color: #ff5b13;;
  position: absolute;
  top: .18rem;
  right: -0.2rem;
}
span.money{
  font-size: .24rem;
}
.moneyNum{
  font-size:.4rem;
}
.moneyNum span{
  font-size:0.24rem;
  color:#BEBEBE;
}
.hotel_content_roomDetail_money span.TaxChange{
  color: #a1a1a1;
  position: absolute;
  top:.6rem;
  right: 0;
}
/*房间信息弹层*/
#popup_title{
  height: .34rem;
  padding: .28rem;
  color: #333;
  background-color: #F7F7F7;
  border-top-left-radius: .1rem;
  border-top-right-radius: .1rem;
}
#popup_title .d-close {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
}
#popup_title .d-close:after {
  content: "";
  display: inline-block;
  width: .4rem;
  height: .4rem;
  margin: .2rem;
  background-image: url(../../images/ui/icon-hft.png);
  background-position: -6.64rem -2.87rem;
  background-size: 7.5rem 4.54rem;
}
#popup_content {
  background-color: #fff;
  min-width: 90%;
}
#popup_more {
  max-height: 7.4rem;
  min-width: 90%;
  line-height: .4rem;
  color: #484848;
  overflow-y: scroll;
}
.r-p2 {
  color: #333;
  margin-left: .28rem;
  margin-top: .4rem;
  margin-bottom: .32rem;
}
.r-ul {
  width: 94%;
  overflow: hidden;
  margin-left: .3rem;
  margin-top: .2rem;
}
.r-li {
  float: left;
  list-style-type: none;
  width: 50%;
  margin-bottom: .2rem;
}
.r-icon2 {
  width: .4rem;
  height: .4rem;
  display: block;
  float: left;
  background-image: url(../../images/ui/icon-hft.png);
  background-position: -6.21rem -2.2rem;
  background-size: 7.5rem 4.54rem;
}
.r-p3 {
  margin-left: .5rem;
  color: #484848;
  margin-bottom: 0;
}
#popup_more {
  max-height: 6.8rem;
  min-width: 3rem;
  color: #484848;
  overflow-y: scroll;
}
/*房间内容弹层*/
.ro-info li:last-child{
  border-bottom: 1px solid #DEDEDE;
  margin-bottom: .22rem;
}
.ro-info{
  padding: .22rem 0 .22rem 0;
}
.ro-info-item{
  padding-left: .28rem;
  padding-bottom:  .22rem;
  border-bottom: 1px solid #DEDEDE;
}
.item-name{
  display: inline-block;
  width: 1.2rem;
  text-align: left;
  margin-right: .8rem;
  line-height: .6rem;
}
.info-div-1{
  padding-left: .28rem;
  list-style: none;
  text-align: left;
  border-bottom: 1px solid #dedede;
}
.rate-rule{
  margin-top: .22rem;
  /*font-weight: bold;*/
}
.info-text{
  line-height: .4rem;
  margin: .28rem .28rem .28rem 0;
}
.info-text span {
  background: #ffb413;
  padding:0 .2rem;
  color: white;
  margin-right: .1rem;
}
/*图片轮播弹层*/
#imageContainer {
  width: 100%;
  height: 100%;
  background: #000000;
  overflow: hidden;
  display: none;
  position: fixed;
  z-index: 109;
  top: 0;
  left: 0;
}
#imageContainer .indexShow {
  width: 100%;
  height: .4rem;
  line-height: .4rem;
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 1rem;
  background: #000000;
}
#imageContainer .showZone {
  height: 5rem;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 3.6rem;
  background: #000000;
}
#imageContainer .showZone .imgUl {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  display: block;
  background: #000000;
  list-style: none;
}
#imageContainer .showZone .imgUl li {
  display: inline-block;
  height: 100%;
  width: 100%;
  float: left;
  overflow: hidden;
  list-style: none;
}
#imageContainer .showZone .imgUl li img {
  height: 100%;
  width: 100%;
}
