.contentBox{
	background:#fff;
	box-sizing:border-box;
}
.hotelinfo{
    width: 100%;
    background-color: #e9e9e9;
    height: .88rem;
    line-height: .88rem;
    font-size: .32rem;
    overflow: hidden;
    padding-left:.3rem;
}
.hotel_content1{
    padding:.3rem;
    color: #484848;
    line-height: .44rem;
}
.hotel_feature{
    margin:.3rem;
    background-color: #fff;
}
.hotel_feature li{
    display: flex;
    float: left;
    list-style-type: none;
    width: 50%;
    margin-bottom: .3rem;
}
.hotel_feature_li_icon{
    width: 14px;
    height:14px;
    display: block;
    background-image: url(../../images/ui/icon-h.png);
    background-size: 402px 174px;
    background-position:84% 10% ;
}
.hotel_feature_li_p{
    margin-left: .3rem;
    color: #484848;
}
.s-bottom{
    width:100%;
    height:.98rem;
    background: linear-gradient(#16364f,#194361);
    text-align: center;
    color:#9ba4ae;
    line-height: .98rem;
}
