em{font-style: normal;}
i{
    font-style: normal;
}ol{list-style: none}
.hotel_grade{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    margin-top: .88rem;
    background: #fff;
}
.hotel_grade_num{
    height: .8rem;
    border-bottom: 1px dashed #dedede;
    line-height: .8rem;
    padding: 0 .3rem;
    color: #999999;
}
.hotel_grade_num_score{
    font-size: .34rem;
    color: #55bfb7;
}
.hotel_grade_score{
    width: 100%;
    display: flex;
    padding: .2rem 0 .2rem .1rem;
    background: #fff;
    border-bottom: 1px solid #dedede;
}
.hotel_grade_score section{
    flex: 1;
    color: #484848;
    padding: 0 .2rem;
    border-right: 1px dashed #dedede;
}
/*ÄÚÈÝ²¿·Ö*/
.hotel_grade_content{
    background: #fff;
    margin-top: .2rem;
}
.hotel_grade_content_box{
    border-bottom: 1px solid #dedede;
    padding:  .2rem .3rem .3rem;
}
.hotel_grade_content_box h2{
    font-size: .34rem;
    color: black;
    font-weight: normal;
}
.hotel_grade_content_box_ol {
    height: .4rem;
}
.hotel_grade_content_box_ol li{
    width: .8rem;
    height: .4rem;
    line-height: .2rem;
    background: url(../../images/ui/icons1.png) -2.6rem -3.8rem;
    background-size: 9.8rem 3rem;;
}
.hotel_grade_content_box p{
    line-height: .4rem;
    padding-bottom: .2rem;
    color: #999999;
}
.hotel_grade_content_box_comments{
    display: block;
    margin-right:.4rem;
}
.hotel_grade_content_box_User{
    color: #484848;
    overflow: hidden;
    display: block;
}
.hotel_grade_content_box_User i{
    margin-left: 0.2rem;
    color: #fff;
}










