em{font-style: normal;}
i{font-style: normal;
}ol{list-style: none}
.hotel_grade{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  margin-top: .88rem;
  background: #f7f7f7;
}
.hotel_grade_num{
  height: 1rem;
  border-bottom: 1px solid #dedede;
  line-height: 1rem;
  padding-right: .28rem;
  margin-left: .28rem;
  color: #999999;
  padding-bottom: .1rem;
  background: #F7F7F7;
}
.hotel_grade_num_score{
  font-size: .4rem;
  color: #7bc300;
}
.score{
  font-size: .24rem;
  color: #666;
  margin-left: .1rem;
}
.hotel_grade_score{
  width: 100%;
  height: 1.5rem;
  display: flex;
  background: #F7F7F7;
  margin: 0 .28rem;
}
.hotel_grade_score section{
  flex: 1;
  color: #484848;
  padding: 0 .2rem;
  border-right: 1px dashed #dedede;
  line-height: .56rem;
  margin: .16rem 0 .22rem 0;
}
/*内容部分*/
.hotel_grade_content{
  background: #fff;
  margin-top: .2rem;
}
.hotel_grade_content_box{
  border-bottom: 1px solid #dedede;
  padding: .4rem .28rem .4rem 0;
  margin-left: .28rem;
  position: relative;
}
.hotel_grade_content_box_first{
  margin-bottom: .32rem;

}
.hotel_grade_content_box h2{
  font-size: .28rem;
  font-weight: bold;
}
.hotel_grade_content_box_ol {
  position: absolute;
  top:0.2rem;
  right:.28rem;
}
.hotel_grade_content_box_ol li{
  width: .3rem;
  height: .3rem;
  line-height: .2rem;
  background: url(../../images/ui/jd-icon.png) -0.33rem -0.59rem;
  background-size: 5.12rem 1.41rem;
}
.hotel_grade_content_box p{
  line-height: .4rem;
  padding-bottom: .2rem;
  color: #999999;
}
.hotel_grade_content_box_comments{
  display: block;
  margin-right:.5rem;
}
.hotel_grade_content_box_User{
  color: #484848;
  overflow: hidden;
  display: block;
}
.hotel_grade_content_box_User b{
  max-width: 4rem;
  min-width: .3rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.hotel_grade_content_box_User i{
  margin-left: 0.1rem;
  padding: 0 .1rem;
  color:#666;
}
.hotel_grade_content_more{
  text-align: center;
  height: 1rem;
  line-height: 1rem;
}
.drop_down i{
  width: .4rem;
  height: .4rem;
  background: url(../../images/ui/icons.png) -4.2rem -3rem;
  background-size: 6rem 3rem;
  bottom: 1.4rem;
  right: .4rem;
  position: absolute;
}
.reu_span2{
  position: absolute;
  bottom:0.3rem;
  right:.2rem;
}








