<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
  <meta name="screen-orientation" content="portrait">
  <meta name="full-screen" content="yes">
  <meta name="browsermode" content="application">
  <meta name="x5-orientation" content="portrait">
  <meta name="x5-fullscreen" content="true">
  <meta name="x5-page-mode" content="app">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="green">
  <meta name="Keywords" content="亚程旅行网">
  <meta name="Description" content="境外专业旅行服务提供机构">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/splash/splash-icon-big.png">
  <link rel="apple-touch-startup-image" href="images/splash/splash-screen.png" media="screen and (max-device-width: 320px)">
  <link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)">
  <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six.png" media="(device-width: 375px)">
  <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six-plus.png" media="(device-width: 414px)">
  <link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png">
  <link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
  <link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
  <link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png" media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)" />
  <link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png" media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)" />
  <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
  <title>首页 - 亚程旅行网</title>
  <script src="js/lib/logRecord.js"></script>
  <link href="styles/reset.css" rel="stylesheet" type="text/css">
  <link href="styles/tips.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
</head>

<body>
<div id="preloader">
  <div id="status"></div>
</div>
<div class="all_elements" id="app">
  <!--banner start-->
  <section class = bannerDiv>
    <div class = "banner slider-container">
      <ul class = "banner_img homepage_slider" id="banner">
        <!--<li class="fl">-->
        <!--<a href="">-->
        <!--<img src="./images/index/banner.png" class="responsive_image" alt="img">-->
        <!--</a>-->
        <!--</li>-->
        <li v-for="banner in bannerList" class="fl">
          <a :href="banner.bannerChangeLink">
            <img :src="banner.bannerPicUrl" class="responsive_image" alt="img">
          </a>
        </li>
      </ul>
      <div class="banner_num">
        <ul class="banner_num_wrap">
          <li class="active"><span></span></li>
          <li class=""><span></span></li>
          <li class=""><span></span></li>
        </ul>
      </div>
    </div>
  </section>
  <!--banner end-->
  <!--label start-->
  <section class="labelDiv">
    <div class = "label_top clearfix">
      <div><img src="./images/index/国际酒店bg@2x.png" alt="img"/><span><a href="./hotel/index.html?style=Inter">国际酒店</a></span></div>
      <div><img src="./images/index/机票bg@2x.png" alt="img"/><span><a href="./hotel/index.html?style=Dom">国内酒店</a></span></div>
      <div class = "label_top_last"><img src="./images/index/特价酒店bg@2x.png" alt="img"/><span><a href="./flight/f_index.html">机票</a></span></div>
    </div>
    <div class = "label_bottom">
      <div class = "label_bottom_first"><img src="./images/index/境外旅游bg@2x.png" alt="img"/><span><a href="./index-hotplay.html">境外旅游</a></span><i></i></div>
      <div class = "label_bottom_right clearfix">
        <div><img src="./images/index/景点门票bg@2x.png" alt="img"/><span><a href="./scenic/index.html">景点门票</a></span></div>
        <div class = "label_last_margin"><img src="./images/index/酒+景bg@2x.png" alt="img"/><span><a  href="./tour/index.html">酒+景</a></span></div>
        <div><img src="./images/index/自由行bg@2x.png" alt="img"/><span><a href="./hotel_flight_tour/index.html">自由行</a></span></div>
        <div class = "label_last_margin"><img src="./images/index/出境精选bg@2x.png" alt="img"/><span><a href="./index-seaticket.html">热门景点</a></span></div>
      </div>
    </div>
  </section>
  <!--label end-->
  <!--timer start-->
  <section class = "timerDiv">
    <a href="./activity/flashsale/index.html">
      <div class = "clearfix timerDiv_top">
        <span class="fl timerDiv_top_left"><img src="./images/index/限时专享@2x.png" alt=""/></span>
              <span class = "fr time">
                  <span class = "time_reside">剩余</span>:
                  <span>{{time.day}}</span>
                  <span class="time_day">天</span>
                  <span>{{time.hours}}</span>:
                  <span>{{time.minutes}}</span>:
                  <span>{{time.seconds}}</span>
              </span>
      </div>
      <div class = "clearfix timerDiv_bottom">
        <div class = " fl timerDiv_bottom_imgDiv"><img :src="limitedExclusiveList.imageUrl" alt=""/></div>
        <div class = "fr timerDiv_bottom_content">
          <p class = "timerDiv_bottom_content_info">{{limitedExclusiveList.title}}</p>
          <p class = "timerDiv_bottom_content_price">￥<strong>{{limitedExclusiveList.price}}</strong>起</p>
          <p class = "timerDiv_bottom_content_limit"><span>仅限 <em> {{limitedExclusiveList.totalNumber}} </em>份</span><span class = "limit_right fr">更多抢购<i></i></span></p>
        </div>
      </div>
    </a>
  </section>
  <!--timet end-->
  <!--hot_destination start-->
  <section class = "hotDiv">
    <h3><i></i>热门目的地</h3>
    <ul class = "hotDiv_content clearfix">
      <li v-for="hotDes in hotDestinationList" v-on:click="goLinkHotDestinationDetail(hotDes)">
        <div class="hotDiv_imgDiv"><img  v-lazy.container="hotDes.imageUrl" alt=""/></div>
        <h3>{{hotDes.cityCategory}}</h3>
        <p>{{hotDes.cityDesc}}</p>
      </li>
    </ul>
  </section>
  <!--hot_destination end-->
  <!--selection hotel start-->
  <section class = "selectHotel">
    <h3><i></i>精选酒店</h3>

    <div>
      <ul class="hotel_div clearfix">
        <li v-for="item in hotTopicList" v-on:click="goLinkHotTopicDetail(item.productCategory,item.productID)">
            <div class = "hotel_imgDiv"><img v-lazy.container="item.imageUrl" alt=""/></div>
            <div class = "hotel_content">
              <div>
                <h3>{{item.topicTitle}}</h3>
                <p>{{item.topicDesc}}</p>
              </div>
            </div>
        </li>
      </ul>
    </div>
  </section>
  <!--selection hotel end-->
  <!--outbound travel start-->
  <section class = "outTravelDiv">
    <h3><i></i>出境游产品</h3>
    <ul>
      <li v-for="package in outboundTravelList">
          <div class="outTravel_imgDiv" v-on:click="goLinkOutTravel(package)"><img v-lazy="package.otGeneralMessage.imageUrl" alt=""/><span>￥<strong>{{package.otGeneralMessage.price}}</strong>起</span></div>
          <div class = "outTravel_content">
            <h3>{{package.otGeneralMessage.productTitle}}</h3>
            <p>{{package.otGeneralMessage.productDesc}}</p>
          </div>
      </li>
    </ul>
  </section>
  <!--outbound travel end-->
</div>
<script src="js/lib/jquery.js"></script>
<script src="js/lib/plugins.js"></script>
<script src="js/lib/jquery.alert.js"></script>
<script src="js/lib/vlm.js"></script>
<script src="js/lib/vue/es6-promise/es6-promise.min.js"></script>
<script src="js/lib/vue/vue-lazyLoad/vue-lazyload.es5.js"></script>
<!--<script src="js/lib/template.js"></script>-->
<script src="js/lib/vue/vue@2.0.8.js"></script>
<script>
  (function() {
    var linkurl = {
      1: "./hotel/hotel_detail.html?HotelID=",
      2: "./flight/ticket_seat_choose.html?setId=",
      3: "./scenic/scenic_detail.html?packageID=",
      4: "./tour/packages_detail.html?packageID="
    };
    // 控制底部 footer 展示。

    Vue.use(VueLazyload, {
      error: './images/erro/error.png',
      loading: './images/loading_bg_big.png',
      try: 3 // default 1
    });
    var app = new Vue({
      el: '#app',
      data: {
        bannerList: [{
          // 默认图片
          url: 'images/loading_bg_big.png'
        }],
        limitedExclusiveList:{},
        hotDestinationList:[],
        outboundTravelList:[],
        hotTopicList:[],
        time:{day:"00",hours:"00",minutes:"00",seconds:"00"},
        stop:false,
        currentSecond:1,
        Interval:null
      },
      methods:{

        //热门酒店跳转
        goLinkHotTopicDetail:function(productCategory,productID){
          window.location.href="./hot_topics/hotel_topic.html?productCategory="+productCategory+"&productID="+productID;
        },
        //出境游产品跳转
        goLinkOutTravel:function(obj){
          window.location.href="./tour/packages_detail.html?packageID="+obj.searchParams.packageID+"&productPrice="+obj.otGeneralMessage.price+"&status=1";
        },
        //热门目的地跳转
        goLinkHotDestinationDetail:function(obj){
          window.location.href="./hot_topics/h_ht_topic.html?cityCategory="+obj.cityCategory+"&cityCode="+obj.cityCode;
        }

      },
      mounted: function () {
        var _this = this;

        //抢购倒计时
        function timeCountDown (startTime,endTime) {
          var timespan = new Date(endTime.replace(/\-/g, "/")).getTime()-new Date(startTime.replace(/\-/g, "/")).getTime();   //时间差的毫秒数
          if(timespan<=0){
            _this.stop= true
          }
          //如果是false就开始倒计时，如果是true就停止倒计时
          if(_this.stop == false) {
            setInterval(function update(timespan) {
              timespan=timespan-1000*_this.currentSecond;
              //计算出相差天数
              var day=Math.floor(timespan/(24*3600*1000))

              _this.time.day=day<10?"0"+day.toString():day;

              //计算出小时数
              var leave1=timespan%(24*3600*1000)    //计算天数后剩余的毫秒数
              var hours=Math.floor(leave1/(3600*1000));
              _this.time.hours=hours<10?"0"+hours.toString():hours;

              //计算相差分钟数
              var leave2=leave1%(3600*1000)        //计算小时数后剩余的毫秒数
              var minutes=Math.floor(leave2/(60*1000))
              _this.time.minutes=minutes<10?"0"+minutes.toString():minutes;
              //计算相差秒数
              var leave3=leave2%(60*1000)      //计算分钟数后剩余的毫秒数
              var seconds=Math.round(leave3/1000)
              _this.time.seconds=seconds<10?"0"+seconds.toString():seconds;
              _this.currentSecond++;
            },1000,timespan);
          }
          else
          {
            clearInterval(_this.Interval);
          }
        };

        //banner
        function LoadBanner() {
          var tmp = {
            "Parameters": {
              "BannerType": 1
            },

            "ForeEndType": 3,
            "Code": "80100001"
          };
          vlm.loadJson("", JSON.stringify(tmp), function(json) {
            vlm.init();
            if (json.success) {
              var data = json.data;
              _this.bannerList = data.bannerList;
              Vue.nextTick(function () {
                bannerTab();
              });
            } else {
              console.log(json);
              jAlert("数据格式错误", "提示");
            }
          });
        }
        //限时抢购
        function LimitedExclusive() {
          var json = {
            "Parameters": {
            },
            "ForeEndType": 3,
            "Code": "10100040"
          };
          vlm.loadJson("", JSON.stringify(json), function(json) {
            console.log(json);
            if (json.success) {
              var data = json.data;
              _this.limitedExclusiveList = data.appHomePageLimitedExclusive;
              timeCountDown(_this.limitedExclusiveList.currentTime.replace(/\-/g, "/"),_this.limitedExclusiveList.deadLine.replace(/\-/g, "/"))

            } else {
              console.log(json);
              jAlert("数据格式错误", "提示");
            }
          });
        }

        //热门目的地
        function hotDestination(){
          var json = {
            "Parameters": {
            },
            "ForeEndType": 3,
            "Code": "10100042"
          };
          vlm.loadJson("", JSON.stringify(json), function(json) {
            console.log(json);
            if (json.success) {
              var data = json.data;
              _this.hotDestinationList = data.appHomePageHotDestination.city;
            } else {
              console.log(json);
              jAlert("数据格式错误", "提示");
            }
          });

        }
        //精选酒店
        function hotTopic(){
          var json = {
            "Parameters": {
            },
            "ForeEndType": 3,
            "Code": "10100043"
          };
          vlm.loadJson("", JSON.stringify(json), function(json) {
            console.log(json);
            if (json.success) {
              var data = json.data;
              _this.hotTopicList = data.appHomePageHotTopic.topic;
            } else {
              console.log(json);
              jAlert("数据格式错误", "提示");
            }
          });

        }
        //出境游产品
        function outboundTravel(){
          var json = {
            "Parameters": {
            },
            "ForeEndType": 3,
            "Code": "10100045"
          };
          vlm.loadJson("", JSON.stringify(json), function(json) {
            console.log(json);
            if (json.success) {
              var data = json.data;
              _this.outboundTravelList = data.appOutboundTravel.product;
            } else {
              console.log(json);
              jAlert("数据格式错误", "提示");
            }
          });

        }

        //bannerTab
        function bannerTab(){
          var startX,startY, endX,endY;
          var i= 0,timer=null,timerTimeout=null;bFlag=false;viewWidth=$(window).width();
          for (var j = 0; j < $('.homepage_slider li').length; j++) {
            $('.banner_num').append('<li><span></span></li>')
          }
          $('.banner_num li').first().addClass('active');
          var firstimg=$('.homepage_slider li').first().clone();
          firstimg.css('width',viewWidth);
          $('.homepage_slider li').css('width',viewWidth);

          $(window).on('resize',function(){
            viewWidth=$(window).width();
            $('.homepage_slider li').css('width',viewWidth);
            firstimg.css('width',viewWidth);
            $('.homepage_slider').width($('.homepage_slider li').length*($('.homepage_slider li').width()));
            $('.homepage_slider').stop().animate({left:-i*viewWidth},{easing:"linear",duration:500,complete:function() {
              bFlag=false;
            }});
          });

          $('.homepage_slider').append(firstimg).width($('.homepage_slider li').length*($('.homepage_slider li').width()));

          // 滑动
          $('.slider-container').on('touchstart',function(event) {
            var touch = event.originalEvent.targetTouches[0];
            startX = touch.pageX,
                    startY = touch.pageY;
          });

          $('.slider-container').on('touchmove',function(event){
            var touch = event.originalEvent.targetTouches[0];
            endX = touch.pageX,
                    endY = touch.pageY;
            if( bFlag){
              return;
            }
            if(Math.abs(startY - endY) <= 5){
              bFlag=true;
            }

            clearInterval(timer);
            if ((startX - endX) >= 5) {
              i++;
              if (i==$('.homepage_slider li').length) {
                i=1; //这里不是i=0
                $('.homepage_slider').css({left:0}); //保证无缝轮播，设置left值
              };
              $('.homepage_slider').stop().animate({left:-i*viewWidth},{easing:"linear",duration:500,complete:function(){
                bFlag=false;
              }});
              if (i==$('.homepage_slider li').length-1) { //设置小圆点指示
                $('.banner_num li').eq(0).addClass('active').siblings().removeClass('active');
              }else{
                $('.banner_num li').eq(i).addClass('active').siblings().removeClass('active');
              }
            }else if((startX - endX) < -5){
              i--;
              if (i == -1) {
                i=$('.homepage_slider li').length-2;
                $('.homepage_slider').css({left:-($('.homepage_slider li').length-1)*viewWidth});
              }
              $('.homepage_slider').stop().animate({left:-i*viewWidth},{easing:"linear",duration:500,complete:function(){
                bFlag=false;
              }});
              $('.banner_num li').eq(i).addClass('active').siblings().removeClass('active');
            }

            clearTimeout(timerTimeout);
            timerTimeout=setTimeout(function(){
              timer_play();
            },1500);

          });

          //轮播定时器自动播放
          timer_play();
          function timer_play(){
            clearInterval(timer);
            timer=setInterval(function(){
              i++;
              if (i==$('.homepage_slider li').length) {
                i=1;
                $('.homepage_slider').css({left:0});
              };
              $('.homepage_slider').stop().animate({left:-i*viewWidth},{easing:"linear",duration:500,complete:function(){
                bFlag=false;
              }});
              if (i==$('.homepage_slider li').length-1) {
                $('.banner_num li').eq(0).addClass('active').siblings().removeClass('active');
              }else{
                $('.banner_num li').eq(i).addClass('active').siblings().removeClass('active');
              }
            },4000)
          }

        }


        LoadBanner();
        LimitedExclusive();
        hotDestination();
        outboundTravel();
        hotTopic();
//

      }
    });
  })();
</script>
</body>
</html>
