<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
  <meta name="screen-orientation" content="portrait">
  <meta name="full-screen" content="yes">
  <meta name="browsermode" content="application">
  <meta name="x5-orientation" content="portrait">
  <meta name="x5-fullscreen" content="true">
  <meta name="x5-page-mode" content="app">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="green">
  <meta name="Keywords" content="亚程旅行网">
  <meta name="Description" content="境外专业旅行服务提供机构">
  <title>机票往返列表页 - 亚程旅行网</title>
  <link href="../styles/reset.css"  rel="stylesheet" type="text/css"/>
  <link href="../css/plugins/calendar/calendar.css" rel="stylesheet" type="text/css">
  <link href="css/f_index.css"  rel="stylesheet" type="text/css"/>
  <link href="../css/plugins/footer/footer.css"  rel="stylesheet" type="text/css">
</head>
<body>
<div id="preloader">
  <div id="status">
    <p class="center-text"></p>
  </div>
</div>
<div class="all_elements">
  <header class="header">
    <a href="f_index.html" class="header_back">
      <i class="icon_back"></i>
    </a>
    <h3><span>北京</span><i class="arrowDouble"></i><span>新加坡</span>
    </h3>
  </header>
  <div class="date-top" id="date_top">
    <span class="month-day" id="setOffDate">04月29日</span><span class="weekWord">周五</span>
    <span class="v-line">-</span>
    <span class="month-day" id="arriveDate">05月04日</span><span class="weekWord">周三</span>
    <span class="word-tip">(查询日期为出发地日期)</span>
    <i></i>
  </div>
  <div class="content addPaddingTop addMarginBottomHigh">
    <ul class="flight_ul double_ul"></ul>
    <div id="loadMore">点击加载更多信息...</div>
    <P id="no_flight_data">没有找到符合条件的航班!</P>
  </div>
</div>
</body>
<script id="template_flight_double_list" type="text/template">
  <% flightInfos.forEach(function(item, index){%>
  <li data-set-id ="<%=item.setID %>">
    <div class="trip_go">
      <div class="seat_price">
          <%if(fDoubleList.postObj.internationalOrDomestic == "international"){%>
                <%if(Number(fDoubleList.postObj.hasTax)){%>
               <p class="priceNumber">
                <span class="money">￥</span><%= item["totalFareAmountExc"] %>
                <span class="double_tip">往返</span>
                <span class="tax_cost">含税总价</span>
               </p>
                <%}else{%>
               <p class="priceNumber">
                <span class="money">￥</span><%= item["totalFareAmountADT"] %>
                <span class="double_tip">往返</span>
                <span class="tax_cost">税费￥<%= item["totalTaxAmountADT"] %></span>
                </p>
                <% }%>
          <% }else{%>
                <p class="priceNumber">
                  <span class="money">￥</span><%= item["totalFareAmountExc"] %>
                  <span class="double_tip">往返</span>
                </p>
        <% }%>
      </div>
      <div class="time_airport">
        <div class="left_info">
          <div class="left">
            <span class="icon"></span>
            <span class="starTime"><%= item["flightLeaveStartDate"].substring(11, 16) %></span>
            <span class="starPort"><%= item["segmentsLeave"][0]["airportNameFrom"] %><%= item["segmentsLeave"][0]["termDepart"] %></span>
          </div>
          <div class="right">
            <span class="endTime"><%= item["flightLeaveEndDate"].substring(11, 16) %></span>
            <span class="endPort"><%= item["segmentsLeave"][item.segmentsLeave.length-1]["airportNameTo"] %><%= item["segmentsLeave"][item.segmentsLeave.length-1]["termArrive"] %></span>
            <%if(item["flightLeaveSpacingDay"]>=1){%>
            <span class="spaceDay">+<%= item["flightLeaveSpacingDay"] %>天</span>
            <%}%>
          </div>
          <div class="middle">
            <span class="timeCost"><%= parseInt(item["segmentsLeaveTotalTravelTime"] / 60) + 'h' + item["segmentsLeaveTotalTravelTime"] % 60 + 'm' %></span>
            <%if(item.segmentsLeave.length==1){%>
                <span class="arrow"></span>
            <%}else if(item.segmentsLeave.length==2){%>
                <span class="arrow_word"></span>
                <span class="transferCity"><%= item.segmentsLeave[0].cityNameTo %></span>
            <% }else if(item.segmentsLeave.length>2){%>
                <span class="arrow_word"></span>
                <span class="transferCity"><%= item.segmentsLeave.length %>次</span>
            <% }%>
          </div>
        </div>
        <p class="flight_detail">
          <span class="airCropIcon"><img  src="../images/loading_def_big.png" data-src="<%= item.segmentsLeave[0].airwayLogo %>" /></span>
          <%if(fDoubleList.airCompanyHandler(item.segmentsLeave)){%>
          <span class="airCropName"><%= item["segmentsLeave"][0].airCorpName %>等</span>
          <%}else{%>
          <span class="airCropName"><%= item["segmentsLeave"][0].airCorpName %></span>
          <% }%>
          <span><%= item["segmentsLeave"][0].airCorpCode %><%= item["segmentsLeave"][0].flightNo %></span>
          <span><%= item["segmentsLeave"][0].cabinClassName %></span>
          <%if(item["isLeaveShareFlight"]){%>
          <span>共享</span>
          <%}%>
        </p>
      </div>
    </div>
    <div class="trip_back">
      <div class="time_airport">
        <div class="left_info">
          <div class="left">
            <span class="icon"></span>
            <span class="starTime"><%= item["flightReturnStartDate"].substring(11, 16) %></span>
            <span class="starPort"><%= item["segmentsReturn"][0]["airportNameFrom"] %><%= item["segmentsReturn"][0]["termDepart"] %></span>
          </div>
          <div class="right">
            <span class="endTime"><%= item["flightReturnEndDate"].substring(11, 16) %></span>
            <span class="endPort"><%= item["segmentsReturn"][item.segmentsReturn.length-1]["airportNameFrom"] %><%= item["segmentsReturn"][item.segmentsReturn.length-1]["termDepart"] %></span>
            <%if(item["flightReturnSpacingDay"]>=1){%>
            <span class="spaceDay">+<%= item["flightReturnSpacingDay"] %>天</span>
            <%}%>
          </div>
          <div class="middle">
            <span class="timeCost"><%= parseInt(item["segmentsReturnTotalTravelTime"] / 60) + 'h' + item["segmentsReturnTotalTravelTime"] % 60 + 'm' %></span>
            <%if(item.segmentsReturn.length==1){%>
                <span class="arrow"></span>
            <%}else if(item.segmentsReturn.length==2){%>
                <span class="arrow_word"></span>
                <span class="transferCity"><%= item.segmentsReturn[0].cityNameTo %></span>
            <% }else if(item.segmentsReturn.length>2){%>
                <span class="arrow_word"></span>
                <span class="transferCity"><%= item.segmentsReturn.length %>次</span>
            <% }%>
          </div>
        </div>
        <p class="flight_detail">
          <span class="airCropIcon"><img  src="<%= item.segmentsReturn[0].airwayLogo %>" /></span>
          <%if(fDoubleList.airCompanyHandler(item.segmentsReturn)){%>
          <span class="airCropName"><%= item["segmentsReturn"][0].airCorpName %>等</span>
          <%}else{%>
          <span class="airCropName"><%= item["segmentsReturn"][0].airCorpName %></span>
          <% }%>
          <span><%= item["segmentsReturn"][0].airCorpCode %><%= item["segmentsReturn"][0].flightNo %></span>
          <span><%= item["segmentsReturn"][0].cabinClassName %></span>
          <%if(item["isLeaveShareFlight"]){%>
          <span class="share_word">共享</span>
          <%}%>
        </p>
      </div>
    </div>
  </li>
  <%})%>
</script>
<script type="text/javascript" src="../js/lib/jquery.js"></script>
<script type="text/javascript" src="../js/lib/vlm.js"></script>
<script type="text/javascript" src="../js/plugins/calendar/d_calendar1.0.3.js"></script>
<script type="text/javascript" src="../js/lib/ejs.js"></script>
<script type="text/javascript" src="../js/plugins/footer/footer.js"></script>
<script type="text/javascript" src="js/doubleListData.js"></script>
<script type="text/javascript" src="js/f_double_list.js"></script>
</html>
