<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
  <meta name="screen-orientation" content="portrait">
  <meta name="full-screen" content="yes">
  <meta name="browsermode" content="application">
  <meta name="x5-orientation" content="portrait">
  <meta name="x5-fullscreen" content="true">
  <meta name="x5-page-mode" content="app">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="green">
  <meta name="Keywords" content="亚洲旅行网">
  <meta name="Description" content="境外专业旅行服务提供机构">
  <title>机票订单填写页 - 亚洲旅行网</title>
  <link href="../styles/reset.css"  rel="stylesheet" type="text/css"/>
  <link href="../plugins/calendar/calendar.css" rel="stylesheet" type="text/css">
  <link href="css/f_index.css"  rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="preloader">
  <div id="status">
    <p class="center-text"></p>
  </div>
</div>
<div class="all_elements">
  <header class="header">
    <a href="javascript:window.history.go(-1);" class="header_back">
      <i class="icon_back"></i>
    </a>
    <h3>订单填写</h3>
  </header>
  <div class="content">
         <div class="date-week-port">
           <p class="trip_go_">
             <span class="icon"></span>
             <span>01-08</span>
             <span class="week_value">周二</span>
             <span>浦东T2</span>
             <span>-</span>
             <span>洛杉矶</span>
             <span class="time_minutes">11h30m</span>
             <i class="clock"></i>
           </p>
           <p  class="trip_back_">
             <span class="icon"></span>
             <span class="week_value">01-08</span>
             <span>周二</span>
             <span>浦东T2</span>
             <span>-</span>
             <span>洛杉矶</span>
             <span class="time_minutes">11h30m</span>
             <i class="clock"></i>
           </p>
         </div>
         <div class="seat-price-cost">
            <p>头等舱+往返舱</p>
            <p>往返票价<span class="cost_value">￥111678</span>税费<span class="cost_value">￥1957</span>
              <span class="explain">退改签说明</span>
            </p>
       </div>

    <!--乘机人-->
    <div class="passengers_wrap">
        <h4>乘机人<i></i></h4>
         <ul>
           <li>
             <p class="name_infos"><span class="tip_word">姓/名</span><input class="input" placeholder="BAI LISA" /><i class="add_icon passenger"></i></p>
             <p class="passport_sex"><span class="tip_word">护照</span><input class="input" placeholder="1234567" /><span class="sex_value">女</span></p>
           </li>
           </ul>
    </div>

    <!--联系人-->
    <div class="contact_wrap">
      <h4>联系人<i class="arrow_down"></i><span class="glay_word">与第一出行人相同</span> <i class="add_icon contact"></i> </h4>
      <p class="input_line">
      <!-- <span class="s_line"></span>--><input class="last_name padding_has" placeholder="姓(如：Zhang)" /> <input class="first_name" placeholder="名(如：San)" />
      </p>
      <p class="input_line">
         <span class="tel more_black">手机号  <span class="mis_right">+<span class="nation_code_value">86</span><i class="arrow_right"></i> </span> </span>
        <input class="tel_number padding_has" placeholder="用于接收通知" />
      </p>
      <p class="input_line email_line"><span class="more_black">E_mail</span><input class="email_value padding_has" placeholder="用于接收通知" /></p>
    </div>

  </div>
</div>
</body>
<script id="template_flight_summary" type="text/template">
    <p class="trip_go_">
      <span class="icon"></span>
      <span class="addUp"><%= flightLeaveStartDate.substring(5, 10) %></span>
      <span class="week_value addUp"><%= fOrder.setWeekItems(flightLeaveStartDate) %></span>
      <span class="cityName"><%= segmentsLeave[0]["airportNameFrom"] %><%=segmentsLeave[0]["termDepart"] %></span>
      <span class="addUp">-</span>
      <span class="cityName"><%= segmentsLeave[segmentsLeave.length - 1]["airportNameTo"] %></span>
      <span class="time_minutes">11h30m</span>
      <i class="clock"></i>
    </p>
    <p class="trip_back_">
      <span class="icon"></span>
      <span class="week_value addUp"><%= flightReturnStartDate.substring(5, 10) %></span>
      <span class="addUp"><%= fOrder.setWeekItems(flightReturnStartDate) %></span>
      <span class="cityName"><%= segmentsReturn[0]["airportNameFrom"] %><%=segmentsReturn[0]["termDepart"] %></span>
      <span class="addUp">-</span>
      <span class="cityName"><%= segmentsReturn[segmentsReturn.length - 1]["airportNameTo"] %></span>
      <span class="time_minutes">11h30m</span>
      <i class="clock"></i>
    </p>
</script>
<script id="template_flight_cost_seat" type="text/template">
    <p><%= segmentsLeave[0]["cabinClassName"] %>+<%=segmentsReturn[0]["cabinClassName"] %></p>
    <p>往返票价<span class="cost_value">￥<%= totalFareAmountADT %></span>税费<span class="cost_value">￥<%= totalTaxAmountADT %></span>
      <span class="explain">退改签说明</span>
    </p>
</script>
<script type="text/javascript" src="../js/lib/jquery.js"></script>
<script type="text/javascript" src="../js/lib/vlm.js"></script>
<script type="text/javascript" src="../js/lib/ejs.js"></script>
<script type="text/javascript" src="js/f_order.js"></script>
</html>
