<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
  <meta name="screen-orientation" content="portrait">
  <meta name="full-screen" content="yes">
  <meta name="browsermode" content="application">
  <meta name="x5-orientation" content="portrait">
  <meta name="x5-fullscreen" content="true">
  <meta name="x5-page-mode" content="app">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="green">
  <meta name="Keywords" content="亚程旅行网">
  <meta name="Description" content="境外专业旅行服务提供机构">
  <title>机票舱位选择页 - 亚程旅行网</title>
  <link href="../styles/reset.css"  rel="stylesheet" type="text/css"/>
  <link href="css/f_index.css"  rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="preloader">
  <div id="status">
    <p class="center-text"></p>
  </div>
</div>
<div class="all_elements">
  <div class="content">
  </div>
</div>
</body>
<script id="template_seat_choose" type="text/template">
  <header class="header no-shadow">
    <a href="javascript:window.history.go(-1);" class="header_back">
      <i class="icon_back"></i>
    </a>
    <h3><span><%= flightInfo["cityNameFrom"]%></span><i class=" <%= flightInfo.segmentsReturn !=null ? 'arrowDouble' : 'arrowSingle' %> "></i>
      <span><%= flightInfo["cityNameTo"]%></span></h3>
  </header>
  <div class="content content-down">
    <div class="ticket">
      <ul class="flightOuter">
        <%flightInfo.segmentsLeave.forEach(function(leaveItem,item){ var length =
        flightInfo.segmentsLeave.length %>
        <li class="tripGo">
          <%if(item==0){ %>
          <div class="dateWeekCity">
            <%if(flightInfo.segmentsReturn){%>
                <span class="icon"></span>
            <%}%>
            <span><%= leaveItem["departDate"].substring(0, 10) %></span>
            <%if(flightInfo.segmentsReturn){%>
                <span class="<%= item>0?'fix-margin-left':''%>"><%= fSeatChoose.setWeekItems(leaveItem["departDate"]) %></span>
            <%}else{%>
                <span class="<%= item>0?'fix-margin-left':'no-margin-left'%>"><%= fSeatChoose.setWeekItems(leaveItem["departDate"]) %></span>
            <%}%>
            <span><%= leaveItem["cityNameFrom"]%></span><span>-</span><span><%= leaveItem["cityNameTo"] %></span>
            <span class="time_minutes"><%= flightInfo["segmentsLeaveTotalTravelTimeString"]%></span>
            <i class="clock"></i>
          </div>
          <%}%>
          <div class="timeAirport fixedMargin">
            <div class="left">
              <span class="startTime"><%= leaveItem["departDate"].substring(11, 16) %></span><span
              class="startPort"><%= leaveItem["airportNameFrom"] %><%= leaveItem["termDepart"] %></span>
            </div>
            <div class="middle">
              <div class="timeCost"><%= leaveItem["segmentsLeaveTotalTravelTimeString"] %></div>
              <div class="arrow"></div>
              <div class="transferCity"></div>
            </div>
            <div class="right">
              <span class="arriveTime"><%= leaveItem["arriveDate"].substring(11, 16) %></span>
              <% if(leaveItem["spacingDay"]>=1){ %>
              <span class="plusDay">+<%=leaveItem["spacingDay"]%>天</span>
              <% }%>
            <span
              class="arrivePort"><%=  leaveItem["airportNameTo"] %><%=  leaveItem["termArrive"] %></span>
            </div>
          </div>
          <p class="flightDetailInfo">
            <span class="airCropIcon"><img  src=" <%= leaveItem.airwayLogo %>" /></span><span><%=  leaveItem["operatingCarrierName"] %></span><span><%=  leaveItem["operatingCarrierCode"] %><%=  leaveItem["flightNo"] %></span><span><%=  leaveItem["planeName"] %></span>
          </p>
        </li>
        <%if(item
        <length-1
          ){
          var endDate=flightInfo.segmentsLeave[item+1]['departDate'],leaveTransferMins="", leaveTransferHm="";
          leaveTransferMins = fSeatChoose["getMinutes"](leaveItem["arriveDate"],endDate);
          leaveTransferHm = parseInt(leaveTransferMins / 60) + 'h' + leaveTransferMins % 60 + 'm';
        %>
        <p class="flightDetailArrow">
          中转<%=leaveItem["cityNameTo"]%><span><%=leaveTransferHm%></span>
        </p>
        <%}%>
        <%})%>
        <%if(flightInfo.segmentsReturn){%>
        <%flightInfo.segmentsReturn.forEach(function(returnItem,item_){ var len =flightInfo.segmentsReturn.length %>
        <%if(item_==0){%>
        <li class="tripBack">
          <%}else{%>
        <li class="tripBack">
          <%}%>
          <%if(item_==0){ %>
          <div class="dateWeekCity">
            <span class="icon"></span>
            <span><%= returnItem["departDate"].substring(0, 10) %></span>
            <span class="<%= item_>0?'fix-margin-left':''%>"><%= fSeatChoose.setWeekItems(returnItem["departDate"]) %></span>
            <span><%= returnItem["cityNameFrom"]%></span><span>-</span><span><%= returnItem["cityNameTo"] %></span>
            <span class="time_minutes"><%= flightInfo["segmentsReturnTotalTravelTimeString"]%></span>
            <i class="clock"></i>
          </div>
          <%}%>
          <div class="timeAirport fixedMargin">
            <div class="left">
              <span class="startTime"><%= returnItem["departDate"].substring(11, 16) %></span><span
              class="startPort"><%= returnItem["airportNameFrom"] %><%= returnItem["termDepart"] %></span>
            </div>
            <div class="middle">
              <div class="timeCost"><%= returnItem["segmentsLeaveTotalTravelTimeString"] %></div>
              <div class="arrow"></div>
              <div class="transferCity"></div>
            </div>
            <div class="right">
              <span class="arriveTime"><%= returnItem["arriveDate"].substring(11, 16) %></span>
              <% if(returnItem["spacingDay"]>=1){ %>
              <span class="plusDay">+<%=returnItem["spacingDay"]%>天</span>
              <% }%>
            <span
              class="arrivePort"><%=  returnItem["airportNameTo"] %><%=  returnItem["termArrive"] %></span>
            </div>
          </div>
          <p class="flightDetailInfo">
            <span class="airCropIcon"><img  src=" <%= returnItem.airwayLogo %>" /></span><span><%=  returnItem["operatingCarrierName"] %></span><span><%=  returnItem["operatingCarrierCode"] %><%=  returnItem["flightNo"] %></span><span><%=  returnItem["planeName"] %></span>
          </p>
        </li>
        <%if(item_
        <len-1
          ){
          var endDate_=flightInfo.segmentsReturn[item_+1]['departDate'],returnTransferMins="",
          returnTransferHm="";
          returnTransferMins = fSeatChoose["getMinutes"](returnItem["arriveDate"],endDate_);
          returnTransferHm = parseInt(returnTransferMins / 60) + 'h' + returnTransferMins % 60 + 'm';
        %>
        <p class="flightDetailArrow addMargin">
          中转<%=returnItem["cityNameTo"]%><span><%= returnTransferHm%></span>
        </p>
        <%}%>
        <%})%>
        <%}%>
      </ul>
      <div class="for_bottom">
          <div class="right_button_zone">
          <button>预订</button>
          </div>
           <div class="left_small_word">
             <p><span class="seat_word">经济舱</span> <span class="prices">￥1208</span> </p>
             <p><span class="explain">退改签说明</span> <span class="taxFair">￥税费1518</span> </p>
           </div>
      </div>
    </div>
  </div>
</script>
<script type="text/javascript" src="../js/lib/jquery.js"></script>
<script type="text/javascript" src="../js/lib/vlm.js"></script>
<script type="text/javascript" src="../js/lib/ejs.js"></script>
<script type="text/javascript" src="js/f_seat_choose.js"></script>
</html>
