/*all-order*/
#idul li{
    height: 55px;
    padding: 5px 15px;
    line-height: 42px;
}
#idul li a{
    padding-left: 18px;
    background-image: url(../images/icon_arrow.png);
    background-position: right center;
    background-size: 8.5px 15px;
    background-repeat: no-repeat;
    color: #000;
}
#idul li img{
    width:42px;
    height:42px;
    float: left;
}

/*hotel-Inter*/
#h-Tab{
    display: -moz-box;  /* Firefox */
    display: -ms-flexbox;    /* IE10 */
    display: -webkit-box;    /* Safari */
    display: -webkit-flex;    /* Chrome, WebKit */
    display: box;
    display: flexbox;
    display: flex;
    background: #FFF none repeat scroll 0% 0%;
}
#h-Tab a{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1.0;
    text-align: center;
    line-height: 40px;
}
#h-Tab .on{
    color: #ffb413;
    border-bottom: 2px solid #ffb413;
}
#h-Tab .off{
    color: #484848;
    border-bottom: 2px solid #fff;
}
.content1{
    height:auto;
    background: #FFFFFF;
    margin: 10px 0;
    border-bottom: 1px solid #dedede;
}
.nav1{
    height: 45px;
    position: relative;
}
.nav111{
    width: 88px;
    line-height: 45px;
    padding-left: 15px;
    position: absolute;
}
.nav112{
    padding-left: 100px;
}
.choose-aim{
    line-height: 45px;
    font-size: 8px;
}
.choose-aim input{
    display: inline;
    font-size: 12px;
    font-family: 'Microsoft YaHei', STHeiti, Verdana, sans-serif;
    padding-left: 14px;
    color: #000;
}
.open-arw{
    position: absolute;
    right: 15px;
    top: 15px;
}

/*.nav2{*/
/*display: -moz-box;  /!* Firefox *!/*/
/*display: -ms-flexbox;    /!* IE10 *!/*/
/*display: -webkit-box;    /!* Safari *!/*/
/*display: -webkit-flex;    /!* Chrome, WebKit *!/*/
/*display: box;*/
/*display: flexbox;*/
/*display: flex;*/
/*height: 91px;*/
/*flex-flow: row;*/
/*}*/

.nav2-lefttop{
    display: block;
    height: 36px;
    line-height: 40px;
}




.nav2-tour{
    height:auto!important;
    border-bottom: 1px solid #dedede;
}
/*.nav2-tour div:first-child{*/
    /*margin-left: 15px;*/
    /*margin-top: 8px;*/
    /*margin-bottom: 10px;*/
    /*padding-right: 10px;*/
    /*color: #fdb330;*/
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
/*}*/

.nav2-tour input{
    display: inline-block;
    width: 22%;
}

.nav2-center input{
    /*width: 85px;*/
    /*color: #000;*/
    /*line-height: 45px;*/
    /*margin-left: 10px;*/
    /*margin-top:1px;*/
    /*font-size: 14px;*/
    /*font-family: 'Microsoft YaHei', STHeiti, Verdana, sans-serif;*/
}
.tourSe{
    /*float: left;*/
    padding:5px 15px;
    color: #a9a9a9;
}
/*.tourSelect{*/
    /*float: left;*/
    /*margin-right: 15px;*/
    /*margin-top: 6px;*/
    /*width:49px;*/
    /*height:22px;*/
    /*line-height: 22px;*/
    /*text-align: center;*/
    /*border-radius: 5px;*/
    /*border:1px solid #999999;*/
    /*color:#999999;*/
/*}*/
.tourcho{
    border:1px solid #fdb330;
    color:#fdb330;
}

.nav2-centerright{
    width: 20px;
    margin: 9px 15px 9px 15px;
}
.nav2-centerright i{
    background-image: url(../images/icon-h.png);
    background-repeat: no-repeat;
    background-size: 402px 174px;
    background-position: -245px 0 ;
    position: absolute;
    width: 34px;
    height: 34px;
    left: 0;
    top: 15px;

}
.content3{
    height: 45px;
    position: relative;
}
.nav3-left{
    width: 60px;
    position: absolute;
    line-height: 45px;
    padding-left: 15px;
}
.nav3-right{
    padding-left: 100px;
}
.nav3-right div{
    line-height: 23px;
    font-size: 12px;
    color: #999;
}
.nav3-right input{
    padding-left: 14px;
    line-height: 45px;
    color: #000
font-family: 'Microsoft YaHei', STHeiti, Verdana, sans-serif;
}
.icons1{
    background-image: url(../images/icons1.png);
    background-repeat: no-repeat;
    background-size: 400px 120px;
    display: inline-block;
}
.add{
    position: absolute;
    width: 25px;
    height: 22px;
    top: 50%;
    margin-top: -11px;
    background-position: 0 0 ;
    right: 45px;
}
.minus{
    position: absolute;
    width: 25px;
    height: 22px;
    top: 50%;
    margin-top: -11px;
    background-position: -32px 0 ;
    right: 15px;
}
.content4{
    height: 91px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.nav4{
    display: -moz-box;  /* Firefox */
    display: -ms-flexbox;    /* IE10 */
    display: -webkit-box;    /* Safari */
    display: -webkit-flex;    /* Chrome, WebKit */
    display: box;
    display: flexbox;
    height: 91px;
    display: flex;
    flex-flow: row;
}
.nav4-left{
    width: 60px;
    margin: 9px 15px 9px 15px;
}
.nav4-left{
    line-height: 25px;
    font-size: 14px;
}
.nav4-center{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;
    flex: 1.0;
}
.nav4-center p{
    line-height: 45px;
    margin: 0 15px 0 10px;
    font-size: 12px;
    color: #000;
}
.nav4-center span{
    margin-left: -5px;
}
.nav4-center input{
    padding-left: 14px;
    display: inline;
    line-height: 45px;
    margin: 0 15px 0 0;
    font-size: 12px;
    color: #000;
    width: 30px;
}
.add1{
    position: absolute;
    width: 25px;
    height: 22px;
    top: 50%;
    margin-top: -11px;
    background-position: 0 0 ;
    right: 30px;
}
.minus1{
    position: absolute;
    width: 25px;
    height: 22px;
    top: 50%;
    margin-top: -11px;
    background-position: -32px 0 ;
    right: 0;
}
.nav4-centertop{
    height: 46px;
    border-bottom: 1px solid #dedede;
}
.nav4-centerbottom{
    height: 45px;
}
.content5{
    height: 45px;
}
.content5 input{
    line-height: 45px;
    margin: 0 0 17px 15px;
    font-size: 12px;
    color: #000;
    font-family: 'Microsoft YaHei', STHeiti, Verdana, sans-serif;
}
.aa{
    height: 44px;
    margin: 25px 0 0 0;
}
.aa div{
    margin: 0 12px;
}
.hotelInter{
    font-family: 'Microsoft YaHei', STHeiti, Verdana, sans-serif;
    width: 100%;
    color: #fff;
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    min-width: 60px;
    border-radius: 3px;
    text-align: center;
    background-color: #FFB413;
}
.footer{
    width: 100%;
    height: 44px;
    background: linear-gradient(#16364f,#194361);
    position: fixed;
    bottom: 0;
    text-align: center;
    z-index: 98;
    margin-top: -10px;
}
.footer span{
    font-size: 9px;
    color: #f5f4f9;
    line-height: 44px;
}
/*hotel-Dom*/


#arr2{
    display:none;
}

.choose-aim1{
    line-height: 45px;
    font-size: 8px;
}
.choose-aim1 input{
    display: inline;
    font-size: 12px;
    font-family: 'Microsoft YaHei', STHeiti, Verdana, sans-serif;
    padding-left: 14px;
    color: #000;
}
.right1{
    background-position: -100px -44px;
    position: absolute;
    width: 10px;
    height: 20px;
    right: 45px;
    top: 15px;
}
.position{
    background-image: url(../images/icon-h.png);
    background-repeat: no-repeat;
    background-size: 402px 174px;
    background-position: -325px -113px;
    position: absolute;
    width: 19px;
    height: 25px;
    right: 12px;
    top: 9px;
}


.hotelInter1{
    margin: 20px 12px;
    color: #fff;
    height: 44px;
    line-height: 44px;
    min-width: 60px;
    border-radius: 3px;
    text-align: center;
    font-size: 1.2rem;
    background-color: #FFB413;
}

/*hotel-finsh*/

#hotelul li{
    height: 113px;
    /*line-height: 35px;*/
    margin-bottom: 10px;
}
#hotelul li img{
    width:15px;
    height:15px;
    float: left;
}
.ull li{
    padding: 0;
}
.div{
    height: 35px;
    /*border: 1px solid red;*/
}
.span1{
    float: right;
    line-height: 15px;
    color: #FBB00E;
    font-size: 12px;
}
.div1{
    margin: 10px 15px 10px 15px;
    /*border: 1px solid black;*/
}
.div1 a{
    color: #484848;
    font-size: 13px;
    line-height: 15px;
}
#hotelul a{
    padding-left: 7px;
    float: left;
}
.rep{
    height: 78px;
    border-top: 1px solid #dedede;
}
.sss{
    margin: 10px 15px 10px 15px;
    /*border: 1px solid black;*/
}
.sss div{
    line-height: 19px;
}
.sss1{
    line-height: 15px;
    font-size: 15px;
    color: #000;
    /*border: 1px solid black;*/
}
.ull .sss1 span{
    font-size: 15px
}
.sss1 span b{
    font-size: 10px;
    /*display: inline;*/
    font-weight: normal;
}
.sss2{
    line-height: 25px;
    font-size: 12px;
    color: #000;
}
.sss3{
    /*border: 1px solid red;*/
    line-height: 15px;
    font-size: 11px;
    color: #999;
}
.span2{
    font-size: 12px;
    color: #999;
    line-height: 15px;
}
.ww{
    width: 65px;
    height: 25px;
    border: 1px solid #FFB413;
    border-radius: 4px;
    background-color: #FFF;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
    color: #FFB413;
    position: absolute;
    right: 0px;
    top: 30px;
    padding-left: 0px!important;
}
.span3{
    float: right;
    line-height: 15px;
    color: #fe6a00;
    font-size: 12px;
}
.www{
    width: 65px;
    height: 25px;
    border: 1px solid #FFB413;
    background: #FFB413;
    border-radius: 4px;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    position: absolute;
    right: 0px;
    top: 30px;
    padding-left: 0px!important;
}
/*hotel-details*/


.a{
    background-image: url(../images/icon_arrow.png);
    background-position: right center;
    background-size: 8.5px 15px;
    background-repeat: no-repeat;
    color: #000;
}
.a1{
    background-image: url(../images/icon_arrow.png);
    background-position: right center;
    background-size: 8.5px 15px;
    background-repeat: no-repeat;
    color: #4a4a4a;
    margin-right: 15px;
}
.sure{
    height: 87px;
    background: #fff;
}
.sure1{
    line-height: 35px;
    text-align: center;
    font-size: 15px;
    font-weight:bold;
    color: #ffb413;
    border-bottom: 1px solid #dedede;
    margin: 0 23px;
}
.sure2{
    height: 52px;
}
.sure21{
    height: 52px;
    margin: 0 18px;
}
.tenor{
    margin: 10px 19px;
    height: 10px;
    overflow: visible;
}
.q1{
    width:100%;
    overflow: visible;
}
.q2{
    width: 33%;
    position: relative;
    float: left;
    overflow: visible;
}
.q11{
    width:10px;
    height: 10px;
    border-radius: 20px;
    background: orange;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
}
.q12{
    width:10px;
    height: 10px;
    border-radius: 20px;
    background: #d0d0d3;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
}
.q22{
    height: 1px;
    background: #ffb413;
    margin: 5px 5px 0 15px;
}
.q23{
    height: 1px;
    background: #d6d6d6;
    margin: 5px 5px 0 15px;
}

.q111{
    width:10px;
    height: 10px;
    border-radius: 20px;
    background: #d0d0d3;
    position: absolute;
    top: 0;
    right: -10px;
    overflow: visible;
}
.q1 p{
    font-size: 11px;
    margin-left: 15px;
    padding: 0;
    position: absolute;
    width: 100px;
    top:15px;
    left: -30px;
    color: #484848;
}
.reserve{
    height: 133px;
    background: #fff;
    margin: 10px 0;
    border-bottom: 1px solid #dedede;
}
.reserve-top{
    height: 55px;
    margin: 0 15px;
}
.reserve-top1{
    font-weight:bold;
    font-size: 15px;
    color: #000;
    line-height: 35px;
}
.reserve-top2{
    font-size: 11px;
    color: #999999;
    line-height: 15px;
}
.reserve-bottom{
    height: 78px;
    border-top: 1px solid #dedede;
    margin: 0 15px 10px 15px;
}
.reserve-bottom1{
    font-weight:bold;
    font-size: 14px;
    color: #000;
    line-height: 33px;
}
.reserve-bottom2{
    font-size: 11px;
    color: #999;
    line-height: 13px;
}
.reserve-bottom3{
    font-size: 11px;
    color: #999;
    line-height: 28px;
}
.pay{
    height: 36px;
    border-bottom: 1px solid #dedede;
    background: #fff;
}
.pay1{
    font-size: 15px;
    color: #000;
    line-height: 36px;
    margin-left: 15px;
}
.a1-1{
    font-size: 18px;
    color:#fe6a03;
}
.a1-1 b{
    font-size: 12px;
    font-weight: normal;
}
.a1-2{
    float: right;
    margin-right: 15px;
    color:#ffb401;
    font-size: 10px;
}
.bookinfo{
    height: 147px;
    background: #fff;
    margin: 10px 0;
    border-bottom: 1px solid #dedede;
}
.bookinfo1{
    height: 31px;
    margin: 0 15px;
    line-height: 31px;
    color: #484848;
    font-size: 12px;
}
.bookinfo2{
    height: 115px;
    border-top: 1px solid #dedede;
    margin: 0 15px;
    line-height: 23px;
    display: flex;
    flex-flow: row;
}
.bookinfo2-1{
    width: 72px;
    color: #999999;
}
.bookinfo2-1 span{
    font-size: 11px;
    display: block;
}
.bookinfo2-2{
    flex: 1.0;
    color: #484848;
}
.bookinfo2-2 span{
    color: #484848;
    display: block;
    font-size: 11px;
}
.hotelInter2{
    font-size: 12px;
    margin: 15px auto;
    color:#fe6a03;
    width: 115px;
    height: 33px;
    line-height: 33px;
    min-width: 60px;
    border-radius: 3px;
    text-align: center;
    background-color: #F5F4F9;
    border: 1px solid #fe6a03;
}

/*ȡ��*/
#choose{
    display: none;
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.choose-content{
    display: none;
    position: absolute;
    width: 291px;
    height: 172px;
    background: #FFFFFF;
    top: 50%;
    left: 50%;
    margin-left: -145.5px;
    margin-top: -86px;
    border-radius: 4px;
    z-index: 99999;
}
.choose-content1{
    border-bottom: 1px solid #ececec;
    margin: 25px 22px 0 22px;
    height: 90px;
    line-height: 23px;
}
.choose-content11{
    font-size: 14px;
    color: #484848;
}
.choose-content12{
    font-size: 14px;
    color: #000;
}
.choose-content2{
    margin: 10px 10px;
    height: 37px;
}
.No{
    width: 130px;
    height: 37px;
    border: 1px solid #FFB413;
    border-radius: 4px;
    background-color: #FFF;
    line-height: 37px;
    text-align: center;
    font-size: 14px;
    color: #FFB413;
    float: left;
}
.Yes{
    width: 130px;
    height: 37px;
    border: 1px solid #FFB413;
    border-radius: 4px;
    background-color: #FFB413;
    line-height: 37px;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 11px;
    float: left;
}

/*------------------*/
/*资料输入页面*/
.zy_title{
    height:0.94rem;
    line-height:0.94rem;
    position: relative;
    background: #fff;
}
.zy_title:nth-child(2){
    margin-top:0.32rem;
}
.zy_title h3{
    font-size:0.32rem;
    padding-left:0.9rem;
    color: #333;
}
.zy_title h3:before{
    height:0.54rem;
    width:0.54rem;
    content: '';
    background: url(../images/ui/icon_common.png) no-repeat;
    background-position:-1.9rem -1.42rem;
    background-size:7.9rem 5.13rem;
    display: block;
    position: absolute;
    left:0.25rem;
    top:50%;
    margin-top:-0.27rem
}
.zy_title h3.hotel:before{
    background-position:-1.2rem -1.42rem;
}
.zy_select_date{
    background: #fff;
}
.nav2-left{
    width: 1.4rem;
    height: 1.58rem;
    line-height: 2.05rem;
    text-align: center;
    margin-left: -0.7rem;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 5;
    color: #666;
    font-size: 0.3rem;
}
.zy_content2{
    height: 1.58rem;
    border-top:1px solid #dedede;
    border-bottom:1px solid #dedede;
    position: relative;
}
.nav2-center{
    height: 1.58rem;
    color: #333;
    position:relative;
}
.nav2-centertop{
    width:3rem;
    position: absolute;
    left: 0;
    top:0;
}
.nav2-centertop p{
    padding-left: 0.25rem;
}
.nav2-centerbottom{
    width:3rem;
    position: absolute;
    right: 0;
    top:0;
}
.nav2-centerbottom p{
    text-align: right;
    padding-right: 0.25rem;
}
.nav2-centertop input,.nav2-centerbottom input{
    font-size: 0.4rem;
    font-weight: bold;;
}
.nav2-centertop i,.nav2-centerbottom i{
    display: block;
    color: #999;
    padding-bottom: 0.1rem;
    padding-top: 0.3rem;
}
.nav2-centertop input,.nav2-centerbottom input{
    width: 1.80rem;
    color: #333;
}
section.hotelInfo_numb_room{
    height: 1.2rem;
    background: #fff;
    color: #333;
    border-bottom: 0.01rem solid #ddd;
    overflow: hidden;
    position: relative;
    padding: 0 0.25rem;
}
section.hotelInfo_numb_room .room_number{
    width:1.6rem;
    height: 0.5rem;
    position: absolute;
    right:0.25rem;
    top:50%;
    margin-top:-0.25rem;
}
section.hotelInfo_numb_room .room_number span{
    width: 0.56rem;
    height: 0.56rem;
    background: url(../images/ui/icons1.png) no-repeat 0 2px;
    background-size: 320px auto;
}
section.hotelInfo_numb_room span.down_btn{
    position: absolute;
    left: 0;
    top: 0;
}
section.hotelInfo_numb_room span.up_btn{
    position: absolute;
    right: 0;
    top: 0;
}
section.hotelInfo_numb_room i.change_num{
    height: 0.56rem;
    line-height: 0.58rem;
    font-size: 0.32rem;
    display: block;
    text-align: center;
    margin: 0 0.5rem;
}
section.hotelInfo_numb_room .title{
    height: 1.2rem;
    line-height:1.2rem;
    font-size: 0.32rem;
    display: block;
}
.hotelInfo_numb_people{
    font-size: 0.32rem;
    background: #fff;
    border-bottom:1px solid #e6e6e6;
    padding: 0.1rem 0 0.2rem 0.25rem;
    position: relative;
}
.hotelInfo_numb_people>span.title{
    width:1.4rem;
    color: #333;
    position: absolute;
    left:0.25rem;
    top:0.24rem;
}
.hotelInfo_numb_people .numbList,.hotelInfo_numb_people .extraChild{
    margin-left: 1.4rem;
    overflow: hidden;
    padding: 0.2rem 0.25rem 0 0.2rem;
    color:#333;
}
.hotelInfo_numb_people .extraChild{
    border-top:1px solid #e6e6e6;
    margin-top: 0.2rem;
    padding: 0.24rem 0.25rem 0 0.2rem;
}
.hotelInfo_numb_people .numbList .n_tit,.hotelInfo_numb_people .bedList{
    float: left;
    display: block;
    clear: both;
}
.hotelInfo_numb_people .bedList{
    padding-bottom: 0.2rem;
}
.zy_price_control,.hotelInfo_numb_people .childAge{
    float: right;
    width: 1.6rem;
    height: 0.56rem;
    position: relative;
}
.hotelInfo_numb_people .childAge{
    width: 20%;
}
.hotelInfo_numb_people .childAge input{
    width: 60%;
}
.zy_price_control span,.hotelInfo_numb_people .childAge span{
    width: 0.56rem;
    height: 0.56rem;
    background: url(../images/ui/icons1.png) no-repeat 0 2px;
    background-size: 320px auto;
    position: absolute;
    top: 0;
}
.hotelInfo_numb_people .spenumbList{
    clear: both;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}
.hotelInfo_numb_people .spenumbList b{
    position: absolute;
    right: 0;
    top: 0;
    width: 0.48rem;
    height: 0.46rem;
    background-image: url(../images/ui/icon_common.png);
    background-repeat: no-repeat;
    background-position: -5.08rem -0.52rem;
    background-size:7.9rem 5.13rem;
}
.zy_price_control span.down_btn{
    left: 0;
}
.zy_price_control span.up_btn{
    right: 0;
}
.zy_price_control i.change_num{
    display: block;
    height: 0.56rem;
    line-height: 0.58rem;
    margin: 0 0.5rem;
    text-align: center;
}
.zy_orderBtn{
    margin:0.4rem 0.28rem 0;
}
.zy_orderBtn button{
    display: block;
    width: 100%;
    background: #7bc300;
    color: #fff;
    text-align: center;
    height:0.8rem;
    line-height:0.8rem;
    font-size:0.32rem;
    -moz-border-radius:0.06rem;
    -webkit-border-radius:0.06rem;
    border-radius:0.06rem;
}
.zy_tourTime{
    background: #fff;
}
.zy_tourTime .nav2-tour{
    border-bottom:1px solid #dedede;
    padding: 0.15rem 0 0.3rem 0;
    border-top:1px solid #e6e6e6;
    color: #333;
    margin: -1px 0 ;
}
.zy_tourTime .nav2-tour>div:nth-child(1){
    margin-left:0.28rem;
    margin-top:0.16rem;
    margin-bottom:0.2rem;
    padding-right:0.2rem;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.32rem;
    text-overflow: ellipsis;
    padding-left: 0.2rem;
}
.zy_tourTime .nav2-tour>div:nth-child(1) i{
    display: inline-block;
    width:0.16rem;
    height: 0.26rem;
    border-left:3px solid #7bc300;
}
.zy_all_day{
    height: 0.7rem;
    padding: 0 0.25rem 0;
    position: relative;
    margin:0.3rem 0 0.1rem;
}
.zy_all_day .tourSelect{
    font-size: 0.32rem;
    width: 2.1rem;
    height: 0.62rem;
    line-height: 0.62rem;
    text-align: center;
    border-radius:4px;
    border:1px solid #d1d1d1;
    color:#333;
}
.zy_all_day div:nth-child(1),.zy_all_day div:nth-child(3){
    position: absolute;
    top:0;
}
.zy_all_day div.tourcho{
    border: 1px solid #7bc300;
    color: #7bc300;
    background: url(../images/icon_z.png) no-repeat right bottom;
    background-size: 0.44rem 0.38rem;
}
.zy_all_day div:nth-child(1){
    left: 0.25rem;
}
.zy_all_day div:nth-child(3){
    right:0.25rem;
}
.zy_all_day div:nth-child(2){
    margin: 0 auto;
}
.nav2-tour>div:nth-child(2){
    text-align: left;
    padding-left: 15px;
    position: relative;
}
.nav2-tour>div:nth-child(2)>i{
    background-image: url(../images/ui/icon_common.png);
    background-repeat: no-repeat;
    background-size:7.9rem 5.13rem;
    background-position: -6.78rem -2.37rem ;
    position: absolute;
    width: 0.4rem;
    height: 0.4rem;
    right:0.25rem;
    bottom:0;
}
{

}
