<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>填写订单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link type="text/css" rel="stylesheet" href="../styles/reset.css">
<!--<link rel="stylesheet" type="text/css" href="../css/date_select.css">-->

    <link rel="stylesheet" type="text/css" href="../css/plugins/jquery.alert/jqueryAlert.css">
    <link rel="stylesheet" type="text/css" href="../css/plugins/scroller/scroller1.1.css">
    <link href="../css/country_list.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/tours.css">
</head>

<body>
    <div id="preloader">
        <div id="status"></div>
    </div>
    <div class="all-elements">
        <!--   顶部   -->
        <header class="header">
            <a href="javascript:history.go(-1);" class="header_back" id="ht-back">
                <i class="icon_back"></i>
            </a>
            <h3>填写订单</h3>
        </header>
        <!--   内容   -->
        <div class="sc-content content">
            <section class="sce-ticket-wrap min320 order_fill">
                <div class="sce-ticket order_ticket">
                    <section class="sce-introduce order_introduce">
                        <p class="sce-introduce-txt fl txt"><span class="sce-introduce-span"></span></p>
                        <!--<div class="travel-noon fl">-->
                        <!--<a href="javascript:;" class="fa-noon on">上午</a>-->
                        <!--<a href="javascript:;" class="fa-noon">下午</a>-->
                        <!--</div>-->
                    </section>
                    <div id="detailBox" class="order_detail_box">
                        <section id="hotel_detail" class="sce-ticket hotel_detail">
                            <!--<div class="sce-introduce-txt">曼谷王子皇宫酒店</div>-->
                            <!--<div class="detail-span">房型 豪华海景房2间</div>-->
                            <!--<div class="detail-span">2016-03-31 至 2016-04-02 2晚</div>-->
                        </section>
                        <section id="tour_detail" class="sce-ticket tour_detail">
                            <!--<div>-->
                            <!--<div class="sce-introduce-txt">曼谷大皇宫门票</div>-->
                            <!--<div class="detail-span">游玩时间 2016-03-31 周三 上午</div>-->
                            <!--<div class="detail-span">成人票 2张</div>-->
                            <!--<div class="detail-span">儿童票 1张</div>-->
                            <!--</div>-->
                            <!--<div>-->
                            <!--<div class="sce-introduce-txt">曼谷大皇宫门票</div>-->
                            <!--<div class="detail-span">游玩时间 2016-03-31 周三 上午</div>-->
                            <!--<div class="detail-span">成人票 2张</div>-->
                            <!--<div class="detail-span">儿童票 1张</div>-->
                            <!--</div>-->
                        </section>
                    </div>
                    <div class="open-close order_toggle_btn">
                        <b></b>
                    </div>
                </div>
            </section>
            <section class="sce-line"></section>
            <!--出行人资料-->
            <section class="personal_data_box order_data_box">
                <div class="personal_data order_data" id="per-room-wrap">
                    <!--<div class="per_data">-->
                    <!--<span class="title"><i>房间1</i></span>-->
                    <!--<ul>-->
                    <!--<section class="li_section_box">-->
                    <!--<li>-->
                    <!--<span class="list_tit">成人1：</span>-->
                    <!--<b class="add_icon"><a href="javascript:;"></a></b></span>-->
                    <!--</li>-->
                    <!--<li class="trave-li">-->
                    <!--<span class="list_tit2">姓：</span>-->
                    <!--<span class="list_con2"><input class="list_inp2" type="text" placeholder="Zhang" /></span>-->
                    <!--<span class="list_tit2">名：</span>-->
                    <!--<span class="list_con2 name-inp"><input class="list_inp2" type="text" placeholder="Xiaohua" /></span>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<span class="list_tit">护照：</span>-->
                    <!--<span class="list_con"><input class="list_inp" type="text" placeholder="2088833" /></span>-->
                    <!--</li>-->
                    <!--</section>-->
                    <!--<section class="li_section_box">-->
                    <!--<li>-->
                    <!--<span class="list_tit">儿童1：</span>-->
                    <!--<b class="add_icon"><a href="javascript:;"></a></b></span>-->
                    <!--</li>-->
                    <!--<li class="trave-li">-->
                    <!--<span class="list_tit2">姓：</span>-->
                    <!--<span class="list_con2"><input class="list_inp2" type="text" placeholder="Zhang" /></span>-->
                    <!--<span class="list_tit2">名：</span>-->
                    <!--<span class="list_con2"><input class="list_inp2" type="text" placeholder="Xiaohua" /></span>-->
                    <!--</li>-->
                    <!--</section>-->
                    <!--</ul>-->
                    <!--</div>-->
                </div>
            </section>
            <!--联系人资料-->
            <section class="personal_data_box order_data_box">
                <div class="personal_data" id="personal_data">
                    <span class="title"><i>联系人信息</i><b><a href="javascript:;" class="add-contact"></a></b></span>
                    <ul id="ht_contact" class="order_trave">
                        <li>
                            <!--<span class="list_tit">姓</span>-->
                            <span class="list_con2">
                                <input class="list_inp_name list_inp2" id="list-lastname" type="text" placeholder="姓（如：Li）"  data-elementName="lastName"  />
                            </span>

                            <!--<span class="list_tit">名：</span>-->
                            <span class="list_con2">
                                <input class="list_inp_name list_inp2" id="list-firstname" type="text" placeholder="名（如：Shimin）" data-elementName="firstName"  />
                            </span>
                        </li>
                        <li class="phone clearfix">
                            <span class="list_tit">手机号：</span>
                            <div class="p_86 tel-btn">
                                <span>+86</span>
                                <i class="open_arw int_tel">&nbsp;</i>
                            </div>
                            <span class="list_con">
                                <input class="list_inp2" id="list_con_tel" type="tel" placeholder="用于接收短信通知" data-elementName="mobilePhone"  />
                            </span>
                        </li>
                        <li>
                            <span class="list_tit">邮箱：</span>
                            <span class="list_con"><input class="list_inp2" id="list_con_email"  type="text" placeholder="用于接收电子确认单" data-elementName="email"  /></span>
                        </li>
                    </ul>
                </div>
            </section>
            <!--航班信息-->
            <section class="personal_data_box order_data_box" id="flight-air">
                <div class="personal_data">
                    <span class="title"><i>接送服务（选填）</i>
                        <i id="send_btn" class="send-impo send_btn"></i>
                    </span>
                    <div class="content2" id="content3">
                        <div class="nav2-left nav2_left">
                            <span class="nav2-lefttop">抵达</span>
                        </div>
                        <div class="input_flight">
                            <input class="checkInDate" name="" value="" placeholder="航班号">
                        </div>
                        <div class="nav2-center nav2_center" id="nav2-center-dep">
                            <div class="nav2-centertop nav2_centertop">
                                <input name="CheckInDate" id="content3_CheckInDate" class="content3_CheckInDate" placeholder="年月日" readonly><i class="tour-scene-date"></i>
                            </div>
                        </div>
                    </div>
                    <div class="content2" id="content4">
                        <div class="nav2-left nav2_left">
                            <span class="nav2-lefttop">离开</span>
                        </div>
                        <div class="input_flight">
                            <input class="" name="" value="" placeholder="航班号">
                        </div>
                        <div class="nav2-center nav2_center" id="nav2-center-arr">
                            <div class="nav2-centertop">
                                <input name="CheckInDate" id="content4_CheckInDate" placeholder="年月日" readonly><i class="tour-scene-date"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--<div class="order-notice order_notice">-->
                <!--<i class="order-notice-btn btn"></i>-->
                <!--<span class="order-notice-txt txt">已经阅读亚程旅行网<span id="state_btn" style="color: #ffbf4b">旅行须知</span></span>-->
            <!--</div>-->
        </div>
        <!--   底部预订   -->
        <div class="package_reserve order_reserve">
            <span class="all_num">总额：<i class="itemized" id="show_de">明细</i></span>

            <a href="javascript:;" class="reserve">立即预订</a>
        </div>
        <!--底部-->
        <!-- <footer class="order-amount">
            <div class="order-total-wrap">
                <span>订单金额：</span>
                <span class="order-total-fare">¥56</span>
                <i class="itemized" id="show_de"></i>
            </div>
            <a href="order-pay.html" class="order-total-btn">预订</a>
        </footer> -->
    </div>
    <!--   背景块   -->

    <div class="mask" id="r-mb" style="z-index: 10"></div>
    <!--   明细块   -->

    <div class="detail_expenses order_detail_expenses" id="detail_expenses">
        <ul id="fillDetail" class="hspd-list">
            <!--<li><span class="package-tit"></span></li>-->
        </ul>
    </div>
    <!--   旅行须知and接送须知   -->
    <!--<div class="tmask js-mask order_mask">-->
        <!--<div id="traState" class="travelnotes-warp js-travelnotes order_warp">-->
            <!--<div class="travelnotes-header tr_header">旅行须知<i class="travelnotes-header-icon js-travelnotes-close"></i></div>-->
            <!--<ol class="travelnotes-list">-->
                <!--<li>所有的套餐都不可转让，不可退款，不可更改。</li>-->
                <!--<li>任何未使用的套餐都不可退款，支付的款项也不可用来抵买任何其他的套餐。</li>-->
                <!--<li>您有责任确保并遵守移民局，海关或旅游目的地国家的其他法律规定。请务必确保您持有的护照至少六个月的有效期及有效的签证。</li>-->
                <!--<li>您有责任确保并遵守移民局，海关或旅游目的地国家的其他法律规定。请务必确保您持有的护照至少六个月的有效期及有效的签证。</li>-->
                <!--<li>如果有儿童或婴儿一同出行，您有责任自行携带婴/幼儿座椅以便在行程中使用。如果因此对您的行程产生影响，我们不进行退款。</li>-->
                <!--<li>请提供正确的电子邮件格式。您同意接受电子邮件作为往来沟通，接收旅游确认单和预订确认的一种途径。 您同意cn.asiatravel.com。请您自行承担您未收到旅游确认单或是您未收到确认邮件的责任。</li>-->
                <!--<li>更多规定，请您阅读www.asiatravel.com预订条款条约和用户协议。</li>-->
            <!--</ol>-->
        <!--</div>-->
        <!--<div id="sendState" class="travelnotes-warp js-travelnotes order_warp">-->
            <!--<div class="travelnotes-header tr_header">接送须知<i class="travelnotes-header-icon js-travelnotes-close"></i>-->
            <!--</div>-->
            <!--<ol class="travelnotes-list">-->
                <!--<li>如果还未预订机票，您可任意填写航班信息，继续您的预订。请您至少在出发3天前，联系我们并提新的航班信息，我们会重新安排您的接送。</li>-->
                <!--<li>不填写接送信息默认您不需要接送。</li>-->
                <!--<li>如果您需要修改航班信息，也请在出发前3天联系我们并提供新的航班信息，我们会及时处理。</li>-->
                <!--<li>接机时间是您抵达的时间，送机时间是您离开的时间。</li>-->
            <!--</ol>-->
        <!--</div>-->
    <!--</div>-->

    <!--国籍选择开始-->
    <div class="header country_header">
      <a href="javascript:;" class="header_back country-hidden"><i class="icon_back"></i></a>
      <div class="cl_search">
        <input type="text" placeholder="新加坡/xinjiapo/xjp/Singapore" id="country-input-zone"/>
        <i class="icon_common"></i>
      </div>
    </div>
    <div class="all_elements country-cho-wrap">
      <div class="content">
        <div id="country-wrap-hot"></div>
        <div class="country-wrap" id="country-wrap"></div>
      </div>
      <!--热门国籍-->
      <script id="countryList_hot" type="text/template">
        <h4><a name="rm" class="target"></a>热门</h4>
        <ul class="country_hot">
          <% for(var i=0; i< arrCountry.length; i++){ %>
          <% if(arrCountry[i].isHot == 1) { %>
          <li class="country_list_hot" data-tel-code="<%=arrCountry[i].phoneCode%>" data-code="<%=arrCountry[i].countryCode%>" ><%=arrCountry[i].chineseName%></li>
          <% } %>
          <% } %>
        </ul>
      </script>

      <!--国籍全部列表-->
      <script id="countryList" type="text/template">
        <div class="full_country_outer">
          <% for(var tem in countryArray){ %>
          <a class="target" name="<%=tem%>"></a>
          <h4><%= tem%></h4>
          <ul class="full_country_list">
            <%countryArray[tem].forEach(function(array){ %>
            <li class="country_list" data-tel-code="<%=array.phoneCode%>" data-code="<%=array.countryCode%>"><%=array.chineseName%></li>
            <% })%>
          </ul>
          <% }%>
        </div>
      </script>

      <!--热门手机区号-->
      <script id="countryList_hot_tel" type="text/template">
        <h4><a name="rm" class="target"></a>热门</h4>
        <ul class="country_hot">
          <% for(var i=0; i< arrCountry.length; i++){ %>
          <% if(arrCountry[i].isHot == 1) { %>
          <li class="country_list_hot" data-tel-code="<%=arrCountry[i].phoneCode%>" data-code="<%=arrCountry[i].countryCode%>" ><em data-tel-code="<%=arrCountry[i].phoneCode%>" data-code="<%=arrCountry[i].countryCode%>"><%=arrCountry[i].chineseName%></em><span class="tel_code" data-tel-code="<%=arrCountry[i].phoneCode%>" data-code="<%=arrCountry[i].countryCode%>"><%=arrCountry[i].phoneCode%></span></li>
          <% } %>
          <% } %>
        </ul>
      </script>

      <!--手机区号全部列表-->
      <script id="countryListTel" type="text/template">
        <div class="full_country_outer">
          <% for(var tem in countryArray){ %>
          <a class="target" name="<%=tem%>"></a>
          <h4><%= tem%></h4>
          <ul class="full_country_list">
            <%countryArray[tem].forEach(function(array){ %>
            <li class="country_list" data-tel-code="<%=array.phoneCode%>" data-code="<%=array.countryCode%>"><em data-tel-code="<%=array.phoneCode%>" data-code="<%=array.countryCode%>"><%=array.chineseName%></em><span class="tel_code" data-tel-code="<%=array.phoneCode%>" data-code="<%=array.countryCode%>"><%=array.phoneCode%></span></li>
            <% })%>
          </ul>
          <% }%>
        </div>
      </script>

      <!--国籍a-z-->
      <script id="country_index" type="text/template">
        <ul>
          <li><a href="#rm">热门</a></li>
          <% for(var tem in countryArray){%>
          <li><a href="#<%=tem%>"><%=tem%></a></li>
          <%}%>
        </ul>
      </script>

    </div>
    <!--右侧a-z-->
    <div class="country_index" id="country_index_wrap"></div>

    <!--国籍弹窗开始-->
    <ul class="country-list-searched"></ul>

    <!--国籍选择结束-->





    <!--同意条款-->

    <script src="../js/lib/jquery.js"></script>
    <!--    <script src="js/dateFixed_.js"></script>-->
    <script>
        (function() {

          localStorage.removeItem("travellerInfo_selected");
          localStorage.removeItem("contact_selected");
          sessionStorage.removeItem("choiceAir_select_personal_data");

            //阻止在嵌套元素中传播
            function cancelPropagation(event) {
                event = window.event || event;
                if (document.all) {
                    event.cancelBubble = true;
                } else {
                    event.stopPropagation();
                }
            }
            $("#state_btn").click(function() {
                $(".js-mask").show();
                $('#traState').show();
                $('#traState').css({
                    "height": "50%"
                });
                $('#sendState').hide();
                $('.sc-content').css({
                    "overflow": "hidden"
                })
            });
            $(".js-travelnotes-close").click(function() {
                $(".js-mask").hide();
                $('.sc-content').css({
                    "overflow": "auto"
                })
            });
            $(".js-mask").click(function() {
                $(".js-mask").hide();
                $('.sc-content').css({
                    "overflow": "auto"
                })
            });
            $(".js-travelnotes").click(function(e) {
                cancelPropagation(e);
            });
            $("#send_btn").click(function() {
                $(".js-mask").show();
                $('#traState').hide();
                $('#sendState').show();
                //                $('#sendState').css({"height":"35%"});
                $('.sc-content').css({
                    "overflow": "hidden"
                });
            });
        })();

    </script>
    <!--填写订单-->
    <script src="../js/scenic.js"></script>
    <script src="../js/plugins/jquery.alert/jqueryAlert.js"></script>
    <script src="../js/lib/vlm.js"></script>
    <script src="../js/lib/ejs.js"></script>
    <script src="../js/lib/plugins.js"></script>
    <script src="../js/plugins/scroller/scroller1.1.js"></script>
    <script src="js/fill_order.js"></script>
    <script src="../js/countrydata.js"></script>
    <script src="../js/country_list.js"></script>

    <script id="tpl3" type="text/template">
        <% var info = JSON.parse(localStorage.info);
        var playTime =localStorage.getItem('noon').substring(2,4);
        console.log(playTime);
    %>
            <% for(var i=0;i<tourInfos.length;i++){ %>
                <div>
                    <div class="txt">
                        <%= tourInfos[i].tourName %>
                    </div>
                    <% if(tourInfos[i].travelDateSpecified){ %>
                        <div class="detail_span">游玩时间
                            <%= tourInfos[i].travelDate.substr(0,10) %>
                                <%= weekday[i] %>
                                    <%= noon[i] %>
                                        <%= playTime  %>
                        </div>
                        <% } %>
                            <div class="detail_span">成人票
                                <%= info.adultNum %>张</div>
                            <% if(JSON.parse(localStorage.info).childNum != 0){ %>
                                <div class="detail_span">儿童票
                                    <%= info.childNum %>张</div>
                                <% } %>
                </div>
                <% } %>
    </script>
</body>

</html>
