<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="green">
<meta name="Keywords" content="亚程旅行网">
<meta name="Description" content="境外专业旅行服务提供机构">
<meta name="screen-orientation" content="portrait">
<meta name="x5-orientation" content="portrait">
<meta name="full-screen" content="yes">
<meta name="x5-fullscreen" content="true">

<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/splash/splash-icon-big.png">
<link rel="apple-touch-startup-image" href="images/splash/splash-screen.png" 	media="screen and (max-device-width: 320px)" />
<link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
<link rel="apple-touch-startup-image" href="images/splash/splash-screen-six.png" media="(device-width: 375px)">
<link rel="apple-touch-startup-image" href="images/splash/splash-screen-six-plus.png" media="(device-width: 414px)">
<link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />
<link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
<link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
<link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)"/>
<link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)"/>

<title>选择酒店 - 亚程旅行网</title>
<link href="../styles/reset.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../css/plugins/jquery.alert/jqueryAlert.css">
<link href="../css/plugins/footer/footer.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="css/tours.css">
</head>
<body>
<!--   顶部   -->
<div id="preloader">
    <div id="status">

    </div>
</div>
<div class="all_elements" id="allElements">
    <div class="header">
        <a href="javascript:history.go(-1);" class="header_back"><i class="icon_back"></i></a>
        <h3>选择酒店</h3>
    </div>
    <!--   内容   -->
    <div class="content">
        <ul class="hotel_list" id="lsf_list">
        </ul>
    </div>
</div>

<script id="hotel_list" type="text/template">
    <% for(var i=0;i<hotels.length;i++){ %>
    <li class="ho_list" data-id="<%= hotels[i].hotelID %>">
        <img class="h-choose h_choose" src="../images/ui/choose.png">
        <div class="ho_pic">
            <img src="../images/loading_def_small.png" real-src="<%= hotels[i].hotelPictureURL %>" class="ho_img" />
            </div>
        <div class="ho_infor">
            <p class="name"><%=hotels[i].hotelGenInfo.hotelNameLocale %>(<%= hotels[i].hotelGenInfo.hotelName %>)</p>
            <div class="grade">
                <p class="score"><span><i><%= hotels[i].hotelGenInfo.hotelReviewScore %>.0</i>分</span><%= hotels[i].hotelGenInfo.hotelReviewCount %>人点评</p>
                <span><%= starList(hotels[i].starRating) %></span>
                <p class="h-address"><%= hotels[i].location %></p>
                </div>
            </div>
        <div class="price">
            <span><% if(hotels[i].currencyCode=="CNY"){ %>￥ <% }else{ %> $ <% } %></span>
            <span class="price-num"><%= hotels[i].avgRatePerPaxInCNY %></span><span>起/人</span>
            </div>
        </li>
    <% } %>
</script>
<script src="../js/lib/jquery-1.10.2.min.js"></script>
<script src="../js/lib/vlm.js"></script>
<script src="../js/lib/lazyLoad.js"></script>
<script src="../js/lib/ejs.js"></script>
<script src="../js/plugins/jquery.alert/jqueryAlert.js"></script>
<script src="../js/plugins/footer/foot.js"></script>
<script src="js/hotelList.js"></script>
<script>
	$(".ho_list").eq(0).addClass("cur");
</script>
</body>
</html>
