 <!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="green">
<meta name="Keywords" content="亚洲旅行网">
<meta name="Description" content="境外专业旅行服务提供机构">
<meta name="screen-orientation" content="portrait">
<meta name="x5-orientation" content="portrait">
<meta name="full-screen" content="yes">
<meta name="x5-fullscreen" content="true">

<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/splash/splash-icon-big.png">
<link rel="apple-touch-startup-image" href="images/splash/splash-screen.png" 	media="screen and (max-device-width: 320px)" />
<link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
<link rel="apple-touch-startup-image" href="images/splash/splash-screen-six.png" media="(device-width: 375px)">
<link rel="apple-touch-startup-image" href="images/splash/splash-screen-six-plus.png" media="(device-width: 414px)">
<link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />
<link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
<link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
<link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)"/>
<link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)"/>

<title>酒+景首页 - 亚洲旅行网</title>
<link href="../styles/reset.css" rel="stylesheet"/>
<link href="css/tours.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="preloader">
        <div id="status">

        </div>
    </div>
    <div class="all_elements">
        <!--   顶部   -->
        <header class="header">
            <a href="javascript:history.go(-1);" class="header_back" id="ht-back">
                <i class="icon_back"></i>
            </a>
            <h3>酒+景</h3>
            <a onclick="MT.CurrentPageTolist()" class="location-wrap tour_more">
                <span id="Localtxt" class="location-txt">更多</span>
                <i class="location_tip"></i>
            </a>
        </header>
        <!--   内容   -->
        <div class="content content_bgfff">
            <!--<section class="hot_tagBox">-->
                <!--<span>国内游</span>-->
                <!--<span class="current">出境游</span>-->
            <!--</section>-->
            <section class="conBox index_abroad">
                <h3 class="title">国外目的地</h3>
                <div class="cityListBox index_abroad_box">
                    <ul id="hotPlace" class="clearfix">
                        <!--<li class="jjin-active">新加坡</li>-->
                        <!--<li>悉尼</li>-->
                        <!--<li>香港</li>-->
                        <!--<li>巴厘岛</li>-->
                        <!--<li>首尔</li>-->
                        <!--<li>迪拜</li>-->
                    </ul>
                </div>
                <h3 class="title">热门推荐</h3>
                <ul id="hotSpot" class = "hotspot index_hotspot">
                    <!--<li>-->
                        <!--<div>-->
                            <!--<img src="../scenic/images/jdzhuye2_04.jpg" class="banner-image" alt="img">-->
                            <!--<div class="hp-block">-->
                                <!--<b class = "icon1 s-location"></b>-->
                                <!--吉隆坡-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="spotDesc">两天一夜酒店+半天吉隆坡城市游览</div>-->
                        <!--<div><span>￥</span><span class="pay-num">1680</span><span>起</span></div>-->
                    <!--</li>-->
                </ul>
            </section>
        </div>
        <!--   底部   -->
        <!--<footer class="hl-bottom">-->
            <!--<div class="fo-div" id="fo_ra">-->
                <!--<b class="hl-icon3"></b>-->
                <!--价格排序-->
            <!--</div>-->
            <!--<div class="fo-div" id="fo_sc">-->
                <!--<b class="hl-icon3" style="background-position:47% 8%;"></b>-->
                <!--过滤-->
            <!--</div>-->
        <!--</footer>-->
    </div>
    <!--&lt;!&ndash;   背景块   &ndash;&gt;-->
    <!--<div class="mask" id="r-mb"></div>-->
    <!--&lt;!&ndash;   筛选块   &ndash;&gt;-->
    <!--<div class="screen" id="screen">-->
        <!--<ul class="tagBox" id="screen_tagBox">-->
            <!--<li class="current">景点主题</li>-->
            <!--<li>景点活动</li>-->
        <!--</ul>-->
        <!--<ul class="tagList" id="tagList_1">-->
            <!--<li class="current">不限</li>-->
            <!--<li><a href="#">博物馆</a></li>-->
            <!--<li><a href="#">场馆</a></li>-->
            <!--<li><a href="#">古迹遗迹</a></li>-->
            <!--<li><a href="#">山水景观</a></li>-->
            <!--<li><a href="#">温泉</a></li>-->
            <!--<li><a href="#">宾馆/招待所</a></li>-->
        <!--</ul>-->
        <!--<ul class="tagList" id="tagList_2" style="display:none;">-->
            <!--<li>不限</li>-->
            <!--<li><a href="#">全部景点</a></li>-->
            <!--<li><a href="#">全部景点</a></li>-->
            <!--<li><a href="#">全部景点</a></li>-->
            <!--<li><a href="#">山水景观</a></li>-->
            <!--<li><a href="#">温泉</a></li>-->
            <!--<li><a href="#">宾馆/招待所</a></li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--&lt;!&ndash; 排序块 &ndash;&gt;-->
    <!--<div class="sortBox" id="rank">-->
        <!--<ul class="rank">-->
            <!--<li class="current">推荐排序</li>-->
            <!--<li><a href="#">价格升序</a></li>-->
            <!--<li><a href="#">价格降序</a></li>-->
            <!--<li><a href="#">好评优先</a></li>-->
        <!--</ul>-->
    <!--</div>-->
<script src="../js/lib/jquery.js"></script>
<script src="../js/lib/plugins.js"></script>
<script src="../js/lib/jquery.alert.js"></script>
<script src="../js/lib/vlm.js"></script>
<script src="../js/lib/template.js"></script>
<script src="../js/lib/ejs.js"></script>
<script src="../js/lib/custom.js"></script>
<script id="tpl_GetHotCity" type="text/template">
   <% for(var i=0;i<9;i++){ %>
   <li title="<%= data.destCities[i].cityCode %>" ><a href="scenic_list.html?DestCityCode=<%= data.destCities[i].cityCode %>"><%= data.destCities[i].cityName %></a></li>
   <% } %>
</script>
<script id="tpl_GetHotSpot" type="text/template">
    <% for(var i = 0;i < hotelAndScenicList.length;i++){ %>
    <li>
        <a href="packages_detail.html?packageID=<%= hotelAndScenicList[i].productID %>&productPrice=<%= hotelAndScenicList[i].productPrice %>&status=1">
            <div class="img_box pr">
                <img src="<%= hotelAndScenicList[i].productPicUrl %>" class="banner-image" alt="img">
                <div class="hp-block index_price pa">
                    <span>￥</span>
                    <span class="pay-num pay_num"><%= hotelAndScenicList[i].productPrice %></span>
                    <span>起</span>
                    <!--<b class = "icon1 s-location"></b>{%=hotelAndScenicList[i].productSite%}-->
                </div>
            </div>
            <div class="spotDesc">
                <p class="name"><%= hotelAndScenicList[i].productName %></p>
                <p class="desc"><%= hotelAndScenicList[i].productDesc %></p>
            </div>
            <!--<div>-->
            <!--<span>￥</span><span class="pay-num">{%=hotelAndScenicList[i].productPrice%}</span><span>起</span>-->
            <!--</div>-->
        </a>
    </li>
    <% } %>
</script>
<script>
    (function(){
        var ww = this;
        vlm.init();
        var tour_index = function(){
            //   加载动画
            var flashLoad = function(){
                $(window).load(function () {
                    $("#status").fadeOut();
                    $("#preloader").delay(400).fadeOut("medium");
                });
            };
            //   获取城市
            var getCity = function(){
                var tmp={
                    "Parameters": {
                    },
                    "ForeEndType": 3,
                    "Code": "0209"
                };
                vlm.loadJson("",JSON.stringify(tmp),getCityCallback);
            };
            var getCityCallback = function(ret){
                var json=ret;
                if(json.success){
                    var data=json;

                    var str = $('#tpl_GetHotCity').html();
                    var tpl_GetExHotCity = ejs.render(str,data);
                    $('#hotPlace').append(tpl_GetExHotCity);

                    console.log(data);
                    $("#hotPlace").html(tpl_GetExHotCity);
                    //记录哪个城市被浏览
                    var arr=document.getElementById('hotPlace').children,citycho=window.location.search.split('=')[1];
                    for(var i=0;i<arr.length; i++)
                    {
                        if(arr[i].getAttribute('title') == citycho){
                            arr[i].className='jjin-active';
                        }
                    }
                    if(data.data.destCities.length == 0){
                        jAlert("抱歉暂时没有数据","提示");
                    }

                    //   选择目的地
                    var changeCity = function(){
                        var city = $('#hotPlace')[0].children;
                        for(var i=0; i < city.length; i++){
                            city[i].onclick = function(){
                                for(var j=0; j < city.length; j++){
                                    city[j].className = "";
                                }
                                this.className='jjin-active';
                            }
                        }
                    };
                    changeCity();
                }else {
                    jAlert(json.message,"提示");
                }
            };
            //   获取热门景点
            var getHotSpot = function() {
                var tmp = {
                    "Parameters":{"Isinternational":true,"PageNo":1,"PageSize":10}
                    ,"ForeEndType":3,
                    "Code":"001306"
                };
                vlm.loadJson("", JSON.stringify(tmp), getHotSpotCallback);
                function getHotSpotCallback(ret){
                    var json=ret;
                    if(json.success){

                        var data = json.data;
                        var str = $('#tpl_GetHotSpot').html();
                        var tpl_GetHotSpot = ejs.render(str,data);
                        $('#hotSpot').html(tpl_GetHotSpot);


                        console.log(data);
                        $("#hotSpot").html(tpl_GetHotSpot);
                        if(data.hotelAndScenicList.length == 0){
                            jAlert("抱歉暂时没有数据","提示");
                        }
                    }else {
                        jAlert(json.message,"提示");
                    }
                }
            };
            return{
                FlashLoad:flashLoad,
                GetCity:getCity,
                GetHotSpot:getHotSpot
            };
        }();
        ww.MT = ww.MT || {};
        ww.MT.load = function(){
            tour_index.FlashLoad();
            tour_index.GetCity();
            tour_index.GetHotSpot()
        };
        /**
         * 热门城市跳转
         * @param cityCode
         * @returns {boolean}
         * @constructor
         */
        MT.CurrentPageTolist = function(){

                window.location.href="../scenic/scenic_city.html?citycode=1&callback=tour/scenic_list.html";
                return false;

        }

        MT.load();
    })();

    $('#ht-back').click(function(){
        window.location.href='../index.html';
    });
</script>
</body>

</html>

