<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="green">
		<meta name="Keywords" content="亚程旅行网">
		<meta name="Description" content="境外专业旅行服务提供机构">
		<meta name="screen-orientation" content="portrait">
		<meta name="x5-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<meta name="x5-fullscreen" content="true">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
		<link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/splash/splash-icon-big.png">
		<link rel="apple-touch-startup-image" href="images/splash/splash-screen.png" 	media="screen and (max-device-width: 320px)" />
		<link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
		<link rel="apple-touch-startup-image" href="images/splash/splash-screen-six.png" media="(device-width: 375px)">
		<link rel="apple-touch-startup-image" href="images/splash/splash-screen-six-plus.png" media="(device-width: 414px)">
		<link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />
		<link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
		<link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
		<link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)"/>
		<link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)"/>
		<title>输入资料页 - 亚程旅行网</title>
		<link href="../styles/reset.css" type="text/css" rel="stylesheet">
		<link href="../css/plugins/jquery.alert/jqueryAlert.css" rel="stylesheet" type="text/css">
		<link href="../css/plugins/calendar/calendar1.0.2.css" rel="stylesheet">
		<link href="css/tour_search.css" rel="stylesheet">
		<link href="css/tours.css" rel="stylesheet">
		<link href="css/ht_tour.css" rel="stylesheet">
	</head>
	<body>
		<div id="preloader">
			<div id="status"></div>
		</div>
		<div class="all_elements">
			<!--   顶部   -->
			<header class="header">
				<a href="javascript:history.go(-1);" class="header_back"><i class="icon_back"></i></a>
				<h3>资料输入</h3>
			</header>
			<!--   内容   -->
			<div id="content" class="content">
				<section class="all_title zy_title">
					<h3 class="hotel">酒店</h3>
				</section>
				<section class="select_date zy_select_date">
					<div class="content2 zy_content2" id="date-range">
						<div class="nav2-left">
							<span class="nav2-leftbottom">共 <span id="total_day"> </span> 晚</span>
						</div>
						<div class="nav2-center">
							<div class="nav2-centertop">
								<p>
									<i>入住</i>
									<input name="CheckInDate" id="CheckInDate" value="" class="CheckInDateI" readonly="readonly" >
									<span id="week_span1"></span>
								</p>
							</div>
							<div class="nav2-centerbottom">
								<p>
									<i>离店</i>
									<input name="CheckOutDate" id="CheckOutDate" value="" class="CheckInDateI" readonly="readonly" >
									<span id="week_span2"></span>
								</p>
							</div>
						</div>
					</div>
				</section>
				<section class="hotelInfo_numb_room">
					<span class="title">房间</span>
					<div class="per-price-control room_number" data-type="extraRoom">
						<span id="room_downb" class="down_btn"></span>
						<i id="roomNum" class="change_num"></i>
						<span class="up_btn"></span>
					</div>
				</section>
				<section class="all_title zy_title">
					<h3>景点</h3>
				</section>
				<section id="tourTime" class="tourTime zy_tourTime">

				</section>
				<section class="orderBtn zy_orderBtn">
					<button id="order_btn">
						预订
					</button>
				</section>
			</div>
		</div>
		<!-- 错误的空白处理-->
		<div class="amy_error_box">
			<div>
				<img class="black" src="../images/error/blank.png">
				<dl>
					<dt>
						没有找到相关信息，请重新查询
					</dt>
					<dd>
						点击，<a href="javascript:history.go(-1);">返回上一页</a>
					</dd>
				</dl>
			</div>
		</div>
		<script src="../js/lib/jquery.js"></script>
		<script src="../js/lib/jquery.alert.js"></script>
		<script src="../js/lib/vlm.js"></script>
		<script src="../js/lib/template.js"></script>
		<script type="text/javascript" src="../plugins/calendar/d_calendar1.0.3.js"></script>
		<script id="tpl_GetTour" type="text/template">
			{% var start = defaultDepartStartDate.substring(0, 10).replace(/-/g, "/"),dd = new Date(start);dd.setDate(dd.getDate()+1); var week = day_ary[dd.getDay()]; start = dd.getFullYear()+"-"+(dd.getMonth()+1)+"-"+dd.getDate(); %}
			{% for(var i=0;i < tours.length;i++){ %}
			<div class="nav2-tour tour-out-div" id="content{%= i %}" data-tour-id="{%= tours[i].tourID %}">
			<div><i></i>{%= tours[i].tourName %}</div>
			<div>
			<input name="CheckInDate" id="content{%= i %}_CheckInDate" value="{%= start %}" class="content3_CheckInDate" readonly="readonly">
			<!-- <span id="content{%= i %}_week_span1" class="week-tour">{%= week %}</span> -->
			<i></i>
			</div>
			{% if(tours[i].tourSession.length == 1){ %}
			{% if(tours[i].tourSession[0] == 0){ %}
			<div class="zy_all_day clearfix">
			<div class="tourSelect tourcho">上午</div>
			</div>
			{% } else if(tours[i].tourSession[0] == 1) { %}
			<div class="zy_all_day clearfix">
			<div class="tourSelect tourcho">下午</div>
			</div>
			{% } else if(tours[i].tourSession[0] == 2) { %}
			<div class="zy_all_day clearfix">
			<div class="tourSelect tourcho">晚上</div>
			</div>
			{% } else if(tours[i].tourSession[0] == 3) { %}
			<div class="zy_all_day clearfix">
			<div class="tourSelect tourcho">全天</div>
			</div>
			{% } %}
			<!-- 有两个时间段-->
			{% }else if(tours[i].tourSession.length == 2){ %}
			{% if(tours[i].tourSession[0] == 0){ %}
			<div class="zy_all_day clearfix">
			<div class="tourSelect tourcho">上午</div>
			<div class="tourSelect">下午</div>
			</div>
			{% } else if(tours[i].tourSession[0] == 1) { %}
			<div class="zy_all_day clearfix">
			<div class="tourSelect tourcho">下午</div>
			<div class="tourSelect">晚上</div>
			</div>
			{% } %}
			<!-- 有三个时间段-->
			{% }else if(tours[i].tourSession.length == 3){ %}
			<div class="zy_all_day clearfix">
			<div class="tourSelect">上午</div>
			<div class="tourSelect">下午</div>
			<div class="tourSelect tourcho">晚上</div>
			</div>
			{% } %}
			</div>
			{% } %}
		</script>
		<script src="js/dateFixed_.js"></script>
	</body>

</html>

