<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="green">
  <meta name="Keywords" content="亚洲旅行网">
  <meta name="Description" content="境外专业旅行服务提供机构">
  <meta name="screen-orientation" content="portrait">
  <meta name="x5-orientation" content="portrait">
  <meta name="full-screen" content="yes">
  <meta name="x5-fullscreen" content="true">
  <title>酒+景套餐详情页 - 亚洲旅行网</title>
  <link href="../styles/reset.css" rel="stylesheet" />
  <link href="css/ht_tour.css" rel="stylesheet" />
<link href="../styles/swipebox.css" rel="stylesheet">
<link href="../css/plugins/jquery.alert/jqueryAlert.css" rel="stylesheet">
</head>
<body>
<div id="preloader" style="display: none;">
    <div id="status">
    </div>
</div>
<div class="all_elements">
	<!--   内容   -->
	<div>
		<section id="packageBox" class="pic_box">
			<!--<div>-->
			<!--<img src="../images/03-1_02.jpg" alt="">-->
			<!--<div class="pd-mb">-->
			<!--<div>八达岭长城 + 秋季采摘水果一日游</div>-->
			<!--<div>套餐编号：12345678</div>-->
			<!--</div>-->
			<!--</div>-->
		</section>
		<section id="tourTime" class="page_title">
			<!--<h3><b class="jd-icon s-you"></b>旅行适用时间：<i>2015-03-01至2016-12-31</i></h3>-->
		</section>
		<section class="page_tag" id="pageTag">
			<span class="current" data-c-id="pageTag_1">概况</span>
			<span data-c-id="pageTag_2">注意事项</span>
			<span data-c-id="pageTag_3">条款和条件</span>
		</section>

		<section class="detail_box">

			<div id="pageTag_1" style="overflow: auto;">

				<p class="pd_contitle">
					套餐包括
				</p>
				<div id="packDetailHt" style="margin-bottom: .08rem">

				</div>
				<ul id="tag1_con">
					<!--<li>06：30崇文门新侨诺富特饭店 （地铁2号线、5号线“崇文门站”A/B口出既是）</li>-->
				</ul>
			</div>

			<div id="pageTag_2" style="overflow: auto;display:none;"></div>
			<div id="pageTag_3" style="overflow: auto;display:none;"></div>

		</section>

	</div>
	<!--   底部预订   -->
	<div id="packagePrice" class="package_reserve">
		<!--<span class="all_num">套餐总额：<i>7816</i>起/人（<b></b>人起订）</span>-->
		<!--<a href="order-data-people.html" class="reserve">预订</a>-->
	</div>
</div>

<script src="../js/scenic.js"></script>
<script src="../js/lib/jquery.js"></script>
<script src="../js/lib/plugins.js"></script>
<script src="../js/lib/jquery.alert.js"></script>
<script src="../js/lib/vlm.js"></script>
<script src="../js/lib/template.js"></script>
<script id="tpl_getTopBox" type="text/template">

</script>
<script id="tpl_GetSpotOverview" type="text/template">
	{% for(var i=0;i < tours.length;i++){ %}
	<strong class="viewTitel">{%=tours[i].tourName%}</strong><li class="viewContent">{%=tours[i].overview%}</li>
	{% } %}
</script>
<script id="tpl_GetSpotImportantNotes" type="text/template">
	{% for(var i=0;i < tours.length;i++){ %}
	<strong class="noteTitel">{%=tours[i].tourName%}</strong><div class="note_content">{%=tours[i].importantNotes%}</div>
	{% } %}
</script>
<script id="tpl_GetTermsConditions" type="text/template">
	{%=termsConditions%}
</script>
<script>
	var maxExtensionNight;
	function go2order() {
		var url = '../tour/order-data-people.html';
//		if (vlm.checkLogin(url)) {
			window.top.location.href = url;
//		}
	}
	(function() {
		var ww = this, val = vlm.parseUrlPara(window.location.href);
		vlm.init();
		var package_detail = function() {
			//   套餐数据
			var getPackage = function() {
				var tpl1 =
          '<a class="com_icon go_back" href="javascript:history.go(-1);"></a>'+
					'<div class="first">'+
					'{% var imgs = imageGalleries;imgl = imgs.length; if(imgl==0){ %}'+
					'<img src="{%=pictureURL%}" alt="image">'+
					'{% }else{ %}'+
					'<a href="{%=imgs[0].imageURL%}" class="swipebox" title="1/{%=(imgl)%}">' +
					'<img src="../images/hotelDetailerrorpic.png" alt="image" id="tourLoad">'+
					'{% for(var i=1;i < imgl;i++){ %}'+
					'<a style="display:none;" href="{%=imgs[i].imageURL%}" class="swipebox" title="{%=(i+1)%}/{%=(imgl)%}">' +
					'<img src="{%=imgs[i].imageURL%}" alt="image"></a>'+
					'{% }} %}'+
					'<div class="pd_mb">'+
					'<div>产品编号：{%=packageRefNo%}</div>'+
					'</div>'+
					'{% if(imgl>0){ %}'+
					'<div style="position:absolute;top:12%;right:15px;font-size: .32rem;color:#ffffff;">{%=(imgl)%}张</div>'+
					'{% } %}'+
					'</div>';
				//var tpl1 = ['<div>', '{% var imgs = imageGalleries;imgl = imgs.length; if(imgl==0){ %}', '<img src="{%=pictureURL%}" alt="image">', '{% }else{ %}', '<a href="{%=pictureURL%}" class="swipebox" title="1/{%=(imgl+1)%}">' + '<img src="{%=pictureURL%}" alt="image">', '{% for(var i=0;i < imgl;i++){ %}', '<a style="display:none;" href="{%=imgs[i].imageURL%}" class="swipebox" title="{%=(i+2)%}/{%=(imgl+1)%}">' + '<img src="{%=imgs[i].imageURL%}" alt="image"></a>', '{% }} %}', '<div class="pd-mb">', '<div>{%=packageName%}</div>', '<div>套餐编号：{%=packageRefNo%}</div>', '{% if(imgl>0){ %}', '<div style="position:absolute;bottom:0;right:15px;font-size: 1.6rem;">{%=(imgl+1)%}张</div>', '{% } %}', '</div>', '</div>'].join('');
				var tpl2 =
					'<div>{%=packageName%}</div>'+
					'<h3>' +
					'</b>旅行适用时间：<i>{%=departValidFrom.substr(0,10)%}至{%=departValidTo.substr(0,10)%}</i></h3>';
				var tpl3 = ['<span class="all_num"><i class="frist">' + val.productPrice + '</i><i style="font-size: 0.28rem;">起/人</i>（<b>{%=minPax%}</b>人起订）</span>', '{% if(' + val.status + '=="1"){ %}', '<a href="javascript:go2order();" class="reserve">立即预订</a>', '{% } %}'].join('');
				var tpl4 = ['{%=inclusiveItem%}'].join('');
				var tmp = {
					"Parameters" : {
						"PackageID" : val.packageID
					},
					"ForeEndType" : 3,
					"Code" : "0202"
				};
				vlm.loadJson("", JSON.stringify(tmp), package_back);
				function package_back(ret) {
					var json = ret;
					console.log(json);
					if (json.success) {
						var data = json.data;
						var html_pb = template(tpl1, data);
						var html_tt = template(tpl2, data);
						maxExtensionNight = data.maxExtensionNight;
						var html_pp = template(tpl3, data);
						var html_det = template(tpl4, data);
						var tpl_GetSpotOverview = template("tpl_GetSpotOverview", data);
						var tpl_GetSpotImportantNotes = template("tpl_GetSpotImportantNotes", data);
						var tpl_GetTermsConditions = template("tpl_GetTermsConditions", data);
						$("#packageBox").html(html_pb);
						$('#tourTime').html(html_tt);
						$('#tag1_con').html(tpl_GetSpotOverview);
						$('#pageTag_2').html(tpl_GetSpotImportantNotes);
						$('#pageTag_3').html(tpl_GetTermsConditions);
						$('#packagePrice').html(html_pp);
						$('#packDetailHt').html(html_det);

            //替换图片
            $('#tourLoad').load(function(){
              $(this).attr('src',data.imageGalleries[0].imageURL);
            });

						localStorage.packageID = val.packageID;
						localStorage.productPrice = val.productPrice;
						$('.swipebox').click(function() {
							$('.gallery').hide(0);
							$('.portfolio-wide').hide(0);
						});
						$(".swipebox").swipebox({
							useCSS : true,
							hideBarsDelay : 0
						});
						$('.viewTitel').click(function(){
							$('.viewContent').eq($(this).index('.viewTitel')).toggle();
						});
						$('.noteTitel').click(function(){
							$('.note_content').eq($(this).index('.noteTitel')).toggle();
						});
						if (data.length == 0) {
							jAlert("抱歉暂时没有数据", "提示");
						}
					} else {
						console.log(json);
						jAlert(json.message, "提示");
					}
				}
			};

			return {
				//FlashLoad : flashLoad,
				GetPackage : getPackage
			};
		}();
		ww.MT = ww.MT || {};
		ww.MT.load = function() {
			//package_detail.FlashLoad();
			package_detail.GetPackage();
		};
		MT.load();

	})();
</script>
</body>

</html>

