<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="green">
		<meta name="Keywords" content="亚洲旅行网">
		<meta name="Description" content="境外专业旅行服务提供机构">
		<meta name="screen-orientation" content="portrait">
		<meta name="x5-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<meta name="x5-fullscreen" content="true">
		<title>酒+景景点列表页 - 亚洲旅行网</title>
		<link href="../styles/reset.css" rel="stylesheet">
		<link href="../styles/tips.css"	rel="stylesheet">
		<link href="../plugins/footer/footer.css" rel="stylesheet">
		<link href="css/ht_tour.css" rel="stylesheet">
	</head>
	<body>
		<div id="preloader">
			<div id="status"></div>
		</div>
		<div class="all_elements">
			<!--   顶部   -->
			<header class="header">
				<a href="javascript:history.go(-1);" class="header_back"><i class="icon_back"> </i></a>
				<h3>酒+景</h3>
			</header>
			<!--   内容   -->
			<div class="content">
				<ul id="scenicListCont" class="scenic_list_cont"></ul>
				<!--<ul class="scenic-list-cont">-->
				<!--<li class="s-li">-->
				<!--<a href="javascript:;">-->
				<!--<div class="sce-img-box">-->
				<!--<img src="images/water-cubic.jpg" alt="" class="sce-img"/ >-->
				<!--</div>-->
				<!--<div class="sce-detail">-->
				<!--<p class="sce-name-all">北京城市游：鸟巢水立方+军事博物馆一日游</p>-->
				<!--<div class="sce-det-fare">-->
				<!--<span class="sale-fare"><i>168</i> 元起/人</span>-->
				<!--<span class="old-fare">268元起/人</span>-->
				<!--</div>-->
				<!--</div>-->
				<!--</a>-->
				<!--</li>-->
				<!--</ul>-->
			</div>
			<!--   底部   -->

		</div>
		<script src="../js/lib/jquery.js"></script>
		<script src="../js/lib/jquery.alert.js"></script>
		<script src="../js/lib/vlm.js"></script>
		<script src="../js/lib/ejs.js"></script>
		<script src="../js/lib/lazyLoad.js"></script>
		<script src="../plugins/footer/foot.js"></script>
		<script id="tpl_Localtxt" type="text/template">
			<%=destCity%>
		</script>
		<script id="tpl_SearchAvailableToursAttractions" type="text/template">
			<% for(var i=0;i<lists.length;i++){ %>
			<li>
			<a href="packages_detail.html?packageID=<%=lists[i].packageID%>&productPrice=<%=lists[i].leadinPrice%>&status=1">
			<div class="sce_img_box">
			<img src="<%=lists[i].pictureURL%>" alt="景点图片">
			</div>
			<div class="sce_detail">
			<p><%=lists[i].packageName%></p>
			<div class="sce_det_fare">
			￥<i><%=lists[i].leadinPrice%></i> 起/人
			</div>
			</div>
			</a>
			</li>
			<% } %>
		</script>
		<script>
			/*景点 目标城市列表页MT*/
			(function() {
				var webkit = this, page = 1;
				var val = vlm.parseUrlPara(window.location.href);
				var SearchAvailableToursAttractions = {
					"Parameters" : {
						"DestCityCode" : val.DestCityCode,
						"ThemeID" : 0,
						"ThemeIDSpecified" : 0,
						"PriceSortType" : "LowToHigh",
						"PageIndex" : 1,
						"PageSize" : 10
					},
					"ForeEndType" : 3,
					"Code" : "0207"
				};
				var core = function() {
					var apiurl = "";
					var themeId = "";
					var defineProperty = {
						getthemeId : function() {
							return themeId;
						},
						setthemeId : function(value) {
							themeId = value;
						}
					};

					vlm.init();
					/**
					 * @获取景点列表
					 * @constructor
					 */
					var CLoadSearchAvailableToursAttractions = function(n) {
						if (n){
							
						}else{
							
						}
							vlm.loadJson(apiurl, JSON.stringify(SearchAvailableToursAttractions), SearchAvailableToursAttractionsCallback);
					};
					/**
					 * @获取景点列表 [CLoadSearchAvailableToursAttractions Callback]
					 * @param data
					 * @constructor
					 */
					var SearchAvailableToursAttractionsCallback = function(data) {
						var json = data;
						console.log(json);
						if (json.success) {
							var data = json.data, f_data = {
								PriceSortType : {
									title : "价格排序",
									c : "foot_sort",
									type : 1,
									s : 1,
									key : 'sortTypes',
									listData : [{
										sortText : "按价格从低到高",
										sortValue : "LowToHigh"
									}, {
										sortText : "按价格从高到低",
										sortValue : "HighToLow"
									}]
								},
								themes : {
									title : "过滤",
									c : "foot_t_filter",
									type : 1,
									s : 1,
									key : 'themes',
									listData : data.themes
								}
							};
							var str1 = $('#tpl_SearchAvailableToursAttractions').html(), str2 = $('#tpl_Localtxt').html(), str3 = $('#tpl_SpotScreen').html();
							var tpl_SearchAvailableToursAttractions = ejs.render(str1, data);
							var tpl_Localtxt = ejs.render(str2, data);
							//var tpl_SpotScreen = ejs.render(str3, data);
							$("#scenicListCont").html(tpl_SearchAvailableToursAttractions);
							$("#Localtxt").html(tpl_Localtxt);
							//$("#SpotScreen").html(tpl_SpotScreen);
							//							CBot_screen();
							if (data.lists.length == 0) {
								jAlert("抱歉暂时没有数据", "提示");
							}
							if (footer) {
								footer.data = f_data;
								footer.callback = filerCallBack;
							}
							footer.filters.init();
						} else {
							jAlert(json.message, "提示");
						}
						function filerCallBack() {
						}

					};

					/**
					 * @价格排序
					 * @constructor
					 */
					var CBindPriceSort = function() {
						var psort = $('#psort')[0];
						var priceSort = $('#priceSort');
						priceSort.toggle(function() {
							console.log(defineProperty.themeId);
							priceSort[0].style.opacity = "1";
							psort.className = "jd_icon s_rank";
							priceSort.find("i").addClass("red_tip");
							CLoadPriceSort("HighToLow", defineProperty.themeId);
						}, function() {
							psort.className = "s_ranks";
							priceSort.find("i").addClass("red_tip");
							CLoadPriceSort("LowToHigh", defineProperty.themeId);
						});
					};
					/**
					 * @价格排序
					 * @constructor
					 */
					var CLoadPriceSort = function(priceSort, themeId) {
						var val = vlm.parseUrlPara(window.location.href);
						var PriceSort = {
							"Parameters" : {
								"DestCityCode" : val.DestCityCode,
								"PriceSortType" : priceSort,
							},
							"ForeEndType" : 3,
							"Code" : "0207"
						};
						if (themeId != "") {
							PriceSort.Parameters.ThemeID = themeId;
						}
						vlm.loadJson(apiurl, JSON.stringify(PriceSort), PriceSortCallback);

					};

					/**
					 * @价格排序 [CLoadSearchAvailableToursAttractions Callback]
					 * @param data
					 * @constructor
					 */
					var PriceSortCallback = function(data) {
						var json = data;
						console.log(json);
						if (json.success) {
							var data = json.data;
							var str1 = $('#tpl_SearchAvailableToursAttractions').html(), str2 = $('#tpl_Localtxt').html(), str3 = $('#tpl_SpotScreen').html();
							var tpl_SearchAvailableToursAttractions = ejs.render(str1, data);
							var tpl_Localtxt = ejs.render(str2, data);
							var tpl_SpotScreen = ejs.render(str3, data);
							$("#scenicListCont").html(tpl_SearchAvailableToursAttractions);
							$("#Localtxt").html(tpl_Localtxt);
							$("#SpotScreen").html(tpl_SpotScreen);
							CBot_screen();
							//                    Loadmore();
							if (data.lists.length == 0) {
								jAlert("抱歉暂时没有数据", "提示");
							}
						} else {
							console.log(json);
							jAlert(json.message, "提示");
						}
					};

					/**
					 * @根据主题筛选
					 * @param themeid
					 * @constructor
					 */
					var CLoadFilterTheme = function(themeid) {
						var val = vlm.parseUrlPara(window.location.href);
						var SearchAvailableToursAttractions = {
							"Parameters" : {
								"DestCityCode" : val.DestCityCode,
								"ThemeID" : themeid
							},
							"ForeEndType" : 3,
							"Code" : "0207"
						};
						vlm.loadJson(apiurl, JSON.stringify(SearchAvailableToursAttractions), FilterThemeCallback);
					};

					/**
					 * @根据主题筛选 [CLoadFilterTheme Callback]
					 * @param data
					 * @constructor
					 */
					var FilterThemeCallback = function(data) {
						var json = data;
						console.log(json);
						if (json.success) {
							var data = json.data;
							var str = $('#tpl_SearchAvailableToursAttractions').html();
							var tpl_SearchAvailableToursAttractions = ejs.render(str, data);
							$("#scenicListCont").html(tpl_SearchAvailableToursAttractions);
							//                    Loadmore();
							if (data.lists.length == 0) {
								jAlert("抱歉暂时没有数据", "提示");
							}

						} else {
							console.log(json);
							jAlert(json.message, "提示");
						}
					};

					return {
						CLoadSearchAvailableToursAttractions : CLoadSearchAvailableToursAttractions,
						//CBot_screen : CBot_screen,
						CBindPriceSort : CBindPriceSort
					};

				}();
				webkit.MT = webkit.MT || {};
				webkit.MT.load = function() {
					core.CBindPriceSort();
					core.CLoadSearchAvailableToursAttractions();
					//core.CBot_screen();
				};

				MT.load();
			})();

			//城市返回记录已访问过
			$('#city-back-tip').click(function() {
				var cityvisited = window.location.search;
				window.location.href = 'index.html' + cityvisited;
			});
		</script>
	</body>
</html>
