<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
    <link rel="stylesheet" href="../styles/reset.css"/>
    <link rel="stylesheet" href="./css/hot_play.css"/>
    <link href="../css/plugins/footer/footer.css" rel="stylesheet" type="text/css">
    <title>当月热玩</title>
</head>
<body>
<!--<div id="preloader">-->
    <!--<div id="status"></div>-->
<!--</div>-->
<div class="all_elements" id="app">
    <!--top start-->
    <section class = "headerDiv">
        <a href="javascript:history.go(-1);" class="header_back">
            <i class="icon_back"></i>
        </a>
        <h3>海外门票</h3>
    </section>
    <!--header end-->
    <!--content start-->
    <section class = "contentDiv">
        <ul class = "label_div">
            <li @click="toggle(index ,tab.view)" v-for="(tab,index) in tabs" :class="{cur:active==index}" >{{tab.text}}</li>
        </ul>
        <ul class = "outTravelDiv">
                <li v-for="item in list">
                    <div class="outTravel_imgDiv"><img :src="item.pictureURL" alt=""/><span>￥<strong>{{item.leadinPrice}}</strong>起</span></div>
                    <div class = "outTravel_content">
                        <h3>{{item.packageName}}</h3>
                    </div>
                </li>
            </ul>
    </section>
</div>
<script src="../js/lib/jquery.js"></script>
<script src="../js/lib/plugins.js"></script>
<script src="../js/lib/jquery.alert.js"></script>
<script src="../js/lib/vlm.js"></script>
<script src="../js/lib/vue/vue@2.0.8.js"></script>
<script>
    (function(){
        var app = new Vue({
            el:"#app",
            data:{
              list:[],
              tabs:[
                    {
                        type: 'SIN',
                        text:"新加坡"
                    },
                    {
                        type: 'tab2',
                        text:"马来西亚"
                    },
                  {
                      type: 'tab2',
                      text:"泰国"
                  }, {
                      type: 'tab2',
                      text:"香港"
                  }
                ]

            },
          mounted:function(){
//                toggle(i, v){
//                    this.active = i;
//                    this.getjson(i);
//                },
            var that=this;
            function getjson() {
                    var tmp = {
                        "Parameters": {
                            "destCityCode":"SIN",
                            "pageIndex":"1",
                            "pageSize":"20"
                        },
                        "ForeEndType": 3,
                        "Code": "20100002"
                    };

                    vlm.loadJson("", JSON.stringify(tmp), function(json) {
                        if (json.success) {
                          var data = json.data;
                          that.list=data.lists;
                        } else {
                            console.log(json);
                            jAlert("数据格式错误", "提示");
                        }
                    });
                }
              getjson();
            }
        })
    })()
</script>
</body>
</html>
