<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
    <link rel="stylesheet" href="../styles/reset.css"/>
    <link rel="stylesheet" href="./css/hotel_topic.css"/>
    <link rel="stylesheet" href="../css/plugins/picCarousel/picCarousel.css"/>

    <title>热门专题</title>
</head>
<body>
<div id="preloader">
    <div id="status"></div>
</div>
<div class="all_elements" id="app">
    <!--top start-->
    <section class = "topDIv" @click="createDiv()">
        <div class = "top_imgDiv"><img :src="hotelInfo.carouselImage[0]" alt=""/></div>
        <div class="top_information">
            <a href="javascript:window.history.go(-1);"></a>
            <div>
                <span>1/{{hotelInfo.carouselImage.length}}</span>
            </div>
        </div>
    </section>
    <!--top end-->
    <!--hotelInfo start-->
    <section class = "hotelInfo">
        <h3>{{hotelInfo.productName}}</h3>
        <div class = "hotelInfo_content clearfix">
            <span class ="hotelInfo_content_label"></span>
            <span class = "fr hotelInfo_content_stat" v-on:click = "coutNum"><span class = "wantGo cur"><i class = "want"></i>想去(<em>{{hotelInfo.wantGo}}</em>)</span><span class = "haveBeen"><i class ="been"></i>去过(<em>{{hotelInfo.haveBeenTo}}</em>)</span></span>
        </div>
        <p class= "hotelInfo_special"><i class = "icon"></i><span v-for ="tagInfo in hotelInfo.tag">· {{tagInfo}}</span></p>
    </section>
    <!--hotelInfo end-->
    <!--specialLabel start-->
    <section class = "specialLabel">
        <span @click="toggle(index)" v-for="(tab,index) in tabs" :class="{cur:active==index}" >{{tab.text}}</span>
    </section>
    <!--specialLabel end-->
    <!--hotel special label start-->
    <section class = "hotelSpecial">
        <ul >
            <li v-for="item in hotelInfo.descriptionList[active].descDetail">
                <div class = "Special_imgDiv"><img :src="item.imageUrl" alt=""/></div>
                <p>{{item.detailDesc}}</p>
            </li>
        </ul>
    </section>
    <!--hotel special label end-->
    <!--address and phone start-->
    <section class = "contactDiv">
        <p><i></i> 80 Bras Basah Road 新加坡 新加坡</p>
        <p><i class = "phone"></i>400 88888888</p>
    </section>
    <section class = "expenseDiv">
        <div class ="expense_price">￥<strong>{{hotelInfo.price}}</strong>起/晚</div>
        <div class = "expense_reserve">立即预定</div>
    </section>
    <item class="item"
          v-for="model in tabs"
          :model="model">
    </item>
</div>
<script src="../js/lib/jquery.js"></script>
<script src="../js/lib/plugins.js"></script>
<script src="../js/lib/jquery.alert.js"></script>
<script src="../js/lib/vlm.js"></script>
<script src="../js/lib/vue/vue@2.0.8.js"></script>
<!-- 图片轮播 template -->
<script type="text/x-template" id="picCarousel-template">
    <div id="imageContainer">
        <h5 class="indexShow">1/0</h5>
        <div class="showZone">
            <ul class="imgUl" style="left: 0px; width: 100%;">
                <li class="noImage">暂无图片</li>
            </ul>
        </div>
    </div>
</script>
<script>
    (function(){
        // define the item component
        Vue.component('item', {
            template: '#picCarousel-template',
            props: {
                model: Object,
            },
            data: function () {
                return {
                    open: false
                }
            },
            computed: {
                isFolder: function () {
                    return this.model.children &&
                            this.model.children.length
                },
            },
            methods: {
                toggle: function () {
                    if (this.isFolder) {
                        this.open = !this.open
                    }
                },
                changeType: function () {
                    if (!this.isFolder) {
                        Vue.set(this.model, 'children', [])
                        this.addChild()
                        this.open = true
                    }
                },
                addChild: function () {
                    this.model.children.push({
                        name: 'new stuff'
                    })
                }
            }
        })
        var app = new Vue({
            el:"#app",
            data:{
                active: 0,
                hotelInfo:{},
                tabs: [
                    {
                        type: 'tab1',
                        text:"印象"
                    },
                    {
                        type: 'tab2',
                        text:"房型"
                    }
                ],
            },
            mounted:function(){
                var that=this;
                //banner
                function LoadBanner() {
                    var tmp = {
                        "Parameters": {
                            "productCategory":vlm.getpara("productCategory"),
                            "productID":vlm.getpara("productID")
                        },
                        "ForeEndType": 3,
                        "Code": "10100044"
                    };
                    console.log(tmp);
                    vlm.loadJson("", JSON.stringify(tmp), function(json) {
                        if (json.success) {
                            vlm.init();
                            var data = json.data;
                            that.hotelInfo=data.topicGeneralMessage;
                        } else {
                            console.log(json);
                            jAlert("数据格式错误", "提示");
                        }
                    });
                }
                LoadBanner();
            },
            methods:{
                toggle:function(i){
                    this.active = i;
                },
                coutNum:function(){
                    var onck = true;
                    $(".hotelInfo_content_stat>span").on("click",function(){
                        var emHtml = $(this).find("em").html();
                        var num = parseInt(emHtml)+1;
                        $(this).find("em").html(num);
                        onck=false;
                    })
                },
            }
        })
    })()
</script>
</body>
</html>