<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
    <link rel="stylesheet" href="../styles/reset.css"/>
    <link rel="stylesheet" href="./css/hotel_topic.css"/>
    <title>热门专题</title>
</head>
<body>
<div class="all_elements" id="app">
    <!--top start-->
    <section class = "topDIv">
        <div class = "top_imgDiv"><img src="../images/activity/banner.png" alt=""/></div>
        <div class="top_information">
            <a href="javascript:window.history.go(-1);"></a>
            <div>
                <span>1/20</span>
            </div>
        </div>
    </section>
    <!--top end-->
    <!--hotelInfo start-->
    <section class = "hotelInfo">
        <h3>{{hotelInfo.productName}}</h3>
        <div class = "hotelInfo_content clearfix">
            <span class ="hotelInfo_content_label"></span>
            <span class = "fr hotelInfo_content_stat"><span class = "cur"><i class = "want"></i>想去({{hotelInfo.wantGo}})</span><span><i class ="been"></i>去过({{hotelInfo.haveBeenTo}})</span></span>
        </div>
        <p class= "hotelInfo_special"><i class = "icon"></i><span v-for ="tagInfo in hotelInfo.tag">· {{tagInfo}}</span></p>
    </section>
    <!--hotelInfo end-->
    <!--specialLabel start-->
    <section class = "specialLabel">
        <span @click="toggle(index)" v-for="(tab,index) in tabs" :class="{cur:active==index}" >{{tab.text}}</span>
    </section>
    <!--specialLabel end-->
    <!--hotel special label start-->
    <section class = "hotelSpecial">
        <ul >
            <li v-for="item in hotelInfo.descriptionList[active].descDetail">
                <div class = "Special_imgDiv"><img :src="item.imageUrl" alt=""/></div>
                <p>{{item.detailDesc}}</p>
            </li>
        </ul>
    </section>
    <!--hotel special label end-->
    <!--address and phone start-->
    <section class = "contactDiv">
        <p><i></i> 80 Bras Basah Road 新加坡 新加坡</p>
        <p><i class = "phone"></i>400 88888888</p>
    </section>
    <section class = "expenseDiv">
        <div class ="expense_price">￥<strong>1208</strong>起/晚</div>
        <div class = "expense_reserve">立即预定</div>
    </section>
</div>
<script src="../js/lib/jquery.js"></script>
<script src="../js/lib/plugins.js"></script>
<script src="../js/lib/jquery.alert.js"></script>
<script src="../js/lib/vlm.js"></script>
<script src="../js/lib/vue/vue@2.0.8.js"></script>
<script>
    (function(){
        var app = new Vue({
            el:"#app",
            data:{
                active: 0,
                hotelInfo:{},
                tabs: [
                    {
                        type: 'tab1',
                        text:"印象"
                    },
                    {
                        type: 'tab2',
                        text:"房型"
                    }
                ],
            },
            mounted:function(){
                var that=this;
                //banner
                function LoadBanner() {
                    var tmp = {
                        "Parameters": {
                            "productCategory":vlm.getpara("productCategory"),
                            "productID":vlm.getpara("productID")
                        },
                        "ForeEndType": 3,
                        "Code": "10100044"
                    };
                    console.log(tmp);
                    vlm.loadJson("", JSON.stringify(tmp), function(json) {
                        if (json.success) {
                            var data = json.data;
                            that.hotelInfo=data.topicGeneralMessage;
                        } else {
                            console.log(json);
                            jAlert("数据格式错误", "提示");
                        }
                    });
                }
                LoadBanner();
            },
            methods:{
                toggle:function(i){
                    this.active = i;
                }
            }
        })
    })()
</script>
</body>
</html>