html,body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    margin: 0;
    padding: 0;
}
div, section {
    display: block;
}

body, button {
    font: 400 14px/1.5 Arial,"Lucida Grande",Verdana,"Microsoft YaHei",hei;
    min-width: 320px;
    background: #f5f5f5;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-user-select: none;
}



.fl {
    float: left;
}

.fr {
    float: right;
}

.cfl{
    clear: left;
}

.cfr{
    clear: right;
}

.cfb{
   clear: both;
}

.cp{
    cursor: pointer;
}


ul, li {
    list-style: none;
}

/*ui-view-1*/
.sc-contentcity{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: auto;
    height: auto;
    padding-top: 45px;
    /*padding-bottom: 20px;*/
    z-index: 2;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /*-webkit-transform: translate3d(0, 0, 0);*/
    /*-moz-transform: translate3d(0, 0, 0);*/
    /*-ms-transform: translate3d(0, 0, 0);*/
    /*-o-transform: translate3d(0, 0, 0);*/
    /*transform: translate3d(0, 0, 0);*/
    background-color: #ffffff;
}
.sctop-cha{
    position: absolute;
    right: 17%;
    font-size: 2rem;
    color: #999999;
    display: none;
}
.sctop-quit{
    position: absolute;
    top:0;
    right:10px;
    color:white;
}
.sccity-list{
    width: 92%;
    margin-left: 15px;
    margin-right: 15px;
}
.sccity-list li{
    border-bottom:1px solid #dedede;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.t-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    line-height: 44px;
    /*text-align: center;*/
    color: #fff;
    z-index: 99;
    -webkit-transform: translate3d(0,0,0);
    background: -webkit-linear-gradient(#16364f,#194361);
    background: -o-linear-gradient(#16364f,#194361);
    background: -moz-linear-gradient(#16364f,#194361);
    background: linear-gradient(#16364f,#194361);
}

.t-header-icon{
    display: inline-block;
    background-image: url(../../scenic/images/ui/icons.png);
    background-repeat: no-repeat;
    background-size: 243px 160px;
}

.t-header-iconsize{
    position: relative;
    width: 12px;
    height: 22px;
    left: 15px;
    top: 12px;
}
.all-elementcity{

}
.t-search-inputbox {
    width: 100%;
    height: 30px;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    padding: 0 0px 0 28px;
    background-color: #FFF;
    border-radius: 5px;
    background-image: url("../../images/1.png");/*../images/1.png*/
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 4px 7px;
}

.t-search-view{
    display: inline-block;
    cursor: pointer;

}

.t-search-viewsize{
    margin-left: 2.7rem;
    width: 70%;
}

.t-searchBox-viewsize{
    width: 95%;
    right: 10px;
}

.main-frame {
    min-width: 240px;
    height: 100%;
}

.main-viewport {
    position: relative;
    height: 100%;
}

/*ui-view-2*/
.gui-tab-view{
    height: 44px;
}

.gui-tab-mod {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 43px;
    border-bottom: #bcbcbc 1px solid;
    background-color: #fafafa;
    color: #666;
    font-size: 15px;
    position: fixed;
    width: 100%;
    z-index: 1;
}


.gui-tab-mod li {
    text-align: center;
    line-height: 43px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.gui-tab-mod li.gui-tab-current {
    color: #ffb413;
}

.gui-tab-mod .gui-tab-scrollbar {
    position: absolute;
    left: 0px;
    height: 2px;
    bottom: -1px;
    background-color: #ffb413;
    z-index: -1;
}

.gui-tab {
    width: 50%;
}


.gui-city-itmes {
    margin-top: 44px;
}

.gui-city-itmes .gui-city-t {
    color: #666;
    background-color: #efefef;
    /*border-bottom: #bcbcbc 1px solid;*/
    line-height: 20px;
    padding: 8px 10px;
    display: block;
}




.city-tags {
    /*background-color: #fff;*/
    /*overflow: hidden;*/
    /*padding: 0 20px 10px 10px;*/
    width: 100%;
    font-size: 1.4rem;
    list-style: none;
    margin-bottom: 0;
}
.city-content1 , .city-cur{
    width: 100%;
    list-style: none;
    padding: 0 1.0rem 1.0rem;
    background: #f5f4f9;
    margin-bottom: 0;
    min-height: 4.4rem;
    overflow: hidden;
}
.city-tags li.current,.city-tags li.hot-city {
    color: #ffb413;
    /*border: solid 1px #ffb413;*/
    width: 29%;
    height: 2.5rem;
    line-height: 2.5rem;
    /*color: #a0a0a0;*/
    list-style: none;
    text-align: center;
    border: 0.1rem solid #dfdfdd;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    float: left;
    margin: 1.0rem 1.0rem 0 0;
    padding-left:0;
}
.city-tags li.hot-city{
    color: #666;
    background-color:#f5f4f9;
}
.city-tags li {
    /*width: 30%;*/
    /*float: left;*/
    /*height: 30px;*/
    /*line-height: 30px;*/
    /*padding: 0 5px;*/
    /*box-sizing: border-box;*/
    /*text-align: center;*/
    /*margin: 10px 3% 0 0;*/
    /*position: relative;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*border: solid 1px #dfdfdd ;*/
    /*border-radius: 3px;*/
    width: 100%;
    font-size: 1.4rem;
    list-style: none;
    height: 3.2rem;
    line-height: 3.2rem;
    padding-left: 1.0rem;
    text-align: left;
    border-bottom: 0.1rem solid #e6e6e6!important;
    margin-bottom: 0;
    background: #FFFFFF;
}
.tags-cut {
    width: 28px;
    height: calc(100% - 85px);
    padding: 15px 0 0;
    box-sizing: border-box;
    position: fixed;
    top: 85px;
    z-index: 99;
    right: 0;
    /*background-color: rgba(255,255,255,.5);*/
    text-transform: uppercase;
    color: #ffb413;
    font-size: 10px;
    text-align: center;
    overflow-y: scroll;
}
.tags-cut li {
    position: relative;
    height: 1.2rem;
}
.tags-cut li:nth-child(1),.tags-cut li:nth-child(2),.tags-cut li:nth-child(3){
    position: relative;
    height: 1.2rem;
}
.pop_box_dis{
    position:fixed;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 300;
    overflow-y: scroll;
}
.pop_bg{
    background:#fff;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:101;
}
.pop_box{
    width: 100%;
    position:relative;
    background:#fff;
    z-index: 110;
}
.pop_box .t-header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 46px;
    background: linear-gradient(#16364f, #194361);
    background: -webkit-linear-gradient(#16364f, #194361);
    background: -moz-linear-gradient(#16364f, #194361);
    background: -o-linear-gradient(#16364f, #194361);
}
.pop_box span.js-backpage{
    position: absolute;
    width: 12px;
    height: 22px;
    left: 15px;
    top: 12px;
}
.pop_box .t-header-icon {
    display: inline-block;
    background-image: url(../../scenic/images/ui/icons.png);
    background-repeat: no-repeat;
    background-size: 243px 160px;
}
.pop_box .t-search-view{
    margin-left: 32px;
    /*margin-right:60px;*/
    width: 70%;
}
.pop_box .t-search-view input{
    /*padding:0 30px 0 30px;*/
}
.pop_box .cancelBtn{
    color:#fff;
    position:absolute;
    right:7px;
    top: 6px;
    width:3rem;
    line-height: 40px;
}
.pop_box .pop_list{
    padding-top: 3px;
}

.pop_box .pop_list>li{
    border-bottom:1px solid #efefef;
    margin:0 1px;
    padding: 5px 11px;
    position:relative;
}
.pop_box .empty_history dt{
    border-bottom:1px solid #efefef;
    padding:15px 11px;
    margin:0px 1px 0px;
    line-height:20px;
}
.pop_box .empty_history dd{padding-top:10px;}
.pop_box .empty_history dd a{
    text-align:center;
    color:#609cc6;
    letter-spacing:1px;
}
.pop_box .t-search-viewsize span{
    position: absolute;
    width: 22px;
    height: 22px;
    right: 5px;
    top: 9px;
    background-image: url(../../images/ui/icon.png);
    background-repeat: no-repeat;
    background-size: 397px 118px;
    background-position: 40% 30%;
    /*padding: 0 10px;*/
    /*font-family: arial;*/
    /*color: #000;*/
    /*line-height: 30px;*/
    display:none;
}
.pop_box .not_exist{
    color: #609cc6;
    text-align: center;
    display:none;
    padding-top: 50px;
}


/*other css wenshuang*/
.stopgray {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    pointer-events:none;
}




