<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="green">
    <meta name="Keywords" content="亚洲旅行网">
    <meta name="Description" content="境外专业旅行服务提供机构">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/splash/splash-icon-big.png">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen.png" 	media="screen and (max-device-width: 320px)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six.png" media="(device-width: 375px)">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six-plus.png" media="(device-width: 414px)">
    <link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />
    <link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
    <link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
    <link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)"/>
    <link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)"/>

    <title>机+酒机票列表 - 亚洲旅行网</title>
    <link href="../styles/framework.css" rel="stylesheet"/>
    <link href="../styles/style.css" type="text/css" rel="stylesheet">
    <link href="css/hf_list.css" rel="stylesheet"/>
    <link href="../styles/tips.css"	rel="stylesheet">
</head>
<body>
    <div class="all-elements">
        <header class="big-title">
            <a href="javascript:window.history.go(-1);" class="header-back" style="z-index: 4"><i class="icons go-back"></i></a>
            <span class="set-place"></span>
            <i class="direction-double"></i>
            <span class="to-place"></span>
        </header>
        <div class="date-place-info">
            <div class="date-place-info-content">
                    <span class="week-day-info">
                        去程&nbsp;
                        <span class="ticket-double-date start-date">
                            <span id="departData"></span>
                            <span id="departWeek"></span>
                        </span>
                    </span>
                <span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                    <span class="week-day-info">
                        回程&nbsp;
                        <span class="ticket-double-date end-date">
                            <span id="returnData"></span>
                            <span id="returnWeek"></span>
                        </span>
                    </span>
                <span class="search-info-tip">查询日期为出发地日期</span>
            </div>
        </div>
        <div id="content" class="fi-content">
            <!--<ul class="air-tickets-detail air-tickets-detail-wrapper">-->
                <!--<li class="air-tickets-detail seat-detail" data-set-id="1">-->
                    <!--<div class="time-airport">-->
                        <!--<div class="go">-->
                            <!--<div class="go-info">-->
                                <!--<div class="start-time-info start-time-info-double">-->
                                    <!--<span class="start-icon"></span>-->
                                    <!--<span class="time-number">07:00</span>-->
                                    <!--<span class="air-port-word">浦东T2</span>-->
                                <!--</div>-->
                                <!--<div class="total-time-info">-->
                                    <!--<span class="time-hour-minute">11h30m</span>-->
                                    <!--<span class="arrow-time"></span>-->
                                    <!--<span class="air-port-word">转莫斯科</span>-->
                                <!--</div>-->
                                <!--<div class="end-time-info">-->

                                    <!--<span class="time-number">09:15</span>-->
                                    <!--<span class="air-port-word">洛杉矶B</span>-->
                                    <!--<span class="tip-add-days">+1天</span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<p class="small-info-double ">-->
                                <!--南航CZ9270<span>&nbsp;|&nbsp;</span>商务舱 | <span class="green-tip">经停</span> | <span class="green-tip">共享</span>-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--<div class="go">-->
                            <!--<div class="go-info">-->
                                <!--<div class="start-time-info start-time-info-double">-->
                                    <!--<span class="end-icon"></span>-->
                                    <!--<span class="time-number">07:00</span>-->
                                    <!--<span class="air-port-word">浦东T2</span>-->
                                <!--</div>-->
                                <!--<div class="total-time-info">-->
                                    <!--<span class="time-hour-minute">11h30m</span>-->
                                    <!--<span class="arrow-time"></span>-->
                                    <!--<span class="air-port-word">转莫斯科</span>-->
                                <!--</div>-->
                                <!--<div class="end-time-info">-->
                                    <!--<span class="tip-add-days">+1天</span>-->
                                    <!--<span class="time-number">09:15</span>-->
                                    <!--<span class="air-port-word">洛杉矶B</span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<p class="small-info-double ">-->
                                <!--南航CZ9270<span>&nbsp;|&nbsp;</span>商务舱-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<b class="hf-icon hf-gou"></b>-->
                <!--</li>-->
                <!--<li class="air-tickets-detail seat-detail" data-set-id="1">-->
                    <!--<div class="time-airport">-->
                        <!--<div class="go">-->
                            <!--<div class="go-info">-->
                                <!--<div class="start-time-info start-time-info-double">-->
                                    <!--<span class="start-icon"></span>-->
                                    <!--<span class="time-number">07:00</span>-->
                                    <!--<span class="air-port-word">浦东T2</span>-->
                                <!--</div>-->
                                <!--<div class="total-time-info">-->
                                    <!--<span class="time-hour-minute">11h30m</span>-->
                                    <!--<span class="arrow-time"></span>-->
                                    <!--<span class="air-port-word">转莫斯科</span>-->
                                <!--</div>-->
                                <!--<div class="end-time-info">-->

                                    <!--<span class="time-number">09:15</span>-->
                                    <!--<span class="air-port-word">洛杉矶B</span>-->
                                    <!--<span class="tip-add-days">+1天</span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<p class="small-info-double ">-->
                                <!--南航CZ9270<span>&nbsp;|&nbsp;</span>商务舱 | <span class="green-tip">经停</span> | <span class="green-tip">共享</span>-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--<div class="go">-->
                            <!--<div class="go-info">-->
                                <!--<div class="start-time-info start-time-info-double">-->
                                    <!--<span class="end-icon"></span>-->
                                    <!--<span class="time-number">07:00</span>-->
                                    <!--<span class="air-port-word">浦东T2</span>-->
                                <!--</div>-->
                                <!--<div class="total-time-info">-->
                                    <!--<span class="time-hour-minute">11h30m</span>-->
                                    <!--<span class="arrow-time"></span>-->
                                    <!--<span class="air-port-word">转莫斯科</span>-->
                                <!--</div>-->
                                <!--<div class="end-time-info">-->
                                    <!--<span class="tip-add-days">+1天</span>-->
                                    <!--<span class="time-number">09:15</span>-->
                                    <!--<span class="air-port-word">洛杉矶B</span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<p class="small-info-double ">-->
                                <!--南航CZ9270<span>&nbsp;|&nbsp;</span>商务舱-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<b class="hf-icon hf-gou"></b>-->
                <!--</li>-->
                <!--<li class="air-tickets-detail seat-detail" data-set-id="1">-->
                    <!--<div class="time-airport">-->
                        <!--<div class="go">-->
                            <!--<div class="go-info">-->
                                <!--<div class="start-time-info start-time-info-double">-->
                                    <!--<span class="start-icon"></span>-->
                                    <!--<span class="time-number">07:00</span>-->
                                    <!--<span class="air-port-word">浦东T2</span>-->
                                <!--</div>-->
                                <!--<div class="total-time-info">-->
                                    <!--<span class="time-hour-minute">11h30m</span>-->
                                    <!--<span class="arrow-time"></span>-->
                                    <!--<span class="air-port-word">转莫斯科</span>-->
                                <!--</div>-->
                                <!--<div class="end-time-info">-->

                                    <!--<span class="time-number">09:15</span>-->
                                    <!--<span class="air-port-word">洛杉矶B</span>-->
                                    <!--<span class="tip-add-days">+1天</span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<p class="small-info-double ">-->
                                <!--南航CZ9270<span>&nbsp;|&nbsp;</span>商务舱 | <span class="green-tip">经停</span> | <span class="green-tip">共享</span>-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--<div class="go">-->
                            <!--<div class="go-info">-->
                                <!--<div class="start-time-info start-time-info-double">-->
                                    <!--<span class="end-icon"></span>-->
                                    <!--<span class="time-number">07:00</span>-->
                                    <!--<span class="air-port-word">浦东T2</span>-->
                                <!--</div>-->
                                <!--<div class="total-time-info">-->
                                    <!--<span class="time-hour-minute">11h30m</span>-->
                                    <!--<span class="arrow-time"></span>-->
                                    <!--<span class="air-port-word">转莫斯科</span>-->
                                <!--</div>-->
                                <!--<div class="end-time-info">-->
                                    <!--<span class="tip-add-days">+1天</span>-->
                                    <!--<span class="time-number">09:15</span>-->
                                    <!--<span class="air-port-word">洛杉矶B</span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<p class="small-info-double ">-->
                                <!--南航CZ9270<span>&nbsp;|&nbsp;</span>商务舱-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<b class="hf-icon hf-gou"></b>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<div class="price-up">以下航班需加<span>￥811.20</span></div>-->
            <!--<ul class="air-tickets-detail air-tickets-detail-wrapper">-->
                <!--<li class="air-tickets-detail seat-detail" data-set-id="1">-->
                    <!--<div class="time-airport">-->
                        <!--<div class="go">-->
                            <!--<div class="go-info">-->
                                <!--<div class="start-time-info start-time-info-double">-->
                                    <!--<span class="start-icon"></span>-->
                                    <!--<span class="time-number">07:00</span>-->
                                    <!--<span class="air-port-word">浦东T2</span>-->
                                <!--</div>-->
                                <!--<div class="total-time-info">-->
                                    <!--<span class="time-hour-minute">11h30m</span>-->
                                    <!--<span class="arrow-time"></span>-->
                                    <!--<span class="air-port-word">转莫斯科</span>-->
                                <!--</div>-->
                                <!--<div class="end-time-info">-->

                                    <!--<span class="time-number">09:15</span>-->
                                    <!--<span class="air-port-word">洛杉矶B</span>-->
                                    <!--<span class="tip-add-days">+1天</span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<p class="small-info-double ">-->
                                <!--南航CZ9270<span>&nbsp;|&nbsp;</span>商务舱 | <span class="green-tip">经停</span> | <span class="green-tip">共享</span>-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--<div class="go">-->
                            <!--<div class="go-info">-->
                                <!--<div class="start-time-info start-time-info-double">-->
                                    <!--<span class="end-icon"></span>-->
                                    <!--<span class="time-number">07:00</span>-->
                                    <!--<span class="air-port-word">浦东T2</span>-->
                                <!--</div>-->
                                <!--<div class="total-time-info">-->
                                    <!--<span class="time-hour-minute">11h30m</span>-->
                                    <!--<span class="arrow-time"></span>-->
                                    <!--<span class="air-port-word">转莫斯科</span>-->
                                <!--</div>-->
                                <!--<div class="end-time-info">-->
                                    <!--<span class="tip-add-days">+1天</span>-->
                                    <!--<span class="time-number">09:15</span>-->
                                    <!--<span class="air-port-word">洛杉矶B</span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<p class="small-info-double ">-->
                                <!--南航CZ9270<span>&nbsp;|&nbsp;</span>商务舱-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<b class="hf-icon hf-gou"></b>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
        <!--<div class="hl-bottom">-->
            <!--<div class="fo-div" id="fo_aw">-->
                <!--<b class="hf-icon ic-aw"></b>-->
                <!--<i class="red-tip"></i>-->
                <!--<span class="filter-select">航空公司</span>-->
            <!--</div>-->
            <!--<div class="fo-div" id="fo_so">-->
                <!--<b class="jd-icon s-rank"></b>-->
                <!--<i class=""></i>-->
                <!--<span class="filter-select">快速排序</span>-->
            <!--</div>-->
            <!--<div class="fo-div" id="fo_sc">-->
                <!--<b class="hl-icon3 filter"></b>-->
                <!--<i class="red-tip"></i>-->
                <!--<span class="filter-select">筛选</span>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <script src="../js/lib/jquery.js"></script>
    <script src="../js/lib/plugins.js"></script>
    <script src="../js/lib/jquery.alert.js"></script>
    <script src="../js/lib/vlm.js"></script>
    <script src="../js/lib/template.js"></script>
    <script src="js/flight_list.js"></script>
    <!--<script id="tpl_flightList" type="text/template">-->
        <!--{% for(var i=0;i< flightInfoListGroup.length;i++){ %}-->
        <!--{% if(flightInfoListGroup[i].additionalPrice!=0){ %}-->
        <!--<div class="price-up">以下航班需加<span>￥{%=flightInfoListGroup[i].additionalPrice%}</span></div>-->
        <!--{% } %}-->
        <!--{% } %}-->
    <!--</script>-->
</body>
</html>