.pr{
    position: relative;
}
.pa{
    position: absolute;
}
.content_bgfff{
    background: #fff;
}
/*index  beigin*/
.index_abroad{
    color:#333;
}
.index_abroad a{
    color: #333;
}
.index_abroad .title{
    height: 32px;
    line-height: 0.8rem;
    color: #666;
    font-size: 0.3rem;
    font-weight: 700;
    padding: 0 0.26rem;
    margin: 0;
}
.index_abroad_box {
    padding-top: 10px;
}
.index_abroad_box li{
    width:2.12rem;
    height:0.68rem;
    line-height:0.68rem;
    text-align: center;
    margin-left: 0.25rem;
    margin-bottom:0.28rem;
    border: 1px solid #d1d1d1;
    border-radius:0.3rem;
    overflow: hidden;
    float: left;
}
.index_abroad_box li.jjin-active{
    background: #fff;
    border: 1px solid #ffb413!important;
}
.index_abroad_box li.jjin-active a{
    color: #ffb413;
}
.index_hotspot{
    padding:0 0.2rem;
}
.index_hotspot  .hp-block{
    height: 0.72rem;
    line-height: 0.72rem;
    color:#fff;
    padding: 0 0.2rem;
    left: 0;
    bottom:0.36rem;
    background: rgba(0,0,0,0.7);
}
.index_hotspot .spotDesc{
    padding:0.3rem 0 0.5rem 0;
}
.index_hotspot .spotDesc p.name{
    font-size: 0.3rem;
    font-weight: bold;
}
.index_hotspot .spotDesc p.desc{
    color: #666;
    font-size: 0.26rem;
    padding-top:0.14rem
}




/*index  end*/

















