.pr{
    position: relative;
}
.pa{
    position: absolute;
}
.header .header_back{
    position: absolute;
    height: 100%;
    width: 1.15rem;
    left: 0;
}
.content_bgfff{
    background: #fff;
}
/*index  beigin*/
.header .tour_more{
    height: 0.88rem;
    line-height: 0.88rem;
    position:absolute;
    right:0.56rem;
    top: 0;
}
.header .location_tip{
    width:0.3rem;
    height:0.32rem;
    margin-top: -0.16rem;
    background-image: url(../../images/ui/icons.png);
    background-position: -3.0rem -0.10rem;
    background-size:4.86rem 3.21rem;
    position: absolute;
    right:-0.3rem;
    top: 50%;
}
.index_abroad{
    color:#333;
}
.index_abroad a{
    color: #333;
}
.index_abroad .title{
    height:0.64rem;
    line-height: 0.64rem;
    color: #666;
    font-size: 0.3rem;
    font-weight: 700;
    padding: 0.28rem 0.26rem 0 0.26rem;
    margin: 0;
}
.index_abroad_box li{
    width:2.12rem;
    height:0.68rem;
    line-height:0.68rem;
    text-align: center;
    margin-left: 0.25rem;
    margin-top:0.28rem;
    border:0.01rem solid #d1d1d1;
    border-radius:0.3rem;
    overflow: hidden;
    float: left;
}
.index_abroad_box li.jjin-active{
    background: #fff;
    border:0.01rem solid #ffb413!important;
}
.index_abroad_box li.jjin-active a{
    color: #ffb413;
}
.index_hotspot{
    padding:0.3rem 0.2rem 0;
}
.index_hotspot  .hp-block{
    height: 0.72rem;
    line-height: 0.72rem;
    color:#fff;
    padding: 0 0.2rem;
    left: 0;
    bottom:0.36rem;
    background: rgba(0,0,0,0.7);
}
.index_hotspot .spotDesc{
    padding:0.3rem 0 0.5rem 0;
}
.index_hotspot .spotDesc p.name{
    font-size: 0.3rem;
    font-weight: bold;
}
.index_hotspot .spotDesc p.desc{
    color: #666;
    font-size: 0.26rem;
    padding-top:0.14rem
}
.index_price{
    font-size: 0.1rem;
}
.index_price span{
    display: inline-block;
}
.index_price span:nth-child(1){
    margin-top: -0.1rem;
    position: relative;
    top: -0.1rem;
}
.index_hotspot .img_box .pay_num{
    font-size: 0.4rem;
    margin: 0 -0.02rem 0 -0.1rem;
}
/*index  end*/
/*酒店列表  begin*/
.hotel_list{
    background: #fff;
    margin-bottom:0.98rem;
}
.hotel_list li{
    height:2.08rem;
    border-bottom:0.01rem solid #CCC;
    clear: both;
    position: relative;
}
.hotel_list .h_choose{
    width: 0.42rem;
    height: 0.42rem;
    position: absolute;
    right: 0;
    display: none;
}
.hotel_list .ho_pic{
    width: 1.68rem;
    height: 1.68rem;
    position: absolute;
    left:0.2rem;
    top: 0.2rem;
}
.hotel_list img.ho_img{
    width: 1.68rem;
    height: 1.68rem;
}
.hotel_list .ho_infor{
    position: absolute;
    left: 2.08rem;
    top: 0.22rem;
}
.hotel_list .name{
    width: 3.8rem;
    font-size: 0.32rem;
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.hotel_list .grade{
    padding-top:0.42rem;
}
.hotel_list .price{
    height: 0.8rem;
    line-height: 0.8rem;
    color: #ff5b13;
    font-size: 0.4rem;
    margin-top: -0.4rem;
    position: absolute;
    right:0.38rem;
    top: 50%;
}
.hotel_list .price span:nth-child(2){
    font-size: 0.3rem;
    margin-left:-0.08rem;
    margin-right:-0.08rem;
}
.hotel_list .price span:nth-child(1),.hotel_list .price span:nth-child(2){
    position: relative;
    top: -0.02rem;
}
/*酒店footer*/
.hotel_footer{
    width: 100%;
    height: 0.98rem;
    line-height: 0.98rem;
    color: #fff;
    background:rgba(0,0,0,0.8);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
}
.hotel_footer .fo{
    width: 33.33333333333%;
    text-align: center;
    line-height: 0.44rem;
    float: left;
}
.hotel_footer .icon{
    display: block;
    width:0.36rem;
    height:0.30rem;
    margin: 0.16rem auto 0;
    background-image: url(../../images/ui/icon_common.png);
    background-size:7.9rem 5.13rem;
}
.hotel_footer .hl_icon1{
    background-position:-1.2rem -2.42rem;
}
.hotel_footer .hl_icon2{
    background-position:-1.84rem -2.42rem;
}
.hotel_footer .hl_icon3{
    height: 0.38rem;
    margin-top: 0.12rem;
    margin-bottom:-0.03rem;
    background-image: url(../../images/ui/icon-hft.png);
    background-size:7.5rem 4.54rem;
    background-position:-3.4rem -2.87rem;
}






/*酒店列表  end*/
















