/*all-order*/
#idul li{
    height: 55px;
    padding: 5px 15px;
    line-height: 42px;
}
#idul li a{
    padding-left: 18px;
    background-image: url(../images/icon_arrow.png);
    background-position: right center;
    background-size: 8.5px 15px;
    background-repeat: no-repeat;
    color: #000;
}
#idul li img{
    width:42px;
    height:42px;
    float: left;
}

/*hotel-Inter*/
#h-Tab{
    display: -moz-box;  /* Firefox */
    display: -ms-flexbox;    /* IE10 */
    display: -webkit-box;    /* Safari */
    display: -webkit-flex;    /* Chrome, WebKit */
    display: box;
    display: flexbox;
    display: flex;
    background: #FFF none repeat scroll 0% 0%;
}
#h-Tab a{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1.0;
    text-align: center;
    line-height: 40px;
}
#h-Tab .on{
    color: #ffb413;
    border-bottom: 2px solid #ffb413;
}
#h-Tab .off{
    color: #484848;
    border-bottom: 2px solid #fff;
}
.Inter{
    font-size: 14px
}
.Dom{
    font-size: 14px
}
.content1{
    height:auto;
    background: #FFFFFF;
    margin: 10px 0;
    border-bottom: 1px solid #dedede;
}
.nav1{
    height: 45px;
}
.nav11{
    display: -moz-box;  /* Firefox */
    display: -ms-flexbox;    /* IE10 */
    display: -webkit-box;    /* Safari */
    display: -webkit-flex;    /* Chrome, WebKit */
    display: box;
    display: flexbox;
    display: flex;
    margin: 16px 15px;
    flex-flow: row;
    position: relative;
}
.nav111{
    width: 88px;
}
.aim{
    line-height: 16px;
    font-size: 14px;
}
.nav112{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1.0;
}
.choose-aim{
    line-height: 16px;
    font-size: 13px;
    color: #999;
}
.choose-aim input{
    display: inline;
    font-size: 12px;
    color: #999;
    font-family: 'Microsoft YaHei', STHeiti, Verdana, sans-serif;
}
.choose-aim div{
    display: inline;
    font-size: 12px;
    color: #999;
    font-family: 'Microsoft YaHei', STHeiti, Verdana, sans-serif;
}
.content2{
    height: 93px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.nav2{
    display: -moz-box;  /* Firefox */
    display: -ms-flexbox;    /* IE10 */
    display: -webkit-box;    /* Safari */
    display: -webkit-flex;    /* Chrome, WebKit */
    display: box;
    display: flexbox;
    display: flex;
    height: 91px;
    flex-flow: row;
}
.nav2-left{
    width: 60px;
    margin: 9px 15px 9px 15px;
    font-size: 12px;
    color: #484848;
}
.nav2-lefttop{
    height: 36px;
    line-height: 40px;
}
.nav2-leftbottom{
    height: 36px;
    line-height: 20px;
}
.nav2-leftbottom span{
    color: #FFB413
}
.nav2-center{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1.0;
}
.nav2-centertop{
    height: 46px;
    border-bottom: 1px solid #dedede;
}
.nav2-center input{
    width: 85px;
    /*border: 1px solid red;*/
    line-height: 45px;
    margin-left: 10px;
    font-size: 14px;
    color: #484848;
    font-family: 'Microsoft YaHei', STHeiti, Verdana, sans-serif;
}
.nav2-center p{

    display: inline-flex;
    line-height: 45px;
}
.nav2-leftbottom{
    height: 45px;
}
.nav2-centerright{
    width: 20px;
    margin: 9px 15px 9px 15px;
}
.nav2-centerright a{
    background-image: url(../images/icon-h.png);
    background-repeat: no-repeat;
    background-size: 402px 174px;
    background-position: -245px 0 ;
    position: absolute;
    width: 34px;
    height: 34px;
    left: 0;
    top: 15px;

}
.content3{
    height: 45px;
}
.nav3{
    display: -moz-box;  /* Firefox */
    display: -ms-flexbox;    /* IE10 */
    display: -webkit-box;    /* Safari */
    display: -webkit-flex;    /* Chrome, WebKit */
    display: box;
    display: flexbox;
    margin: 12px 15px;
    display: flex;
    flex-flow: row;
}
.nav3-left{
    width: 60px;
}
.nav3-left div{
    line-height: 22px;
    font-size: 14px;
}
.nav3-right{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1.0;
}
.nav3-right div{
    margin:0 0 0 25px;
    line-height: 23px;
    font-size: 12px;
    color: #999;
}
.nav3-right input{
    line-height: 25px;
    color: #000
    font-family: 'Microsoft YaHei', STHeiti, Verdana, sans-serif;
}
.icons1{
    background-image: url(../images/icons1.png);
    background-repeat: no-repeat;
    background-size: 400px 120px;
    display: inline-block;
}
.add{
    position: absolute;
    width: 25px;
    height: 22px;
    top: 50%;
    margin-top: -11px;
    background-position: 0 0 ;
    right: 30px;
}
.minus{
    position: absolute;
    width: 25px;
    height: 22px;
    top: 50%;
    margin-top: -11px;
    background-position: -32px 0 ;
    right: 0;
}
.content4{
    height: 91px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.nav4{
    display: -moz-box;  /* Firefox */
    display: -ms-flexbox;    /* IE10 */
    display: -webkit-box;    /* Safari */
    display: -webkit-flex;    /* Chrome, WebKit */
    display: box;
    display: flexbox;
    height: 91px;
    display: flex;
    flex-flow: row;
}
.nav4-left{
    width: 60px;
    margin: 9px 15px 9px 15px;
}
.nav4-left div{
    line-height: 25px;
    font-size: 14px;
}
.nav4-center{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;
    flex: 1.0;
}
.nav4-center p{
    line-height: 45px;
    margin: 0 15px 0 10px;
    font-size: 12px;
    color: #484848;
}
.nav4-center span{
    margin-left: -15px;
}
.nav4-center input{
    display: inline;
    line-height: 45px;
    margin: 0 15px 0 0;
    font-size: 12px;
    color: #484848;
    width: 20px;
}
.nav4-centertop{
    height: 46px;
    border-bottom: 1px solid #dedede;
}
.nav4-centerbottom{
    height: 45px;
}
.content5{
    height: 45px;
}
.content5 input{
    line-height: 45px;
    margin: 0 0 17px 15px;
    font-size: 12px;
    color: #999;
    font-family: 'Microsoft YaHei', STHeiti, Verdana, sans-serif;
}
.aa{
    height: 44px;
    margin: 25px 0 0 0;
}
.aa div{
    margin: 0 12px;
}
.hotelInter{
    font-family: 'Microsoft YaHei', STHeiti, Verdana, sans-serif;
    width: 100%;
    color: #fff;
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    min-width: 60px;
    border-radius: 3px;
    text-align: center;
    background-color: #FFB413;
}
.footer{
    width: 100%;
    height: 44px;
    background: linear-gradient(#16364f,#194361);
    position: fixed;
    bottom: 0;
    text-align: center;
    z-index: 9999998;
    margin-top: -10px;
}
.footer span{
    font-size: 9px;
    color: #f5f4f9;
    line-height: 44px;
}
/*hotel-Dom*/


#arr2{
    display: none;
}
.aim1{
    line-height: 16px;
    font-size: 14px;
}

.choose-aim1{
    font-size: 13px;
    color: #999;
    height: 24px;
    line-height: 16px
}
.choose-aim1 input{
    display: inline;
    font-size: 12px;
    color: #999;
    font-family: 'Microsoft YaHei', STHeiti, Verdana, sans-serif;
}
.right1{
    background-position: -100px -44px;
    position: absolute;
    width: 10px;
    height: 20px;
    right: 25px;
}
.position{
    background-image: url(../images/icon-h.png);
    background-repeat: no-repeat;
    background-size: 402px 174px;
    background-position: -325px -113px ;
    position: absolute;
    width: 19px;
    height: 40px;
    right: -2px;
    top: -4px;
}

.hotelInter1{
    margin: 20px 12px;
    color: #fff;
    height: 44px;
    line-height: 44px;
    min-width: 60px;
    border-radius: 3px;
    text-align: center;
    font-size: 1.2rem;
    background-color: #FFB413;
}

/*hotel-finsh*/

#hotelul li{
    height: 113px;
    /*line-height: 35px;*/
    margin-bottom: 10px;
}
#hotelul li img{
    width:15px;
    height:15px;
    float: left;
}
.ull li{
    padding: 0;
}
.div{
    height: 35px;
    /*border: 1px solid red;*/
}
.span1{
    float: right;
    line-height: 15px;
    color: #FBB00E;
    font-size: 12px;
}
.div1{
    margin: 10px 15px 10px 15px;
    /*border: 1px solid black;*/
}
.div1 a{
    color: #484848;
    font-size: 13px;
    line-height: 15px;
}
#hotelul a{
    padding-left: 7px;
    float: left;
}
.rep{
    height: 78px;
    border-top: 1px solid #dedede;
}
.sss{
    margin: 10px 15px 10px 15px;
    /*border: 1px solid black;*/
}
.sss div{
    line-height: 19px;
}
.sss1{
    line-height: 15px;
    font-size: 15px;
    color: #000;
    /*border: 1px solid black;*/
}
.ull .sss1 span{
    font-size: 15px
}
.sss1 span b{
    font-size: 10px;
    /*display: inline;*/
    font-weight: normal;
}
.sss2{
    line-height: 25px;
    font-size: 12px;
    color: #000;
}
.sss3{
    /*border: 1px solid red;*/
    line-height: 15px;
    font-size: 11px;
    color: #999;
}
.span2{
    font-size: 12px;
    color: #999;
    line-height: 15px;
}
.ww{
    width: 65px;
    height: 25px;
    border: 1px solid #FFB413;
    border-radius: 4px;
    background-color: #FFF;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
    color: #FFB413;
    position: absolute;
    right: 0px;
    top: 30px;
    padding-left: 0px!important;
}
.span3{
    float: right;
    line-height: 15px;
    color: #fe6a00;
    font-size: 12px;
}
.www{
    width: 65px;
    height: 25px;
    border: 1px solid #FFB413;
    background: #FFB413;
    border-radius: 4px;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    position: absolute;
    right: 0px;
    top: 30px;
    padding-left: 0px!important;
}
/*hotel-details*/


.a{
    background-image: url(../images/icon_arrow.png);
    background-position: right center;
    background-size: 8.5px 15px;
    background-repeat: no-repeat;
    color: #000;
}
.a1{
    background-image: url(../images/icon_arrow.png);
    background-position: right center;
    background-size: 8.5px 15px;
    background-repeat: no-repeat;
    color: #4a4a4a;
    margin-right: 15px;
}
.sure{
    height: 87px;
    background: #fff;
}
.sure1{
    line-height: 35px;
    text-align: center;
    font-size: 15px;
    font-weight:bold;
    color: #ffb413;
    border-bottom: 1px solid #dedede;
    margin: 0 23px;
}
.sure2{
    height: 52px;
}
.sure21{
    height: 52px;
    margin: 0 18px;
}
.tenor{
    margin: 10px 19px;
    height: 10px;
    overflow: visible;
}
.q1{
    width:100%;
    overflow: visible;
}
.q2{
    width: 33%;
    position: relative;
    float: left;
    overflow: visible;
}
.q11{
    width:10px;
    height: 10px;
    border-radius: 20px;
    background: orange;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
}
.q12{
    width:10px;
    height: 10px;
    border-radius: 20px;
    background: #d0d0d3;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
}
.q22{
    height: 1px;
    background: #ffb413;
    margin: 5px 5px 0 15px;
}
.q23{
    height: 1px;
    background: #d6d6d6;
    margin: 5px 5px 0 15px;
}

.q111{
    width:10px;
    height: 10px;
    border-radius: 20px;
    background: #d0d0d3;
    position: absolute;
    top: 0;
    right: -10px;
    overflow: visible;
}
.q1 p{
    font-size: 11px;
    margin-left: 15px;
    padding: 0;
    position: absolute;
    width: 100px;
    top:15px;
    left: -30px;
    color: #484848;
}
.reserve{
    height: 133px;
    background: #fff;
    margin: 10px 0;
    border-bottom: 1px solid #dedede;
}
.reserve-top{
    height: 55px;
    margin: 0 15px;
}
.reserve-top1{
    font-weight:bold;
    font-size: 15px;
    color: #000;
    line-height: 35px;
}
.reserve-top2{
    font-size: 11px;
    color: #999999;
    line-height: 15px;
}
.reserve-bottom{
    height: 78px;
    border-top: 1px solid #dedede;
    margin: 0 15px 10px 15px;
}
.reserve-bottom1{
    font-weight:bold;
    font-size: 14px;
    color: #000;
    line-height: 33px;
}
.reserve-bottom2{
    font-size: 11px;
    color: #999;
    line-height: 13px;
}
.reserve-bottom3{
    font-size: 11px;
    color: #999;
    line-height: 28px;
}
.pay{
    height: 36px;
    border-bottom: 1px solid #dedede;
    background: #fff;
}
.pay1{
    font-size: 15px;
    color: #000;
    line-height: 36px;
    margin-left: 15px;
}
.a1-1{
    font-size: 18px;
    color:#fe6a03;
}
.a1-1 b{
    font-size: 12px;
    font-weight: normal;
}
.a1-2{
    float: right;
    margin-right: 15px;
    color:#ffb401;
    font-size: 10px;
}
.bookinfo{
    height: 147px;
    background: #fff;
    margin: 10px 0;
    border-bottom: 1px solid #dedede;
}
.bookinfo1{
    height: 31px;
    margin: 0 15px;
    line-height: 31px;
    color: #484848;
    font-size: 12px;
}
.bookinfo2{
    height: 115px;
    border-top: 1px solid #dedede;
    margin: 0 15px;
    line-height: 23px;
    display: flex;
    flex-flow: row;
}
.bookinfo2-1{
    width: 72px;
    color: #999999;
}
.bookinfo2-1 span{
    font-size: 11px;
    display: block;
}
.bookinfo2-2{
    flex: 1.0;
    color: #484848;
}
.bookinfo2-2 span{
    color: #484848;
    display: block;
    font-size: 11px;
}
.hotelInter2{
    font-size: 12px;
    margin: 15px auto;
    color:#fe6a03;
    width: 115px;
    height: 33px;
    line-height: 33px;
    min-width: 60px;
    border-radius: 3px;
    text-align: center;
    background-color: #F5F4F9;
    border: 1px solid #fe6a03;
}

/*ȡ��*/
#choose{
    display: none;
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.choose-content{
    display: none;
    position: absolute;
    width: 291px;
    height: 172px;
    background: #FFFFFF;
    top: 50%;
    left: 50%;
    margin-left: -145.5px;
    margin-top: -86px;
    border-radius: 4px;
    z-index: 99999;
}
.choose-content1{
    border-bottom: 1px solid #ececec;
    margin: 25px 22px 0 22px;
    height: 90px;
    line-height: 23px;
}
.choose-content11{
    font-size: 14px;
    color: #484848;
}
.choose-content12{
    font-size: 14px;
    color: #000;
}
.choose-content2{
    margin: 10px 10px;
    height: 37px;
}
.No{
    width: 130px;
    height: 37px;
    border: 1px solid #FFB413;
    border-radius: 4px;
    background-color: #FFF;
    line-height: 37px;
    text-align: center;
    font-size: 14px;
    color: #FFB413;
    float: left;
}
.Yes{
    width: 130px;
    height: 37px;
    border: 1px solid #FFB413;
    border-radius: 4px;
    background-color: #FFB413;
    line-height: 37px;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 11px;
    float: left;
}