body{
  line-height:normal;
}
ul li,ol li{
    list-style:none;margin:0;padding:0;
}

.all-elements i{
    font-style:normal;
}
.all-elements em{
    font-style:normal;
}
b{
    font-weight:normal;
}
h1,h2,h3,h4,h5,h6{
    margin:0;padding:0;
}
ol,ul{
    margin:0;padding:0;
}
div{
    line-height:normal;
    font-weight:normal;
    margin:0;padding:0;
}
.hr_con_box p{
    margin:0;padding:0;line-height:normal;
    font-weight:normal;
}
.hr_con_box{
    position:absolute;top:0;right:0;left:0;bottom:0;overflow:auto;
    margin-top:45px;
}
.center-text{
    display:block;
    text-align:center;
    position:relative;
    top:60%;
    line-height:2rem;
    font-size:1.2rem;
    letter-spacing:0;
    font-family: 'Microsoft YaHei', STHeiti, Verdana, sans-serif;
    color:#666;
}
.center-text em{
    font-size:10px!important;
    display:block;
    font-style:normal;
}



.all_elements{
    position:absolute;
    overflow-x:hidden!important;
    width:100%;
    height:100%;
    min-height:100%;
    max-height:100%;
}
header,section,footer{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}
header{
    width:100%;
    height:45px;background:#163852;line-height:45px;padding:0 1.5rem;	font-size:1.75rem;color:#fff;text-align:center;

}
header i{
    width:1.25rem;height:2rem;	background:url(../images/icons.png) 0 0;background-size:24.3rem 16rem;margin-top:8px

}
.lsf_reAll_grade{
    width:100%;height:45px;border-bottom:1px dashed #dedede;line-height:45px;padding:0 1.5rem;font-size:1.4rem;color:#999999;
}
.lsf_reAll_grade .lsf_grade1{
    font-size:1.8rem;color:#55bfb7;
}
.lsf_reDetail_grade{
    width:100%;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    border-bottom:1px solid #dedede;
    padding:1rem 0;
}
.lsf_reDetail_grade section{
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;

    border-right:1px dashed #dedede;
    color:#484848;
    padding:0 1.5rem;
}
.lsf_reDetail_grade section p{
    line-height:normal;
    font-size:1.4rem;
}
.lsf_reDetail_grade section .lsf_gra_p2{
    margin-top:1rem;
}
.lsf_reDetail_grade .last_sec{
    border:0;
}
.lsf_reDiscuss{
    width:100%;
}
.lsf_reDiscuss .reBox{
    border-bottom:1px solid #dedede;
    padding:1.2rem 1.5rem 1rem;
}
.lsf_reDetail_grade span{
    -webkit-box-flex:1;
    flex:1;
}
.lsf_reDetail_grade span i{
    margin-left:0.8rem;font-weight:bold;
}
.lsf_reSta{
    width: 85px;height:14px;margin-top:3px;
}
.lsf_reSta li{
    width:1.2rem;height:1.2rem;line-height:1.1rem;margin:0px 1px;background:url(../images/ui/icons1.png) -2.6rem -3.8rem;background-size:40rem 12rem;
}
.lsf_reTitle h2{
    font-size:1.6rem;color:black;	font-weight:normal;
}
.lsf_reDiscuss p{
    font-size:1.2rem;line-height:1.5rem;
    padding-top:1rem;color:#999999;
}
.comments{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    position:relative;
}
.comments span {
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    display:block;
    margin-right:1.5rem;
    font-size:1.4rem;
}
.comments i{

}
.lsf_reDiscuss p i{
    width:1.5rem;height:1.5rem;background:url(../images/ui/icons.png) -16.9rem -0.5rem;background-size:24.3rem 16rem;margin-bottom:0;cursor:pointer;
    position:absolute;bottom:0;right:0;
}
.lsf_reUser{
    width:100%;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    margin-top:0.6rem;
}
.lsf_reUser .reu_span1{
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -mz-flex:1;
    -webkit-flex:1;
    flex:1;
    font-size:1.3rem;
    color:#484848;

}
.lsf_reUser .reu_span1 b{
    font-size:1.3rem;
}
.lsf_reUser .reu_span2{
    width:85px;font-size:1.3rem;
}
.lsf_reUser span i{
    margin-left: 0.4rem;
}
.lsf_reUser span i img{
    width:1rem;height:1rem;
}

.hr_more{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #dedede;
    font-size: 1.6rem;
}