.uo_box{
    position:absolute;top:0;right:0;left:0;bottom:0;overflow:auto;
}
em,b,i{
    font-weight:normal;
    font-style:normal;
}
.uo_con1{
    width:100%;
    margin-top:45px;padding:0 15px;
    font-size:1.2rem;color:#fff;
    background:#fad485;
}
.uo_con1 div{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    display:-webkit-flex;
}
.uo_con1 p{
    margin:0;padding:0;
}
.uo_con1 div p{
    margin:0;padding:0;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -ms-flex:1;
    -webkit-flex:1;
    flex:1;
}
.uo_c1_info{
    white-space:nowrap;
    text-overflow:ellipsis;overflow:hidden;
    -webkit-text-overflow:ellipsis;
}
.uo_con1 div i{
    display:inline-block;
    width:20px;height:18px;background:url("../images/lsf_down1.png") no-repeat right center;
    background-size:11px 6px;
}
.uo_con2{
    padding:15px 15px 0px 15px;
    border-bottom:1px solid #dedede;
}
.uo_con2 h3,.uo_con2 p{
    margin:0;padding:0;
}
.uo_con2 h3{
    font-size:1.5rem;
}
.uo_con2 p{
    color:rgb(153,153,153);
}
.uo_con2  .uo_house{
    border-bottom:1px solid #dedede;
    padding-bottom:10px;
}
.uo_con2 .uo_c2_infor{
    font-size:1.3rem;color:rgb(72,72,72);
}
.uo_con2 .uo_con2_chil2{
    overflow:hidden;height:40px;
}
.uo_con2 .uo_con2_chil2 p{
    line-height:40px;
}
.uo_con2 .uo_con2_chil2 em{
    font-size:1.3rem;color:#000;
    line-height:40px;margin-left:54px;
}
.uo_con2 .uo_con2_chil2 i{
    width:24px;height:24px;
    margin-top:8px;
}
.uo_c2_i1{
    background:url("../images/ui/icons1.png") -35px 0;
    background-size:400px 120px;    margin-left:10px;
}
.uo_c2_i2{
    background:url("../images/ui/icons1.png") -3px 0;
    background-size:400px 120px;
}
.uo_con3{
    width:100%;
    font-size:1.2rem;
    background:#fff;
}
.uo_c3_peoBox{
    width:100%;height:100%;
}
.uo_c3_peo{
    padding:0 15px;
    border-bottom:1px solid #dfe0db;
}
.uo_c3_infor{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
}
.uo_c3_infor input{
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -ms-flex:1;
    -webkit-flex:1;
    flex:1;
    background:none;
}
.uo_c3_peo div{
    height:40px;line-height:40px;
}
.uo_c3_div1{
    color:#484848;border-bottom:1px solid #dfe0db;
}
.uo_c3_teBox{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    height:40px;line-height:40px;
    padding:0 15px;
    font-size:1.2rem;
    border-bottom:1px solid #dfe0db;
}
.uo_c3_teBox p{
    width:92px;
    height:100%;line-height:40px;
}
.uo_c3_teBox input{
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -ms-flex: 1;
    -webkit-flex:1;
    flex:1;
    background:none;
}
.uo_con4{
    padding:15px 40px;
    font-size:10px;color:rgb(117,117,117);
    overflow:hidden;
    text-align:center;
    background:#f5f4f9;
}
.uo_con4 i{
    width:17px;height:17px;background:url(../images/ui/icons1.png) -266px -4px;
    background-size:400px 120px;margin-top:2px;
}
.uo_con4 a{
    display:inline;
    font-size:10px;color:#feb932;
}
.uo_con5 {
    padding:0 15px;font-size:10px;color:rgb(117,117,117);
    background:#f5f4f9;
    margin-bottom:47px;
}
.uo_con5 p{
    margin:0;padding:0;line-height:1.6rem;
}
.uo_footer{
    position:fixed;
    bottom:0;left:0;
    background:#fff;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    height:47px;
    width:100%;
    border-top:1px solid #d6d6d6;
}
.uo_footer p{
    margin:0;padding:0;
}
.uo_or_pr{
    font-size:1.2rem;
    line-height:normal;
    color:rgb(254,106,3);
}
.uo_or_pr p{
    line-height:normal;
}
.uo_or_sum1{
    font-size:1.8rem;
}
.uo_or_sum{
    -webkit-box-flex:6;
    -moz-box-flex:6;
    -ms-flex:6;
    flex:6;
    -webkit-flex:6;
    padding-left:15px;
    font-size:1.3rem;
    color:rgb(72,72,72);
    overflow:hidden;

    margin-top:4px;
}
.uo_or_sum span{
    color:rgb(254,106,3);
    font-size:1.2rem;
}
.uo_or_infor{
    margin:0;
    line-height:47px;
    -webkit-box-flex:2;
    -moz-box-flex:2;
    -ms-flex:2;
    -webkit-flex:2;
    flex:2;
    overflow:hidden;
}
.uo_or_infor i{
    width:12px;height:10px;
    background:url("../images/ui/icons1.png") -51px -38px;
    background-size:400px 120px;
    margin-top:18px;margin-left:2px;
}
.uo_footer input{
    -webkit-box-flex:3;
    -moz-box-flex:3;
    -ms-flex:3;
    -webkit-flex:3;
    flex:3;
    background:#ffb413;border:0;
    outline:none;
    color:#fff;
    font-size:1.4rem;
}
.uo_hid{
    padding:0 1.5rem;border-bottom:1px solid #d6d6d6;
    position:fixed;left:0;top:0;width:100%;


    height:0;

}
.uo_hid_shadow{
    position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.5);
}
.uo_hid_con{
    padding:0 1.5rem;
    background:#fff;height:160px;width:100%;
    position:absolute;left:0;bottom:0;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
    margin-bottom:-320px;
}
.uo_hid p{
    margin:0;padding:0;
}
.uo_hid_det{
    overflow:hidden;
    border-bottom:1px solid #d6d6d6;
}
.uo_hid_det p{
    line-height:40px;
}
.uo_hid_p1{
    font-size:1.4rem;color:#000;
}
.uo_hid_p2{
    font-size:1.2rem;color:rgb(153,153,153);
}
.uo_hid_price{
    border-bottom:1px solid #d6d6d6;
    font-size:1.4rem;color:rgb(254,71,22);font-weight:normal;
}
.uo_hid_price p{
    line-height:34px;
}
.uo_hid_met{
    height:50px;line-height:50px;font-size:1.4rem;color:rgb(153,153,153);
}
.uo_shadow{
    position:absolute;left:0;top:0;width:100%;height:100%;
    background:rgba(0,0,0,0.5);

    display:none;
}
.uo_hid_con6{
    background:#fff;
    position:absolute;left:15px;top:60px;right:15px;bottom:20px;
    overflow:auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius:4px;

    display:none;
}
.uo_hid_con6 h4,.uo_hid_con6 p{
    margin:0;padding:0;width:100%;
}
.uo_c6_text{
    margin-top:15px;
}
.uo_c6_header{
    padding:0 12px;
    height:40px;background:#ffb412;
    overflow:hidden;
}
.uo_c6_header h3{
    margin:0;padding:0;
    font-size:1.4rem;color:#fff;
    line-height:40px;font-weight:normal;
}
.uo_c6_header i{
    width:18px;height:18px;
    background:url("../images/ui/icon.png") -86px -35px ;
    background-size:396px 118px;
    margin-top:11px;
}
.uo_hid_con6 h4{
    padding:0 12px;
    font-size:1.4rem;color:#000;font-weight:normal;
    margin-top:15px;
}
.uo_hid_con6 p{
    padding:0 12px;
    font-size:1.1rem;color:rgb(72,72,72);
}