<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="green">
    <meta name="Keywords" content="亚洲旅行网">
    <meta name="Description" content="境外专业旅行服务提供机构">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/splash/splash-icon-big.png">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen.png" 	media="screen and (max-device-width: 320px)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six.png" media="(device-width: 375px)">
    <link rel="apple-touch-startup-image" href="images/splash/splash-screen-six-plus.png" media="(device-width: 414px)">
    <link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />
    <link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
    <link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
    <link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)"/>
    <link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)"/>
    <title>订单详情-已支付</title>
    <link href="../styles/framework.css" rel="stylesheet" type="text/css">
    <link href="../styles/style.css" rel="stylesheet" type="text/css">
    <link href="css/detail_amy.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="preloader">
    <div id="status">
        <p class="center-text"></p>
    </div>
</div>
<div class="jhf-box">
    <!--nav-->
    <div class="jhf-nav">
        <a class="j-back jpa" href="javascript:history.go(-1);" id = "j_back"><i></i></a>
        <div class="j-title">
            <p class="bigtit">订单详情</p>
        </div>
        <a class="j-lick phone jpa" href="javascript:;" id="jPone"></a>
    </div>
    <!--content-->
    <div class="j-content jpr" id = "jpr">
        <div class="jpay-tit">
            {% if(isContinuePay){ %} <p class="willpay">未支付</p>{% }else{ %} <p class="hadpay">已支付 {% } %}</p>
            {% if(isContinuePay){ var d=new Date(Date.parse(createTime.replace("T"," ").replace(/-/g, "/")));d.setMinutes(d.getMinutes()+30); %}
            <span class = "willpay-span">请在{%= d.getHours()+":"+d.getMinutes() %} 前完成支付</span>
            {% } %}
        </div>
        <!--fight-->
        {% if(flightInfo.segmentsReturn.length>0){ %}
        <div class="jpay-t jp-fl">
            <i></i>
            <p>机票</p>
            <a href="javascript:;" id = "fdetail">详情<span></span></a>
        </div>
        <div class="jpay-c jpay-c2">
            <dl>
                <dt>
                    <i class="go"></i>
                    <span>{% var d1=new Date(Date.parse(flightInfo.flightLeaveStartDate.replace("T"," ").replace(/-/g, "/"))); %}  {%=vlm.Utils.format_date(flightInfo.flightLeaveStartDate)%}</span>
                    <span>周{%= getWeek[d1.getDay()]%}</span>
                    <span class="more">{%=flightInfo.cityNameFrom%}</span>
                    <span>-</span>
                    <span class="more">{%=flightInfo.cityNameTo%}</span>
                    <span class="time timew">{%=flightInfo.segmentsLeaveTotalTravelTimeString%}</span>
                    <i class="time timei"></i>
                </dt>
                <dt>
                    <i class="back"></i>

                    <span>{% var dd=new Date(Date.parse(flightInfo.flightReturnStartDate.replace("T"," ").replace(/-/g, "/"))); %} {%=vlm.Utils.format_date(flightInfo.flightReturnStartDate)%}</span>
                    <span>周{%= getWeek[dd.getDay()]%}</span>
                    <span class="more">{%=flightInfo.cityNameTo%}</span>
                    <span>-</span>
                    <span class="more">{%=flightInfo.cityNameFrom%}</span>
                    <span class="time timew">{%=flightInfo.segmentsReturnTotalTravelTimeString%}</span>
                    <i class="time timei"></i>
                </dt>
                {% if(flightInfo.cabinClass == 0) { %}
                <dd>{%='经济舱'%}</dd>
                {% }else if(flightInfo.cabinClass == 1){ %}
                <dd>{%='头等舱'%}</dd>
                {% }else if(flightInfo.cabinClass == 2){ %}
                <dd>{%='商务舱'%}</dd>
                {% }else if(flightInfo.cabinClass == 3){ %}
                <dd>{%='超级经济舱'%}</dd>
                {% } %}
            </dl>
            <p></p>
        </div>
        {% }else{ %}
        <div class="jpay-c jpay-c2">
            <dl>
                <dt>
                    <i class="go"></i>
                    <span>{% var d1=new Date(Date.parse(flightInfo.flightLeaveStartDate.replace("T"," ").replace(/-/g, "/"))); %} {%=d1.getMonth()+1%}-{%=d1.getDate()%}</span>
                    <span>周{%= getWeek[d1.getDay()]%}</span>
                    <span class="more">{%=flightInfo.cityNameFrom%}</span>
                    <span>-</span>
                    <span class="more">{%=flightInfo.cityNameTo%}</span>
                    <span class="time timew">{%=flightInfo.segmentsLeaveTotalTravelTimeString%}</span>
                    <i class="time timei"></i>
                </dt>
                <dt>
                    <i class="back"></i>
                    <span>{% var dd=new Date(Date.parse(flightInfo.flightReturnStartDate.replace("T"," ").replace(/-/g, "/"))); %} {%=dd.getMonth()+1%}-{%=d1.getDate()%}</span>
                    <span>周{%= getWeek[dd.getDay()]%}</span>
                    <span class="more">{%=flightInfo.cityNameTo%}</span>
                    <span>-</span>
                    <span class="more">{%=flightInfo.cityNameFrom%}</span>
                    <span class="time timew">{%=flightInfo.segmentsReturnTotalTravelTimeString%}</span>
                    <i class="time timei"></i>
                </dt>
                {% if(flightInfo.cabinClass == 0) { %}
                <dd>{%='经济舱'%}</dd>
                {% }else if(flightInfo.cabinClass == 1){ %}
                <dd>{%='头等舱'%}</dd>
                {% }else if(flightInfo.cabinClass == 2){ %}
                <dd>{%='商务舱'%}</dd>
                {% }else if(flightInfo.cabinClass == 3){ %}
                <dd>{%='超级经济舱'%}</dd>
                {% } %}
            </dl>
            <p></p>
        </div>
        {% } %}
        <!--hotel-->
        <div class="jpay-t jp-ht">
            <i></i>
            <p>酒店</p>
        </div>
        <div class="jpay-c jpay-c3">
            <dl>
                <dt>{%=hotelDetails.hotleName%}</dt>
                <dd><span>{%=hotelDetails.checkInDate.substring(0,10)%}</span> - <span>{%=hotelDetails.checkoutDate.substring(0,10)%}</span>
                    共<span>{%=hotelDetails.dayNum%}</span>晚（当地时间为准）</dd>
                <dd>房型：<span>{%=hotelDetails.roomDetails.roomName%}</span> 房间数：<span>{%=hotelDetails.roomDetails.numRoom%}</span>间</dd>
            </dl>
        </div>
        <div class="jpay-c jpay-c41">
            <span class="tit">订单总额：</span>
            <span class="money">￥</span>
            <span class="num jfw">{%=totalFlightPrice%}</span>
            <a class="fr" id = "details-cost" href="javascript:;">
                <i class="icon fr"></i>
                <span class="cost fr">费用明细</span>
            </a>
        </div>

        <div class="jpay-c jpay-c5" >
            <dl>
                <dt>订单信息</dt>
                <dd>
                    <span>订单号</span>
                    <p>{%=bookingRefNo%}</p>
                </dd>
                <dd>
                    <span>下单时间</span>
                    <p>{%=createTime.replace("T"," ")%}</p>
                </dd>
            </dl>
        </div>

        <div class="jpay-c jpay-c5" >
            <dl>
                <dt>出行人信息</dt>
                {% if(travelers.length>0){for(var i=0;i<=travelers.length-1;i++){ %}
                <dd>
                    <span>登机人{%=i+1%}</span>
                    <p>{%=travelers[i].lastName%}/{%= travelers[i].travelerName%}</p>
                </dd>
                <dd>
                    <span>护照</span>
                    <p>{%=travelers[i].idNumber%}</p>
                </dd>
                {% } }%}
            </dl>
            <dl class="contacts">
                <dd>
                    <span>联系电话</span>
                    <p>{%=contactNumber%}</p>
                </dd>
                <dd>
                    <span>邮箱</span>
                    <p>{%=email%}</p>
                </dd>
            </dl>
    </div>

        <!--<div class="jpay-c jpay-c4 jpay-c6">-->
            <!--<span class="tit">联系客服</span>-->
            <!--<a class="fr" href="javscript:;">-->
                <!--<i class="icon fr"></i>-->
            <!--</a>-->
        <!--</div>-->
        {% if(isContinuePay){ %}
        <div class="j-btn jpay-c7" id = "jpay_pay">
            <a href="../payment/payment.html?bookingRefNo={%=bookingRefNo%}&type=FlightHotle">支付订单</a>
        </div>
        {% } %}
    </div>
</div>
<!--客服电话-->
<div class="jpop_box_tic">
    <dl>
        <dt>400 805 8888</dt>
        <dd><span>取消</span><a href="tel:4008058888">拨打</a></dd>
    </dl>
</div>
<!--详情-->
<div class="summary-cost-shadow-two"  id = "bg_detail"></div>
<div class="ticket-detail-modal" id = "ticket_detail">
    <ul class="detail-outer" id = "ticket_detail_list">
            <li class="detail-start">
                <div class="top-line">
                    <span class="icon-go"></span>
                    <span class="date">{%=flightInfo.flightLeaveStartDate.substring(0,10)%}</span>
                    {% var dt=new Date(Date.parse(flightInfo.flightLeaveStartDate.replace("T"," ").replace(/-/g, "/"))); %}
                    <span class="order-week">周{%= getWeek[dt.getDay()]%}</span>
                    <span class="start">{%=flightInfo.cityNameFrom%}</span>
                    <span class="line">-</span>
                    <span class="end">{%=flightInfo.cityNameTo%}</span>
                    <span class="detail-hour">{%=flightInfo.segmentsLeaveTotalTravelTimeString%}</span>
                </div>
                {% if(flightInfo.segmentsLeave.length>0){ for(var i =0;i<=flightInfo.segmentsLeave.length-1;i++){ %}
                <div class="go-trip start">
                    <div class="time-airport-info">
                        <div class="start-time-info">
                            <span class="time-number">{%=vlm.Utils.format_date(flightInfo.segmentsLeave[i].departDate,"hm")%}</span>
                            <span class="air-port-word">{%=flightInfo.segmentsLeave[i].airportNameFrom%}</span>
                        </div>
                        <div class="total-time-info detail-time-info">
                            <span class="time-hour-minute"></span>
                            <span class = "center-1">中转</span>
                            <span class="arrow-time"></span>
                        </div>
                        <div class="end-time-info">
                            <span class="tip-add-days-seat"></span>
                            <span class="time-number">{%=vlm.Utils.format_date(flightInfo.segmentsLeave[i].arriveDate,"hm")%}</span>
                            <span class="air-port-word-right">{%=flightInfo.segmentsLeave[i].airportNameTo%}</span>
                    </div>
                    </div>
                    <div class="bottom-word">
                        <span>{%=flightInfo.segmentsLeave[i].airCorpName%}</span>
                        <span>|</span>
                        <span>{%=flightInfo.segmentsLeave[i].planeType%}</span>
                        <span>|</span>
                        <span>{%=flightInfo.segmentsLeave[i].planeName%}</span>
                    </div>
                </div>
                {% } }%}
            </li>
            <li class="detail-start">
                <div class="top-line">
                    <span class="icon-back"></span>
                    <span class="date">{%=flightInfo.flightReturnStartDate.substring(0,10)%}</span>
                    {% var dt=new Date(Date.parse(flightInfo.flightLeaveStartDate.replace("T"," ").replace(/-/g, "/"))); %}
                    <span class="order-week">周{%= getWeek[dt.getDay()]%}</span>
                    <span class="start">{%=flightInfo.cityNameTo%}</span>
                    <span class="line">-</span>
                    <span class="end">{%=flightInfo.cityNameFrom%}</span>
                    <span class="detail-hour">{%=flightInfo.segmentsReturnTotalTravelTimeString%}</span>
                </div><div class="go-trip start">
                {% if(flightInfo.segmentsReturn.length>0){ for(var i =0;i<=flightInfo.segmentsReturn.length-1;i++){ %}
                <div class="time-airport-info">
                    <div class="start-time-info">
                        <span class="time-number">{%=vlm.Utils.format_date(flightInfo.segmentsReturn[i].departDate,"hm")%}</span>
                        <span class="air-port-word">{%=flightInfo.segmentsReturn[i].airportNameFrom%}</span>
                    </div>
                    <div class="total-time-info detail-time-info">
                        <span class="time-hour-minute"></span>
                        <span class = "center-1">中转</span>
                        <span class="arrow-time"></span>
                    </div><div class="end-time-info">
                    <span class="tip-add-days-seat"></span>
                    <span class="time-number">{%=vlm.Utils.format_date(flightInfo.segmentsReturn[i].arriveDate,"hm")%}</span>
                    <span class="air-port-word-right">{%=flightInfo.segmentsReturn[i].airportNameTo%}</span>
                </div>
                </div>
                <div class="bottom-word">
                    <span>{%=flightInfo.segmentsReturn[i].airCorpName%}</span>
                    <span>|</span>
                    <span>{%=flightInfo.segmentsReturn[i].planeType%}</span>
                    <span>|</span>
                    <span>{%=flightInfo.segmentsReturn[i].planeName%}</span>
                </div>
            </div>
                {% } }%}
            </li>
    </ul>
</div>
<!--      费用明细块      -->
<div id="pdetail_mb" class="od-mb"></div>
<div id="pd_block" class="pd-block">
    <ul id="pd_list" class="pd-list">
        <li>
            <div>费用明细</div>
        </li>
        <li>
            <div>成人×{%=hotelDetails.roomDetails.totalAdult%}</div>
            <div>￥{%=hotelDetails.roomDetails.unitAdultPrice%}</div>
        </li>
        <li>
            <div>儿童×{%=hotelDetails.roomDetails.totalChild%}</div>
            <div>￥{%=hotelDetails.roomDetails.unitChildPrice%}</div>
        </li>
        <li>
            <div>总价</div>
            <div>￥{%=hotelDetails.roomDetails.totalAdultPrice%}</div>
        </li>
    </ul>
</div>
<script type="text/javascript" src="../js/lib/jquery.js"></script>
<script type="text/javascript" src="../js/lib/vlm.js"></script>
<script src="../js/lib/template.js"></script>
<script src="../js/lib/jquery.alert.js"></script>
<script src=""></script>
<script>
    var getWeek = {
        "0":"日",
        "1":"一",
        "2":"二",
        "3":"三",
        "4":"四",
        "5":"五",
        "6":"六",
        "7":"日"
    };
(function(){
        var bookingRefNo=vlm.getpara("bookingRefNo");
        var Parameters={
            "Parameters":{"BookingRefNo":bookingRefNo},
            "Code":"50100007",
            "ForeEndType":3};
        vlm.loadJson("",JSON.stringify(Parameters), function(data){
            if(data.success) {
                vlm.init();
                console.log(data.data)
                data.data.hotelDetails.dayNum = getDayNum(data.data.hotelDetails.checkInDate.replace(/T.*/,''),data.data.hotelDetails.checkoutDate.replace(/T.*/,''))
                console.log(data.data.hotelDetails.dayNum)
                var html = template("jpr", data.data);
                var dayNum = getDayNum("hotelDetails.checkInDate","hotelDetails.roomDetials");
                $("#jpr").html(html);
                vlm.init();
                $("#fr").on("click",function(){
                    location.href="";
                });
                //费用详情
                var tpl_PayDetails = template("pd_block",data.data);
                console.log(data.data);
                $("#pd_list").html(tpl_PayDetails);
//                机票详情
                var ticket_detail = template("ticket_detail",data.data);
                $("#ticket_detail").html(ticket_detail);
            }else{
                alert("网络异常！");
            }
            function getDayNum(arg1, arg2) {
                var time1 = Date.parse(arg1.replace(/-/g, "/")), time2 = Date.parse(arg2.replace(/-/g, "/")), dayCount;
                return dayCount = (Math.abs(time2 - time1)) / 1000 / 60 / 60 / 24;
            }
        },true);
    })()
</script>
<script>
    (function(){
        function detilCost(){
            var detailorder = $("#details-cost")[0];
            var pdBlock = $("#pd_block")[0];
            var pdetailMd = $("#pdetail_mb")[0];
            detailorder.onclick=function(){
                pdetailMd.style.display = "block";
                pdBlock.style.bottom = 0+"px";
                pdBlock.style.transition="all 400ms";
            };
            pdetailMd.onclick=function(){
                pdetailMd.style.display = "none";
                pdBlock.style.bottom = -400+'px';
                pdBlock.style.transition="all 400ms";
            };
        }
        detilCost();
    })()
</script>
<script>
    (function(){
        function bgdetail(){
            var fdetail =$("#fdetail")[0];
            var bgDetail = $("#bg_detail")[0];
            var ticketDetail  = $("#ticket_detail")[0];
//            var ticket_detail = $("#ticket_detail"[0]);
            fdetail.onclick=function(){
                bgDetail.style.display = "block";
                ticketDetail.style.display = "block";
            };
            ticketDetail.onclick=function(){
                bgDetail.style.display = "none";
                ticketDetail.style.display = "none";
            };

        }
        bgdetail();
    })()
</script>
<script>
    (function(){
        function tPhone(){
            var jPone = $("#jPone")[0];
            var jpopboxtic = $(".jpop_box_tic")[0];
            jPone.onclick = function(){
                jpopboxtic.style.display = "block";
            };
            jpopboxtic.onclick = function(){
                jpopboxtic.style.display = "none";
            }
        }
        tPhone();
    })()
</script>
</body>
</html>
