<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="Keywords" content="亚洲旅行网">
	<meta name="Description" content="境外专业旅行服务提供机构">
	<meta name="screen-orientation" content="portrait">
	<meta name="x5-orientation" content="portrait">
	<meta name="full-screen" content="yes">
	<meta name="x5-fullscreen" content="true">

	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
	<link rel="apple-touch-icon-precomposed" sizes="180x180" href="images/splash/splash-icon-big.png">
	<link rel="apple-touch-startup-image" href="images/splash/splash-screen.png" 	media="screen and (max-device-width: 320px)" />
	<link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
	<link rel="apple-touch-startup-image" href="images/splash/splash-screen-six.png" media="(device-width: 375px)">
	<link rel="apple-touch-startup-image" href="images/splash/splash-screen-six-plus.png" media="(device-width: 414px)">
	<link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />
	<link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
	<link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
	<link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)"/>
	<link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)"/>
	<title>个人中心选择乘机人 - 亚洲旅行网</title>
	<link href="../styles/framework.css"	rel="stylesheet" type="text/css">
	<link href="../styles/style.css"		rel="stylesheet" type="text/css">
	<link href="../styles/tips.css"		rel="stylesheet" type="text/css">
	<link href="../css/user.css"	rel="stylesheet" type="text/css">
	<link href="../css/date_select.css"	rel="stylesheet" type="text/css">
	<style type="text/css">
		.user-choice {
			width: 21px;
			height: 21px;
			float: left;
			margin-top: 10px;
			margin-right: 10px;
			background-position: 56% 97.5%;
		}

		.choiced {
			background-position: 62.8% 97.2%;
		}

		.passport-tips{
			margin-left: 30px;
			color: red;
		}
	</style>
</head>
<body>
<div id="preloader">
	<div id="status">
		<p class="center-text">
			<em>加载中……</em>
		</p>
	</div>
</div>
<div class="all-elements" style="overflow: scroll;">
	<div class="header" id="toper">
		<a href="#" class="header-back name-illustrate closedWin"><i class="icons go-back"></i></a>
		<h3>已选：<span class="adult-number"></h3>
		<div class="header-finish" onclick="submit_t();">
			完成
		</div>
	</div>
	<!-- Page Content-->
	<div class="snap-content" style="padding-top: 45px;background-color: white;">
		<div class="f_btn button-orange" style="margin-top: 10px" onclick="showAddAir_page('new')">
			<b class="icons user-add"></b><span class="newTitle"></span>
		</div>
		<ul class="often-traveler choosed-traveler">
		</ul>
		<!--<div class="name-text" style="margin-bottom: 0;margin-top: -15px;">-->
			<!--首字母排序-->
		<!--</div>-->
		<ul class="often-traveler list-traveler" id="allList">

		</ul>
		<div class="con-text">
			为了您能顺利出行，请确保旅行结束日期至少比证件有效期早6个月
		</div>
	</div>
	<!-- 新增乘机人页-->
	<div class="addAir-page" id="addAir-page">
		<div class="all-elements">
			<div class="header">
				<div class="header-quit" onclick="closeAddAir_page()">
					取消
				</div>
				<h3>新增乘机人</h3>
				<div class="header-finish addFinish">
					完成
				</div>
			</div>
			<div class="snap-content" style="padding-top: 45px;background-color: white;">
				<div class="bor-updown"></div>

				<div class="chn-eng-wrap">

					<div class="addtra-title">旅客姓名<b id="name_state" class="icon user-must"></b></div>
					<ul class="addtra-info nameche-wrap">
						<li>
							<div>
								中文姓名
							</div>
							<input type="text" placeholder="与乘机人姓名一致" class="cnName">
						</li>
					</ul>
					<ul class="addtra-info nameche-wrap">
						<li>
							<div>
								姓（英文）
							</div>
							<input type="text" placeholder="Surname,如Li" class="lastName">
							<br/>
						</li>
						<li>
							<div>
								名（英文）
							</div>
							<input type="text" placeholder="Given name,如Shimin" class="firstName">
						</li>
					</ul>
				</div>
				<div class="addtra-title">证件</div>
				<ul class="addAir-info mart-non">
					<li>
						<b class="icons open-pho"></b>
						<div>
							证件类型
						</div>
						<div id="postCard" class="postCard" data-code="1">
							身份证
						</div>
					</li>
					<li>
						<div>
							证件号
						</div>
						<input type="text" placeholder="确保与乘机证件一致" class="cardNumber">
					</li>
					<li>
						<b class="icons open-pho"></b>
						<div class="birth-date">
							证件有效期
						</div>
						<input id="time-cont" type="text" class="birth-cont cardDateLimit" value="1990年1月9号" readonly />
					</li>
					<li class="countries-wrap">
						<b class="icons open-pho"></b>
						<div>
							发证国家
						</div>
						<div class="country-btn cardCountry" data-code="CN" >中国</div>
					</li>
				</ul>
				<div class="addtra-title">其他信息</div>
				<ul class="addAir-info mart-non">
					<li class="countries-wrap">
						<b class="icons open-pho"></b>
						<div>
							国籍
						</div>
						<div class="country-btn country" data-code="CN" >中国</div>
					</li>
					<li>
						<div>
							性别
						</div>
						<div class="sex-cho-wrap">
							<span style="margin-right:15%" ><b class="icon-h traveler-sex2" id="man"></b>男士</span>
							<span><b class="icon-h traveler-sex2" id="woman"></b>女士</span>
						</div>
					</li>
					<li>
						<b class="icons open-pho"></b>
						<div class="birth-date">
							出生日期
						</div>
						<input id="birth-cont" type="text" class="birth-cont birthDay" value="1990年1月9号" readonly />
					</li>
				</ul>
				<div class="addtra-title">联系方式</div>
				<ul class="traveler-contect">
					<li class="clearFix">
						<div class="con-phone fl">
							手机号
							<span class="telCode">+86</span>
						</div>
						<input type="text" placeholder="请确保手机号无误" id="mobile-cell-add" class="telNum">
					</li>
					<li class="clearFix">
						<div class="fl">邮箱</div>
						<input type="text" placeholder="常用邮箱" id="email-cell-add" class="txtEmail">
					</li>
				</ul>
				<div class="name-text">
					为了您能顺利出行，请确保旅行结束日期至少比证件有效期早6个月
				</div>
				<!--<div class="user-account" onclick="showChild_page()">-->
				<!--儿童婴儿购票说明>-->
				<!--</div>-->

				<div id="delTra" class="f_btn button-grey" style="display:none">删除常旅客</div>
			</div>
		</div>
	</div>
	<!-- 儿童购票说明页-->
	<div class="childen-page" id="childen-page">
		<div class="all-elements">
			<div class="header">
				<a class="icons header-back closedOfChindDescript" onclick="closeChild_page()"></a>
				<h3>儿童购票说明</h3>
			</div>
			<div class="snap-content" style="padding-top: 45px;background-color: white;">
				<ol class="ch_account">
					<li>
						航班起飞前当日出生日期未满14天的婴儿，请至航空公司柜台申请购买机票
					</li>
					<li>
						婴儿/儿童年龄区分
						<div class="child_detail">
							婴儿：14天-2周岁；
						</div>
						<div class="child_detail">
							儿童：2-12周岁（按照航班起飞当日实际年龄区分）
						</div>
					</li>
					<li>
						婴儿票价格：航线标准价格的10%，不收机建费和燃油费（注：婴儿票无座。如需座位，可购买儿童票或成人票）
					</li>
					<li>
						儿童票价格：航线标准价格的50%，不收机建费，燃油费为承认的50%
					</li>
					<li>
						儿童、婴儿须要成人陪同登机。儿童如果单独乘机，需要至航空公司柜台申请购买机票
					</li>
					<li>
						儿童婴儿购票可用证件：身份证、护照、户口簿、出生证明等
					</li>
					<li>
						儿童婴儿购票可同时购买一份航意险
					</li>
					<li>
						部分成人价格允许儿童婴儿购买，根据航空公司公布的成人价格政策确认儿童婴儿是否允许购买成人票
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>


<!--国籍选择开始-->
<div class="all-elements country-cho-wrap">
	<div class="header">
		<a href="javascript:;" class="header-back name-illustrate country-hidden "><i class="icons go-back"></i></a>
		<div class="cl_search">
			<input type="text" placeholder="北京/beijing/bj/bjs/中国" id="country-input-zone"/>
			<i></i>
		</div>
	</div>

	<!--国籍弹窗开始-->
	<ul class="country-list-searched"></ul>
	<!--国籍弹窗结束-->

	<div class="snap-content" style="padding-top: 45px;">
		<div class="country-wrap" id="country-wrap">
			<!--<ul class="country-list">-->
			<!--<li></li>-->
			<!--</ul>-->
		</div>
	</div>
</div>


<!-- 填写姓名说明页-->
<!-- 中文姓名-->
<div class="fillName-page" id="fillName_page">
	<div class="all-elements">
		<div class="header">
			<!--<a id="close_name" href="#" class="icons header-back"></a>-->
			<a ihref="#" class="header-back"><i class="icons go-back closedOfFillName"></i></a>
			<h3>填写姓名说明</h3>
		</div>
		<div class="user-content">
			<ol class="ch_account" id="ch_account">
			<li>姓名要与所持证件的姓名一致</li>
			<li>中文姓名
				<ul class="name_ul">
					<li>若持护照乘机，必须确认护照上有中文姓名<br/>
						生僻字可以用拼音替代，拼音之后不可再输入汉字，需要用拼音替代。例如“王犇”可输入为“王ben”
						<div class="name-example">
							<div>中文姓名</div>
							<div>王ben</div>
						</div>
					</li>
					<li>
						姓名中有特殊符号的“.”“-”等，可不用输入，例如“汉族然.买买提”可输入为“汉族然买买提”
						<div class="name-example">
							<div>中文姓名</div>
							<div>汉族然买买提</div>
						</div>
					</li>
					<li>
						香港、台湾、澳门的护照不支持国内航班，请改用其他证件。
					</li>
				</ul>
			</li>
			</ol>
			<!-- 英文姓名-->
			<ol class="ch_account" id="en_account">
				<li>必须用英文字母填写，并确保与所持证件的姓名一致</li>
				<li>中文姓名
					<ul class="name_ul">
						<li style="list-style-type: none;">如乘客的姓名为诸葛孔明，则在Surname（姓）处输入Zhuge,在Given name（名）处输入Kongming
							<div class="name-example">
								<div>Surname</div>
								<div>Zhuge</div>
							</div>
							<div class="name-example2" >
								<div>Given name</div>
								<div>Kongming</div>
							</div>
						</li>
					</ul>
				</li>
				<li>英文姓名
					<ul class="name_ul">
						<li>若持护照登机，必须按照护照显示区分姓与名，Middlename填写在Given name（名）栏中，不区分大小写。
							例如joe jerad/potter，在Surname（姓）处输入Potter，在Given name（名）处输入joe jerad
							<div class="name-example">
								<div>Surname</div>
								<div>Potter</div>
							</div>
							<div class="name-example2" >
								<div>Given nam</div>
								<div>joerad</div>
							</div>
						</li>
					</ul>
					<ul class="name_ul">
						<li>姓与名总长度小于26个字符，若过长请使用缩写，姓名中有特殊符号“.”“-”，在Surname中可不用输入，
							在Given name中用空格代替。例如“jame.M-C/Black.S-A”，在Surname中输入BlackSA，在Given name中输入
							jame M C
							<div class="name-example">
								<div>Surname</div>
								<div>BlackSA</div>
							</div>
							<div class="name-example2" >
								<div>Given nam</div>
								<div>jame M C</div>
							</div>
						</li>
					</ul>
				</li>
			</ol>
		</div>
	</div>
</div>
<div id="menu"></div>

<script src="../js/lib/jquery.js"></script>
<script src="../js/country_list.js"></script>
<script src="../js/lib/jquery.alert.js"></script>
<script src="../js/lib/vlm.js"></script>
<script src="../js/lib/plugins.js"></script>
<script src="../js/lib/template.js"></script>
<script src="../js/lib/scroller.js"></script>
<script src="../scenic/js/new_countrytel_list.js"></script>
<!--<script src="scripts/userChoice.js"></script>-->
<script>
	var urlobj = vlm.parseUrlPara(window.location.href),isMulSelect=vlm.getpara("isMulSelect").toLowerCase()=="true"?true:false//是否多选
	,isNeedPassport=vlm.getpara("isNeedPassport").toLowerCase()=="true"?true:false//是否需要护照
	, titleType=vlm.getpara("title").substr(2)//是否多选title;
	, travId=vlm.getpara("Id")//id,
	 ,elementId=vlm.getpara("elementId")//id
	, from=vlm.getpara("from")
	, json=""
	, travJson
	, tralJsonObj={}
	, index
	, selectUser=[]
	,ifrCilent=window.parent.document.getElementById("choiceAir")
	,numofAdult=vlm.getpara("numofAdult")//id
	,numofChlid=vlm.getpara("numofChlid")//id;
	,departDate=vlm.getpara("departDate")//departDate;

	$(".newTitle").html("新增"+titleType);

	//中-英
	$('#chn-name .foreign').click(function() {
		$('#chn-name').hide();
		$('#eng-name').show();
	});

	//英-中
	$('#eng-name .chn').click(function() {
		$('#chn-name').show();
		$('#eng-name').hide();
	});

	var isContact=vlm.getpara("title")=="选择联系人"?true:false;
	$("#toper h3").html(vlm.getpara("title"));
	var memberId = localStorage.memberid || sessionStorage.memberid, Parameters = {
		"Parameters" : "{\"memberId\":" + memberId + "}",
		"ForeEndType" : 3,
		"Code" : "0074"
	}, tpl_traveler = ['{% for(var i=0,len=data.length;i<len;i++){', 'var dd=data[i];%}',
		'{% if (dd.listTravellerIdInfo.length>0) %}'+
		'<li class="eve-traveler"  index={%=i%}>', '<b class="icon user-choice" data-id={%=dd.traveller.travellerId%} data-age="{%=dd.traveller.travellerAge%}"></b>',
		'<b class="icon user-edit" data-id="{%=dd.traveller.travellerId%}" ></b>',
		'<ul class="often_user">',
		'<input type="hidden" class="travellerId" value="{%=dd.traveller.travellerId%}"> </input>',
		'<input type="hidden" class="sexName" value="{%=dd.traveller.sexName%}"> </input>',
		'<li data-card="{%=dd.listTravellerIdInfo[0].idType%}"><spn>姓 / 名</spn><span class="lastName" style="padding-left: 6px">{%=dd.traveller.lastName%}</span>/<span class="firstName">{%=dd.traveller.firstName%}</span>',
		'{% if (dd.traveller.travellerAge<2){ %}'+
		'<i class="per-type">婴儿</i></li>'+'{% } %}'+
		'{% if (dd.traveller.travellerAge<12 && dd.traveller.travellerAge>=2 ){ %}'+
		'<i class="per-type">儿童</i></li>'+'{% } %}'+
		'{% if (dd.traveller.travellerAge>=12){ %}'+
		'<i class="per-type">成人</i></li>'+'{% } %}'+
		'<li class="passport-num"><span class="passport-card-type">{%=vlm.arr_t[dd.listTravellerIdInfo[0].idType]%}</span> <span class="passport-card-number">{%=dd.listTravellerIdInfo[0].idNumber%}</span></li>',
		'</ul>', '</li>', '{% } %}'].join('');
	function get_hisList() {
		var from = urlobj.from;
		json = JSON.parse(localStorage.getItem(from));
		if (json) {
			var html = '';//template(tpl_traveler, json);
			document.getElementById("hisList").innerHTML = html;
		}
	}
	function clearInput(){
		$(".cnName").attr("value","");
		$(".lastName").attr("value","");
		$(".firstName").attr("value","");
		$(".cardNumber").attr("value","");
		$(".telNum").attr("value","");
		$(".txtEmail").attr("value","");
		$("#delTra").hide();
		$('.sex-cho-wrap span b.icon-h').each(function(i){
			if($('.sex-cho-wrap span b.icon-h').eq(i).hasClass("traveler-sex1")){
				$('.sex-cho-wrap span b.icon-h').eq(i).removeClass("traveler-sex1").addClass('traveler-sex2')
			}
		});

	}
	//获取数据源
	function get_allList() {
		//get_hisList();
		$(".user-must").on("click",function(){
			$("#fillName_page").show();
		})
		if(isMulSelect){
			if (numofChlid > 0) {
				$("#toper h3").html("已选:0/" + numofAdult + "成人  " + selectChild + "/" + numofChlid + "儿童");
			}
			else {
				$("#toper h3").html("已选:0/" + numofAdult + "成人");
			}
		}
		vlm.loadJson("http://10.2.22.239:8888/api/GetServiceApiResult", JSON.stringify(Parameters),function(json){
			travJson = json
			for(var i=0;i<= json.data.length-1;i++){
				json.data[i].traveller.travellerAge=GetAgeByBrithday(json.data[i].traveller.dateOfBirth);
				tralJsonObj[json.data[i].traveller.travellerId]=json.data[i];
			}
			console.log(tralJsonObj);
			if (json.success) {

				var html = template(tpl_traveler, json);
				document.getElementById("allList").innerHTML = html;
                if(from=="f" && titleType=="乘机人") {
					var personList = JSON.parse(localStorage.getItem("travellerInfo_selected"));
					$(personList).each(function () {
						var id = this.Id;
						$("#allList").find(".user-choice").each(function(){
                               var dataId=  $(this).attr("data-id");
							   if(dataId==id){
								   $(this).addClass("choiced");
							   }
							})
					})
				}

				$(".list-traveler .eve-traveler .user-edit").on("click",function(){
					id=$(this).attr("data-id")
					showAddAir_page("edit",id);
				})
				if(isNeedPassport=="true") {
					$(".list-traveler .eve-traveler").each(function () {
						var cardType = $(this).find(".often_user li").attr("data-card");
						if (cardType != 1) {
							$(this).find(".often_user").append("<li class='passport-tips'>护照号信息不全！</li>");
						}

					})
				}
			} else {
				jAlert(json.message + "", '');
			}
			check_box();
			if(travId>0){
				showAddAir_page("edit",travId);
			}
		});
	}
	get_allList();
	function check_box() {
		$(".user-choice").click(function() {
			var selectAdult=0;
			var selectChild=0;

			if(this.className == "icon user-choice choiced"){
				this.className = "icon user-choice";
			}else{
				this.className = "icon user-choice choiced";
			}

			if(!isMulSelect)
			{
				var len= $(".list-traveler .choiced").length;
				if(len>=2){
					$(this).removeClass("choiced");
					jAlert("对不起，只能单选！");
					return;
				}
			}
			else {

				$(".choiced").each(function(){
					var age=$(this).attr("data-age");
					if(age<2){
						jAlert("该乘机人为婴儿，如需购买婴儿票,请联系客服！");
						$(this).removeClass("choiced");
						$(this).addClass("user-choice");
						return false;
					}
					else if(age>=2 && age<12) {
						selectChild=selectChild+1;
					}
					else if (age>=12){
						selectAdult=selectAdult+1;
					}
				})

				if (numofAdult != 'null' && selectAdult > numofAdult) {
					jAlert(numofChlid);
					if(numofChlid>0) {
						jAlert("当前价格仅限于"+numofAdult+"成人，"+numofChlid+"儿童");
					}
					else{
						jAlert("当前价格仅限于"+numofAdult+"成人");
					}

					$(this).removeClass("choiced");
					return;
				}
				console.log("selectChild" + numofChlid);
				if (numofChlid != 'null' && selectChild > numofChlid) {
					if(numofAdult>0) {
						jAlert("当前价格仅限于"+numofAdult+"成人，"+numofChlid+"儿童");
					}
					else{
						jAlert("当前价格仅限于"+numofChlid+"儿童");
					}

					$(this).removeClass("choiced");
					return;
				}
				else {
					if (numofAdult != 'null' && numofChlid != 'null') {
						if (numofChlid > 0) {
							$("#toper h3").html("已选:" + selectAdult + "/" + numofAdult + "成人  " + selectChild + "/" + numofChlid + "儿童");
						}
						else {
							$("#toper h3").html("已选:" + selectAdult + "/" + numofAdult + "成人");
						}
					}
					else {
						$("#toper h3").html("已选:" + $(".choiced").length + "人");
					}
				}
			}
		});
	}
	$(".closedWin").click(function(){
		//alert(document.getElementById("choiceAir"));
		if (window.opener) {
			window.close();
		} else {
			if(window.parent.document.getElementById("ticket-wrap") !=null) {
				window.parent.document.getElementById("ticket-wrap").style.display = "block";
			}
			ifrCilent.parentNode.removeChild(ifrCilent);
		}
	});
	$(".closedOfFillName").click(function(){
		$("#fillName_page").hide();

	})

	function submit_t() {
		if(window.parent.document.getElementById("ticket-wrap") !=null) {
			window.parent.document.getElementById("ticket-wrap").style.display = "block";
		}
		 GoBackData();
		ifrCilent.parentNode.removeChild(ifrCilent);

	}

	function GoBackData(){
		var seled = $(".choiced");
		selectUser=[];
		if(isNeedPassport=="true"){
			$(seled).each(function(){
				var cardType=$(this).siblings(".often_user").find("li").eq(0).attr("data-card");
				if(cardType !=1) {
					jAlert('请完善"'+$(this).siblings(".often_user").find("li").eq(0).html()+'"护照信息');
					return;
				}
				selectUser.push(tralJsonObj[$(this).attr("data-id")]);
			})
		}else{
			$(seled).each(function(){
				selectUser.push(tralJsonObj[$(this).attr("data-id")]);
			});
		}
		ReplaceData(elementId,selectUser);
		SavaLocalStorge(selectUser,isContact);
	}
	function ReplaceData(id,data){
		var elementId="#"+id
		var htmlObj =$(ifrCilent.parentNode).find(elementId)
		if(isMulSelect)
		{
			var children=htmlObj.children().eq(0);
        	htmlObj.children().remove();
			for(var i=0; i<=data.length-1;i++){
				var cloneObj=children.clone(true);
				cloneObj.show();
				cloneObj.find('input').each(function(){
					if($(this).attr("data-elementName")!="undefined"){
						if($(this).attr("data-elementName")=="idNumber") {
							$(this).attr("value",data[i].listTravellerIdInfo[0].idNumber);
						}
						else{
							$(this).attr("value",data[i].traveller[$(this).attr("data-elementName")]);
						}
					}
				});
				children.find('span').each(function(){
					if(typeof($(this).attr("data-elementName"))!="undefined"){
						var d=data[0].traveller[$(this).attr("data-elementName")];
						var Country=getCountryName(d);
						$(this).attr("data-tel-code",Country.CountryCode);
						$(this).attr("data-tel-code",Country.CountryCode);
						$(this).html(Country.CountryName);
					}
				});
				htmlObj.append(cloneObj);
			}
		}
		else{
			htmlObj.find('input').each(function(){
				if($(this).attr("data-elementName")!="undefined" && data.length>0){
					if($(this).attr("data-elementName")=="idNumber") {
						$(this).attr("value",data[0].listTravellerIdInfo[0].idNumber);
					}
					else {
						$(this).attr("value", data[0].traveller[$(this).attr("data-elementName")]);
					}
				}
			})
			htmlObj.find('span').each(function(){
				if($(this).attr("data-elementName")!="undefined" && data.length>0){
					$(this).attr("value", data[0].traveller[$(this).attr("data-elementName")]);

				}
			})
		}
	}
	//保存选择的记录
	function SavaLocalStorge(list,isContact){
		if(!isContact){
			var TravellerInfo=[]
			for(var i=0; i<=list.length-1;i++){
				TraInfo={};
				CertificateInfo={}
				if(GetAgeByBrithday(list[i].traveller.dateOfBirth)<12){
					TraInfo.PassengerType= "CHILD";  //乘客类型
				}
				else{
					TraInfo.PassengerType= "ADULT";  //乘客类型
				}
				TraInfo.Id=list[i].traveller.travellerId;
				if(list[i].traveller.sexCode=="Mrs")
				{
					TraInfo.SexCode="Mr"
				}
				else{
					TraInfo.SexCode="Ms"      //称呼
				}
				//TraInfo.SexCode= list[i].traveller.sexCode;       //称呼
				TraInfo.FirstName=list[i].traveller.firstName;     //姓
				TraInfo.LastName= list[i].traveller.lastName;       //名
				TraInfo.DateOfBirth= list[i].traveller.dateOfBirth;

				//信用卡信息
				CertificateInfo.IdType= list[i].listTravellerIdInfo[0].idType;     //证件类型
				CertificateInfo.IdCountry= list[i].listTravellerIdInfo[0].idCountry;  //证件发行国家
				CertificateInfo.IdNumber=  list[i].listTravellerIdInfo[0].idNumber;      //证件号码
				CertificateInfo.IdActivatedDate= list[i].listTravellerIdInfo[0].idActivatedDate ; //证件有效期
				TraInfo.FlightCertificateInfo=CertificateInfo;
				TraInfo.BaggageCode="",
				//TraInfo.NationalityCode=list[i].traveller.nationalityCode;//国籍代码
				TraInfo.CountryCode ="CN";
				TravellerInfo.push(TraInfo)
			}
			localStorage.setItem('travellerInfo_selected',JSON.stringify(TravellerInfo));
		}
		else
		{
			var ContactDetail={}
			for(var i=0; i<=list.length-1;i++){
				if(list[i].traveller.sexCode=="Mrs")
				{
					ContactDetail.SexCode="Mr"
				}
				else{
					ContactDetail.SexCode="Ms"      //称呼
				}
				ContactDetail.FirstName=list[i].traveller.firstName ;//姓
				ContactDetail.LastName=list[i].traveller.lastName;  //名
				ContactDetail.Email=list[i].traveller.email;//邮箱
				ContactDetail.MobilePhone==list[i].traveller.mobilePhone;        //手机号
//				ContactDetail.CountryNumber=list[i].traveller.countryCode
				ContactDetail.CountryNumber="86";
				ContactDetail.ContactNumber="5689";
				ContactDetail.MobilePhone="13454345654"
			}
			localStorage.setItem('contact_selected',JSON.stringify(ContactDetail));
		}

		}
	// 新建常旅
	function GetTpl(from,isContact){
		switch (from){
			case "f" :
				if(!isContact) {
					return "tpl_f_passager";
				}
				else{
					return "tpl_f_contact";
				}
			case "t" :
				if(!isContact) {
					return "tpl_t_passager";
				}
				else{
					return "tpl_t_contact";
				}
			case "ht":
				if(!isContact) {
					return "tpl_ht_passager";
				}
				else{
					return "tpl_ht_contact";
				}

		}

	}
	//显示新增乘机人编辑页
	function showAddAir_page(type,id) {
		clearInput();
		var addAir_page = document.getElementById("addAir-page");
		addAir_page.style.display = "block";
		if(type=="new"){
			$(".addAir-page .header h3").html("新建"+titleType+"信息");
		}
		else {
			$("#delTra").show();

			$(".addAir-page .header h3").attr("type","edit")
			$(".addAir-page .header h3").attr("data-id",tralJsonObj[id].traveller.travellerId)
			$(".addAir-page .header h3").html("编辑"+titleType+"信息");
			$(".cnName").attr("value",tralJsonObj[id].traveller.idName);
			$(".firstName").attr("value",tralJsonObj[id].traveller.firstName);
			$(".lastName").attr("value",tralJsonObj[id].traveller.lastName);
			$(".nameche-wrap").attr("data-id",tralJsonObj[id].traveller.travellerId)
			$(".telNum").attr("value",tralJsonObj[id].traveller.mobilePhone);
			$(".txtEmail").attr("value",tralJsonObj[id].traveller.email);
			$(".country").html(tralJsonObj[id].traveller.countryName)

			$(".cardNumber").attr("value",tralJsonObj[id].listTravellerIdInfo[0].idNumber);
			$(".postCard").attr("data-code",tralJsonObj[id].listTravellerIdInfo[0].idType);
			$(".cardDateLimit").attr("value",tralJsonObj[id].listTravellerIdInfo[0].idActivatedDate.substring(0,10).replace('-','年').replace('-','月')+'号');
			$(".cardCountry").attr("data-code",tralJsonObj[id].listTravellerIdInfo[0].idCountry);
			console.log(tralJsonObj[id].listTravellerIdInfo[0].idCountry)
			$(".cardCountry").html(getCountryName(tralJsonObj[id].listTravellerIdInfo[0].idCountry).CountryName);

			$(".birthDay").attr("value",tralJsonObj[id].traveller.dateOfBirth.substring(0,10).replace('-','年').replace('-','月')+'号');
			$(".country").attr("data-code",tralJsonObj[id].traveller.countryCode);
			if (tralJsonObj[id].traveller.sexCode == "Mr") {
				$("#woman").removeClass("traveler-sex1");
				$("#woman").addClass("traveler-sex2");
				$("#man").removeClass("traveler-sex2");
				$("#man").addClass("traveler-sex1");

			} else {

				$("#man").removeClass("traveler-sex1");
				$("#man").addClass("traveler-sex2");

				$("#woman").removeClass("traveler-sex2");
				$("#woman").addClass("traveler-sex1");
			}
			if (tralJsonObj[id].listTravellerIdInfo[0].idType == "1") {
				$(".postCard").html("护照");
			} else if (tralJsonObj[id].listTravellerIdInfo[0].idType == "2") {
				$(".postCard").html("身份证");
			} else if (tralJsonObj[id].listTravellerIdInfo[0].idType == "3") {
				$(".postCard").html("出生证明");
			} else if (tralJsonObj[id].listTravellerIdInfo[0].idType == "4") {
				$(".postCard").html("港澳通行证");
			} else if (tralJsonObj[id].listTravellerIdInfo[0].idType == "5") {
				$(".postCard").html("军官证");
			} else if (tralJsonObj[id].listTravellerIdInfo[0].idType == "6") {
				$(".postCard").html("驾驶证");
			} else if (tralJsonObj[id].listTravellerIdInfo[0].idType == "7") {
				$(".postCard").html("台胞证");
			} else if (tralJsonObj[id].listTravellerIdInfo[0].idType == "8") {
				$(".postCard").html("回乡证");
			} else {
				$(".postCard").html("其他");
			}
		}


	}


	function closeAddAir_page() {
		var addAir_page = document.getElementById("addAir-page");
		addAir_page.style.display = "none";
	}

	function showChild_page() {
		var childen_page = document.getElementById("childen-page");
		childen_page.style.display = "block";
	}

	function closeChild_page() {
		var childen_page = document.getElementById("childen-page");
		childen_page.style.display = "none";
	}

	function choseSex() {
		//  判断性别
		var man = $("#man")[0];
		var sexCode;
		var sexName;
		if (man.className == "icon-h traveler-sex1") {
			sexCode = "Mr";
			sexName = "男";
		} else {
			sexCode = "Mrs";
			sexName = "女";
		}
	}

	$(".addFinish").on("click",function(){
		var flag=validate();
		if(!flag) return false;
		var inputList=$(".addAir-page")
		var type=$(".addAir-page .header h3").attr("type");

		//  判断性别
		var man = $("#man")[0];
		var sexCode;
		var sexName;
		if (man.className == "icon-h traveler-sex1") {
			sexCode = "Mr";
			sexName = "男";
		} else {
			sexCode = "Mrs";
			sexName = "女";
		}

		if(type=="edit") {
			var id=$(".addAir-page .header h3").attr("data-id");
			var Parameters = {
				"Parameters": "{\"Traveller\":" +
				"{" +
				"\"TravellerId\":" + id + "," +
				"\"IdName\":\"" + $(inputList).find(".cnName").eq(0).val() + "\"," +
				"\"LastName\":\"" + $(inputList).find(".lastName").eq(0).val() + "\"" + "," +
				"\"FirstName\":\"" + $(inputList).find(".firstName").eq(0).val() + "\"," +
				"\"CountryCode\":\"" + $(inputList).find(".country").eq(0).attr("data-code") + "\"," +
				"\"CountryName\":\"" + $(inputList).find(".country").eq(0).html() + "\"," +
				"\"SexCode\":\"" + sexCode + "\"," +
				"\"SexName\":\"" + sexName + "\"," +
				"\"DateOfBirth\":\""+ $(inputList).find(".birthDay").eq(0).val().replace('年','-').replace('月','-').replace('号','').replace('日','')+"\"," +
				"\"Email\":\"" + $(inputList).find(".txtEmail").eq(0).val() + "\"," +
				"\"MemberId\":\"" + memberId + "\"," +
				"\"MobilePhone\":\"" + $(inputList).find(".telNum").eq(0).val() + "\"}," +
				"\"ListTravellerIdInfo\":" +
				"[{" +
				"\"Id\":\"" + tralJsonObj[id].listTravellerIdInfo[0].id + "\"," +
				"\"TravellerId\":" + id + "," +
				"\"IdType\":" + $(inputList).find(".postCard").eq(0).attr("data-code") + "," +
				"\"IdNumber\":\"" + $(inputList).find(".cardNumber").eq(0).val() + "\"," +
				"\"IdCountry\":\"" + $(inputList).find(".cardCountry").eq(0).attr("data-code") + "\"," +
				"\"IdActivatedDate\":\""+ $(inputList).find(".cardDateLimit").eq(0).val().replace('年','-').replace('月','-').replace('号','').replace('日','')+"\"," +
				"\"NationalityCode\":\"" + $(inputList).find(".country").eq(0).attr("data-code") + "\"" +
				"}]}",
				"ForeEndType": 3,
				"Code": "0072"
			}
		}
		else{
			var Parameters= {
				"Parameters": "{\"Traveller\":{\"IdName\":\""+$(inputList).find(".cnName").eq(0).val()+"\",\"LastName\":\""+$(inputList).find(".lastName").eq(0).val()+"\",\"FirstName\":\""+$(inputList).find(".firstName").eq(0).val() +"\",\"CountryCode\":\""+$(inputList).find(".country").eq(0).attr("data-code")+"\"," +
				"\"CountryName\":\""+$(inputList).find(".country").eq(0).html()+"\",\"SexCode\":\""+sexCode+"\",\"SexName\":\""+sexName+"\",\"DateOfBirth\":\""+ $(inputList).find(".birthDay").eq(0).val().replace('年','-').replace('月','-').replace('号','').replace('日','')+"\"," +
				"\"Email\":\""+$(inputList).find(".txtEmail").eq(0).val() +"\",\"MemberId\":\""+memberId+"\",\"MobilePhone\":\""+$(inputList).find(".telNum").eq(0).val()+"\"}," +
				"\"ListTravellerIdInfo\":[{\"Id\":0,\"TravellerId\":0," +
				"\"IdType\":"+  $(inputList).find(".postCard").eq(0).attr("data-code") +",\"IdNumber\":\""+ $(inputList).find(".cardNumber").eq(0).val()+"\",\"IdCountry\":\"CN\",\"IdActivatedDate\":\""+$(inputList).find(".cardDateLimit").eq(0).val().replace('年','-').replace('月','-').replace('号','').replace('日','')+"\"," +
				"\"NationalityCode\":\""+$(inputList).find(".country").eq(0).attr("data-code")+"\"}]}",
				"ForeEndType": 3,
				"Code": "0071"
			}
		}
		console.log(JSON.stringify(Parameters));
		vlm.loadJson("http://10.2.22.239:8888/api/GetServiceApiResult", JSON.stringify(Parameters), function(data){
			var data=data;

			if(data.success) {
				get_allList();
				// 有ID说明是编辑，关闭窗口
				if(travId>0)
				{
					if (window.opener) {
						window.close();
					} else {
						ifrCilent.parentNode.removeChild(ifrCilent);
					}
				}
				else {
					clearInput();
					$("#addAir-page").hide();
				}
			}
			else
			{
				jAlert("添加失败！");

			}

		});


	})

	function validate(){
		var inputList=$(".addAir-page")
		if(!vlm.Utils.validate["isNoEmpty"]($(inputList).find(".cnName").eq(0).val())){
			jAlert("中文姓名不能为空！","",null,"确认");
			return false;
		}
		if(!vlm.Utils.validate["isNoEmpty"]($(inputList).find(".lastName").eq(0).val())){
			jAlert("姓（英文）不能为空！","",null,"确认");
			return false;
		}
		if(!vlm.Utils.validate["isNoEmpty"]($(inputList).find(".firstName").eq(0).val())){
			jAlert("名（英文）不能为空！","",null,"确认");
			return false;
		}
		if(!vlm.Utils.validate["isNoEmpty"]($(inputList).find(".cardNumber").eq(0).val())){
			jAlert("证件号不能为空！","",null,"确认");
			return false;
		}
		if(!vlm.Utils.validate["mobileNo"]($(inputList).find(".telNum").eq(0).val())){
			jAlert("请输入有效的电话号码！","",null,"确认");
			return false;
		}

		if(!vlm.Utils.validate["email"]($(inputList).find(".txtEmail").eq(0).val())){
			jAlert("请输入有效的邮箱！","",null,"确认");
			return false;
		}
		if(!vlm.Utils.validate["chiName"]($(inputList).find(".cnName").eq(0).val())){
			jAlert("请输入有效的中文名！","",null,"确认");
			return false;
		}
		if(!vlm.Utils.validate["engName"]($(inputList).find(".lastName").eq(0).val())){
			jAlert("姓必须为英文！","",null,"确认");
			return false;
		}
		if(!vlm.Utils.validate["engName"]($(inputList).find(".firstName").eq(0).val())){
			jAlert("名必须为英文！","",null,"确认");
			return false;
		}
		return true;


	}

	$("#delTra").on("click",function(){
		var travelId = $(".addtra-info").attr("data-id");
		var Parameters = {
			"Parameters" : "{\"travellerId\":" + travelId + "}",
			"ForeEndType" : 3,
			"Code" : "0073"
		};
		vlm.loadJson("http://10.2.22.239:8888/api/GetServiceApiResult", JSON.stringify(Parameters), function(data){
			var myJson = data;
			if (myJson.success) {
				//window.location.reload();
				$(".addAir-page").hide();
				get_allList();

			} else {
				alert(myJson.message);
			}
		});

	})


	function GetAgeByBrithday(birthday){
		var age=-1;
		var today=new Date(departDate.replace(/(\d{4})-(\d{2})-(\d{2})T(.*)?\.(.*)/, "$1/$2/$3 $4"));
		var todayYear=today.getFullYear();
		var todayMonth=today.getMonth()+1;
		var todayDay=today.getDate();

		var birthday= new Date(birthday.replace(/(\d{4})-(\d{2})-(\d{2})T(.*)?\.(.*)/, "$1/$2/$3 $4"))
		if(birthday !=null)
		{
			birthdayYear=birthday.getFullYear();
			birthdayMonth=birthday.getMonth();
			birthdayDay=birthday.getDate();
			if(todayYear-birthdayYear<0)
			{
				alert("出生日期选择错误!");
			}
			else
			{
				if(todayMonth*1-birthdayMonth*1<0)
				{
					age = (todayYear*1-birthdayYear*1)-1;
				}
				else
				{
					if(todayDay-birthdayDay>=0)
					{//alert(thisDay+'-'+brithd+"_ddd");
						age = (todayYear*1-birthdayYear*1);
					}
					else
					{
						age = (todayYear*1-birthdayYear*1)-1;
					}
				}
			}
			return age*1;
		}
		else
		{
			return -1;
		}
	}
</script>
<!--机票-获取乘客信息-->
<script id="tpl_f_passager" type="text/template">
	<li class="ride-user-info">
		<span class="icon-add"><i class="del-passager" data-id="{%=traveller.travellerId%}" onclick="javascript:delPassager(this);" ></i></span>
		<div class="middle">
			<p class="name">
				<label for="first-name-passenger" class="name-label-passenger">姓</label><input type="text" name="name" id="first-name-passenger"  readonly="readonly" value="{%=traveller.lastName%}">
				<label for="last-name-passenger" class="name-label-passenger">名</label><input type="text" name="name" id="last-name-passenger"  readonly="readonly"  value="{%=traveller.firstName%}">
			</p>
			<div class="passport">
				<span>护照</span><input type="text" name="input-zone" class="passport-number" readonly="readonly" value="{%=listTravellerIdInfo[0].idNumber%}"><span class="passenger-sex">{%=traveller.sexName%}</span>
			</div>
		</div>
		<i class="edit-passager" data-id="{%=traveller.travellerId%}" onclick="javascript:editPassager({%=traveller.travellerId%});"></i>
	</li>
</script>

<!--机票-获取联系人信息-->
<script id="tpl_f_contact" type="text/template">
	<div class="unit name">
		<label for="first-name" class="name-label">姓</label><input type="text" name="name" id="first-name" placeholder="BAI" value="{%=traveller.firstName%}"/>
		<label for="last-name" class="name-label">名</label><input type="text" name="name" id="last-name" placeholder="LISA" value="{%=traveller.lastName%}"/>
	</div>
	<div class="unit tel">
		<div class="left">
			<span>手机号</span>
			<div class="center country-trigger">
				<span id="country-code">+86</span><span id="slider-country-choose"></span>
			</div>
		</div>
		<div class="right">
			<input type="tel" name="tel" id="tel-num" placeholder="用于接收通知" value="{%=traveller.mobilePhone%}"/>
		</div>
	</div>
	<div class="unit email">
		<label for="email-label">E-mail</label><input type="email" name="email" id="email-label" placeholder="用于接收通知" value=" {%=traveller.email%}"/>
	</div>
</script>

<!--景点-获取乘客信息-->
<script id="tpl_t_passager" type="text/template">
	<li>
		<span class="tourist-name tour-short">姓：</span><input id="scenic2_name1" style="width:20%;display: inline-block;" placeholder="Liou" value="{%=traveller.lastName%}">
		<span class="tourist-name tour-short">名：</span><input id="scenic2_name2" style="width:20%;display: inline-block;" placeholder="Venson" value="{%=traveller.firstName%}">
	</li>
	<li>
		<span class="tourist-name tour-short">国籍：</span>
		<span class="country-btn CardCountryCode" id="jp_bank_country" data-code="{%=traveller.countryCode%}" data-tel-code="86">中国</span>
	</li>

</script>
<!--景点-获取联系人信息-->
<script id="tpl_t_contact" type="text/template">
	<li><span class="tourist-name tour-short">姓名：</span><input id="scenic2_name" style="display: inline-block;" value="{%=traveller.idName%}"></li>
	<li><span class="tourist-name tour-short">手机：</span>+<span class="tel-btn CardCountryCode" id="jp_tel_country" data-code="CN" data-tel-code="86">86</span><input type="text" name="phone" id="scenic_phone" style="width: 65%;display: inline-block;top: -1px;left: 4px;" placeholder="请输入11位手机号" value="{%=traveller.mobilePhone%}"></li>
	<li><span class="tourist-name tour-short">邮箱：</span><input id="scenic2_email" style="display: inline-block;"   value="{%=traveller.email%}"></li>
</script>



<!--酒+景获取联系人信息-->
<script id="tpl_ht_passager" type="text/template">
	<li class="trave-li trave-li-adu">
		<span class="list_tit2 ">姓：</span><span class="list_con2"><input class="list_inp2 list-adult" type="text" placeholder="Zhang" value="{%=traveller.lastName%}"></span>
		<span class="list_tit2 ">名：</span><span class="list_con2 name-inp"><input class="list_inp2 list-adult" type="text" placeholder="Xiaohua" value="{%=traveller.firstName%}"></span>
	</li>
	 <li>
		 <span class="list_tit">护照：</span> <span class="list_con"><input class="list_inp" type="text" placeholder="2088833" value="{%=listTravellerIdInfo[0].idNumber%}"></span>
	 </li>
</script>
<!--酒+景获取联系人信息-->
<script id="tpl_ht_contact" type="text/template">
	<li>
		<span class="list_tit">姓：</span><input class="list_inp_name list_inp2" id="list-lastname" type="text" placeholder="姚" value="{%=traveller.lastName%}">
		<span class="list_tit">名：</span><input class="list_inp_name list_inp2" id="list-firstname" type="text" placeholder="军华" value="{%=traveller.firstName%}">

	</li>
	<li>
		<span class="list_tit">手机：</span>
		<span class="list_con"><input class="list_inp2" id="list_con_tel" type="text" placeholder="+8613090008000" value="{%=traveller.mobilePhone%}"></span>
	</li>
	<li>
		<span class="list_tit">邮箱：</span>
		<span class="list_con"><input class="list_inp2" id="list_con_email" type="text" placeholder="morningtour@163.com" value="{%=traveller.email%}"></span>
	</li>
</script>


<!--国籍选择结束-->
<script src="../js/country_list.js"></script>
<script src="../js/require.js" data-main="../js/user.js"></script>


</body>
</html>