.all-element-other{
    position: relative;
}
.tra_con1{
    margin-top:45px;text-align:center;
    overflow:hidden;
}
.tra_con1 i{
    display:inline-block;width:22px;height:22px;background:url("../../images/lsf_icon1.png");
    -webkit-background-size: 22px 22px;
    background-size: 22px 22px;
    vertical-align:middle;
}
.tra_c1_inbox{
    width:100%;
    line-height:32px;
    margin-top:25px;
}
.tra_c1_inbox span{
    font-size:1.8rem;
    vertical-align:middle;
}
.tra_con2{
    padding:0 8px;
}
.tra_c2_inbox{
    width:100%;margin-top:30px;        border:16px;
    -webkit-border-image: url(../../images/lsf_bg1.png) 27;
    -moz-border-image: url(../../images/lsf_bg1.png) 27;
    -o-border-image: url(../../images/lsf_bg1.png) 27;
    border-image: url(../../images/lsf_bg1.png) 27;
    background:#fff;
    text-align: center;
    overflow-y: hidden;

}
.tra_c2_inbox p,.tra_c2_inbox h3   {
    margin:0;padding:0;
    line-height:2.8rem;
    font-size:1.4rem;
}
.tra_c2_inbox h3{
    color:#000;
    font-weight:normal;
    border-bottom:1px dashed #e9e9e9;
    font-size:1.6rem;
}
.tra_live{
    color:#000;
    border-bottom:1px dashed #e9e9e9;
    font-size:1.4rem;
}
.tra_house{
    color:rgb(153,153,153);
    border-bottom:1px solid #dfe0db;
}
.tra_order{
    font-size: 1.4rem;
    color: #484848;
}
.tra_people{
    float: left;
    color: #484848;
    font-size: 1.4rem;
    margin-top: 10px;
}
.tra_c2_inbox .tra_price{
    font-size:2.5rem;
    color:rgb(255,180,19);
    margin-top:5px;
}
.tra_btn{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    margin-top:25px;
    padding:0 15px;
    margin-bottom:60px;
}

.tra_btn div input {
    width: 94%;
    height: 100%;
    background: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ffb413;
    font-size: 1.6rem;
    color: rgb(255,180,19);
}
.tra_btn div{
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -ms-flex:1;
    -webkit-flex:1;
    flex:1;
    height:40px;
    overflow:hidden;
}
.tra_btn a{
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -ms-flex:1;
    -webkit-flex:1;
    flex:1;
    height:40px;
    overflow:hidden;
}
.tra_btn a input{
    width:94%;
    height:100%;
    background:none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid #ffb413;
    font-size:1.6rem;color:rgb(255,180,19);
}
.tra_btn .tra_btn_div2 input{
    background:#ffb413;
    color:#fff;
}
.tra_footer{
    width:100%;height:45px;background:#19415e;
    text-align:center;
    padding:0 1.5rem;
    position:fixed;
    left:0;bottom:0;
}
.tra_footer p{
    width:100%;
    font-size:0.8rem;
    margin-top:0.5rem;
    line-height:1.5rem;
    color:#bbc1c7;
}
.tra_con1 .payment-fail {
    display: inline-block;
    background: url(../../images/ui/icon-h.png);
    width: 30px;
    height: 30px;
    background-position: 3% 90%;
    background-size: 150px 65px;
}